@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Manage Process Files";
    ViewBag.CSSLinks = new string[] {
        "/Content/SupportDocProdCtrl/css/style.css",
        "/Content/Shared/plugins/sheetjs/js-xlsx/css/dropfile.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/api.js",
        "/Content/SupportDocProdCtrl/js/SupportDocProdCtrlGlobal.js",
        "/Content/SupportDocProdCtrl/js/AdminProcessFile.js"
    };
}

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Process Files</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="active" >
                            <a href="#tab-process-file-list" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-cog"></i> List
                            </a>
                        </li>
                        <li class="" id="tab-label-process-file" style="display:none;">
                            <a href="#tab-process-file-form" data-toggle="tab" aria-expanded="true">
                                <i class="fa fa-cog"></i> <span id="lblProcessFileForm">Form</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab-process-file-list">
                            <button type="button" class="btnNewProcessFile btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> Add</button>
                            <button type="button" class="btnEditProcessFile btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> Edit</button>
                            <button type="button" class="btnDeleteProcessFile btn btn-danger  top15 left15 bottom15 pull-right"><i class="fa fa-remove"></i> Delete</button>
                            <button type="button" class="btnExportToExcel btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-file-excel-o"></i> Export</button>

                            <button type="button" class="btnToggleSelectAll btn top15 bottom15 pull-left" updateSelectTo="1" ><i class="fa fa-square-o"></i> Select All </button>
                            <div id="tblProcessFiles" class="clearfix"></div>
                        </div>
                        <div class="tab-pane fade in" id="tab-process-file-form">
                            <div id="adminProcessFileContent"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>