@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Audit Log";
    ViewBag.CSSLinks = new string[] { 
        "/Content/SupportDocProdCtrl/css/style.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/SupportDocProdCtrl/js/AuditLog.js"
    };
}

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Audit Log</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-horizontal" style="width:100%; float: left;margin-top: 15px;">
                        <div class="row">
                            <div class="col-md-6">
                                @*Start Date*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-asterisk iconasterisk"></i> Start Date
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="txtStartDate" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*End Date*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-asterisk iconasterisk"></i> End Date
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="txtEndDate" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btnExportToExcel btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-file-excel-o"></i> Export</button>
                    <div id="tblAuditLog"></div>
                </div>
            </div>
        </div>
    </section>
</div>