@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Process List";
    ViewBag.CSSLinks = new string[] { 
        "/Content/SupportDocProdCtrl/css/style.css",
        "/Content/Shared/plugins/fine-uploader/fine-uploader-new.css",
        "/Content/Shared/plugins/viima-jquery/jquery-comments.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/cleave/cleave.min.js",
        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/SupportDocProdCtrl/js/comments-data.js",
        "/Content/Shared/plugins/viima-jquery/jquery.textcomplete.js",
        "/Content/Shared/plugins/viima-jquery/jquery-comments.js",
        "/Content/SupportDocProdCtrl/js/SupportDocProdCtrlGlobal.js",
        "/Content/SupportDocProdCtrl/js/ProcessList.js"
    };
}

<!-- Fine Uploader Thumbnails template w/ customization
====================================================================== -->
<script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Select files</div>
            </div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn" style="font-size: 12px;" onclick="setFileName($(this).parent().attr('qq-file-id'))">Set Name</button>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

<script type="text/template" id="qq-template-manual-trigger-extra">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Select files</div>
            </div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

<input type="hidden" id="HFViewType" value="@((string)Model["HFViewType"])" />
<input type="hidden" id="HFIDPFDetail" value="@((string)Model["HFIDPFDetail"])" />
<input type="hidden" id="HFIDFrequency" value="@((string)Model["HFIDFrequency"])" />
<input type="hidden" id="HFProcessDate" value="@((string)Model["HFProcessDate"])" />
<input type="hidden" id="HFYear" value="@((string)Model["HFYear"])" />
<input type="hidden" id="HFMonth" value="@((string)Model["HFMonth"])" />
<input type="hidden" id="HFAddStakeholder" value="@((string)Model["HFAddStakeholder"])" />

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Process List @((string)Model["HFViewType"])</h2>
            @*<button type="button" class="btnConnectedAs btn btn-info top15 left15 bottom15 pull-right"><i class="glyphicon glyphicon-user"></i> Connected As (LAC\frocrvsccver)</button>*@
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-horizontal" style="width:100%; float: left;margin-top: 15px;">
                        
                        <div class="row">
                            <div class="col-md-11">
                                <div class="row">
                                    @*Status by Checker Hidden Filter*@
                                    <input type="hidden" id="txtStatusByChecker" value="" />

                                    <div class="col-md-6">
                                        @*Sel Frequency*@
                                        <div class="form-group">
                                            <label for="selFrequency" class="col-md-4 control-label">Frequency:</label>
                                            <div class="col-md-8">
                                                <select class="form-control" id="selFrequency">
                                                    <option value="2">Monthly</option>
                                                    <option value="1" selected="true">Daily</option>
                                                </select>
                                            </div>
                                        </div>

                                        @*Sel Year*@
                                        <div class="form-group fieldSelYear">
                                            <label for="selYear" class="col-md-4 control-label">Year:</label>
                                            <div class="col-md-8">
                                                <select class="form-control" id="selYear">
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                </select>
                                            </div>
                                        </div>

                                        @*Sel Month*@
                                        <div class="form-group fieldSelMonth">
                                            <label for="selMonth" class="col-md-4 control-label">Month:</label>
                                            <div class="col-md-8">
                                                <select class="form-control" id="selMonth">
                                                    <option value="">-- Select --</option>
                                                    <option value="January">January</option>
                                                    <option value="February">February</option>
                                                    <option value="March">March</option>
                                                    <option value="April">April</option>
                                                    <option value="May">May</option>
                                                    <option value="June">June</option>
                                                    <option value="July">July</option>
                                                    <option value="August">August</option>
                                                    <option value="September">September</option>
                                                    <option value="October">October</option>
                                                    <option value="November">November</option>
                                                    <option value="December">December</option>
                                                </select>
                                            </div>
                                        </div>

                                        @*Sel Process Date*@
                                        <div class="form-group fieldSelProcessDate">
                                            <label class="col-md-4 control-label">Date:</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="processDate" />
                                            </div>
                                        </div>

                                        @*Sel File Status*@
                                        <div class="form-group" style="display:none;">
                                            <label for="selFileStatus" class="col-md-4 control-label">File Status:</label>
                                            <div class="col-md-8">
                                                <select class="form-control" id="selFileStatus">
                                                    <option value="All">All</option>
                                                    <option value="Not Received">Not Received</option>
                                                    <option value="Received">Received</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @*Sel Maker*@
                                        <div class="form-group formGroupSelMaker">
                                            <label for="selPO" class="col-md-4 control-label">Maker:</label>
                                            <div class="col-md-8">
                                                <select class="form-control" id="selMakers"></select>
                                            </div>
                                        </div> 

                                        @*Sel Checker*@
                                        <div class="form-group formGroupSelChecker">
                                            <label for="selCheckers" class="col-md-4 control-label">Checker:</label>
                                            <div class="col-md-8">
                                                <select class="form-control" id="selCheckers"></select>
                                            </div>
                                        </div> 

                                        @*Sel Status by Checker*@
                                        <div class="form-group" style="display:none;">
                                            <label for="selStatusByChecker" class="col-md-4 control-label">Status by Checker:</label>
                                            <div class="col-md-8">
                                                <select class="form-control" id="selStatusByChecker">
                                                    <option value="All">All</option>
                                                    <option value="Approved">Approved</option>
                                                    <option value="Rejected">Rejected</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div style="float:right;">
                                    <button type="button" class="btnAddComment btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-comment"></i> Add Comment </button>
                                    @*<button type="button" class="btnOpenDiscussions btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-comment"></i> Open Discussions </button>*@
                                    <button type="button" class="btnRefresh btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-refresh"></i> Refresh</button>

                                    @if ((string)Model["HFViewType"] == "Maker")
                                    { 
                                        <button type="button" class="btnCopyLinkToClipboard btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-clipboard"></i> Copy Link </button>
                                        <button type="button" class="btnUploadDoc btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-upload"></i> Upload</button>     
                                        <button type="button" class="btnUploadExtraDoc btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-upload"></i> Upload Extra Files</button>     
                                        <button type="button" class="btnDelete btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-times-circle"></i> Delete </button>      
                                        @*<button type="button" class="btnExportToExcel btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-share"></i> Export to Excel</button>*@     
                                        @*<button type="button" class="btnRefresh btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-refresh"></i> Re-Check File Status</button>*@         
                                    }

                                    @if ((string)Model["HFViewType"] == "Checker")
                                    {
                                        @*<button type="button" class="btnExportApprovedDocs btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-share"></i> Export Approved</button>*@    
                                        <button type="button" class="btnCopyLinkToClipboard btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-clipboard"></i> Copy Link </button>
                                        <button type="button" class="btnApprove btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-check-square-o"></i> Approve </button>
                                        <button type="button" class="btnReject btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-times-circle"></i> Reject </button>      
                                    }

                                    @if ((string)Model["HFViewType"] == "All")
                                    {
                                        @*<button type="button" class="btnExportApprovedDocs btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-share"></i> Export Approved</button>*@    
                                        @*<button type="button" class="btnOpenInExcel btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-clipboard"></i> Open in Excel </button>*@
                                        <button type="button" class="btnCopyLinkToClipboard btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-clipboard"></i> Copy Link </button>
                                        <button type="button" class="btnApprove btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-check-square-o"></i> Approve </button>
                                        <button type="button" class="btnReject btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-times-circle"></i> Reject </button>      
                                    }

                                    @if ((string)Model["HFViewType"] == "Stakeholder")
                                    {
                                        <a href="#" class="btnDownloadFile btn btn-success top15 left15 bottom15 pull-right" target="_blank" download><i class="fa fa-check-square-o"></i> Download </a>
                                    }

                                    @if ((string)Model["HFViewType"] == "Email")
                                    {
                                        <button type="button" class="btnSendEmail btn btn-info top15 right15 left15 bottom15 pull-right" ><i class="fa fa-envelope"></i> Send Email </button>
                                        <div class="top15 left15 bottom15 pull-right">
                                            <select class="selTypeNotification form-control" oldValue="Reminder">
                                                <option value="Reminder">Reminder</option>
                                                <option value="Escalation">Escalation</option>
                                                <option value="Stakeholder">Stakeholder</option>
                                            </select>
                                        </div>
                                        @*<button type="button" class="btnSendStakeholder btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-share"></i> Send to Stakeholders</button>
                                        <button type="button" class="btnSendEscalation btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-envelope"></i> Send Escalations </button>
                                        <button type="button" class="btnSendReminder btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-envelope"></i> Send Reminder </button>*@
                                    }
                                </div>
                                <div style="float:left;">
                                    <button type="button" class="pull-left btnToggleSelectAll btn top15 bottom15" updateSelectTo="1" ><i class="fa fa-square-o"></i> Select All </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tblProcessFiles"></div>
                </div>
            </div>
        </div>
    </section>
</div>