﻿@{
  
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/EC/js/EditCheckGlobal.js",
                "/Content/EC/js/Administration.js",
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcore.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxexpander.js",
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdraw.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxchart.core.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.export.js",
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbuttons.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxscrollbar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxlistbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownlist.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxmenu.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgrid.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgrid.pager.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgrid.sort.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgrid.filter.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgrid.edit.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgrid.export.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcheckbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgrid.columnsresize.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgrid.selection.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxpanel.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcombobox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxradiobutton.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgauge.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbargauge.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxnumberinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxwindow.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtabs.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgrid.columnsreorder.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtooltip.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxribbon.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdatetimeinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcalendar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtooltip.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/globalization/globalize.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbuttons.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxscrollbar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxmenu.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgrid.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgrid.selection.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgrid.columnsresize.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxlistbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownbutton.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgrid.pager.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownlist.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxNotification.js" ,
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
    };
}

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Add/edit new edit checks</h2>
            <div class="actions panel_actions pull-right">
            </div>
        </header>
        <div class="content-body">
           <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-2 col-md-2">
                        <div id="cbEditcheck"></div>
                    </div>
                    <div class="col-lg-1 col-md-2">
                        <button type="button" class="btn btn-success">Add New</button>
                    </div>
                </div>
            </div>

        </div>
        <header class="panel_header">
                <h2 class="title pull-left">Name edit checks</h2>
                <div class="actions panel_actions pull-right">
                     <button type="submit" class="btn btn-primary">Add New</button>
                </div>
        </header>
        <div class="content-body" style="height:270px;">
            <form>
              <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" class="form-control" id="txtName" aria-describedby="NameHelp" placeholder="Enter name">
                <small id="NameHelp" class="form-text text-muted">Add a name to indentify your edit check.</small>
              </div>
              <div class="form-group">
                <label for="txtBUNumber">Business Unit number</label>
                <input type="text" class="form-control" id="txtBUNumber" placeholder="Add BU number">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="cbIsMultiple">
                <label class="form-check-label" for="exampleCheck1">Is Multiple</label>
              </div>
              <button type="submit" class="btn btn-primary">Add New</button>
            </form>
        </div>
        <header class="panel_header">
                <h2 class="title pull-left">Add Edit Files</h2>
                <div class="actions panel_actions pull-right">
                </div>
        </header>
        <div class="content-body" style="height:230px;">
            <div class="col-lg-2 col-md-2">
                        <div id="cbFiles"></div>
                    </div>
                    <div class="col-lg-1 col-md-2">
                        <button type="button" class="btn btn-success">Add New File</button>
                    </div>
            <form>
              <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" class="form-control" id="txtNameFile" aria-describedby="NameFileHelp" placeholder="Enter name">
                <small id="NameFileHelp" class="form-text text-muted">Add a representative name for the file.</small>
              </div>
              <div class="form-group">
                <label for="txtBUNumber">SQL Insert</label>
                <input type="text" class="form-control" id="txtSQLInsert" placeholder="Add the sql used to insert the files.">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="cbIsMultiple">
                <label class="form-check-label" for="exampleCheck1">Is Multiple</label>
              </div>
            </form>
        </div>

</section>
</div>
