﻿@{
  
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/EC/js/EditCheckGlobal.js",
                "/Content/EC/js/AffiliateIceCode.js",
               "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxwindow.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"
    };
}


<div class="col-lg-12">
    <section class="box ">
        <div class="content-body">
            <table class="table table-striped table-hover table-bordered table-condensed table-list-search" width="100%">
                <thead>
                    <tr>
                        <th colspan="2">
                            Upload Template
                        </th>
                    </tr>
                </thead>
                <tr style="width: 100%;">
                    <td style="width: 50%;">
                        <table class="table table-striped table-hover table-bordered table-condensed table-list-search" width="100%">
                            <tbody>
                                <tr>
                                    <td style="width: 25%">
                                        <div id="js-xlsx-plugin"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            <a href="@(((string)Model["SubAppPath"]))/Content/EC/uploads/Affiliate.xls" style="font-size:x-large; color:blue;">Download Template</a>
            <br />
            <div id='window'>
                <div>
                    LOG Updates
                </div>
                <div>
                    <div id="jqxGridLastFile"></div>
                </div>
            </div>


        </div>
    </section>
</div>
