﻿@{

    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css"
    };
    ViewBag.JSLinks = new string[] {

                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/EC/js/EditCheckGlobal.js",
                "/Content/EC/js/Home.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js"
    };
}

<div class="row">
    <div class="col-md-6 col-sm-1 col-xs-10">
        <h2>Edit Check Tool</h2>
    </div>
</div>
<div class="col-lg-12">
    <section class="box ">
        <div class="content-body" style="font-size:large;">
            Welcome
            <br />
            <br />
            Please go to the menu and select the editcheck you want to run.
            
            <br />
            <br />
            For any issue with our applications please create an incident and follow the How to create an incident  iquery guide at <a href="https://collaborate.citi.net/docs/DOC-486256">https://collaborate.citi.net/docs/DOC-486256</a>
</div>
    </section>
</div>
