﻿@{

    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css"
    };
    ViewBag.JSLinks = new string[] {

                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/EC/js/EditCheckGlobal.js",
                "/Content/EC/js/QMemoEC.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js"
    };
}

<div class="row">
    <div class="col-md-6 col-sm-1 col-xs-10">
        <h2>Edit Check Tool</h2>
    </div>
    <div class="col-md-6 col-sm-3 col-xs-10">
        <select data-bind="options: Period, optionsCaption: 'Choose period...',
    optionsValue: function (item) { return item.Value; },
    optionsText: function (item) { return item.Value; }, value: periodSelect,
    valueUpdate: 'change'"
                id="Period" name="period" class="form-control m-bot15" style="margin: 10px 0;"></select>
    </div>
</div>
<div class="col-lg-12">
    <section class="box ">
        <div class="content-body">
            <br />
            @*<fieldset id="fieldsetBU">
                <legend>Select BU</legend>
                <div class="col-md-6 col-sm-1 col-xs-10">
                    <div id="cbBU"></div>
                </div>
                <div class="col-md-6 col-sm-3 col-xs-10">
                    <span><i class="fa fa-play-circle" onclick="RunEditCheck()" style="font-size:x-large; color:#A1D044;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Run EditCheck"> Run the edit check</i></span>

                </div>
            </fieldset>*@
            <br />
            <fieldset id="fieldsetBusiness">
                <legend>Systems</legend>
                <span style="color:blue; cursor: pointer; " onclick="viewAll()">View all</span>
                <table id="BusinessTable" class="display dataTable" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 12%;">Actions</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 12%;">EditCheck</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 11%;">Pass </th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 11%;">Fail </th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 11%;">Lift </th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 11%;">Total</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Bussiness">
                        <tr role="row" class="odd">
                            <td>
                                <div class="row">
                             <span><i class="fa fa-play-circle"  data-bind="attr: { onclick: 'RunEditCheck(' + BusinessID + ')' } "  
                                      style="font-size:x-large; color:#A1D044;margin-left: 5%; cursor:pointer;"></i></span>
                            
                             @*<span><i class="fas fa-bullhorn" onclick="AddComment()" style="font-size:x-large; color:palevioletred;margin-left: 5%; cursor:pointer;"></i></span>*@
                             </div>
                                </td>
                            <td data-bind="text: Name" style="font-size: 18px; "></td>
                            <td data-bind="text: Pass" style="background-color:#A1D044;color: white;font-size: 18px; "></td>
                            <td data-bind="text: Fail" style="background-color:#DF4949;color: white;font-size: 18px;"></td>
                            <td data-bind="text: Lift" style="background-color:#979797;color: white;font-size: 18px;"></td>
                            <td data-bind="text: Total" style="background-color:white;color: black;font-size:  18px;"></td>

                        </tr>
                        @*class="even"*@
                    </tbody>
                </table>
            </fieldset>
            <br />
            <fieldset id="fieldsetFilter">
                <legend>Filters</legend>

                <table id="tblFilter" class="display dataTable" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Account</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Check ID</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Managed Segment</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Operator</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Product</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Validation</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div id="cbAccount"></div>
                            </td>
                            <td>
                                <div id="cbCheckID"></div>
                            </td>
                            <td>
                                <div id="cbManagedSegment"></div>
                            </td>
                            <td>
                                <div id="cbOperator"></div>
                            </td>
                            <td>
                                <div id="cbProduct"></div>
                            </td>
                            <td>
                                <div id="cbValidation"></div>
                            </td>
                            
                            <td>
                                <span><i class="fa fa-play-circle" onclick="Filter()" style="font-size:x-large; color:#334D5C;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Filter"></i></span>
                                <span><i class="fa fa-eraser" onclick="Clear()" style="font-size:x-large; color:#DF4949;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Clear"></i></span>
                                <span><i class="fa fa-file-excel-o" onclick="Download()" style="font-size:x-large; color:#A1D044;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Download"></i></span>
                                <span><i class="fa fa-cloud-upload" style="font-size:x-large; color:#A1D044;margin-left: 5%; cursor:pointer;" data-toggle="modal" data-target="#CablePopUp"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </fieldset>
            <br />
            <fieldset id="fieldsetEditcheck">
                <legend>Edit Check Results</legend>
                Total results found <span data-bind="text: TotalFind" Right></span>
                <table id="EditCheckTwoSource" class="display dataTable" style="width: 99%; ">
                    <thead>
                        <tr role="row">
                            <th rowspan="2" tabindex="0" colspan="1" style="width: 3%;">Actions</th>
                            <th rowspan="2" tabindex="0" colspan="1" style="width: 4%;">Check ID</th>
                            <th rowspan="2" tabindex="0" colspan="1" style="width: 15%;">Description</th>
                            <th rowspan="2" tabindex="0" colspan="1" style="width: 15%;">Left</th>
                            <th rowspan="2" tabindex="0" colspan="1" style="width: 4%;">Operator</th>
                            <th rowspan="2" tabindex="0" colspan="1" style="width: 15%;">Right</th>
                            <th rowspan="2" tabindex="0" colspan="1" style="width: 4%;">Validation</th>
                    </thead>
                    <tbody data-bind="foreach: CompareTwo">
                        <tr role="row" class="odd">
                            <td>
                                <div class="row">
                                    <div class="btn-group " role="group">
                                        <a href="#" class="parents js-view-parents" data-bind="attr: { id: 'grid' + RULEID + '' } " data-toggle="tooltip" data-placement="top" title="Details">
                                            <i class="fa fa-plus-square" style="color:#334D5C; margin-left: 25px; font-size:x-large; "></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td data-bind="text: CheckID" style="background-color:white; font-size:X-SMALL;"></td>
                            <td data-bind="text: Description" style="overflow: auto;white-space:nowrap;max-width: 50px;font-size:X-SMALL;"></td>
                            <td data-bind="text: Business1Left" style="background-color:#334D5C; color:white; font-size:X-SMALL;"></td>
                            <td data-bind="text: Operator" style="background-color:white; font-size:X-SMALL;"></td>
                            <td data-bind="text: Business1Right" style="background-color:#334D5C; color:white; font-size:X-SMALL;"></td>
                            <td data-bind="text: VAL1" style="background-color:white; font-size:X-SMALL;"></td>
                        </tr>
                        @*class="even"*@
                    </tbody>
                </table>
            </fieldset>
            <div class="modal fade" id="CablePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="width: 80%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Upload cables</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <fieldset>
                                <legend>Add Cable</legend>

                                <table id="tblAddCable" class="display dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">BU</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Period</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">QMemoDB</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">New Balance</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @*<div id="cbSelBU"></div>*@
                                                <select data-bind="options: cbSelBU, optionsCaption: 'Choose BU...',
                                                        optionsValue: function (item) { return item.Value; },
                                                        optionsText: function (item) { return item.Value; }, 
                                                        valueUpdate: 'change'"
                                                        id="cbSelBU" name="cbSelBU" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                            </td>
                                            <td>
                                                <input type="text" id="PeriodText" readonly="readonly" />
                                            </td>
                                            <td>
                                                @*<div id="cbSelQM"></div>*@
                                                <select data-bind="options: cbSelQM, optionsCaption: 'Choose QMemo...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.Value; }, value: QMSelected,
                                                        valueUpdate: 'change'"
                                                        id="cbSelQM" name="cbSelQM" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                            </td>
                                            <td>
                                                <input id="NewBalanceText" type="number" step=".01"/>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" onclick="addCable()">Add cable</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </fieldset>
                            <fieldset>
                                <legend>QMemo Detail</legend>

                                <table id="table" class="display dataTable" style="width: 99%; ">
                                        <thead>
                                            <tr role="row">
                                                <th rowspan="2" tabindex="0" colspan="1" style="width: 8%;">Quater</th>
                                                <th rowspan="2" tabindex="0" colspan="1" style="width: 8%;">Year</th>
                                                <th rowspan="2" tabindex="0" colspan="1" style="width: 8%;">Month</th>
                                                <th rowspan="2" tabindex="0" colspan="1" style="width: 8%;">Prior</th>
                                                <th rowspan="2" tabindex="0" colspan="1" style="width: 8%;">From Type</th>
                                                <th rowspan="2" tabindex="0" colspan="1" style="width: 8%;">BU</th>
                                                <th rowspan="2" tabindex="0" colspan="1" style="width: 8%;">Value</th>
                                                <th rowspan="2" tabindex="0" colspan="1" style="width: 8%;">Action</th>
                                        </thead>
                                        <tbody data-bind="foreach: QMemoData">
                                            <tr role="row" class="odd">
                                                <td data-bind="text: Quater"></td>
                                                <td data-bind="text: Year"></td>
                                                <td data-bind="text: Month"></td>
                                                <td data-bind="text: PriorMonth"></td>
                                                <td data-bind="text: FileType"></td>
                                                <td data-bind="text: Name"></td>
                                                <td data-bind="text: Value"></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>



                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            @* <button type="button" class="btn btn-primary">
                  Launch demo modal
                </button>*@

        </div>
    </section>
</div>
