@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Audit Log";
    ViewBag.CSSLinks = new string[] { 
        "/Content/SupportDoc/css/style.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/SupportDoc/js/SupportDocGlobal.js",
        "/Content/SupportDoc/js/AuditLog.js"
    };
}

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Audit Log</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="tblAuditLog"></div>
                </div>
            </div>
        </div>
    </section>
</div>