@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Authentication";
    ViewBag.CSSLinks = new string[] {
        "/Content/SupportDoc/css/style.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/SupportDoc/js/SupportDocGlobal.js",
        "/Content/SupportDoc/js/Authentication.js"
    };
}

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Authentication</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Please select the authentication type to access to the share folders:</h4>
                    <form id="formMakerCheckerIssue" novalidate="novalidate">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>
                                        <input id="rbtWindowsAuthentication" value="WindowsAuthentication" type="radio" name="TypeAuthentication" class="skin-square-green" >
                                        <label class="iradio-label form-label hover" for="rbtWindowsAuthentication" style="margin-right: 25px;">Windows Authentication </label>
                                    </h5>
                                    <br>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <i class="fa fa-asterisk iconasterisk"></i> User</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtUserID" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <i class="fa fa-asterisk iconasterisk"></i> Password</label>
                                        <div class="col-md-8">
                                            <input type="password" id="txtPassword" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h5>
                                        <input id="rbtToolAuthentication" value="ToolAuthentication" type="radio" name="TypeAuthentication" class="skin-square-green" >
                                        <label class="iradio-label form-label hover" for="rbtToolAuthentication" style="margin-right: 25px;">Support Document Tool Authentication </label>
                                    </h5>
                                    <br>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <i class="fa fa-asterisk iconasterisk"></i> User ID</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtToolUserID" disabled="disabled" class="form-control" value="@((string)Model["WindowsIdentity"])" aria-invalid="false">
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-md-12">
                                    <h5> Check access </h5>
                                    <br>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            <i class="fa fa-asterisk iconasterisk"></i>Share Folder Path </label>
                                        <div class="col-md-10">
                                            <input type="text" id="txtPathToTest" value="\\sjovnasfro0002.wlb.lac.nsroot.net\froqt0018\BSS_MEX_O&T\Support Documentation" class="form-control">
                                            <button type="button" class="btnCheckAccess btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-unlock"></i> Check access</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>