@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Import Data";
    ViewBag.CSSLinks = new string[] {
        "/Content/SupportDoc/css/style.css",
        "/Content/Shared/plugins/sheetjs/js-xlsx/css/dropfile.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/api.js",
        "/Content/SupportDoc/js/SupportDocGlobal.js",
        "/Content/SupportDoc/js/DocumentAdmin.js"
    };
}

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Share Drive Structure</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>The tool is going to create the files in the share drive with the following structure:</p>
                    <p>Year + Period (MM.MMM.YYYY) + <b>CategoryLevel1</b> + <b>CategoryLevel2</b> (Optional) + <b>CategoryLevel3</b> (Optional) + <b>Filename</b> + <b>Extension</b></p>
                    <p>For Example:</p>

                    <img src="~/Content/SupportDoc/img/shareDriveStructure.png" />
                </div>
            </div>
        </div>
    </section>
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Import Data</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-5">
                                @*Region*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-asterisk iconasterisk"></i> Region
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" id="selRegion"></select>
                                    </div>
                                </div>

                                @*Period*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-asterisk iconasterisk"></i> Period
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" id="selPeriod"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">
                                @*File*@
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <i class="fa fa-asterisk iconasterisk"></i> File
                                    </label>
                                    <div class="col-md-10">
                                        <div id="js-xlsx-plugin"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="containerButtonActions">
                        <button type="button" class="btnDownloadTemplate btn btn-success top15 left15 bottom15 pull-right">
                            <i class="fa fa-file-excel-o"></i> Download Template
                        </button>
                        <button type="button" class="btnDeleteData btn btn-danger top15 left15 bottom15 pull-right">
                            <i class="fa fa-file-excel-o"></i> <span class="btnDeleteText">Delete data</span>
                        </button>
                    </div>
                    <div id="tblDocs"></div>
                </div>
            </div>
        </div>
    </section>
</div>