@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Review Documents";
    ViewBag.CSSLinks = new string[] { 
        "/Content/SupportDoc/css/style.css",
        "/Content/Shared/plugins/fine-uploader/fine-uploader-new.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/SupportDoc/js/SupportDocGlobal.js",
        "/Content/SupportDoc/js/DocumentList.js"
    };
}

<!-- Fine Uploader Thumbnails template w/ customization
====================================================================== -->
<script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Select files</div>
            </div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn" style="font-size: 12px;" onclick="setFileName($(this).parent().attr('qq-file-id'))">Set Name</button>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
        <button type="button" id="trigger-upload" class="btn btn-success" style="margin-top: 10px;">
            <i class="fa fa-cloud-upload"></i> Upload
        </button>
        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

<input type="hidden" id="HFIDRegion" value="@((string)Model["HFIDRegion"])" />
<input type="hidden" id="HFYear" value="@((string)Model["HFYear"])" />
<input type="hidden" id="HFMonth" value="@((string)Model["HFMonth"])" />
<input type="hidden" id="HFSOEIDResponsible" value="@((string)Model["HFSOEIDResponsible"])" />
<input type="hidden" id="HFNotificationStatus" value="@((string)Model["HFNotificationStatus"])" />
<input type="hidden" id="HFViewType" value="@((string)Model["HFViewType"])" />

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Document List <span id="lblRoleUser"></span></h2>
            @*<button type="button" class="btnConnectedAs btn btn-info top15 left15 bottom15 pull-right"><i class="glyphicon glyphicon-user"></i> Connected As (LAC\frocrvsccver)</button>*@
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-horizontal" style="width:100%; float: left;margin-top: 15px;">
                        
                        <div class="row">
                            
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-6">
                                        @*Region*@
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                <i class="fa fa-asterisk iconasterisk"></i> Region
                                            </label>
                                            <div class="col-md-8">
                                                <select class="form-control" id="selRegion"></select>
                                            </div>
                                        </div>

                                        @*Period*@
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                <i class="fa fa-asterisk iconasterisk"></i> Period
                                            </label>
                                            <div class="col-md-8">
                                                <select class="form-control" id="selPeriod"></select>
                                            </div>
                                        </div>

                                        @*File Status*@
                                        <div class="form-group">
                                            <label for="selFileStatus" class="col-md-4 control-label">File Status:</label>
                                            <div class="col-md-8">
                                                <select class="form-control" id="selFileStatus">
                                                    <option value="All">All</option>
                                                    <option value="Not Received">Not Received</option>
                                                    <option value="Received">Received</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @*PO*@
                                        <div class="form-group">
                                            <label for="selPO" class="col-md-4 control-label">PO:</label>
                                            <div class="col-md-8">
                                                <div id="selPO"></div>
                                            </div>
                                        </div>

                                        @*Responsible*@
                                        <div class="form-group">
                                            <label for="selResponsible" class="col-md-4 control-label">Responsible:</label>
                                            <div class="col-md-8">
                                                <div id="selResponsible"></div>
                                            </div>
                                        </div> 

                                        @*Status By PO*@
                                        <div class="form-group">
                                            <label for="selStatusByPO" class="col-md-4 control-label">Status By PO:</label>
                                            <div class="col-md-8">
                                                <select class="form-control" id="selStatusByPO">
                                                    <option value="All">All</option>
                                                    <option value="Approved">Approved</option>
                                                    <option value="Rejected">Rejected</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <button type="button" class="btnRefresh btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-refresh"></i> Re-Check File Status</button> 
                                
                                @if ((string)Model["HFViewType"] == "RegionAdmin")
                                {
                                    <button type="button" class="btnCopyLinkToClipboard btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-clipboard"></i> Copy Link </button>
                                    <button type="button" class="btnExportApprovedDocs btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-share"></i> Export Approved</button>
                                    <button type="button" class="btnApprove btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-check-square-o"></i> Approve </button>
                                    <button type="button" class="btnReject btn btn-danger top15 left15 bottom15 pull-right"><i class="fa fa-times-circle"></i> Reject </button>
                                    <button type="button" class="btnUploadDoc btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-upload"></i> Upload</button>
                                }

                                @if ((string)Model["HFViewType"] == "ProofOwner")
                                {
                                    <button type="button" class="btnCopyLinkToClipboard btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-clipboard"></i> Copy Link </button>
                                    <button type="button" class="btnApprove btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-check-square-o"></i> Approve </button>
                                    <button type="button" class="btnReject btn btn-danger top15 left15 bottom15 pull-right"><i class="fa fa-times-circle"></i> Reject </button>
                                }
                                
                                @if ((string)Model["HFViewType"] == "Responsible")
                                {
                                    <button type="button" class="btnCopyLinkToClipboard btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-clipboard"></i> Copy Link </button>
                                    <button type="button" class="btnUploadDoc btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-upload"></i> Upload</button>
                                    <button type="button" class="btnExportToExcel btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-share"></i> Export to Excel</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div id="tblDocs"></div>
                </div>
            </div>
        </div>
    </section>
</div>