@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Document Escalations";
    ViewBag.CSSLinks = new string[] { 
        "/Content/SupportDoc/css/style.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/SupportDoc/js/SupportDocGlobal.js",
        "/Content/SupportDoc/js/DocumentEscalation.js"
    };
}

<input type="hidden" id="HFBasePath" value="@((string)Model["HFBasePath"])" />
<input type="hidden" id="HFBasePathExport" value="@((string)Model["HFBasePathExport"])" />

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Email Notification & Escalation</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-horizontal" style="width:100%; float: left;margin-top: 15px;">
                        
                        <div class="row">
                            <div class="col-md-6">
                                @*Region*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-asterisk iconasterisk"></i> Region
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" id="selRegion"></select>
                                    </div>
                                </div>

                                @*Period*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-asterisk iconasterisk"></i> Period
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" id="selPeriod"></select>
                                    </div>
                                </div>
                                
                                @*Status*@
                                <div class="form-group" style="padding-top: 14px;">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-asterisk iconasterisk"></i> Notification Status
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" id="selStatus">
                                            <option value="Required" selected="selected">Required</option>
                                            @*<option value="Required Except">Required Except</option>*@
                                            <option value="No Required">No Required</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*contacts="Responsible,AccountOwner,PO,Manager,BD8Contact,BD10Contact,BD12Contact"*@
                                <button style="display:none;" type="button" contacts="Responsible,AccountOwner,PO,Manager" typeNotification="Escalation" class="btnEscalation btnSendNotification btn btn-primary top15 left15 bottom15 pull-right" ><i class="fa fa-check-square-o"></i> Escalation </button>
                                <button type="button" contacts="Escalation3" typeNotification="Escalation 3" class="btnBD12 btnSendNotification btn btn-primary top15 left15 bottom15 pull-right" ><i class="fa fa-check-square-o"></i> Escalation 3 </button>
                                <button type="button" contacts="Escalation2" typeNotification="Escalation 2" class="btnBD10 btnSendNotification btn btn-primary top15 left15 bottom15 pull-right" ><i class="fa fa-check-square-o"></i> Escalation 2 </button>
                                <button type="button" contacts="Escalation1" typeNotification="Escalation 1" class="btnBD8 btnSendNotification btn btn-primary top15 left15 bottom15 pull-right" ><i class="fa fa-check-square-o"></i>  Escalation 1 </button>
                                <button type="button" contacts="Responsible,PO" typeNotification="Reminder" class="btnReminder btnSendNotification btn btn-primary top15 left15 bottom15 pull-right" ><i class="fa fa-check-square-o"></i> Reminder </button>
                            </div>
                        </div>
                    </div>

                    <div id="tblResponsibleDocs"></div>
                </div>
            </div>
        </div>
    </section>
</div>