@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Regions & Emails";
    ViewBag.CSSLinks = new string[] {
        "/Content/SupportDoc/css/style.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/SupportDoc/js/SupportDocGlobal.js",
        "/Content/SupportDoc/js/RegionAdmin.js"
    };
}

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Region & Emails</h2>
        </header>
        <div class="content-body">
            <button type="button" class="btnAddNewRegion btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> Add</button>
            <button type="button" class="btnEditRegion btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> Edit</button>
            <button type="button" class="btnDeleteRegion btn btn-danger  top15 left15 bottom15 pull-right"><i class="fa fa-remove"></i> Delete</button>

            <div id="tblRegion"></div>

            <div style="clear:both;"></div>

            @*Hide because new requirement all region need to use English*@
            <div style="display:none;">
                <ul class="nav nav-tabs transparent left-aligned">
                    <li class="active">
                        <a href="#tab-region" data-toggle="tab">
                            <i class="fa fa-table"></i> Regions
                        </a>
                    </li>
                    <li>
                        <a href="#tab-email" data-toggle="tab">
                            <i class="fa fa-table"></i> Email Template
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-region">
                        @*<button type="button" class="btnAddNewRegion btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Add</button>
                <button type="button" class="btnEditRegion btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Edit</button>
                <button type="button" class="btnDeleteRegion btn btn-danger  top15 left15 bottom15 pull-right" ><i class="fa fa-remove"></i> Delete</button>

                <div id="tblRegion"></div>

                <div style="clear:both;"></div>*@
                    </div>
                    <div class="tab-pane fade in " id="tab-email">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btnViewEmailTemplate btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> View</button>
                                <button type="button" class="btnDeleteEmailTemplate btn btn-danger  top15 left15 bottom15 pull-right"><i class="fa fa-remove"></i> Delete</button>

                                <div id="tblEmailTemplate"></div>

                                <div style="clear:both;"></div>
                            </div>
                            <div class="col-md-8">
                                <button type="button" class="btnAddEditEmailTemplate btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> Save</button>
                                <button type="button" class="btnClearEmailTemplate btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> Clear</button>

                                <div style="clear:both;"></div>
                                <h4>General Information:</h4>
                                <form id="formEmailTemplate" novalidate="novalidate">
                                    <input type="hidden" id="txtIDEmailTemplate" value="0">
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        <i class="fa fa-asterisk iconasterisk"></i> Template Name
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="txtTemplateName" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        <i class="fa fa-asterisk iconasterisk"></i> Email DL
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="txtEmailDL" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        <i class="fa fa-asterisk iconasterisk"></i> Email Subject
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="txtEmailSubject" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </form>

                                <h4>Email Template Preview:</h4>
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <table style="border: 1px solid #ddd; width:100%; padding-right:10px;">
                                                <tr>
                                                    <td align="left">
                                                        <div class="citi-Logo">
                                                            <img alt="Citi" src="https://issuelog.financeandrisk.citigroup.net/App_Themes/Base/images/citi_corp_logo.jpg" style="height:50px;border-width:0px;">
                                                        </div>
                                                    </td>
                                                    <td align="middle">
                                                        <h3 contenteditable="true" id="TPTitle">Support Documentation Tool</h3>
                                                    </td>
                                                    <td align="right">
                                                        <div class="citi-Logo">
                                                            <img alt="Citi" src="https://issuelog.financeandrisk.citigroup.net/App_Themes/Base/images/citi_corp_logo.jpg" style="height:50px;border-width:0px;">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        <td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <br>
                                            <table style="width:100%;">
                                                <tr>
                                                    <td>
                                                        <p contenteditable="true" id="TPParagraphInformation">Information:</p>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table class="table table-bordered table-hover table-striped table-condensed wrap" cellspacing="0" rules="all" border="1" style="width:100%; border-collapse:collapse;">
                                                <tr class="GridviewScrollHeader">
                                                    <td colspan="2" style="border: 1px solid #ddd; padding: 3px;" contenteditable="true" id="TPCitiSharedServices">Citi Shared Services</td>
                                                </tr>
                                                <tr>
                                                    <td style="border: 1px solid #ddd; padding: 3px;"><b contenteditable="true" id="TPLabelResponsible">Responsible:</b></td>
                                                    <td style="border: 1px solid #ddd; padding: 3px;"> Carlos Dominguez </td>
                                                </tr>
                                                <tr>
                                                    <td style="border: 1px solid #ddd; padding: 3px;"><b contenteditable="true" id="TPLabelPO">PO:</b></td>
                                                    <td style="border: 1px solid #ddd; padding: 3px;"> Madrigal Ramirez, Maria Jose </td>
                                                </tr>
                                                <tr>
                                                    <td style="border: 1px solid #ddd; padding: 3px;"><b contenteditable="true" id="TPLabelReason">Reason from receiving:</b></td>
                                                    <td style="border: 1px solid #ddd; padding: 3px;" contenteditable="true" id="TPReason">Responsible has pending files in Support Documentation Tool</td>
                                                </tr>
                                                <tr>
                                                    <td style="border: 1px solid #ddd; padding: 3px;"><b contenteditable="true" id="TPLabelPendingDocs">Pending Documents:</b></td>
                                                    <td style="border: 1px solid #ddd; padding: 3px;"> 76 doc(s)</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <table style="width:100%;">
                                                <tr>
                                                    <td>
                                                        <p contenteditable="true" id="TPParagraphPleaseClick">Please click in the following link to view the details:  </p>
                                                        <a contenteditable="true" id="TPLink" href="http://localhost:55777/SupportDoc/DocumentUpload?notificationStatus=Required&pempsid=109-109-52-51-51-57-57&pyear=2017&pmonth=7"> View my pending documents</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>