@{
    ViewBag.Title = "Home Page CPR";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/CPR/css/style.css",
        "/Content/Shared/plugins/intro/css/introjs.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/citi-mca/mca-v1.0.0.js",
        "/Content/Shared/plugins/citi-process-tree/process-tree-v1.0.0.js",
        "/Content/Shared/plugins/intro/js/intro.js",
        "/Content/CPR/js/CPRGlobal.js",
        "/Content/CPR/js/Home.js"
    };
}

<section class="box ">
    <div class="content-body">
        <div class="row">
            <div class="col-md-10">
                <h2>Welcome! to CoB Process Recovery (CPR)</h2>

                <blockquote>
                    <p>
                        Wide Area Disruption (WAD) is a component of the FRSS CoB strategy and
                        specifies how the interruption of critical processes is going to be
                        avoided, when the area/region where the BAU functions are performed,
                        has been disrupted. WAD includes only recovery strategies in countries
                        other than the country where the BAU functions are performed or
                        strategies most applicable and defined by the business units,
                        which may include Follow the Sun, Country Switchback and Shifting
                        Workload.
                    </p>
                </blockquote>

                <blockquote>
                    <p>
                        COB Process Recovery (CPR) is a tool created to provide awareness and
                        support business continuity processes in a Wide Area Disruption (WAD)
                        scenario. This tool allows the Crisis Management Team (CMT) to
                        communicate timely to other centers that WAD has been activated and
                        recovery of functions maybe applicable. The Recovery Center must be
                        able to restore the business processes and continue operating having
                        minimal impact to our clients until the WAD event has concluded.
                    </p>
                </blockquote>
            </div>
        
        </div>

        @*<div id="MCASelect"></div>*@
    
    </div>
</section>

<div class="col-lg-12">
    <section class="box nobox marginBottom0">
        <div class="content-body">

            <h2>Frequently Asked Questions (FAQs)</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="r4_counter db_box">
                        <i class="pull-left fa fa-question-circle icon-md-help icon-md icon-rounded icon-primary"></i>
                        <div class="stats">
                            <div class="guide-content">
                                How to send a Real Event Communication?
                            </div>
                            <hr>
                            <button type="button" class="btn btn-primary pull-right" onclick="_loadTutorialSendRealEventPart1()">View Tutorial</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="r4_counter db_box">
                        <i class="pull-left fa fa-question-circle icon-md-help icon-md icon-rounded icon-primary"></i>
                        <div class="stats">
                            <div class="guide-content">
                                How to upload process Activities with a CPR Template?
                            </div>
                            <hr>
                            <button type="button" class="btn btn-primary pull-right" onclick="_loadTutorialUploadCPRTemplatePart1()">View Tutorial</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="r4_counter db_box">
                        <i class="pull-left fa fa-question-circle icon-md-help icon-md icon-rounded icon-primary"></i>
                        <div class="stats">
                            <div class="guide-content">
                                How to send an Attestation Event?
                            </div>
                            <hr>
                            <button type="button" class="btn btn-primary pull-right" onclick="_loadTutorialSendAttestationEventPart1()">View Tutorial</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="r4_counter db_box">
                        <i class="pull-left fa fa-question-circle icon-md-help icon-md icon-rounded icon-primary"></i>
                        <div class="stats">
                            <div class="guide-content">How to review all CPR and eDCFC process activities?</div>
                            <hr>
                            <button type="button" class="btn btn-primary pull-right" onclick="_loadTutorialReviewActivitiesPart1()">View Tutorial</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="r4_counter db_box">
                        <i class="pull-left fa fa-question-circle icon-md-help icon-md icon-rounded icon-primary"></i>
                        <div class="stats">
                            <div class="guide-content">How to request access or role by Marketplace in CPR Tool?</div>
                            <hr>

                            <a class="btn btn-primary pull-right" href="https://collaborate.citi.net/docs/DOC-655218" target="_blank">View Document</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="r4_counter db_box">
                        <i class="pull-left fa fa-question-circle icon-md-help icon-md icon-rounded icon-primary"></i>
                        <div class="stats">
                            <div class="guide-content">
                                How to report an issue in the tool?
                            </div>
                            <hr>
                            <a class="btn btn-primary pull-right" href="https://collaborate.citi.net/docs/DOC-486256" target="_blank">View Document</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- End .row -->
        </div>
    </section>
</div>