@{
    ViewBag.Title = "Process Activities";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/CPR/css/style.css",
        "/Content/Shared/plugins/citi-process-tree/process-tree-v1.0.0.css",
        "/Content/Shared/plugins/sheetjs/js-xlsx/css/dropfile.css",
        "/Content/Shared/plugins/intro/css/introjs.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/api.js",
        "/Content/Shared/plugins/citi-process-tree/process-tree-v1.0.0.js",
        "/Content/Shared/plugins/intro/js/intro.js",
        "/Content/CPR/js/CPRGlobal.js",
        "/Content/CPR/js/ListProcessActivity.js"
    };
}

<input type="hidden" id="HFViewType" value="@((string)Model["HFViewType"])" />

<div class="col-lg-12">
    <section class="box ">
        <div class="content-body">
            
            @if ((string)Model["HFViewType"] != "Upload")
            { 
                <form id="formRecoverFilters" class="form-horizontal" style="margin-top: 35px; clear: both;">
                    <div class="row">
                        <div class="col-md-6">
                            @*GPL*@
                            <div class="form-group row">
                                <label for="selGPL" class="col-md-4 col-form-label">
                                    GPL
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control selGPL" name="selGPL" id="selGPL"></select>
                                </div>
                            </div>

                            @*Analyst*@
                            <div class="form-group row">
                                <label for="selAnalyst" class="col-md-4 col-form-label">
                                    Analyst
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control selAnalyst" name="selAnalyst" id="selAnalyst"></select>
                                </div>
                            </div>

                            @*Sel to recover*@
                            <div class="form-group row" style="display:none;">
                                <label for="selToRecover" class="col-md-4 col-form-label">
                                    To Recover
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control selToRecover" name="selToRecover" id="selToRecover">
                                        <option value="Center" selected="true">Center</option>
                                        <option value="Other">Other Locations</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @*RPL*@
                            <div class="form-group row">
                                <label for="selRPL" class="col-md-4 col-form-label">
                                    RPL
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control selRPL" name="selRPL" id="selRPL"></select>
                                </div>
                            </div>

                            @*Process Owner*@
                            <div class="form-group row" style="display:none;">
                                <label for="selOwner" class="col-md-4 col-form-label">
                                   Primary Maker
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control selOwner" name="selOwner" id="selOwner"></select>
                                </div>
                            </div>

                            @*Center*@
                            <div class="fieldContainer fieldContainerCenter form-group row" style="display:none;">
                                <label for="selCenter" class="col-md-4 col-form-label">
                                    Center
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control selCenter" name="selCenter" id="selCenter">
                                        <option>CSS Costa Rica (...)</option>
                                        <option>CSS Tampa (...)</option>
                                        <option>CSS Manila (...)</option>
                                        <option>CSS Mumbai (...)</option>
                                    </select>
                                </div>
                            </div>

                            @*Other Location*@
                            <div class="fieldContainer fieldContainerOtherLocation form-group row" style="display:none;">
                                <label for="selCenter" class="col-md-4 col-form-label">
                                    Other Location
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control selOtherLocation" name="selOtherLocation" id="selOtherLocation">
                                        <option>Doublin, Ireland (...)</option>
                                        <option>New Castle, Delaware (...)</option>
                                        <option>London, England (...)</option>
                                        <option>Long Island, New York (...)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>   
                </form>
            }
            @if ((string)Model["HFViewType"] == "Upload")
            {
                <form id="formCPRUpload" class="form-horizontal" style="margin-top: 35px; clear: both;">
                    <div class="row">
                        <div class="col-md-12">
                            @*Process Tree*@
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <i class="fa fa-asterisk iconasterisk"></i> Process Tree
                                </label>
                                <div class="col-md-9">
                                    <div class="jqxDropDownProcess" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;">
                                        <div style="border-color: transparent;" id="jqxDropDownActivitiesToUpload"></div>
                                    </div>
                                    <button type="button" class="btn btn-xs btnClearParent btn-danger" style="position: absolute;right: -20px;top: 1px;">
                                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @*File*@
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <i class="fa fa-asterisk iconasterisk"></i> Upload CPR Process Activities
                                </label>
                                <div class="col-md-9">
                                    <div id="js-xlsx-plugin"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }
            <div class="containerButtonActions" >
                <button type="button" class="btnLoadTable btn btn-info top15 left15 bottom15 pull-right" >
                    <i class="fa fa-tasks"></i> Refresh Table 
                </button> 

                <button type="button" class="btnViewInfo btn btn-info top15 left15 bottom15 pull-right" >
                    <i class="fa fa-search-plus"></i> View Info 
                </button>

                @if ((string)Model["HFViewType"] == "Upload")
                {
                    <button type="button" class="btnDownloadCPRTemplate btn btn-success top15 left15 bottom15 pull-right">
                        <i class="fa fa-file-excel-o"></i> Download CPR Template
                    </button>

                    <button type="button" class="btnDeleteCPRActivities btn btn-danger top15 left15 bottom15 pull-right">
                        <i class="fa fa-remove"></i> Delete CPR Activities
                    </button>
                }

                <h4 class="lblActivityCount pull-left" style="margin-top: 22px;">Process Activities (...)</h4>
            </div>
            
            <div id="tblProcessActivities" style="display:none;"></div>
            
            <div style="clear:both;"></div>
        </div>
    </section>
</div>