@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/CPR/css/style.css",
        "/Content/Shared/plugins/daterangepicker/daterangepicker-bs3.css",
        "/Content/Shared/plugins/citi-process-tree/process-tree-v1.0.0.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/citi-process-tree/process-tree-v1.0.0.js",
        "/Content/Shared/plugins/daterangepicker/daterangepicker.js",
        "/Content/CPR/js/CPRGlobal.js",
        "/Content/CPR/js/ListEvent.js"
    };
}
<div class="col-lg-12">
    <section class="box ">
        <div class="content-body">
            @if ((string)Model["HFViewType"] == "FinishEvent")
            {
                <button type="button" class="btnFinishEvent btn btn-success top15 left15 bottom15 pull-right"> Finish Event <i class="fa fa-check-square-o"></i></button>
            }
            
            @if ((string)Model["HFViewType"] == "AdditionalCommunication")
            {
                <button type="button" class="btnadditionalCommunication btn btn-success top15 left15 bottom15 pull-right"> Additional Communication <i class="fa fa-check-square-o"></i></button>
            }

            @if ((string)Model["HFViewType"] == "ExtendEvent")
            {
                <button type="button" class="btnExtendEvent btn btn-success top15 left15 bottom15 pull-right"> Extend Event <i class="fa fa-check-square-o"></i></button>
            }

            <button type="button" class="btnViewInfo btn btn-info top15 left15 bottom15 pull-right">
                <i class="fa fa-search-plus"></i> View Info
            </button>

            <div id="tblCommunications"></div>

            <div class="clearfix"></div>
        </div>
    </section>
</div>