@{
    ViewBag.Title = "My Process To Recover";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] { 
        "/Content/CPR/css/style.css"
    };
    ViewBag.JSLinks = new string[] { 
        "/Content/CPR/js/CPRGlobal.js",
        "/Content/CPR/js/MyProcessToRecover.js"     
    };
}

<input type="hidden" id="HFIDCommunication" value="@((string)Model["HFIDCommunication"])" />

<div class="col-lg-12">
    <section class="box ">
        @if ((string)Model["HFIDCommunication"] != "")
        {
        <header class="panel_header">

            <div style="float:left;">
                <div class="containerAuditLogs" style="margin-left: 28px;margin-top: 20px;float:left;">
                    <b>Event Comments: </b> <span class="lblAuditLogs badge badge-md badge-success">...</span>
                </div>
                <div class="containerLblRecover" style="margin-left: 28px;margin-top: 20px;float:left;">
                    <b>Recover: </b> <span class="lblRecover">Loading...</span>
                </div>
                <div class="containerLblDatesImpacted" style="margin-left: 28px;margin-top: 20px;float:left;">
                    <b>Impacted Dates: </b> <span class="lblImpactedDates">Loading...</span>
                </div>
            </div>

        </header>
        }
        <div class="content-body">
            <button type="button" class="btnAddComment btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-comment"></i> <span id="btnAddCommentLabel">Add Comment</span> </button>
            <button type="button" class="btnViewInfo btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-search-plus"></i> View Info </button>

            <div id="tblProcessActivities" style="clear:both;"></div>
        </div>
    </section>
</div>