@{
    ViewBag.Title = "Process Tree";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] { 
        "/Content/Shared/plugins/citi-process-tree/process-tree-v1.0.0.css"        
    };
    ViewBag.JSLinks = new string[] { 
        "/Content/Shared/plugins/citi-process-tree/process-tree-v1.0.0.js",
        "/Content/CPR/js/ProcessTree.js"        
    };
}
<div class="col-lg-12">
    <section class="box ">
        <div class="content-body">
            <div class="row">
                <div class="col-md-3">
                    <h4>Filters: </h4>
                    <div class="form-horizontal" id="filter-process" style="width:100%; float: left;margin-top: 15px;">
                        <div class="row">
                            <div class="col-md-12">
                                @*L2 Process*@
                                <div class="form-group">
                                    <label for="selProcessL2" style="text-align:left;" class="col-md-12 control-label"><span class="badge badge-info">L2</span> Product:</label>
                                    <div class="col-md-12">
                                        <select class="form-control selProcessL2" id="selProcessL2"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @*L3 Process*@
                                <div class="form-group">
                                    <label for="selProcessL3" style="text-align:left;" class="col-md-12 control-label"><span class="badge badge-purple">L3</span> Menu of Services:</label>
                                    <div class="col-md-12">
                                        <select class="form-control selProcessL3" id="selProcessL3"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @*L4 Process*@
                                <div class="form-group">
                                    <label for="selProcessL4" style="text-align:left;" class="col-md-12 control-label"><span class="badge badge-accent">L4</span> Sub-Process:</label>
                                    <div class="col-md-12">
                                        <select class="form-control selProcessL4" id="selProcessL4"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @*L5 Process*@
                                <div class="form-group">
                                    <label for="selProcessL5" style="text-align:left;" class="col-md-12 control-label"><span class="badge badge-primary">L5</span> Activity:</label>
                                    <div class="col-md-12">
                                        <select class="form-control selProcessL5" id="selProcessL5"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    @*<button type="button" class="btnSave btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-save"></i> Save</button>*@
                    <button type="button" class="btnExportExcel btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-file-excel-o"></i> Export Excel</button>
                    <button type="button" class="btnRefresh btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-refresh"></i> Refresh</button>
                    <button type="button" class="btnAddRow btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-plus-square"></i> Add</button>
                    <button type="button" class="btnEditRow btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-pencil-square-o"></i> Edit / View</button>
                    <button type="button" class="btnDeleteRow btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-remove"></i> Delete</button>
                    
                    <div id="tblProcess"></div>
                </div>
            </div>
        </div>
    </section>
</div>

