@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Recurrence Generator";
    ViewBag.CSSLinks = new string[] {};
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/moment/moment-recur.js",
        "/Content/CPR/js/Recurrence.js"
    };
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab-recurrence-form" data-toggle="tab" aria-expanded="true">
                    <i class="fa fa-cog"></i> Recurrence Form
                </a>
            </li>
            @*TODO: Add my recurrences*@
            <li style="display:none" class="" id="tab-label-my-issues" >
                <a href="#tab-my-issues" data-toggle="tab" aria-expanded="false">
                    <i class="fa fa-cog"></i> My Recurrences
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab-recurrence-form">
                <h2 class="pull-left" style="font-family: 'Roboto', Arial, Helvetica, sans-serif;font-size: 19px;padding-top: 15px;color: #004786;">Recurrence Code: <span id="lblRecurrenceCode" class="badge badge-lg badge-success">R0000000</span></h2>
                
                <button type="button" class="btnCopyCode btn btn-info top15 left15 bottom15 pull-left" style="margin-top: 22px;">
                    <i class="fa fa-copy"></i> Copy Code
                </button>

                <div style="clear:both;padding-bottom: 10px;"></div>

                <div class="form-horizontal">
                    @*TODO: add Description*@
                    <h4 style="display:none">General Info</h4>
                    <br>
                    <div class="row" style="display:none">
                        <div class="col-md-12">
                            @*Description*@
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <textarea class="form-control" placeholder="Writte the name or description about this recurrence. e.g. Create Deck Every Month from Full Suite"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Recurrence Config</h4>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            @*Start*@
                            <div class="form-group row" style="display:none;">
                                <label for="containerRepeat" class="col-md-2 col-form-label">
                                    Start
                                </label>
                                <div class="col-md-10">
                                    <input class="form-control" value="May 18, 2018" />
                                </div>
                            </div>

                            @*Repeat*@
                            <div class="form-group row" id="containerRepeat">
                                <label for="containerRepeat" class="col-md-2 col-form-label">
                                    Repeat
                                </label>
                                <div class="col-md-10">
                                    <div class="form-control" id="fieldRepeat">
                                        <ul class="list-unstyled">
                                            <li>
                                                <input type="radio" id="flat-radio-daily" value="Daily" name="chkRepeat" class="skin-flat-green" checked>
                                                <label class="icheck-label form-label" for="flat-radio-daily">Daily</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="flat-radio-weekly" value="Weekly" name="chkRepeat" class="skin-flat-green">
                                                <label class="icheck-label form-label" for="flat-radio-weekly">Weekly</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="flat-radio-monthly" value="Monthly" name="chkRepeat" class="skin-flat-green">
                                                <label class="icheck-label form-label" for="flat-radio-monthly">Monthly</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="flat-radio-quarterly" value="Quarterly" name="chkRepeat" class="skin-flat-green">
                                                <label class="icheck-label form-label" for="flat-radio-quarterly">Quarterly</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="flat-radio-yearly" value="Yearly" name="chkRepeat" class="skin-flat-green">
                                                <label class="icheck-label form-label" for="flat-radio-yearly">Yearly</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @*Repeat Daily*@
                            <div class="form-group row" id="containerRepeatDaily">
                                <div class="col-md-12">
                                    <div class="form-control" id="fieldRepeatDaily">
                                        <ul class="list-unstyled">
                                            <li>
                                                <input type="radio" value="AllDays" name="chkRepeatDaily" class="skin-flat-green" checked>
                                                <label class="icheck-label form-label">All days</label>
                                            </li>
                                            <li>
                                                <input type="radio" value="Workdays" name="chkRepeatDaily" class="skin-flat-green">
                                                <label class="icheck-label form-label">Workdays (Mon, Tue, Wed, Thu, Fri)</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            @*Repeat Weekly*@
                            <div class="form-group row" id="containerRepeatWeekly" style="display:none;">
                                <label for="fieldRepeatWeekly" class="col-md-2 col-form-label">
                                    Days
                                </label>
                                <div class="col-md-10">
                                    <div class="form-control" id="fieldRepeatWeekly">
                                        <ul class="list-unstyled">
                                            <li>
                                                <input type="checkbox" name="chkRepeatWeekly" value="Mo" class="skin-flat-green" checked>
                                                <label class="icheck-label form-label">Monday</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="chkRepeatWeekly" value="Tu" class="skin-flat-green" checked>
                                                <label class="icheck-label form-label">Tuesday</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="chkRepeatWeekly" value="We" class="skin-flat-green" checked>
                                                <label class="icheck-label form-label">Wednesday</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="chkRepeatWeekly" value="Th" class="skin-flat-green" checked>
                                                <label class="icheck-label form-label">Thursday</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="chkRepeatWeekly" value="Fr" class="skin-flat-green" checked>
                                                <label class="icheck-label form-label">Friday</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="chkRepeatWeekly" value="Sa" class="skin-flat-green" checked>
                                                <label class="icheck-label form-label">Saturday</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="chkRepeatWeekly" value="Su" class="skin-flat-green" checked>
                                                <label class="icheck-label form-label">Sunday</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            @*Repeat Monthly*@
                            <div id="containerRepeatMonthly" style="display:none;"></div>

                            @*Repeat Quarterly*@
                            <div id="containerRepeatQuarterly" style="display:none;">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="form-control" id="fieldRepeatQuarterlyMonths">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <input type="checkbox" name="chkFieldRepeatQuarterlyMonths" value="1stM" class="skin-flat-green" checked>
                                                    <label class="icheck-label form-label">1st Month of Quarter (Jan, Apr, Jul, Oct)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="chkFieldRepeatQuarterlyMonths" value="2stM" class="skin-flat-green" checked>
                                                    <label class="icheck-label form-label">2nd Month of Quarter (Feb, May, Aug, Nov)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="chkFieldRepeatQuarterlyMonths" value="3stM" class="skin-flat-green" checked>
                                                    <label class="icheck-label form-label">3rd Month of Quarter (Mar, Jun, Sep, Dec)</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div id="containerFieldRepeatQuarterlyMonthVsBD"></div>
                            </div>

                            @*Repeat Yearly*@
                            <div id="containerRepeatYearly" style="display:none;">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <select class="form-control" id="fieldRepeatYearlySelectMonth"></select>
                                    </div>
                                </div>

                                <div id="containerFieldRepeatYearlyMonthVsBD"></div>
                            </div>

                        </div>
                        <div class="col-md-4" style="display:none;">
                            @*Repeat End Config *@
                            <div class="form-group row" id="containerRepeatEnd">
                                <div class="col-md-12">
                                    <div class="form-control" id="fieldRepeatEnd" >
                                        <ul class="list-unstyled">
                                            <li>
                                                <input type="radio" id="flat-radio-repeat-end-no-end" value="NoEnd" name="chkRepeatEnd" class="skin-flat-green" checked>
                                                <label class="icheck-label form-label" for="flat-radio-repeat-end-no-end">No end date</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="flat-radio-repeat-end-after-occurrences" value="After" name="chkRepeatEnd" class="skin-flat-green">
                                                <label class="icheck-label form-label" for="flat-radio-repeat-end-after-occurrences">After <input value="1" style="width: 30px;" /> occurrences</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="flat-radio-repeat-end-date" name="chkRepeatEnd" value="On" class="skin-flat-green">
                                                <label class="icheck-label form-label" for="flat-radio-repeat-end-date">End on <input value="May 18, 2018" style="width: 120px;" /></label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 >Preview</h4>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            @*Preview*@  
                            <div id="tblPreviewRecurrence"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="tab-my-recurrence">
            </div>
        </div>
    </div>
</div>
