@{
    ViewBag.Title = "Start Event";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/CPR/css/style.css",
        "/Content/Shared/plugins/switchery/switchery.css",
        "/Content/Shared/plugins/daterangepicker/daterangepicker-bs3.css",
        "/Content/Shared/plugins/citi-process-tree/process-tree-v1.0.0.css",
        "/Content/Shared/plugins/intro/css/introjs.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/switchery/switchery.js",
        "/Content/Shared/plugins/citi-process-tree/process-tree-v1.0.0.js",
        "/Content/Shared/plugins/daterangepicker/daterangepicker.js",
        "/Content/Shared/plugins/intro/js/intro.js",
        "/Content/CPR/js/CPRGlobal.js",
        "/Content/CPR/js/StartEvent.js"
    };
}
<div class="col-lg-12">
    <section class="box containerSendCommunication ">
        <header class="panel_header">
            <div style="margin-right: 10px; margin-top: 10px; float:right;">
                <h4 style="float:left;margin-left: 10px;margin-right: 20px;"> 
                    <img src="~/Content/CPR/img/cprlogo.png" id="cprLogo" style="width: 32px;"/>
                    <span id="lblTestEvent">Real Event</span> 
                </h4>
                <div class="form-block bottom15" style="float:left;">
                    <input type="checkbox" class="js-switch chkTestEvent" />
                </div>
            </div>

            <div style="float:left;">
                <div class="containerLblRecover" style="margin-left: 28px;margin-top: 20px;float:left;">
                    <b>Recover: </b> <span class="lblRecover">Loading...</span>
                </div>
                <div class="containerLblDatesImpacted" style="margin-left: 28px;margin-top: 20px;float:left;display:none;">
                    <b>Impacted Dates: </b> <span class="lblImpactedDates">Loading...</span>
                </div>
                <div class="containerCountEDCFCActivities" style="margin-left: 28px;margin-top: 20px;float:left;">
                    <b>Activities to recover: </b> <span class="lblProcessActivityCount badge badge-md badge-primary">...</span>
                </div>
            </div>
            
        </header>
        <div class="content-body">
            <div id="wizardSendCommunication" class="wizardpills">
                <ul class="form-wizard nav nav-pills">
                    <li style="width: 30%;">
                        <a href="#recover-filters" id="linkGoTabRecover" data-toggle="tab" aria-expanded="true">
                            <span>Recover</span>
                        </a>
                    </li>
                    <li style="width: 30%;">
                        <a href="#activity-list" id="linkGoTabActivityList" data-toggle="tab">
                            <span>Process Activities</span>
                        </a>
                    </li>
                    <li style="width: 30%;">
                        <a href="#communication-config" id="linkGoTabCommunication" data-toggle="tab">
                            <span>Send Communication</span>
                        </a>
                    </li>
                </ul>
                <div id="bar" class="progress active">
                    <div class="progress-bar progress-bar-primary " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="tab-content">
                    @*--------------------------------------------------------------------------*@
                    @*TAB Recover                                                   *@
                    @*--------------------------------------------------------------------------*@
                    <div class="tab-pane " id="recover-filters">
                        
                        <form id="formRecoverFilters" class="form-horizontal" style="margin-top: 35px; clear: both;">
                            
                            @*Sel to recover*@
                            <div class="form-group row">
                                <label for="selToRecover" class="col-md-3 col-form-label">
                                    What needs to be recovered?
                                </label>
                                <div class="col-md-9">
                                    <select class="form-control selToRecover" name="selToRecover" id="selToRecover">
                                        <option value="Center" selected="true">Main FRSS Center</option>
                                        <option value="Other">Other Locations</option>
                                        @*<option value="Owner">Owner</option>
                                        <option value="Process">Custom Process</option>*@
                                    </select>
                                </div>
                            </div>

                            @*Impacted Dates*@
                            <div class="form-group row">
                                <label for="containerImpactedDates" class="col-md-3 col-form-label">
                                    Impacted Dates
                                </label>
                                <div class="col-md-9">
                                    <div style="cursor:pointer;" class="form-control daterange daterange-text add-date-ranges containerImpactedDates" id="containerImpactedDates" data-format="MMMM D, YYYY" >
                                        <i class="fa fa-calendar"></i>
                                        <span >All</span>
                                    </div>
                                </div>
                            </div>

                            @*Center*@
                            <div class="fieldContainer fieldContainerCenter form-group row" style="display:none;">
                                <label for="selCenter" class="col-md-3 col-form-label">
                                    Select the FRSS Center Impacted
                                </label>
                                <div class="col-md-9">
                                    <select class="form-control selCenter" name="selCenter" id="selCenter">
                                        <option>CSS Costa Rica (...)</option>
                                        <option>CSS Tampa (...)</option>
                                        <option>CSS Manila (...)</option>
                                        <option>CSS Mumbai (...)</option>
                                    </select>
                                </div>
                            </div>

                            @*Other Location*@
                            <div class="fieldContainer fieldContainerOtherLocation form-group row" style="display:none;">
                                <label for="selCenter" class="col-md-3 col-form-label">
                                    Select Other FRSS Location Impacted
                                </label>
                                <div class="col-md-9">
                                    <select class="form-control selOtherLocation" name="selOtherLocation" id="selOtherLocation">
                                        <option>Doublin, Ireland (...)</option>
                                        <option>New Castle, Delaware (...)</option>
                                        <option>London, England (...)</option>
                                        <option>Long Island, New York (...)</option>
                                    </select>
                                </div>
                            </div>
                                
                            @*Owner*@
                            <div class="fieldContainer fieldContainerOwner col-md-12" style="display:none;">
                                <div class="form-group">
                                    <h4>Please select Process Owner</h4>
                                    <br />
                                    <div class="col-md-12">
                                        <select class="form-control selOwner" name="selOwner">
                                            <option>Abrams, Rafael (20)</option>
                                            <option>Lee, James T (5)</option>
                                            <option>Kehoe, Donna M (33)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            @*Process*@
                            <div class="fieldContainer fieldContainerProcessToRecover col-md-12" style="display:none;">
                                <div class="form-group">
                                    <h4>Please select Process</h4>
                                    <br />
                                    <div class="col-md-12">
                                        <div class="jqxDropDownProcessToRecover" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;">
                                            <div style="border-color: transparent;" id="tblProcessToRecover"></div>
                                        </div>
                                        <button type="button" class="btn btn-xs btnClearProcessToRecover btn-danger" style="position: absolute;right: -20px;top: 1px;">
                                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div style="clear: both;"></div>
                            
                        </form>

                        <button type="button" class="btnGoActivitityList btn btn-info top15 left15 bottom15 pull-right" >View Process Activities <i class="fa fa-arrow-circle-right"></i></button>
                    </div>

                    @*--------------------------------------------------------------------------*@
                    @*TAB Activities List                                                   *@
                    @*--------------------------------------------------------------------------*@
                    <div class="tab-pane " id="activity-list">
                        <div class="row">
                            <div class="col-md-12" style="margin-top: 25px;">
                                <button type="button" class="btnGoCommunication btn btn-info top15 left15 bottom15 pull-right" >Communication <i class="fa fa-arrow-circle-right"></i></button>
                                <button type="button" class="btnViewInfo btn btn-info top15 left15 bottom15 pull-right" >
                                    <i class="fa fa-search-plus"></i> View Info 
                                </button>

                                <div id="tblProcessActivities"></div>

                                <button type="button" class="btnGoCommunication btn btn-info top15 left15 bottom15 pull-right" >Communication <i class="fa fa-arrow-circle-right"></i></button>

                            </div>
                        </div>
                    </div>
                
                    @*--------------------------------------------------------------------------*@
                    @*TAB Send Communication                                                  *@
                    @*--------------------------------------------------------------------------*@
                    <div class="tab-pane " id="communication-config">

                        @*<button type="button" class="btnSendCommunication btn btn-success top15 left15 bottom15 pull-right" >Review Communication <i class="fa fa-envelope-o"></i></button>*@

                        <form id="formCommunicationConfig" class="form-horizontal" style="margin-top: 35px; clear: both;">
                            <div class="row">
                                <div class="col-md-6">
                                    @*Date*@
                                    <div class="form-group row">
                                        <label for="selTypeOfEvent" class="col-md-4 col-form-label">
                                            Date
                                        </label>
                                        <div class="col-md-8">
                                            <div class="form-control lblCommunicationDate" name="lblCommunicationDate" id="lblCommunicationDate">
                                                <i class="fa fa-calendar"></i> <span>Mar 26, 2018</span>
                                            </div>
                                        </div>
                                    </div>

                                    @*Type of Event*@
                                    <div class="form-group row">
                                        <label for="selTypeOfEvent" class="col-md-4 col-form-label">
                                            Type of event
                                        </label>
                                        <div class="col-md-8">
                                            <select class="form-control selTypeOfEvent" name="selTypeOfEvent" id="selTypeOfEvent">
                                                <option value="WAD" selected="true">WAD</option>
                                                <option value="Local">Local</option>
                                            </select>
                                        </div>
                                    </div>

                                    @*Local Recovery*@
                                    <div class="form-group row containerSelLocalRecovery" style="display:none;">
                                        <label for="selLocalRecovery" class="col-md-4 col-form-label">
                                            Local Recovery
                                        </label>
                                        <div class="col-md-8">
                                            <select class="form-control selLocalRecovery" name="selLocalRecovery" id="selLocalRecovery">
                                                <option value="" selected="true" >-- Select --</option>
                                                <option value="Full Recovery">Full Recovery</option>
                                                <option value="Partial Recovery">Partial Recovery</option>
                                            </select>
                                        </div>
                                    </div>
                                
                                    @*Recovery Action*@
                                    <div class="form-group row">
                                        <label for="selRecoveryAction" class="col-md-4 col-form-label">
                                            Recovery Action
                                        </label>
                                        <div class="col-md-8">
                                            <select class="form-control selRecoveryAction" name="selRecoveryAction" id="selRecoveryAction">
                                                <option value="Recover" selected="true">Recover</option>
                                                <option value="Warning">Warning / Standby</option>
                                            </select>
                                        </div>
                                    </div>

                                    @*Comments*@
                                    <div class="form-group row">
                                        <label for="txtComment" class="col-md-4 col-form-label">
                                            Comment
                                        </label>
                                        <div class="col-md-8">
                                            <textarea class="form-control txtComment" placeholder="e. g. Please recover ASAP this critical process activities!" rows="5" name="txtComment" id="txtComment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @*Send To*@
                                    <div class="form-group row">
                                        <label for="containerSendTo" class="col-md-2 col-form-label">
                                            Send To
                                        </label>
                                        <div class="col-md-10">
                                            <div class="form-control" id="containerSendTo">
                                                @*FRSS Head*@
                                                <ul class="list-unstyled">
                                                    <li class="col-md-12">
                                                        <input type="checkbox" id="chk-frss-head" class="skin-flat-green chk-wad-event" checked>
                                                        <label class="icheck-label form-label" for="chk-frss-head">FRSS Head</label>
                                                    </li>
                                                </ul>

                                                @*RPL & GPL*@
                                                <ul class="list-unstyled">
                                                    <li class="col-md-5">
                                                        <input type="checkbox" id="chk-gpl" class="skin-flat-green chk-local-event chk-wad-event" checked>
                                                        <label class="icheck-label form-label" for="chk-gpl">GPL</label>
                                                    </li>
                                                    <li class="col-md-7">
                                                        <input type="checkbox" id="chk-rpl" class="skin-flat-green chk-local-event chk-wad-event" checked>
                                                        <label class="icheck-label form-label" for="chk-rpl">RPL</label>
                                                    </li>
                                                </ul>

                                                @*Owner*@
                                                <ul class="list-unstyled">
                                                    <li class="col-md-5">
                                                        <input type="checkbox" id="chk-owner" class="skin-flat-green chk-local-event ">
                                                        <label class="icheck-label form-label" id="chk-owner">Owner</label>
                                                    </li>
                                                    <li class="col-md-7">
                                                        <input type="checkbox" id="chk-manager-owner" class="skin-flat-green chk-local-event">
                                                        <label class="icheck-label form-label" id="chk-manager-owner">Manager of Owner</label>
                                                    </li>
                                                </ul>

                                                @*Maker*@
                                                <ul class="list-unstyled">
                                                    <li class="col-md-5">
                                                        <input type="checkbox" id="chk-maker" class="skin-flat-green chk-local-event">
                                                        <label class="icheck-label form-label" for="chk-maker">Maker</label>
                                                    </li>
                                                    <li class="col-md-7">
                                                        <input type="checkbox" id="chk-manager-maker" class="skin-flat-green chk-local-event">
                                                        <label class="icheck-label form-label" for="chk-manager-maker">Manager of Maker</label>
                                                    </li>
                                                </ul>

                                                @*Checker*@
                                                <ul class="list-unstyled">
                                                    <li class="col-md-5">
                                                        <input type="checkbox" id="chk-checker" class="skin-flat-green chk-local-event">
                                                        <label class="icheck-label form-label" for="chk-checker">Checker</label>
                                                    </li>
                                                    <li class="col-md-7">
                                                        <input type="checkbox" id="chk-manager-checker" class="skin-flat-green chk-local-event">
                                                        <label class="icheck-label form-label" for="chk-manager-checker">Manager of Checker</label>
                                                    </li>
                                                </ul>

                                                @*WAD Owner*@
                                                <ul class="list-unstyled">
                                                    <li class="col-md-5">
                                                        <input type="checkbox" id="chk-wad-owner" class="skin-flat-green chk-wad-event" checked>
                                                        <label class="icheck-label form-label" for="chk-wad-owner">WAD Owner</label>
                                                    </li>
                                                    <li class="col-md-7">
                                                        <input type="checkbox" id="chk-wad-manager-owner" class="skin-flat-green chk-wad-event" checked>
                                                        <label class="icheck-label form-label" for="chk-wad-manager-owner">Manager of WAD Owner</label>
                                                    </li>
                                                </ul>

                                                @*WAD Maker*@
                                                <ul class="list-unstyled">
                                                    <li class="col-md-5">
                                                        <input type="checkbox" id="chk-wad-maker" class="skin-flat-green chk-wad-event" checked>
                                                        <label class="icheck-label form-label" for="chk-wad-maker">WAD Maker</label>
                                                    </li>
                                                    <li class="col-md-7">
                                                        <input type="checkbox" id="chk-wad-manager-maker" class="skin-flat-green chk-wad-event" checked>
                                                        <label class="icheck-label form-label" for="chk-wad-manager-maker">Manager of WAD Maker</label>
                                                    </li>
                                                </ul>

                                                @*WAD Checker*@
                                                <ul class="list-unstyled">
                                                    <li class="col-md-5">
                                                        <input type="checkbox" id="chk-wad-checker" class="skin-flat-green chk-wad-event" checked>
                                                        <label class="icheck-label form-label" for="chk-wad-checker">WAD Checker</label>
                                                    </li>
                                                    <li class="col-md-7">
                                                        <input type="checkbox" id="chk-wad-manager-checker" class="skin-flat-green chk-wad-event" checked>
                                                        <label class="icheck-label form-label" for="chk-wad-manager-checker">Manager of WAD Checker</label>
                                                    </li>
                                                </ul>
                                                <div style="clear:both;"></div>
                                            </div>
                                        </div>
                                    </div>

                                    @*Send To Custom Email*@
                                    <div class="form-group row">
                                        <label for="containerSendTo" class="col-md-2 col-form-label">
                                            Test Emails
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control txtTestEmail" id="txtTestEmail" placeholder="e.g. (optional) contact1@citi.com;contact2@citi.com;" />
                                            <a href="#" class="pull-right" id="btnAddMyEmailToTest">Add my email</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="clear: both;"></div>
                        </form>

                        <button type="button" class="btnSendCommunication btn btn-success top15 left15 bottom15 pull-right" >Review Communication <i class="fa fa-envelope-o"></i></button>
                    </div>
                
                </div>
            </div>
        </div>
    </section>
</div>

