﻿@{
    ViewBag.Title = "Upload files";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        //"/Content/plugins/dropzone/dropzone.css"
        //"/Content/plugins/dropzone/dropzone-admin.css"
        "/Content/Shared/plugins/fine-uploader/fine-uploader-new.css"
    };
    ViewBag.JSLinks = new string[] {
        //"/Content/plugins/dropzone/dropzone.js",
        //"/Content/plugins/dropzone/dropzone.min.js",
        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/CSSUniversity/js/UploadFiles.js"
        
    };
}

<!-- Fine Uploader Thumbnails template w/ customization
====================================================================== -->
<script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Select files</div>
            </div>
            <button type="button" id="trigger-upload" class="btn btn-primary">
                <i class="fa fa-cloud-upload"></i> Upload
            </button>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Upload files</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body" >
            <!--Tables for Roles, Permits and ERRS-->
            <div class="form-group col-xs-12">
                <label class="form-label" for="field-7">Type upload</label>
                <span class="desc"></span>
                <div class="controls">
                    @*<input id="rbtBDTypeTable" value="GLMS Activity" type="radio" name="iCheck-TypeUpload" class="skin-square-green" checked />
                    <label class="iradio-label form-label hover" for="rbtTypeUpload" style="margin-right: 25px;">GLMS Activity </label>*@
            
                    <input id="rbtBDTypeProc" value="GLMS Transcript" type="radio" name="iCheck-TypeUpload" class="skin-square-green" >
                    <label class="iradio-label form-label hover" for="rbtTypeUpload" style="margin-right: 25px;">GLMS Transcript </label>
            
                    @*<input id="rbtBDTypeFunc" value="GLMS Courses" type="radio" name="iCheck-TypeUpload" class="skin-square-green" >
                    <label class="iradio-label form-label hover" for="rbtTypeUpload" style="margin-right: 25px;">GLMS Trainings Catalog </label>*@
            
                    <input id="rbtBDTypeProfile" value="Udemy Catalog" type="radio" name="iCheck-TypeUpload" class="skin-square-green" >
                    <label class="iradio-label form-label hover" for="rbtTypeUpload" style="margin-right: 25px;">Udemy Trainings Catalog </label>
                </div>
            </div>
            <div id="fine-uploader-manual-trigger"></div>
        </div>
    </section>
</div>