@{
    ViewBag.Title = "Issue Management Tool";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.SubAppPath = Automation.Core.Class.GlobalUtil.GetSubAppPath();
    ViewBag.JSLinks = new string[] { 
        "/Content/MEIL/js/MEILGlobal.js", 
        "/Content/MEIL/js/MakerChecker/MakerCheckerGlobal.js", 
        "/Content/MEIL/js/MakerChecker/AdminIssue.js"
    };
    ViewBag.CSSLinks = new string[] { 
        "/Content/MEIL/css/style.css"
    };
}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab-issue-form" data-toggle="tab" aria-expanded="true">
                    <i class="fa fa-cog"></i> Issue Form
                </a>
            </li>
            <li class="" id="tab-label-my-issues" >
                <a href="#tab-my-issues" data-toggle="tab" aria-expanded="false">
                    <i class="fa fa-cog"></i> My Issues
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab-issue-form">
                <input type="hidden" id="HFAdminIssueID" value="@((string)Model["HFAdminIssueID"])" />
                <div id="adminIssueContent"></div>
            </div>
            <div class="tab-pane fade in" id="tab-my-issues">
                <a href="@(ViewBag.SubAppPath)/MEIL/MakerChecker/AdminIssue" class="btnNewIssue btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> New</a>
                <a href="#" class="btnViewIssue btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> View / Edit</a>
                @*<button type="button" class="btnDeleteIssue btn btn-danger  top15 left15 bottom15 pull-right"><i class="fa fa-remove"></i> Delete</button>*@
                <div id="tblMakerCheckerIssues"></div>
            </div>
        </div>
    </div>
</div>