@{
    ViewBag.Title = "Bulk Upload";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/plugins/citi-process-tree/process-tree-v1.0.0.css",
        "/Content/Shared/plugins/sheetjs/js-xlsx/css/dropfile.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css",
        "/Content/Shared/plugins/intro/css/introjs-rtl.css",
        "/Content/Shared/plugins/intro/css/introjs.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
        "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
        "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
        "/Content/MEIL/js/MEILGlobal.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/api.js",
        "/Content/Shared/plugins/citi-process-tree/process-tree-v1.0.0.js",
        "/Content/MEIL/js/MakerChecker/BulkUpload.js",
        "/Content/Shared/plugins/intro/js/intro.js"

    };
}
<style>
   .col-lg-12, .tblProcessActivities{
        font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
   } 
</style>

<div class="col-lg-12">
    <section class="box ">
        <a id="showMe" class="btn btn-large btn-info pull-right" href="javascript:void(0);" onclick="startObjectsIntro();">
            
            How to use&nbsp;
            <i class="fa fa-info-circle"></i>
        </a>
        <div class="content-body">
                <form data-step="2" data-intro="Select the file and upload here" id="formIssueLogUpload" class="form-horizontal" style="margin-top: 35px; clear: both;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <i class="fa fa-asterisk iconasterisk"></i> Upload Issues
                                </label>
                                <div class="col-md-9">
                                    <div id="js-xlsx-plugin"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
        
            <div class="containerButtonActions" >
                @*<button type="button" class="btnDownloadBulkTemplate btn btn-success top15 left15 bottom15 pull-right">
                    <i class="fa fa-file-excel-o"></i> Download Template (Interop DEV-USE)
                </button>*@
                <button data-step="1" data-intro="Download the bulk file template and fill properly" class="btnDownloadBulkTemplate btn btn-success top15 left15 bottom15 pull-right" type="submit">
                    <i class="fa fa-file-excel-o"></i>
                    Download Bulk Upload Template
                </button>
                
            </div>
            
            <div  data-step="3" data-intro="Bulk Issues detail here" id="tblProcessActivities" >
                <table class="table table-striped table-bordered table-hover table-condensed" data-bind='kogrid: gridLogModel'> </table> 
                <script id="divActions" type="text/html">
                    <i data-step="4" data-intro="Bulk Issues detail here" class="fa fa-list" style="font-size:x-large;margin-left: 5%; margin-top:10px; cursor:pointer;"
                       data-bind="event:{ 
                                            click: function(item){ fnShowIssues(item); }
                                        }
                                "> 
                        List batch of issues
                    </i>
                </script>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="showListOfIssuesForBulkID" tabindex="-1" role="dialog" aria-labelledby="List of issues fro bulk upload" aria-hidden="true">
                <div class="modal-dialog" role="document" style="width: 900px;">
                    <div class="modal-content">
                        <div class="modal-header">
                                                        

                        </div>
                        <div class="modal-body">
                            
                            <div style="overflow-x: scroll; width: 100%" >
                                
                                <table class="table table-striped table-bordered table-hover table-condensed" data-bind='kogrid: gridShowBulkUpload'> </table>
                                <script id="loquequiera" type="text/html">
                                    <i style="cursor:pointer;"
                                       data-bind="event:{ click:  function(item){ fnListIssue(item); } }">
                                    <span data-bind=" text: IssueID; "></span></i>
                                    
                                </script>

                            </div>
                           
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Close</button>
                            <button id="downloadBulkIssuess" class="btn btn-success pull-right" type="submit">
                                <i class="fa fa-file-excel-o"></i>
                                Download Bulk
                            </button>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </section>
</div>