@{
    ViewBag.Title = "Issue Management Tool";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.JSLinks = new string[] { 
        "/Content/MEIL/js/MEILGlobal.js", 
        "/Content/MEIL/js/MakerChecker/MakerCheckerGlobal.js", 
        "/Content/MEIL/js/MakerChecker/ListIssues.js"
    };
    ViewBag.CSSLinks = new string[] { 
        "/Content/MEIL/css/style.css"
    };
}

<div class="row">
    <div class="col-md-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">List Issues</h2>
            </header>
            <div class="content-body">
                <button type="button" class="btnDownload btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> Download</button>
                <a href="@(ViewBag.SubAppPath)/MEIL/MakerChecker/AdminIssue" class="btnNewIssue btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> New</a>
                <a href="#" class="btnViewIssue btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> View / Edit</a>
                <button type="button" class="btnDeleteIssue btn btn-danger  top15 left15 bottom15 pull-right"><i class="fa fa-remove"></i> Delete</button>
                <div id="tblMakerCheckerIssues"></div>
            </div>
        </section>
    </div>
</div>