﻿@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    
    ViewBag.JSLinks = new string[] {
        "/Content/TheFirm/js/Admin.js",
        "/Content/Shared/plugins/cleave/cleave.min.js"
    };
}

<section class="box">
    <div class="container col-md-12 " style="background-color:white;">  
        <div class="row">
            <header class="panel_header">
                <h2 class="title pull-left">Administration Panel</h2>
            </header>
            <ul class="nav nav-tabs left-aligned" role="tablist">
                @*Log Id*@
                <li role="presentation" class="active" id="tab1">
                    <a href="#menu1" role="tab" data-toggle="tab"><i class=""></i>   Log ID maintenance</a>
                </li>
                @*User Table*@
                <li role="presentation" id="tab2">
                    <a href="#menu2" role="tab" data-toggle="tab"><i class=""></i>   User Table</a>
                </li>
                @*Document Type*@
                <li role="presentation" id="tab3">
                    <a href="#menu3" role="tab" data-toggle="tab"><i class=""></i>   Document Type</a>
                </li>
                @*Share Control*@
                <li role="presentation" id="tab4">
                    <a href="#menu4" role="tab" data-toggle="tab"><i class=""></i>   Sharedrive Control</a>
                </li>
            </ul>

            <div class="tab-content">
                @*Log Id*@
                <div role="tabpanel" class="tab-pane active row" id="menu1">
                    <div class="col-md-7">
                        <div id="tbl_LogIdentifierList"></div>
                    </div>
                    <div class="col-md-5">
                                    
                        <div class="col-md-12">
                           <button type="button" id="btnClearLogId" class="btnAddNewRegion btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-remove"></i> Clear</button> 
                        </div>
                                   
                        <div class="col-md-12">
                            <div class="headline"><h3>Log Identifier Edition</h3></div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label" for="txt_logIdID">Log #</label>
                                <input type="text" class="form-control input-numeral" id="txtLogIdID">
                            </div>
                            
                            <div class="col-md-8">
                                <label class="control-label" for="drp_periodDescription">Period Frequency Description</label>
                                <select class="form-control selectpicker" id="drp_periodDescription"></select>
                            </div>

                            <div class="col-md-12">
                                <label class="control-label" for="drp_TeamDescription">Team Description</label>
                                <select class="form-control selectpicker" id="drp_TeamDescription"></select>
                            </div>

                             <div class="col-md-12">     
                                <div class="form-group" style="margin-top: 15px;">
                                    <ul class="list-group ">
                                        <li class="list-group-item" style="background-color:transparent !important; color:rgba(118, 118, 118, 1.0) !important; border-color: #e1e1e1;">
                                            Is this Log Identifier activated?
                                            <div class="material-switch pull-right">
                                                <input id="chkLogidActive" name="chkLogidActive" type="checkbox" />
                                                <label for="chkLogidActive" class="label-success"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <button id="btnLogId_Update" type="button" class="btn btn-primary pull-right  btn-block btn-md ">Update</button>
                        </div>
                        <div class="col-md-6">
                            <button id="btnLogId_Add" type="button" class="btn btn-success pull-right  btn-block btn-md ">Add</button>
                        </div>
                    </div>
                </div>

                @*User Table*@
                <div role="tabpanel" class="tab-pane row" id="menu2">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="headline"><h3>User Modification</h3></div>
                        </div>

                         <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label" for="txt_SOEID">SOEID</label>
                                <input type="text" class="form-control" id="txt_SOEID" disabled="disabled">
                            </div>
                            
                            <div class="col-md-3">
                                <label class="control-label" for="drp_UserTeam">Team</label>
                                <select class="form-control selectpicker" id="drp_UserTeam"></select>
                            </div>

                            <div class="col-md-3">
                                <label class="control-label" for="drp_UserCountry">Country</label>
                                <select class="form-control selectpicker" id="drp_UserCountry"></select>
                            </div>

                             <div class="col-md-4">     
                                <div class="form-group" style="margin-top: 22px;">
                                    <ul class="list-group ">
                                        <li class="list-group-item" style="background-color:transparent !important; color:rgba(118, 118, 118, 1.0) !important; border-color: #e1e1e1;">
                                            Is this User activated?
                                            <div class="material-switch pull-right">
                                                <input id="chkUserActive" name="chkLogidActive" type="checkbox" />
                                                <label for="chkUserActive" class="label-success"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                             <div class="col-md-6">     
                                <div class="form-group">
                                    <ul class="list-group ">
                                        <li class="list-group-item" style="background-color:transparent !important; color:rgba(118, 118, 118, 1.0) !important; border-color: #e1e1e1;">
                                            Does this User has Management Authority?
                                            <div class="material-switch pull-right">
                                                <input id="chkUserAuthority" name="chkLogidActive" type="checkbox" />
                                                <label for="chkUserAuthority" class="label-success"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button id="btnUser_Update" type="button" class="btn btn-primary pull-right  btn-block btn-md ">Update</button>
                            </div>
                        
                             <div class="col-md-2">
                                <button id="btnUser_Add" type="button" class="btn btn-success pull-right  btn-block btn-md ">Add</button>
                            </div>
                            <div class="col-md-2">
                                <button id="btnUser_Clear" type="button" class="btn btn-danger pull-right  btn-block btn-md ">Clear</button>
                            </div>

                        </div>

                        
                    </div>

                    <div class="col-md-12">
                        <div id="tbl_UserList"></div>
                    </div>
                </div>

                @*Document Type*@
                <div role="tabpanel" class="tab-pane row" id="menu3">
                    <div class="col-md-7">
                        <div id="tbl_DocumentList"></div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-12">
                           <button type="button" id="btnClearDocType" class="btnAddNewRegion btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-remove"></i> Clear</button> 
                        </div>   
                                             
                        <div class="col-md-12">
                            <div class="headline"><h3>Document Type Edition</h3></div>
                        </div>
            
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label" for="txt_documentTypeDesc">Description</label>
                                <input type="text" class="form-control" id="txtDocTypeDesc">
                            </div>

                            <div class="col-md-12">     
                                <div class="form-group" style="margin-top: 15px;">
                                    <ul class="list-group ">
                                        <li class="list-group-item" style="background-color:transparent !important; color:rgba(118, 118, 118, 1.0) !important; border-color: #e1e1e1;">
                                            Is this Document Type activated?
                                            <div class="material-switch pull-right">
                                                <input id="chkDocTypeActivate" name="chkLogidActive" type="checkbox" />
                                                <label for="chkDocTypeActivate" class="label-success"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <button id="btnDocType_Update" type="button" class="btn btn-primary pull-right  btn-block btn-md ">Update</button>
                        </div>

                        <div class="col-md-6">
                            <button id="btnDocType_Add" type="button" class="btn btn-success pull-right  btn-block btn-md ">Add</button>
                        </div>
                    </div>
                </div>

                @*Share Control*@
                <div role="tabpanel" class="tab-pane row" id="menu4">
                    <div class="col-md-12">
                        <div id="tbl_ShareList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>