﻿@{
    ViewBag.Title = "SaveImage";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/plugins/fine-uploader/fine-uploader-new.css",
        "/Content/SalesAndUse/css/style.css"
    };
    ViewBag.JSLinks = new string[] {

        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/TheFirm/js/SaveImage.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
        "/Content/Shared/plugins/jquery-validation/additional-methods.min.js"
    };
}


<script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector btn btn-primary">
                <div>Select File</div>
            </div>
            <button type="button" id="trigger-upload" class="btn btn-primary">
                <i class="fa fa-cloud-upload"></i> Upload Tax Document
            </button>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

<script type="text/template" id="qq-template-manual-trigger1">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector btn btn-primary">
                <div>Select File</div>
            </div>
            <button type="button" id="trigger-upload2" class="btn btn-primary">
                <i class="fa fa-cloud-upload"></i> Upload Tax Document
            </button>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

<style>
    #trigger-upload {
        color: white;
        background-color: #00ABC7;
        font-size: 14px;
        padding: 7px 20px;
        background-image: none;
    }

    #fine-uploader-manual-trigger .qq-upload-button {
        margin-right: 15px;
    }

    #fine-uploader-manual-trigger .buttons {
        width: 36%;
    }

    #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
        width: 60%;
    }
</style>


<div class="row" style="margin-left:1px; margin-right:1px;">
    <ul class="nav nav-tabs nav-justified primary" role="tablist">
        @*Log Id*@
        <li role="presentation" class="active">
            <a href="#menu1" role="tab" data-toggle="tab"><i class=""></i>Single Upload</a>
        </li>
        @*User Table*@
        <li role="presentation">
            <a href="#menu2" role="tab" data-toggle="tab"><i class=""></i>Multiple Upload</a>
        </li>
    </ul>

    <div class="tab-content primary" style="background-color:#eeeeee;  margin-bottom:-30px">
        <div role="tabpanel" class="tab-pane active row" id="menu1" style="margin-top:-30px">
            <section class="box">
                <header class="panel_header" style="min-height: 10px !important;">
                <h2 class="title pull-left">Single documents Upload</h2>
                <div class="actions panel_actions pull-right">
                    <a class="box_toggle fa fa-chevron-down"></a>
                </div>
            </header>

                <div class="content-body">
                    <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Team</label>
                                <select class="form-control selectpicker" id="drp_Team"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Log Identifier</label>
                                @*<select class="form-control selectpicker" id="drp_logIdentifer"></select>*@

                                <div id="jqxWidget_LogID">
                                    <div id="jqxdropdownbutton_list_logID">
                                        <div style="border-color: transparent;" id="tbldropLogID"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label class="control-label">Document type</label>
                                <select class="form-control selectpicker" id="drp_DocType"></select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Filling Year</label>
                                <input name="txt_effectiveDate" type="text" id="txt_FilingYear" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Filling Month</label>
                                <select class="form-control selectpicker" id="drp_FilingMonth">
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                    <option value="13">N/A</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group compactModal">
                                <label class="control-label">File Retention Period</label>
                                <select class="form-control selectpicker" id="drp_FileRetenPeriod">
                                </select>
                            </div>
                        </div>
                
                        <div class="col-md-3">
                            <div class="form-group compactModal">
                                <label class="control-label">Keywords</label>
                                <input name="txt_effectiveDate" type="text" id="txt_Keywords" class="form-control">
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            </section>

            <section class="box" style="margin-bottom:-15px">
                <header class="panel_header" style="min-height: 10px !important;">
                    <h2 class="title pull-left">Import Documents</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                    </div>
                </header>

                <div class="content-body">
                    <div class="panel-body">
                        <div style="border:1px solid #ccc; border-radius:5px; margin-top:-15px; padding-bottom:15px;" class="col-md-12 box1">
                            <div class="col-md-12" style="margin-top:15px">
                                <div id="fine-uploader-manual-trigger"></div>
                                @*<div id="fine-uploader-manual-trigger1"></div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div role="tabpanel" class="tab-pane row" id="menu2" style="margin-top:-30px">
            
            <section class="box">
                <header class="panel_header" style="min-height: 10px !important;">
                    <h2 class="title pull-left">Multiple documents Upload</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                    </div>
                </header>

                <div class="content-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Team</label>
                                    <select class="form-control selectpicker" id="drp_TeamM"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="control-label">Document type</label>
                                    <select class="form-control selectpicker" id="drp_DocTypeM"></select>
                                </div>
                            </div>   
                            <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Filling Month</label>
                                <select class="form-control selectpicker" id="drp_FilingMonthM">
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                    <option value="13">N/A</option>
                                </select>
                            </div>
                        </div>            
                            <div class="col-md-4">
                                <div class="form-group compactModal">
                                    <label class="control-label">Keywords</label>
                                    <input name="txt_effectiveDate" type="text" id="txt_KeywordsM" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="box"  style="margin-bottom:-15px">
                <header class="panel_header" style="min-height: 10px !important;">
                    <h2 class="title pull-left">Import Documents</h2>  
                </header>
        
                <p class="uilabels text-lg">
                    <span class="label label-info" style="margin-top:-20px; margin-left:50px; margin-bottom:-10px">
                        <i class="fa fa-info"></i> 
                        Use L plus logNumber plus - at the beginning of the file name. e.g: L10- Document
                    </span>
                </p>

                <div class="content-body">
                    <div class="panel-body">
                        <div style="border:1px solid #ccc; border-radius:5px; padding-bottom:15px;" class="col-md-12 box1">
                            <div class="col-md-12" style="margin-top:15px">
                                <div id="fine-uploader-manual-trigger1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
      
        