﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
        "/Content/Shared/plugins/jquery-validation/additional-methods.min.js",
        "/Content/TheFirm/js/SDMigration.js"
    };
}

<section class="box">
    <header class="panel_header" style="min-height: 10px !important;">
        <h2 class="title pull-left">Files Sharedrive Migration</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>


    <div class="content-body" id="exampleis">
        <div class="panel panel-default">
            <div class="panel-body">
                
                @*New Directory*@

                <div class="col-md-12">
                    <div class="col-md-6 col-md-push-1">
                        <div class="form-group compactModal">
                            <label class="control-label">New Directory</label>
                            <input name="txt_effectiveDate" type="text" id="txt_SDDirctory" class="form-control">
                            
                        </div>
                    </div>

                    <div class="col-md-6 col-md-push-1" style="margin-top:27px;">
                        <button id="btnUpdate" type="button" class="btn btn-primary">Update Sharedrive</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
