﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
        "/Content/Shared/plugins/jquery-validation/additional-methods.min.js",
        "/Content/TheFirm/js/Search.js"
    };
}

<section class="box">
    <header class="panel_header" style="min-height: 10px !important;">
        <h2 class="title pull-left">Log ID SEARCH</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>


    <div class="content-body" id="exampleis">
        <div class="panel panel-default">
            <div class="panel-body">
                
                @*By Team*@
                <div class="col-md-4" style="margin-top:-10px">
                    <div class="form-group compactModal">
                        <label class="control-label">Team</label>
                        <select class="form-control selectpicker" id="drp_Team"></select>
                    </div>
                </div>

                 @*By Log Id*@
                <div class="col-md-4" style="margin-top:-10px">
                    <div class="form-group compactModal">
                        <label class="control-label">Log Identifier</label>
                        @*<select class="form-control selectpicker" id="drp_LogId"></select>*@

                        <div id="jqxWidget_LogID">
                            <div id="jqxdropdownbutton_list_logID">
                                <div style="border-color: transparent;" id="tbldropLogID"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                @*By SOEID*@
                <div class="col-md-4" style="margin-top:-10px">
                    <div class="form-group compactModal">
                        <label class="control-label">SOEID</label>
                        <select class="form-control selectpicker" id="drp_SOEID"></select>
                    </div>
                </div>

                @*By Document type*@
                <div class="col-md-4" style="margin-top:-10px">
                    <div class="form-group compactModal">
                        <label class="control-label">Document Type</label>
                        <select class="form-control selectpicker" id="drp_DocumentType"></select>
                    </div>
                </div>

                @*By Filing Month*@
                <div class="col-md-4" style="margin-top:-10px">
                    <div class="form-group compactModal">
                        <label class="control-label">Filing Month</label>
                        <select class="form-control selectpicker" id="drp_FilingMonth">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                            <option value="13">N/A</option>
                        </select>
                    </div>
                </div>

                @*By Filing year*@
                <div class="col-md-4" style="margin-top:-10px">
                    <div class="form-group compactModal">
                        <label class="control-label">Filing Year</label>
                        <select class="form-control selectpicker" id="drp_FilingYear"></select>
                    </div>
                </div>

                
                
                @*By Keyword*@
                <div class="col-md-4" style="margin-top:-10px">
                    <div class="form-group compactModal">
                        <label class="control-label">Keyword</label>
                        <input name="txt_effectiveDate" type="text" id="txt_Keywords" class="form-control">
                    </div>
                </div>

                @* Filing Date *@
                <div class="col-md-4" style="margin-top:-10px">
                    <div class="form-group compactModal">
                        <label class="control-label">Filing Date From</label>
                        <input name="txt_effectiveDate" type="text" id="txt_dueDateFrom" class="form-control hasDatepicker">
                    </div>
                </div>

                <div class="col-md-4" style="margin-top:-10px">
                    <div class="form-group compactModal">
                        <label class="control-label">To</label>
                        <input name="txt_effectiveDate" type="text" id="txt_dueDateTo" class="form-control hasDatepicker">
                    </div>
                </div>

                @* Filing Type *@
                <div class="col-md-12" style="margin-top:-10px">
                    @* SEARCH *@
                    <div class="pull-right" style="margin-top:3px;">
                        <button id="btnSearch" type="button" class="btn btn-success">SEARCH</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="box ">
    <header class="panel_header">
        <h2 class="title pull-left">Search Results</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>
    <div class="content-body">
        <div id="tbl_SearchResult"></div>
        <label id="tableRowCount" hidden="hidden"></label>
        <br />
        <a id="linkFile" class="btn btn-primary" href="/Content" target="_blank" style="visibility:hidden">Download</a>  
    </div>
</section>

<section class="box " id="DeletePanel">
    <header class="panel_header">
        <h2 class="title pull-left">Document Deletion Panel</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>

    <div class="content-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group compactModal">
                            <label class="control-label">Document Name</label>
                            <input name="txt_effectiveDate" type="text" id="txt_DocumentName" class="form-control" disabled="disabled">
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group compactModal">
                            <label class="control-label">Team</label>
                            <input name="txt_effectiveDate" type="text" id="txt_Team" class="form-control" disabled="disabled">
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="form-group compactModal">
                            <label class="control-label">Log identifier</label>
                            <input name="txt_effectiveDate" type="text" id="txt_LogID" class="form-control" disabled="disabled">
                        </div>
                    </div>
                    
                    @* DELETE *@
                    <div class="col-md-1">
                        <div class="pull-right" style="margin-top:27px;">
                            <button id="btnDeleteDoc" type="button" class="btn btn-danger">DELETE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>