﻿@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/SalesAndUse/css/style.css",
        "/Content/Shared/plugins/fine-uploader/fine-uploader-new.css"
    };
    ViewBag.JSLinks = new string[] {

        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/SalesAndUse/js/Admin.js",
         "/Content/SalesAndUse/js/_DBTable.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
        "/Content/Shared/plugins/jquery-validation/additional-methods.min.js"
    };
}


<section class="box">
    <div class="container second-level-menu  col-md-12 " style="margin-top: -80px; background-color:white;">
        <div class="row">
            <ul class="nav tag-switch" role="tablist">
                @*Legal Entity Tab*@
                <li role="presentation" class="active level1">
                    <a href="#second-level-menu1" role="tab" data-toggle="tab"><i class="fa fa-legal"></i>   Legal Entity</a>
                </li>
                @*State - Div - Sub Tab*@
                <li role="presentation" class="level1">
                    <a href="#second-level-menu2" role="tab" data-toggle="tab"><i class="fa fa-globe"></i>   State-Div-Sub</a>
                </li>
                @*P2P Tab*@
                <li role="presentation" class="level1">
                    <a href="#second-level-menu3" role="tab" data-toggle="tab"><i class="fa fa-dollar"></i>   P2P</a>
                </li>
                @*Payment Tab*@
                <li role="presentation" class="level1">
                    <a href="#second-level-menu4" role="tab" data-toggle="tab"><i class="fa fa-money"></i>   Payment</a>
                </li>
                @*LVID Tab*@
                <li role="presentation" class="level1">
                    <a href="#second-level-menu5" role="tab" data-toggle="tab"><i class="fa fa-truck"></i>   LVID</a>
                </li>
                @*Checklist Tab*@
                <li role="presentation" class="level1">
                    <a href="#second-level-menu6" role="tab" data-toggle="tab"><i class="fa fa-list-ul"></i>   Checklist</a>
                </li>

                <li class="pull-right tab-content level2">
                    @*Legal Entity Sub Menu*@
                    <ul class="list-inline tab-pane active" role="tabpanel" id="second-level-menu1">
                        <li role="presentation" class="active">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="Legal Entity" valueTable="tblAdmin_LegalEntity" tableid="idLegalEntity">LegalEntity</a>
                        </li>
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="Corporate Code" valueTable="tblAdmin_CorpCode" tableid="idCorpCode">CorpCode</a>
                        </li>
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="FEIN" valueTable="tblAdmin_FEIN" tableid="idFEIN">FEIN</a>
                        </li>
                    </ul>
                    @*State - Div - Sub Menu*@
                    <ul class="list-inline tab-pane" role="tabpanel" id="second-level-menu2">
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="State-Div-Sub" valueTable="tblAdmin_StateDivSub" tableid="idState">State-Div_Sub</a>
                        </li>
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="Type" valueTable="tblAdmin_Type" tableid="idType">Type</a>
                        </li>
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="Account" valueTable="tblAdmin_Account" tableid="idAccount">Account</a>
                        </li>
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="Jurisdiction" valueTable="tblAdmin_Jurisdiction" tableid="idJurisdiction">Jurisdiction</a>
                        </li>
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="Corporate Code" valueTable="tblAdmin_MonthDue" tableid="idMonthDue">MonthDue</a>
                        </li>
                    </ul>
                    @*P2P - Sub Menu*@
                    <ul class="list-inline tab-pane" role="tabpanel" id="second-level-menu3">
                        <li role="presentation">
                            <a href="#second-level-menu3-content1" role="tab" data-toggle="tab">LVID_Goc</a>
                        </li>
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="P2P Account" valueTable="tblAdmin_P2PAccount" tableid="idP2PAccount">P2P Account</a>
                        </li>
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="Commodity Code" valueTable="tblAdmin_CommodityCode" tableid="idCommodityCode">CommodityCode</a>
                        </li>
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="Vendor" valueTable="tblAdmin_P2PVendorSite" tableid="idVendorSite">Vendor</a>
                        </li>
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="Vendor Site Code" valueTable="tblAdmin_P2PVendorSite" tableid="idVendorSite">VendorSiteCode</a>
                        </li>
                    </ul>
                    @*Payment - Sub Menu*@
                    <ul class="list-inline tab-pane" role="tabpanel" id="second-level-menu4">
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="Payment Method" valueTable="tblAdmin_PaymentMethod" tableid="idPaymentMethod">PaymentMethod</a>
                        </li>
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="Payment Status" valueTable="tblAdmin_PaymentStatus" tableid="idPaymentStatus">PaymentStatus</a>
                        </li>
                        <li role="presentation">
                            <a href="#second-level-menu1-content1" role="tab" data-toggle="tab" value="Payment Type" valueTable="tblAdmin_PaymentType" tableid="idCorpCode">PaymentType</a>
                        </li>
                    </ul>
                    @*LVID - Sub Menu*@
                    <ul class="list-inline tab-pane" role="tabpanel" id="second-level-menu5">
                        <li role="presentation">
                            <a href="#second-level-menu5-content1" role="tab" data-toggle="tab">LVID</a>
                        </li>
                    </ul>
                    @*Checklist - Sub Menu*@
                    <ul class="list-inline tab-pane" role="tabpanel" id="second-level-menu6">
                        <li role="presentation">
                            <a href="#second-level-menu6-content1" role="tab" data-toggle="tab">Checklist</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                @*LegalEntity*@
                <div role="tabpanel" class="tab-pane active row" id="second-level-menu1-content1">
                    <div class="col-md-12 content-body" style="border:none; background-color:transparent;">

                        <div id="content-db-table"></div>
                    </div>
                </div>

                @*LVID-GOC*@
                <div role="tabpanel" class="tab-pane row" id="second-level-menu3-content1">
                    <div class="col-md-7 content-body" style="border:none; background-color:transparent;">
                        <div id="tbl_P2PLVID"></div>
                    </div>

                    <div class="col-md-5">
                        <div class="tag-box tag-box-v3">
                            <div class="col-md-11">
                                <div class="headline"><h3>Lvid-Gocs</h3></div>
                            </div>
                            <div class="col-md-1">
                                <button id="btnClearFields_goc_lvid" type="button" class="btn btn-xs btn-danger" style="border-radius:5px 5px 5px 5px;"><span class="glyphicon glyphicon-ban-circle" style="margin-top:2px;" title="Clean Fields"></span></button>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div id="jqxWidget" class="form-group">
                                        <div id="jqxdropdownbutton">
                                            <div style="border-color: transparent;" id="tblLVIDMasterDrop"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-2" style="margin-top:-15px;">
                                    <label class="control-label" for="txt_P2P_LVID_GOC_ID">ID</label>
                                    <input type="text" class="form-control" id="txt_P2P_LVID_GOC_ID" disabled>

                                </div>

                                <div class="col-md-10" style="margin-top:-15px;">
                                    <label class="control-label" for="txt_P2P_LVID_GOC">GOC</label>
                                    <input type="text" class="form-control" id="txt_P2P_LVID_GOC">

                                </div>

                                <div class="col-md-12">
                                    <label class="control-label" for="drp_P2P_LVID_Account">P2P Account</label>
                                    <select class="form-control selectpicker" id="drp_P2P_LVID_Account"></select>

                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="txt_P2P_LVID_CorpCode">P2P Corp Code</label>
                                    <input type="text" class="form-control" id="txt_P2P_LVID_CorpCode" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="txt_P2P_LVID_FEIN">FEIN</label>
                                    <input type="text" class="form-control" id="txt_P2P_LVID_FEIN" disabled>
                                </div>

                                <div class="col-md-12">

                                    <label class="control-label" for="txt_P2P_LVID_CompanyName">Company Name</label>
                                    <input type="text" class="form-control" id="txt_P2P_LVID_CompanyName">

                                    <label class="control-label" for="txt_P2P_LVID_LegalName">Legal Name</label>
                                    <input type="text" class="form-control" id="txt_P2P_LVID_LegalName" disabled>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" style="clear:both; margin-top:7px;">
                                    <ul class="list-group ">
                                        <li class="list-group-item" style="background-color:transparent !important; color:rgba(118, 118, 118, 1.0) !important; border-color: #e1e1e1;">
                                            Is this LVID-GOC activated?
                                            <div class="material-switch pull-right">
                                                <input id="chk_P2P_LVID_Active" name="chk_P2P_LVID_Active" type="checkbox" />
                                                <label for="chk_P2P_LVID_Active" class="label-success"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="col-md-12">

                                <div class="col-md-6">
                                    @* UPDATE BUTTON *@
                                    <button id="btnP2PLvidGoc_Update" type="button" class="btn btn-primary pull-right  btn-block btn-md " disabled>Update</button>
                                </div>

                                <div class="col-md-6">
                                    @* ADD NEW ITEM *@
                                    <button id="btnP2PLvidGoc_AddNew" type="button" class="btn btn-success pull-right  btn-block btn-md">Add New</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                @*LVID*@
                <div role="tabpanel" class="tab-pane row" id="second-level-menu5-content1">

                    <div class="col-md-7 content-body" style="border:none; background-color:transparent;">
                        <div id="tbl_LVID"></div>

                    </div>

                    <div class="col-md-5">
                        <div class="tag-box tag-box-v3">


                            <div class="col-md-11">
                                <div class="headline"><h3>Lvid</h3></div>
                            </div>
                            <div class="col-md-1">
                                <button id="btnClearFields_LVID" type="button" class="btn btn-xs btn-danger" style="border-radius:5px 5px 5px 5px;"><span class="glyphicon glyphicon-ban-circle" style="margin-top:2px;" title="Clean Fields"></span></button>
                            </div>


                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label" for="txt_LVID_LVID_ID">ID</label>
                                    <input type="text" class="form-control" id="txt_LVID_LVID_ID" disabled>
                                </div>

                                <div class="col-md-10">
                                    <label class="control-label" for="txt_LVID_LVID_LVID">LVID</label>
                                    <input type="text" class="form-control" id="txt_LVID_LVID_LVID">
                                </div>


                                <div class="col-md-12">
                                    <label class="control-label" for="drp_LVID_LVID_LegalEntity">Legal Entity</label>
                                    <select class="form-control selectpicker" id="drp_LVID_LVID_LegalEntity"></select>



                                    <label class="control-label" for="drp_LVID_LVID_P2PCorpCode">P2P Corp Code</label>
                                    <select class="form-control selectpicker" id="drp_LVID_LVID_P2PCorpCode"></select>

                                    <label class="control-label" for="drp_LVID_LVID_FEIN">FEIN</label>
                                    <select class="form-control selectpicker" id="drp_LVID_LVID_FEIN"></select>
                                </div>

                                <div class="col-md-12">
                                    <label class="control-label" for="txt_LVID_LVID_EntityID">Entity ID</label>
                                    <input type="text" class="form-control" id="txt_LVID_LVID_EntityID">
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <ul class="list-group ">
                                        <li class="list-group-item" style="background-color:transparent !important; color:rgba(118, 118, 118, 1.0) !important; border-color: #e1e1e1;">
                                            Is this LVID activated?
                                            <div class="material-switch pull-right">
                                                <input id="chk_LVID_LVID_Active" name="chk_LVID_LVID_Active" type="checkbox" />
                                                <label for="chk_LVID_LVID_Active" class="label-success"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    @* UPDATE BUTTON *@
                                    <button id="btnLvid_Update" type="button" class="btn btn-primary pull-right  btn-block btn-md " disabled>Update</button>
                                </div>

                                <div class="col-md-6">
                                    @* ADD NEW ITEM *@
                                    <button id="btnLvid_AddNew" type="button" class="btn btn-success pull-right  btn-block btn-md">Add New</button>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                @*Checklist*@
                <div role="tabpanel" class="tab-pane row" id="second-level-menu6-content1">
                    <div class="col-md-7 content-body" style="border:none; background-color:transparent;">
                        <div id="tbl_Checklist"></div>
                    </div>
                    <div class="col-md-5">
                        <div class="tag-box tag-box-v3">

                            <div class="col-md-11">
                                <div class="headline"><h3>Checklist</h3></div>
                            </div>
                            <div class="col-md-1">
                                <button id="btnClearFields_Checklist" type="button" class="btn btn-xs btn-danger" style="border-radius:5px 5px 5px 5px;"><span class="glyphicon glyphicon-ban-circle" style="margin-top:2px;" title="Clean Fields"></span></button>
                            </div>

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="control-label" for="txt_Checklist_Checklist_ID">ID</label>
                                    <input type="text" class="form-control" id="txt_Checklist_Checklist_ID" disabled>
                                </div>
                                <div class="col-md-8">

                                    <label class="control-label" for="drp_Checklist_Checklist_Type">Type</label>
                                    <select class="form-control selectpicker" id="drp_Checklist_Checklist_Type"></select>
                                </div>

                                <div class="col-md-12">
                                    <label class="control-label" for="txt_Checklist_Checklist_Checklist">Checklist</label>
                                    <input type="text" class="form-control" id="txt_Checklist_Checklist_Checklist">
                                    <label class="control-label" for="drp_Checklist_Checklist_Order">Order</label>
                                    <input type="text" class="form-control" id="txt_Checklist_Checklist_Order">
                                </div>
                            </div>
                            <div class="col-md-12">

                                <div class="form-group" style="clear:both; margin-top:7px;">
                                    <ul class="list-group ">
                                        <li class="list-group-item" style="background-color:transparent !important; color:rgba(118, 118, 118, 1.0) !important; border-color: #e1e1e1;">
                                            Is this Checklist activated?
                                            <div class="material-switch pull-right">
                                                <input id="chk_Checklist_Checklist_Active" name="chk_Checklist_Checklist_Active" type="checkbox" />
                                                <label for="chk_Checklist_Checklist_Active" class="label-success"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    @* UPDATE BUTTON *@
                                    <button id="btnChecklist_Update" type="button" class="btn btn-primary pull-right  btn-block btn-md " disabled>Update</button>
                                </div>

                                <div class="col-md-6">
                                    @* ADD NEW ITEM *@
                                    <button id="btnChecklist_AddNew" type="button" class="btn btn-success pull-right  btn-block btn-md">Add New</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

