﻿@{
    ViewBag.Title = "ComponentSheet";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/SalesAndUse/css/style.css",
        "/Content/Shared/plugins/fine-uploader/fine-uploader-new.css"
    };
    ViewBag.JSLinks = new string[] {

        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/SalesAndUse/js/ComponentSheet.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
        "/Content/Shared/plugins/jquery-validation/additional-methods.min.js"
    };
}



<section class="box ">
    <header class="panel_header">
        <h2 class="title pull-left">Component Sheet Module</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
            <a class="box_close fa fa-times"></a>
        </div>
    </header>
    <div class="content-body">
        <div id="tblComponentSheet">

        </div>

        <button id="btnComponentSheet_Download" type="button" class="btn btn-success pull-right">Download Excel</button>
    </div>
</section>