@{
    ViewBag.Title = "ELA Process";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/SalesAndUse/css/style.css",
        "/Content/Shared/plugins/fine-uploader/fine-uploader-new.css"
    };
    ViewBag.JSLinks = new string[] {

        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/SalesAndUse/js/ELA.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
        "/Content/Shared/plugins/jquery-validation/additional-methods.min.js"
    };
}

<script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector btn btn-primary">
                <div>Select File</div>
            </div>
            <button type="button" id="trigger-upload" class="btn btn-primary">
                <i class="fa fa-cloud-upload"></i> Upload ELA Feed File
            </button>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>
<style>
    #trigger-upload {
        color: white;
        background-color: #00ABC7;
        font-size: 14px;
        padding: 7px 20px;
        background-image: none;
    }

    #fine-uploader-manual-trigger .qq-upload-button {
        margin-right: 15px;
    }

    #fine-uploader-manual-trigger .buttons {
        width: 36%;
    }

    #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
        width: 60%;
    }
</style>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">Import ELA File</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>
    <div class="content-body">
        <div class="col-sm-12" style="margin-bottom:10px;">
            <div class="col-sm-2 pull-right">
                <div class="input-group">
                    <span class="input-group-addon">Year</span>
                    <input type="text" class="form-control col-sm-2 pull-right" id="txt_ImportYear">
                </div>
            </div>
            <div class="col-sm-2 pull-right">
                <div class="input-group">
                    <span class="input-group-addon">Month:</span>
                    <input type="text" class="form-control col-sm-2 pull-right" id="txt_ImportMonth">
                </div>
            </div>
        </div>

        <div id="fine-uploader-manual-trigger"></div>
    </div>
</section>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">Table Result</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>
    <div class="content-body">
        <ul class="nav nav-tabs left-aligned" role="tablist">
            @*Import Table*@
            <li role="presentation" id="tab1" class="active">
                <a href="#menu0" role="tab" data-toggle="tab"><i class=""></i>   Import Table</a>
            </li>
            @*Working Table*@
            <li role="presentation" id="tab1">
                <a href="#menu1" role="tab" data-toggle="tab"><i class=""></i>   Working Table</a>
            </li>
            @*Approval Table*@
            <li role="presentation" id="tab1">
                <a href="#menu2" role="tab" data-toggle="tab"><i class=""></i>   Approving Table</a>
            </li>
            @*Export Table*@
            <li role="presentation" id="tab2">
                <a href="#menu3" role="tab" data-toggle="tab"><i class=""></i>   Export Table</a>
            </li>
            @*Non Export*@
            <li role="presentation" id="tab3">
                <a href="#menu4" role="tab" data-toggle="tab"><i class=""></i>   Non Export Table</a>
            </li>
        </ul>

        <div class="tab-content" style="border:0px">
            @*Import Table*@
            <div role="tabpanel" class="tab-pane active row" id="menu0">
                <div id="tblImportTable"></div>
                <label id="TableImport" style="margin-top:15px;"></label>
            </div>

            @*Working Table*@
            <div role="tabpanel" class="tab-pane row" id="menu1">
                <div id="tblWorkingTable"></div>
                <button id="btnWorkingTable_Download" type="button" class="btn btn-success pull-left" style="margin-top:10px">Download Excel</button>
                <label id="TableWorkingImport" class="pull-right" style="margin-top:15px;"></label>
                
            </div>

            @*Working Table*@
            <div role="tabpanel" class="tab-pane row" id="menu2">
                <div id="tblApprovalTable"></div>
                <button id="btnApprovalTable_Download" type="button" class="btn btn-success pull-left" style="margin-top:10px">Download Excel</button>
                <label id="TableApprovalImport" class="pull-right" style="margin-top:15px;"></label>
            </div>

            @*Export Table*@
            <div role="tabpanel" class="tab-pane row" id="menu3">
                <div id="tblExportTable"></div>
                <button id="btnExportTable_Download" type="button" class="btn btn-success pull-left" style="margin-top:10px">Download Excel</button>
                <label id="TableExportImport" class="pull-right" style="margin-top:15px;"></label>
                
            </div>

            @*Non Export Table*@
            <div role="tabpanel" class="tab-pane row" id="menu4">
                <div id="tblNonExportTable"></div>
                <button id="btnNonExportTable_Download" type="button" class="btn btn-success pull-left" style="margin-top:10px">Download Excel</button>
                <label id="TableNonExportImport" class="pull-right" style="margin-top:15px;"></label>
                
            </div>
        </div>
    </div>
</section>

<section class="box">
    <div class="content-body">
        <div class="row" style="margin-top:15px; margin-bottom:-10px;">
            <div class="col-lg-6">
                <button id="btnjournal" type="button" class="btn btn-success pull-left  btn-block btn-md ">Generate ELA Journal</button>  
            </div>

            <div class="col-lg-6">
                <button id="btnVertexFile" type="button" class="btn btn-primary pull-left  btn-block btn-md ">Generate Vertex File</button>
            </div>
        </div>
    </div>
</section>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">History Export</h2>
    </header>
    <div class="content-body">
        <div class="row" style="margin-top:15px; margin-bottom:-10px;">
            <div class="col-md-12">
                <div class="col-md-2 input-group-lg">
                    @*<div class="form-group compactModal">*@
                    @*<label class="control-label">Period</label>*@
                    <select class="form-control selectpicker select" id="drop_Periods" style="text-align:center" style="height:100%">
                        @*<select class="js-example-basic-multiple" style="width:100%" multiple="multiple" id="drop_Periods">*@
                    </select>
                    @*</div>*@
                </div>

                @* DELETE *@
                <div class="col-md-5">
                    <div>
                        <button id="btnDownImport" type="button" class="btn btn-warning pull-right  btn-block btn-sm ">Download Import Table</button>
                    </div>

                </div>
                <div class="col-md-5">
                    <div>
                        <button id="btnDownJournal" type="button" class="btn btn-purple pull-right  btn-block btn-sm ">Download ELA Journal</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
