﻿@{
    ViewBag.Title = "Filing";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/SalesAndUse/css/style.css",
        "/Content/Shared/plugins/fine-uploader/fine-uploader-new.css"
    };
    ViewBag.JSLinks = new string[] {

        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/SalesAndUse/js/Filing.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
        "/Content/Shared/plugins/jquery-validation/additional-methods.min.js"
    };
}


@*<section class="box" style="margin-top:-80px;">*@
<section class="box">
    <header class="panel_header" style="min-height: 10px !important;">
        <h2 class="title pull-left">Log ID SEARCH</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>


    <div class="content-body" id="exampleis">
        <div class="panel panel-default">
            <div class="panel-body">

                @* LOG ID *@
                <div class="form-group col-md-6">
                    <div class="form-group compactModal">
                        <label class="control-label">LOG ID</label>
                        <div id="jqxWidget">
                            <div id="jqxdropdownbutton_LOGID">
                                <div style="border-color: transparent;" id="tblLOGID"></div>
                            </div>
                        </div>
                    </div>
                </div>

                @* LVID *@
                <div class=" form-group col-md-6">
                    <div class="form-group compactModal">

                        <div class="col-md-11" style="padding-left:0px !important;">
                            <label class="control-label">LVID</label>
                        </div>
                        @* CLEAN FIELDS *@
                        <div class="col-md-1" style="padding-right:0px !important;">
                            <button id="btnClearFields" type="button" class="btn btn-xs btn-danger pull-right" style=" float:right !important;"><span class="glyphicon glyphicon-ban-circle" style="margin-top:2px;" title="Clean Fields"></span></button>
                        </div>
                        <div id="jqxWidget">
                            <div id="jqxdropdownbutton_LVID">
                                <div style="border-color: transparent;" id="tblLVID"></div>
                            </div>
                        </div>
                    </div>
                </div>

                @* CORP CODE *@
                <div class="col-md-3">
                    <div class="form-group compactModal">
                        <label class="control-label">CORP CODE</label>
                        <select class="form-control selectpicker" id="drp_corpcode"></select>

                    </div>
                </div>

                @* FEIN *@
                <div class="col-md-3">
                    <div class="form-group compactModal">
                        <label class="control-label">FEIN</label>
                        <select class="form-control selectpicker" id="drp_fein"></select>

                    </div>
                </div>

                @* LEGAL ENTITY *@
                <div class="col-md-3">
                    <div class="form-group compactModal">
                        <label class="control-label">LEGAL ENTITY</label>
                        <select class="form-control selectpicker" id="drp_legalentity"></select>

                    </div>
                </div>

                @* STATE *@
                <div class="col-md-3">
                    <div class="form-group compactModal">
                        <label class="control-label">STATE</label>
                        <select class="form-control selectpicker" id="drp_state"></select>

                    </div>
                </div>

                @* JURISDICTION *@
                <div class="col-md-3">
                    <div class="form-group compactModal">
                        <label class="control-label">JURISDICTION</label>
                        <select class="form-control selectpicker" id="drp_jurisdiction"></select>

                    </div>
                </div>

                @* ACCOUNT *@
                <div class="col-md-3">
                    <div class="form-group compactModal">
                        <label class="control-label">ACCOUNT</label>
                        <select class="form-control selectpicker" id="drp_account"></select>

                    </div>
                </div>

                @* FREQUENCY *@
                <div class="col-md-3">
                    <div class="form-group compactModal">
                        <label class="control-label">FREQUENCY</label>
                        <select class="form-control selectpicker" id="drp_frequency"></select>

                    </div>
                </div>

                @* PERSON RESPONSIBLE *@
                <div class="col-md-3">
                    <div class="form-group compactModal">
                        <label class="control-label">RESPONSIBLE</label>
                        <select class="form-control selectpicker" id="drp_responsable"></select>

                    </div>
                </div>

                @* DUE DATE FROM *@
                <div class="col-md-3">
                    <div class="form-group compactModal">
                        <label class="control-label">DUE DATE FROM</label>
                        <input name="txt_effectiveDate" type="text" id="txt_dueDateFrom" class="form-control hasDatepicker">
                    </div>
                </div>

                @* DUE DATE TO *@
                <div class="col-md-3">
                    <div class="form-group compactModal">
                        <label class="control-label">DUE DATE TO</label>
                        <input name="txt_effectiveDate" type="text" id="txt_dueDateTo" class="form-control hasDatepicker">
                    </div>
                </div>

                @* Filing Type *@
                <div class="col-md-6">
                    <div class="form-group compactModal">
                        <label class="control-label">TYPE</label>
                    </div>

                    <select class="js-example-basic-multiple" style="width:100%" multiple="multiple" id="drp_type"></select>

                    <div class="checkbox checkbox-primary pull-left">
                        <input id="ckh_type_selectAll" type="checkbox">
                        <label for="ckh_type_selectAll">
                            Select All
                        </label>
                    </div>

                    @* SEARCH *@
                    <div class="pull-right" style="margin-top:3px;">
                        <button id="btnSearch" type="button" class="btn btn-success">SEARCH</button>
                    </div>
                </div>
            </div>
        </div>







    </div>
</section>

<section class="box ">
    <header class="panel_header">
        <h2 class="title pull-left">Log ID Results</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>
    <div class="content-body">
        <div id="tbl_JurisdictionLocationResults"></div>
        <label id="tableRowCount"></label>
        <button type="button" class="form-control btn btn-success pull-right" id="btnExportExcel" style="width:200px; height:20px; margin-top: 10px;">
            Download to Excel
        </button>
    </div>

</section>

