﻿@{
    ViewBag.Title = "FlatFile";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/SalesAndUse/css/style.css",
        "/Content/Shared/plugins/fine-uploader/fine-uploader-new.css"
    };
    ViewBag.JSLinks = new string[] {

        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/SalesAndUse/js/NewFlatFile.js",
        "/Content/SalesAndUse/js/FlatFile.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
        "/Content/Shared/plugins/jquery-validation/additional-methods.min.js"
    };
}


<section class="box ">
    <header class="panel_header">
        <h2 class="title pull-left">Log ID Results</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>
    <div class="content-body">
        <div id="tbl_FlatFile"></div>
        <div class="form-group ">
            <button id="btnJurisdiction_ManageFilings" type="button" class="btn btn-info pull-right" onclick="showNewFlatFileModal()">Create Flat File</button>
            <button id="btnPlayback" type="button" class="btn btn-success " onclick="showPlaybackModal()">Playback</button>
        </div>
    </div>
</section>

