﻿

<form id="formModalComponentSheet" style="padding:0px !important;">

    <div class="col-md-12">
        <div class="col-md-3">
            @*[idComponentSheet]*@
            <label class="control-label" for="txt_componentId">Component ID</label>
            <input type="text" class="form-control" id="txt_componentId" value="@(Model["idComponentSheet"])" disabled>
        </div>
        <div class="col-md-3">
            @*[idJurisdictionLocation]*@
            <label class="control-label" for="txt_logId">LOG ID</label>
            <input type="text" class="form-control" id="txt_logId"  value="@(Model["idJurisdictionLocation"])" disabled>
        </div>
        <div class="col-md-3">
            @*[onlineUserId]*@
            <label class="control-label" for="txt_onlineUserId">Online User ID</label>
            <input type="text" class="form-control" id="txt_onlineUserId"  value="@(Model["onlineUserId"])" >
        </div>
        <div class="col-md-3">
            @*[onlinePassword]*@
            <label class="control-label" for="txt_onlinePassword">Online Password</label>
            <input type="text" class="form-control" id="txt_onlinePassword"  value="@(Model["onlinePassword"])" >
        </div>
        <div class="col-md-12">
            @*[website]*@
            <label class="control-label" for="txt_website">Website</label>
            <input type="text" class="form-control" id="txt_website"  value="@(Model["website"])" style="color:blue; text-decoration: underline;" >
        </div>
        <div class="col-md-3">
            @*[bankAccount]*@
            <label class="control-label" for="txt_bankAccount">Bank Account</label>
            <input type="text" class="form-control" id="txt_bankAccount"  value="@(Model["bankAccount"])" >
        </div>
        <div class="col-md-3">
            @*[routingNumber]*@
            <label class="control-label" for="txt_routingNumber">Routing Number</label>
            <input type="text" class="form-control" id="txt_routingNumber"  value="@(Model["routingNumber"])" >
        </div>
        <div class="col-md-3">
            @*[bankInfo]*@
            <label class="control-label" for="txt_bankInformation">Bank Information</label>
            <input type="text" class="form-control" id="txt_bankInformation"  value="@(Model["bankInfo"])" >
        </div>
        <div class="col-md-3">
            @*[accrualComponent]*@
            <label class="control-label" for="txt_accrualComponent">Accrual Component</label>
            <input type="text" class="form-control" id="txt_accrualComponent"  value="@(Model["accrualComponent"])" >
        </div>
        <div class="col-md-3">
            @*[paymentBookedThru]*@
            <label class="control-label" for="txt_paymentBooked">Payment Booked</label>
            <input type="text" class="form-control" id="txt_paymentBooked"  value="@(Model["paymentBookedThru"])" >
        </div>
        <div class="col-md-3">
            @*[webTracking]*@
            <label class="control-label" for="txt_webTracking">Web Tracking</label>
            <input type="text" class="form-control" id="txt_webTracking"  value="@(Model["webTracking"])" >
        </div>
        <div class="col-md-3">
            @*[contactInformation]*@
            <label class="control-label" for="txt_contactInformation">Contact Information</label>
            <input type="text" class="form-control" id="txt_contactInformation"  value="@(Model["contactInformation"])" >
        </div>
        <div class="col-md-3">
            @*[mailingAddress]*@
            <label class="control-label" for="txt_mailingAddress">Mailing Address</label>
            <input type="text" class="form-control" id="txt_mailingAddress"  value="@(Model["mailingAddress"])" >
        </div>
        <div class="col-md-12">
            @*[comments]*@
            <label class="control-label" for="txt_comments">Comments</label>
            <input type="text" class="form-control" id="txt_comments"  value="@(Model["comments"])" >
        </div>
        <div class="col-md-3">
            @*[createdBy]*@
            <label class="control-label" for="txt_createdBy">Created By</label>
            <input type="text" class="form-control" id="txt_createdBy"  disabled  value="@(Model["createdBy"])" >
        </div>
        <div class="col-md-3">
            @*[createdDate]*@
            <label class="control-label" for="txt_createdDate">Created Date</label>
            <input type="text" class="form-control" id="txt_createdDate"  disabled  value="@(Model["createdDate"])" >
        </div>
        <div class="col-md-3">
            @*[updatedBy]*@
            <label class="control-label" for="txt_updatedBy">Updated By</label>
            <input type="text" class="form-control" id="txt_updatedBy"  disabled  value="@(Model["updatedBy"])" >
        </div>
        <div class="col-md-3">
            @*[updatedDate]*@
            <label class="control-label" for="txt_updatedDate">Updated Date</label>
            <input type="text" class="form-control" id="txt_updatedDate"  disabled  value="@(Model["updatedDate"])" >
        </div>
    </div>


</form>

     @*
      ,
      ,
      ,[website]
      ,[bankAccount]
      ,[routingNumber]
      ,[bankInfo]
      ,[accrualComponent]
      ,[paymentBookedThru]
      ,[webTracking]
      ,[contactInformation]
      ,[mailingAddress]
      ,[comments]
      ,[createdBy]
      ,[createdDate]
      ,[updatedBy]
      ,[updatedDate]*@








