﻿


<form id="formModalFlatFile" style="padding:0px !important;">

    <div style="border:1px solid #ccc; border-radius:5px; margin-top:15px; padding-bottom:15px;" class="col-md-12 box1">
            <h5>Flat File TXT:</h5>
            <div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">Flat File Name: </label>
                </div>
                <div class="col-md-6">
                    <label class="control-label" id="lblFlatFileName">@(Model["flatfileName"])</label>
                </div>


                <textarea class="form-control" rows="1" id="txt_flatfile_header" disabled></textarea>
                <textarea class="form-control" rows="12" id="txt_flatfile_invoice" disabled></textarea>
                <textarea class="form-control" rows="1" id="txt_flatfile_footer" disabled></textarea>
                <button id="btnDownloadFF" type="button" onclick="downloadFF();" class="btn btn-success pull-right">Download Flat File</button>
            </div>
        </div>
</form>









