﻿

<form id="formModalFiling" style="padding:0px !important;">

    <span class="label label-default">
        <label class="control-label spanPadd compactInput"><b>TYPE:&nbsp;&nbsp;@(Model["type"])</b></label>
        <label class="control-label spanPadd compactInput"><b>STATE:&nbsp;&nbsp;@(Model["state"])</b></label>
        <label class="control-label spanPadd compactInput"><b>JURISDICTION:&nbsp;&nbsp;@(Model["jurisdiction"])</b></label>
        <label class="control-label spanPadd compactInput"><b>LVID:&nbsp;&nbsp;@(Model["lvid"])</b></label>
        <label class="control-label spanPadd compactInput"><b>CORP CODE:&nbsp;&nbsp;@(Model["corpCode"])</b></label>
        <label class="control-label spanPadd compactInput"><b>FEIN:&nbsp;&nbsp;@(Model["fein"])</b></label>
        <label class="control-label spanPadd compactInput"><b>FREQUENCY:&nbsp;&nbsp;@(Model["frequency"])</b></label>
        <label class="control-label spanPadd compactInput"><b>LEGAL ENTITY:&nbsp;&nbsp;@(Model["legalEntityName"])</b></label>
    </span>

    <div class="col-md-12">
        @*FILING HEADERS*@
        <div class="row" style="margin-top:10px; text-align:center;">

            <div class="col-md-2 nopaddingCols compactInput">
                @*Filing Status*@
                <div class="form-group ">

                    <div class="col-md-2 nopaddingCols">
                        <label for="lbllogID" class="control-label labelsCenter">
                            Edit
                        </label>
                    </div>
                    <div class="col-md-10 nopaddingCols">
                        <label for="lbllogID" class="control-label labelsCenter">
                            Status
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-1 nopaddingCols compactInput">
                @*DueDate*@
                <div class="form-group ">
                    <label for="lbllogID" class="control-label labelsCenter">
                        Due Date
                    </label>
                </div>
            </div>
            <div class="col-md-1 nopaddingCols compactInput">
                @*Total*@
                <div class="form-group ">
                    <label for="lbllogID" class="control-label labelsCenter">
                        Total
                    </label>
                </div>
            </div>
            <div class="col-md-1 nopaddingCols compactInput">
                @*Prepared By*@
                <div class="form-group ">
                    <label for="lbllogID" class="control-label labelsCenter">
                        Preparer
                    </label>
                </div>
            </div>
            <div class="col-md-1 nopaddingCols compactInput">
                @*Payment - Available*@
                <div class="form-group ">

                    <div class="col-md-6 nopaddingCols">
                        <label for="lbllogID" class="control-label labelsCenter">
                            PY
                        </label>
                    </div>
                    <div class="col-md-6 nopaddingCols">
                        <label for="lbllogID" class="control-label labelsCenter">

                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-1 nopaddingCols compactInput">
                @*Sent to P2P - Review*@
                <div class="form-group ">

                    <div class="col-md-4 nopaddingCols">
                        <label for="lbllogID" class="control-label labelsCenter">
                            RV
                        </label>
                    </div>
                    <div class="col-md-8 nopaddingCols">
                        <label for="lbllogID" class="control-label labelsCenter">
                            P2P
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-1 nopaddingCols compactInput">
                @*Last Reviewed By*@
                <div class="form-group ">
                    <label for="lbllogID" class="control-label labelsCenter">
                        Reviewer
                    </label>
                </div>
            </div>
            <div class="col-md-1 nopaddingCols compactInput">
                @*Mail*@
                <div class="form-group ">

                    <div class="col-md-4 nopaddingCols">
                        <label for="lbllogID" class="control-label labelsCenter">
                            Mail
                        </label>
                    </div>
                    <div class="col-md-8 nopaddingCols">
                        <label for="lbllogID" class="control-label labelsCenter">
                            Mailed
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-1 nopaddingCols compactInput">
                @*ACH*@
                <div class="form-group ">
                    <label for="lbllogID" class="control-label labelsCenter">
                        ACH
                    </label>
                </div>
            </div>

            <div class="col-md-2 nopaddingCols compactInput inlineButtons">

                <div class="form-group ">
                    @*Comment*@
                    <div class="col-md-3 nopadding inlineButtons">
                        <label for="lbllogID" class="control-label labelsCenter"> </label>
                    </div>
                    @*Rejection Comment*@
                    <div class="col-md-3 nopadding inlineButtons">
                        <label for="lbllogID" class="control-label labelsCenter"> </label>
                    </div>
                    @*Checklist*@
                    <div class="col-md-3 nopadding inlineButtons">
                        <label for="lbllogID" class="control-label labelsCenter"> </label>
                    </div>
                    @*Print Coversheet*@
                    <div class="col-md-3 nopadding inlineButtons">
                        <label for="lbllogID" class="control-label labelsCenter"> </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="filingsDetails">
        </div>


        @* EDIT FILINGS *@
        <div class="filingdashmodal modalAutoCenter" id="editpopup">
            <header>
                <h3>Filing Edit</h3>

                <span class="label label-default">
                    <label class="control-label compactInput spanPadd"><b>TYPE:&nbsp;&nbsp;</b>@(Model["type"])</label>
                    <label class="control-label compactInput spanPadd"><b>STATE:&nbsp;&nbsp;</b>@(Model["state"])</label>
                    <label class="control-label compactInput spanPadd"><b>JURISDICTION:&nbsp;&nbsp;</b> @(Model["jurisdiction"])</label>
                    <label class="control-label compactInput spanPadd" id="lvidtext"><b>LVID:&nbsp;&nbsp;</b>@(Model["lvid"])</label>
                    <label class="control-label compactInput spanPadd"><b>CORP CODE:&nbsp;&nbsp;</b>@(Model["corpCode"])</label>
                    <label class="control-label compactInput spanPadd"><b>FEIN:&nbsp;&nbsp;</b>@(Model["fein"])</label>
                    <label class="control-label compactInput spanPadd"><b>FREQUENCY:&nbsp;&nbsp;</b>@(Model["frequency"])</label>
                </span>
            </header>
            <div>
                <span class="filingdhashmodalclose" id="close">&times;</span>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label" for="drp_filing_type">Filing Type</label>
                        <select class="form-control selectpicker" id="drp_filing_type">
                            <option value="0">Select a Filing Type</option>
                            <option value="BAU Filing">BAU Filing</option>
                            <option value="Amendment to a Filing">Amendment to a Filing</option>
                            <option value="Filing Not Required">Filing Not Required</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label" for="txt_duedate2">DueDate</label>
                        <input type="text" class="form-control" id="txt_duedate2" disabled>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" for="txt_filingId">ID</label>
                        <input type="text" class="form-control" id="txt_filingId" disabled>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label" for="txt_totaldue">TotalDue</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" id="txt_totaldue">
                            @*<input type="number" class="form-control" id="txt_totaldue" onkeypress="return isNumberKey(event,this)">*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="txt_taxsavings">Adjustments</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" id="txt_taxsavings">
                            @*<input type="text" class="form-control" id="txt_taxsavings" onkeypress="return isNumberKey(event,this)">*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="txt_preparedBy">Prepared by</label>
                        <input type="text" class="form-control" id="txt_preparedBy" disabled>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="txt_status">Status</label>
                        <input type="text" class="form-control" id="txt_status" disabled>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label" for="txt_comments_edit">Comments</label>
                        <textarea class="form-control" rows="3" id="txt_comments_edit" disabled></textarea>
                    </div>

                    <div class="col-md-12">
                        <input type="text" class="form-control" id="txt_newComment" placeholder="Please enter a comment">
                    </div>

                    <button type="button" class="btn btn-primary pull-right" style="margin-top: 10px;" id="btn_edit_save" onclick="filingEditSave()">Save</button>
                    <label class="control-label turnToBold" id="lblMessageEdit"></label>
                </div>
            </div>
        </div>


        @* PAYMENTS *@
        @*style=" margin-top:-100px" PRODUCTION*@
        <div class="filingdashmodal modalAutoCenter" id="paymentpopup">
            <header>
                <h3>Filing Payment</h3>
                <span class="label label-default">
                    <b style="font-weight:bold; font-size:14px;">FILING ID:&nbsp;&nbsp;</b><label id="payment_filingid" class="control-label spanPadd compactInput" style="font-weight:bold;"></label>
                    <b style="font-weight:bold; font-size:14px;">ACH:&nbsp;&nbsp;</b><label id="payment_achnot" class="control-label spanPadd compactInput" style="font-weight:bold;"></label>
                    <b style="font-weight:bold; font-size:14px;">DUE DATE:&nbsp;&nbsp;</b><label id="payment_duedate" class="control-label spanPadd compactInput" style="font-weight:bold;"></label>
                    <b style="font-weight:bold; font-size:14px;">TOTAL DUE:&nbsp;&nbsp;</b> <label id="payment_totaldue" class="control-label spanPadd compactInput" style="font-weight:bold;"></label>
                    <b style="font-weight:bold; font-size:14px;">ADJUSTMENTS:&nbsp;&nbsp;</b><label id="payment_taxsavings" class="control-label spanPadd compactInput" style="font-weight:bold;"></label>
                    <b style="font-weight:bold; font-size:14px;">TOTAL PAYMENTS:&nbsp;&nbsp;</b><label id="payment_totalpayments" class="control-label spanPadd compactInput" style="font-weight:bold;"></label>
                    <b style="font-weight:bold; font-size:14px;">TOTAL REMAIN:&nbsp;&nbsp;</b><label id="payment_totalremain" class="control-label spanPadd compactInput" style="font-weight:bold;"></label>
                </span>

                <button id="btnClearFields_payments" type="button" onclick="clearPayments()" class="btn btn-xs btn-danger pull-right" style="border-radius:5px 5px 5px 5px; margin-right: 27px;"><span class="glyphicon glyphicon-ban-circle" style="margin-top:2px;" title="Clean Fields"></span></button>

            </header>
            <div>
                <span class="filingdhashmodalclose" id="closePayment">&times;</span>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label" for="drp_paymentCategory">Payment Category</label>
                        <select class="form-control selectpicker" id="drp_paymentCategory">
                            <option value="BAU">BAU</option>
                            <option value="Interest">Interest</option>
                            <option value="Late Payment Penalty">Late Payment Penalty</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label" for="drp_paymentMethod">Payment Method</label>
                        <select class="form-control selectpicker" id="drp_paymentMethod" onchange="paymentMethodChange()">options</select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label" for="txt_paymentAmount">Payment Amount</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" name="txt_paymentAmount" class="form-control" fid="filingUID" id="txt_paymentAmount">
                        </div>
                    </div>

                    <div class="col-md-1">
                        <label class="control-label" for="txt_paymentId">ID</label>
                        <input type="text" name="txt_paymentId" class="form-control" id="txt_paymentId" disabled>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label" for="txt_paymentp2plvid">P2P LVID</label>
                        <div id="jqxWidget_P2PLVID">
                            <div id="jqxdropdownbutton_payment_p2plvid">
                                <div style="border-color: transparent;" id="tblPaymentP2PLvid"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label" for="txt_paymentp2plvid2">P2P LVID</label>
                        <input type="text" name="txt_paymentp2plvid2" class="form-control" id="txt_paymentp2plvid2" disabled>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" for="txt_paymentGoc">GOC</label>
                        <input type="text" name="txt_paymentGOC" class="form-control" id="txt_paymentGOC" disabled>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" for="txt_paymentAccount">Account</label>
                        <input type="text" name="txt_paymentAccount" class="form-control" id="txt_paymentAccount" disabled>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label" for="txt_paymentvendorsite">Vendor</label>
                        <div id="jqxWidget_VendorSite">
                            <div id="jqxdropdownbutton_payment_vendorsite">
                                <div style="border-color: transparent;" id="tblPaymentVendorSite"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-10">
                        <label class="control-label" for="txt_payment_comments">Comments</label>
                        <textarea class="form-control" rows="3" id="txt_payment_comments" disabled placeholder="No comments..."></textarea>
                        <input type="text" style="margin-top:-6px;" class="form-control" id="txt_newPaymentComment" placeholder="Please enter a comment">
                    </div>
                    <div class="col-md-2">
                        <br />
                        <button id="btn_payment_add_main" onclick="clickPaymentAdd()" type="button" class="btn btn-primary pull-right" style="margin-top: 10px;">Add Payment</button>
                        <button id="btn_payment_edit_main" onclick="clickPaymentUpdate()" type="button" class="btn btn-success pull-right" style="margin-top: 10px;">Edit Payment</button>
                    </div>
                </div>

                @* DISPLAY PAYMENT LIST *@
                <div class="col-md-12" style="overflow-y: scroll; height: 250px;">
                    <div class="col-md-12" id="divPaymentListNames">
                        <div class="row" style="margin-top:10px; text-align:center;">

                            <div class="col-md-1 nopaddingCols compactInput">
                                @*Edit*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter">
                                        Edit
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2 nopaddingCols compactInput">
                                @*Category*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter">
                                        Category
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2 nopaddingCols compactInput">
                                @*Payment Method*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter">
                                        Payment Method
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-1 nopaddingCols compactInput">
                                @*Amount*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter">
                                        Amount
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-1 nopaddingCols compactInput">
                                @*Sent To P2P*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter">
                                        Sent To P2P
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-1 nopaddingCols compactInput">
                                @*P2P LVID*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter">
                                        P2P LVID
                                    </label>
                                </div>
                            </div>

                            

                            <div class="col-md-1 nopaddingCols compactInput">
                                @*P2P Account No*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter">
                                        P2P Account No
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-1 nopaddingCols compactInput">
                                @*P2P GOC*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter">
                                        P2P GOC
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-1 nopaddingCols compactInput">
                                @*Vendor*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter">
                                        Vendor
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-1 nopaddingCols compactInput">
                                @*Vendor Site Code*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter">
                                        Site Code
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="divPaymentList">
                    </div>
                </div>
                <button id="btn_payment_submitPayment" onclick="clickSubmitPayment()" type="button" class="btn btn-success pull-right" style="margin-top: 10px;">Submit Payment</button>
                <label class="control-label turnToBold" id="lblPaymentEdit" style="margin-top:10px;"></label>
            </div>
        </div>


        @* REVIEW *@
        <div class="filingdashmodal modalAutoCenter" id="reviewpopup">
            <header>
                <h3>Review Filing</h3>
                <span class="label label-default">
                    <b style="font-weight:bold; font-size:14px;">FILING ID:&nbsp;&nbsp;</b><label id="review_filingid" class="control-label  spanPadd compactInput"></label>
                    <b style="font-weight:bold; font-size:14px;">TYPE:&nbsp;&nbsp;</b><label class="control-label  spanPadd compactInput">@(Model["type"])</label>
                    <b style="font-weight:bold; font-size:14px;">STATE:&nbsp;&nbsp;</b><label class="control-label  spanPadd compactInput">@(Model["state"])</label>
                    <b style="font-weight:bold; font-size:14px;">JURISDICTION:&nbsp;&nbsp;</b> <label class="control-label  spanPadd compactInput">@(Model["jurisdiction"])</label>
                    <b style="font-weight:bold; font-size:14px;">LVID:&nbsp;&nbsp;</b><label class="control-label  spanPadd compactInput">@(Model["lvid"])</label>
                    <b style="font-weight:bold; font-size:14px;">CORP CODE:&nbsp;&nbsp;</b><label class="control-label  spanPadd compactInput">@(Model["corpCode"])</label>
                    <b style="font-weight:bold; font-size:14px;">FEIN:&nbsp;&nbsp;</b><label class="control-label  spanPadd compactInput">@(Model["fein"])</label>
                    <b style="font-weight:bold; font-size:14px;">FREQUENCY:&nbsp;&nbsp;</b><label class="control-label  spanPadd compactInput">@(Model["frequency"])</label>
                    <b style="font-weight:bold; font-size:14px;">COMMODITY:&nbsp;&nbsp;</b><label id="lbl_rv_commodity" class="control-label  spanPadd compactInput">@(Model["commodity"])</label>
                    <b style="font-weight:bold; font-size:14px;">TOTAL:&nbsp;&nbsp;</b><label id="lbl_rv_total" class="control-label spanPadd compactInput"></label>

                </span>
            </header>
            <div>
                <span class="filingdhashmodalclose" id="closeReview">&times;</span>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label" for="drp_reviewStatus">Status</label>
                        <select class="form-control selectpicker" id="drp_reviewStatus" onchange="reviewReasonChange()">
                            <option value="Approved">Approved</option>
                            <option value="Rejected">Rejected</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="col-md-12" style="display: none;" id="divReviewerReject">

                        <label class="control-label" for="drp_reviewRejectedBy">Rejected By</label>
                        <select class="form-control selectpicker" id="drp_reviewRejectedBy">
                            <option value="0">Select rejected by</option>
                            <option value="Reviewer">Reviewer</option>
                            <option value="State">State</option>
                            <option value="P2P">P2P</option>
                        </select>

                        <label class="control-label" for="drp_reviewRejectedReason">Rejected Reason</label>
                        <select class="form-control selectpicker" id="drp_reviewRejectedReason">options</select>

                        <label class="control-label" for="txt_review_rejectedDescription">Reject Description</label>
                        <textarea class="form-control" rows="3" id="txt_review_rejectedDescription"></textarea>

                    </div>
                    <label class="control-label turnToBold" id="lblSaveMessage" style="color:red"></label>
                    <button type="button" class="btn btn-primary pull-right" style="margin-top: 10px;" onclick="saveReview()" id="btnReviewSave">Save Review</button>
                </div>

                @* DISPLAY REJECTION LIST *@
                <div class="col-md-12" id="divRejectionList">

                </div>

            </div>



        </div>


        @* MAIL *@
        <div class="filingdashmodal modalAutoCenter" id="mailpopup">
            <header>
                <h3>Mail Filing</h3>
                <span class="label label-default">
                    <b style="font-weight:bold; font-size:14px;">DUE DATE:&nbsp;&nbsp;</b><label id="review_duedate" class="control-label spanPadd compactInput"></label>
                    <b style="font-weight:bold; font-size:14px;">FILING ID:&nbsp;&nbsp;</b><label id="mail_filingid" class="control-label spanPadd compactInput"></label>
                </span>
            </header>
            <div>
                <span class="filingdhashmodalclose" id="closeMail">&times;</span>

                <div class="col-md-12">
                    <label class="control-label" for="txt_mailedDate">Mailed Date</label>
                    <input type="text" class="form-control" id="txt_mailedDate" value="">
                </div>
                <div class="col-md-12">
                    <label class="control-label" for="drp_mailedBy">Mailed By</label>
                    <select class="form-control selectpicker" id="drp_mailedBy">options</select>
                </div>
                <div class="col-md-12">
                    <br />

                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <label class="control-label" for="txt_paymentAmount">Confirmation File</label>
                        <div class="material-switch pull-right">
                            <input id="chk_confirmationFile" name="chk_confirmationFile" type="checkbox" />
                            <label for="chk_confirmationFile" class="label-success"></label>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <label class="control-label" for="txt_mail_comments">Comments</label>
                    <textarea class="form-control" rows="2" id="txt_mail_comments"></textarea>
                </div>

                <button type="button" id="btn_mail_save" class="btn btn-primary pull-right" style="margin-top: 10px;" onclick="saveMail();">Save</button>
                <label class="control-label turnToBold" id="lblMessageMail" style="margin-top:10px;"></label>
            </div>



        </div>


        @* CHECKLIST *@
        <div class="filingdashmodal modalAutoCenter" id="checklistpopup">
            <header>
                <h3>Filing Checklist</h3>
                <span class="label label-default">
                    <b style="font-weight:bold; font-size:14px;">FILING ID:&nbsp;&nbsp;</b><label id="checklist_filingid" class="control-label spanPadd compactInput"></label>
                    <b style="font-weight:bold; font-size:14px;">TYPE:&nbsp;&nbsp;</b><label class="control-label spanPadd compactInput" id="lblChecklistType">@(Model["type"])</label>
                    <b style="font-weight:bold; font-size:14px;">STATE:&nbsp;&nbsp;</b><label class="control-label spanPadd compactInput">@(Model["state"])</label>
                    <b style="font-weight:bold; font-size:14px;">JURISDICTION:&nbsp;&nbsp;</b> <label class="control-label spanPadd compactInput">@(Model["jurisdiction"])</label>
                    <b style="font-weight:bold; font-size:14px;">LVID:&nbsp;&nbsp;</b><label class="control-label spanPadd compactInput">@(Model["lvid"])</label>
                    <b style="font-weight:bold; font-size:14px;">CORP CODE:&nbsp;&nbsp;</b><label class="control-label spanPadd compactInput">@(Model["corpCode"])</label>
                    <b style="font-weight:bold; font-size:14px;">FEIN:&nbsp;&nbsp;</b><label class="control-label spanPadd compactInput">@(Model["fein"])</label>
                    <b style="font-weight:bold; font-size:14px;">FREQUENCY:&nbsp;&nbsp;</b><label class="control-label spanPadd compactInput" id="lblChecklistFrequency">@(Model["frequency"])</label>
                </span>
            </header>
            <div>
                <span class="filingdhashmodalclose" id="closeChecklist">&times;</span>


            </div>

            @* DISPLAY CHECKLIST LIST *@
            <div class="col-md-12">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6 ">
                        <div class="col-md-1">
                            <label class="control-label labelsCenter">
                                Save
                            </label>
                        </div>
                        <div class="col-md-11 ">
                            <label class="control-label labelsCenter">
                                Checklist Item
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="col-md-1 ">
                            <label class="control-label labelsCenter">
                                Answer
                            </label>
                        </div>
                        <div class="col-md-11 ">
                            <label class="control-label labelsCenter">
                                Checklist Comment
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="divChecklistList">
            </div>
            <button id="btn_payment_submitChecklist" onclick="clickSubmitChecklist()" type="button" class="btn btn-success pull-right" style="margin-top: 10px;">Submit Checklist</button>
            <label class="control-label turnToBold" id="lblChecklistSaveMessage" style="color:#2E7D32"></label>
        </div>


        @* COMMENTS *@
        <div class="filingdashmodal modalAutoCenter" id="commentspopup">
            <header>
                <h3>Filing Comments</h3>
                <span class="label label-default">
                    <b style="font-weight:bold; font-size:14px;">FILING ID:&nbsp;&nbsp;</b><label id="comment_filingid" class="control-label spanPadd compactInput"></label>
                    <b style="font-weight:bold; font-size:14px;">TYPE:&nbsp;&nbsp;</b><label class="control-label spanPadd compactInput">@(Model["type"])</label>
                    <b style="font-weight:bold; font-size:14px;">STATE:&nbsp;&nbsp;</b><label class="control-label spanPadd compactInput">@(Model["state"])</label>
                    <b style="font-weight:bold; font-size:14px;">JURISDICTION:&nbsp;&nbsp;</b> <label class="control-label spanPadd compactInput">@(Model["jurisdiction"])</label>
                    <b style="font-weight:bold; font-size:14px;">LVID:&nbsp;&nbsp;</b><label class="control-label spanPadd compactInput">@(Model["lvid"])</label>
                    <b style="font-weight:bold; font-size:14px;">CORP CODE:&nbsp;&nbsp;</b><label class="control-label spanPadd compactInput">@(Model["corpCode"])</label>
                    <b style="font-weight:bold; font-size:14px;">FEIN:&nbsp;&nbsp;</b><label class="control-label spanPadd compactInput">@(Model["fein"])</label>
                    <b style="font-weight:bold; font-size:14px;">FREQUENCY:&nbsp;&nbsp;</b><label class="control-label spanPadd compactInput">@(Model["frequency"])</label>
                </span>
            </header>
            <div>
                <span class="filingdhashmodalclose" id="closeComment">&times;</span>
                <div class="col-md-12" style="margin-top:10px;">
                    <textarea class="form-control" style="background-color:white;" rows="15" id="txt_comments_comments" disabled></textarea>
                </div>
            </div>



        </div>


        @*COVERSHEET*@
        <div class="filingdashmodal modalAutoCenter" id="coversheetpopup" style="width:1200px !important;">
            <div style="padding:30px;" class="col-md-12">
                <span class="filingdhashmodalclose" id="closeCoversheet">&times;</span>
                <img class="filingdhashmodalimageciti">
                <img src="/Content/SalesAndUse/img/citibank-logo-vector-400x400.png" class="filingdhashmodalimageciti">

                <h3 class="pdfFontColor">US Sales and Use Tax Preparer/Reviewer Form</h3>

                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label pdfFontColor" for="txt_pdf_status">Current Filing Status</label>
                        <input type="text" class="form-control pdfFontColor" id="txt_pdf_status" value="">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label pdfFontColor" for="txt_pdf_logID">Log ID</label>
                        <input type="text" class="form-control pdfFontColor" id="txt_pdf_logID" value="">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label pdfFontColor" for="txt_pdf_dueDate">Due Date</label>
                        <input type="text" class="form-control pdfFontColor" id="txt_pdf_dueDate" value="">
                    </div>
                </div>

                <div style="border:1px solid #ccc; border-radius:5px; margin-top:15px; padding-bottom:15px;" class="col-md-12 box1">
                    <h5>Entity Information</h5>

                    <div class="col-md-1">
                        <label class="control-label pdfFontColor" for="lblCSType">TYPE</label>
                        <input type="text" class="form-control pdfFontColor" id="lblCSType" value="">
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pdfFontColor" for="lblCSCorp">CORP</label>
                        <input type="text" class="form-control pdfFontColor" id="lblCSCorp" value="">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pdfFontColor" for="lblCSLVID">LVID</label>
                        <input type="text" class="form-control pdfFontColor" id="lblCSLVID" value="">
                    </div>
                    <div class="col-md-8">
                        <label class="control-label pdfFontColor" for="lblCSLE">LEGAL ENTITY</label>
                        <input type="text" class="form-control pdfFontColor" id="lblCSLE" value="">
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pdfFontColor" for="lblCSLicense">LICENSE NUMBER</label>
                        <input type="text" class="form-control pdfFontColor" id="lblCSLicense" value="">
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pdfFontColor" for="lblCSFEIN">FEIN</label>
                        <input type="text" class="form-control pdfFontColor" id="lblCSFEIN" value="">
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pdfFontColor" for="lblCSState">STATE/DIV/SUB:</label>
                        <input type="text" class="form-control pdfFontColor" id="lblCSState" value="">
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pdfFontColor" for="lblCSJurisdiction">JURISDICTION</label>
                        <input type="text" class="form-control pdfFontColor" id="lblCSJurisdiction" value="">
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pdfFontColor" for="lblCSFrequency">FREQUENCY:</label>
                        <input type="text" class="form-control pdfFontColor" id="lblCSFrequency" value="">
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pdfFontColor" for="lblCSFilingPeriod">FILING PERIOD:</label>
                        <input type="text" class="form-control pdfFontColor" id="lblCSFilingPeriod" value="">
                    </div>



                    @*<span class="label label-default">
                            <label style="font-weight:bold; font-size: 13px;">TYPE:&nbsp;&nbsp; </label><label id="lblCSType" class="control-label" style="font-size: 13px;"></label>
                            <label style="font-weight:bold; font-size: 13px;">CORP:&nbsp;&nbsp;</label><label id="lblCSCorp" class="control-label" style="font-size: 13px;"></label>
                            <label style="font-weight:bold; font-size: 13px;">LVID:&nbsp;&nbsp;</label><label id="lblCSLVID" class="control-label" style="font-size: 13px;"></label>
                            <label style="font-weight:bold; font-size: 13px;">LEGAL ENTITY:&nbsp;&nbsp;</label><label id="lblCSLE" class="control-label" style="font-size: 13px;"></label>
                            <label style="font-weight:bold; font-size: 13px;">LICENSE NUMBER:&nbsp;&nbsp;</label> <label id="lblCSLicense" class="control-label" style="font-size: 13px;"></label>
                            <label style="font-weight:bold; font-size: 13px;">FEIN:&nbsp;&nbsp;</label><label id="lblCSFEIN" class="control-label" style="font-size: 13px;"></label>
                        </span>*@

                    @*<div class="col-md-12">
                        <span class="label label-default">
                            <label style="font-weight:bold; font-size: 13px;">STATE/DIV/SUB:</label>&#32; <label id="lblCSState" class="control-label" style="font-size: 13px;"></label>
                            &emsp;&emsp;<label style="font-weight:bold; font-size: 13px;">JURISDICTION:</label><label id="lblCSJurisdiction" class="control-label" style="font-size: 13px;"></label>
                            &emsp;&emsp;<label style="font-weight:bold; font-size: 13px;">FREQUENCY:</label> &#32;<label id="lblCSFrequency" class="control-label" style="font-size: 13px;"></label>
                            &emsp;&emsp;<label style="font-weight:bold; font-size: 13px;">FILING PERIOD:</label>&#32; <label id="lblCSFilingPeriod" class="control-label" style="font-size: 13px;"></label>
                        </span>
                    </div>*@
                </div>

                <div style="border:1px solid #ccc; border-radius:5px; margin-top:15px; padding-bottom:15px;" class="col-md-12 box1">
                    <h5>Filing Information:</h5>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label pdfFontColor" for="txt_pdf_filingtype">Filing Type</label>
                            <input type="text" class="form-control pdfFontColor" id="txt_pdf_filingtype" value="">
                        </div>
                        <div class="col-md-3">
                            <label class="control-label pdfFontColor" for="txt_pdf_filingperiod">Filing Year</label>
                            <input type="text" class="form-control pdfFontColor" id="txt_pdf_filingperiod" value="">
                        </div>
                        <div class="col-md-3">
                            <label class="control-label pdfFontColor" for="txt_pdf_frequency">Frequency</label>
                            <input type="text" class="form-control pdfFontColor" id="txt_pdf_frequency" value="">
                        </div>
                        <div class="col-md-3">
                            <label class="control-label pdfFontColor" for="txt_pdf_mailed">Mailed Date</label>
                            <input type="text" class="form-control pdfFontColor" id="txt_pdf_mailed" value="">
                        </div>
                    </div>
                </div>

                <div style="border:1px solid #ccc; border-radius:5px; margin-top:15px; padding-bottom:15px;" class="col-md-12 box1">
                    <h5>Checklist:</h5>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label pdfFontColor" for="txt_pdf_checklistitems">Checklist Items</label>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label pdfFontColor" for="txt_pdf_answers">Answers</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label pdfFontColor" for="txt_pdf_checklistcomment">Comment</label>
                        </div>
                    </div>
                    <div class="col-md-12" id="div_pdf_checklist_items">
                    </div>
                </div>

                <div style="border:1px solid #ccc; border-radius:5px; margin-top:15px; padding-bottom:15px;" class="col-md-12 box1">
                    <h5>Filing Fees:</h5>
                    <div class="col-md-12">
                        <div class="row" style="margin-top:10px; text-align:center;">
                            <div class="col-md-1 nopaddingCols compactInput">
                                @*Category*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter pdfFontColor">
                                        Category
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2 nopaddingCols compactInput">
                                @*Payment Method*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter pdfFontColor">
                                        Payment Method
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2 nopaddingCols compactInput">
                                @*Amount*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter pdfFontColor">
                                        Amount
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-1 nopaddingCols compactInput">
                                @*P2P LVID*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter pdfFontColor">
                                        P2P LVID
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2 nopaddingCols compactInput">
                                @*P2P Account No*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter pdfFontColor">
                                        P2P Account No
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-1 nopaddingCols compactInput">
                                @*P2P GOC*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter pdfFontColor">
                                        P2P GOC
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-1 nopaddingCols compactInput">
                                @*Vendor*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter pdfFontColor">
                                        Vendor
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2 nopaddingCols compactInput">
                                @*Vendor Site Code*@
                                <div class="form-group ">
                                    <label class="control-label labelsCenter pdfFontColor">
                                        Site Code
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="div_pdf_payment_items">
                    </div>
                    <div class="col-md-12" id="div_pdf_payment_totalDue">
                        <div class="row" style="margin-top:10px; text-align:center; border-top-style: double;">
                            <div class="col-md-2 nopaddingCols compactInput"></div>

                            <div class="col-md-1 nopaddingCols compactInput">
                                <div class="form-group ">
                                    <label class="control-label labelsCenter pdfFontColor">
                                        Total Due:
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2 nopaddingCols compactInput">
                                @*Total Amount*@
                                <div class="form-group ">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span> 
                                            <input style="text-align: right;" type="text" id="lblTotalDueFee" disabled class="form-control pdfFontColor compactInput2" placeholder="Amount">  
                                        </div> 
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="border:1px solid #ccc; border-radius:5px; margin-top:15px; padding-bottom:15px;" class="col-md-12 box1">
                    <h5>Comments:</h5>
                    <div class="col-md-12">
                        <div class="col-md-2 nopaddingCols compactInput">
                            <label class="control-label pdfFontColor" for="txt_pdf_date">Date</label>
                        </div>
                        <div class="col-md-2 nopaddingCols compactInput">
                            <label class="control-label pdfFontColor" for="txt_pdf_name">Name</label>
                        </div>
                        <div class="col-md-2 nopaddingCols compactInput">
                            <label class="control-label pdfFontColor" for="txt_pdf_entitlement">Entitlement</label>
                        </div>
                        <div class="col-md-1 nopaddingCols compactInput">
                            <label class="control-label pdfFontColor" for="txt_pdf_rejection">Status</label>
                        </div>
                        <div class="col-md-5 nopaddingCols compactInput">
                            <label class="control-label pdfFontColor" for="txt_pdf_comment">Comment</label>
                        </div>
                    </div>
                    <div class="col-md-12" id="div_pdf_comments_items">
                    </div>
                </div>

                <div style="border:1px solid #ccc; border-radius:5px; margin-top:15px; padding-bottom:15px;" class="col-md-4 box1">
                    <h5>Preparer:</h5>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label pdfFontColor">Name:</label>
                        </div>
                        <div class="col-md-8">
                            <label class="control-label pdfFontColor" id="lbl_coversheet_preparer_name">-</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label pdfFontColor">Title:</label>
                        </div>
                        <div class="col-md-8">
                            <label class="control-label pdfFontColor" id="lbl_coversheet_preparer_title">-</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label pdfFontColor">Phone:</label>
                        </div>
                        <div class="col-md-8">
                            <label class="control-label pdfFontColor" id="lbl_coversheet_preparer_phone">-</label>
                        </div>
                        <div class="col-md-5">
                            <label class="control-label pdfFontColor">Prepared Date:</label>
                        </div>
                        <div class="col-md-7">
                            <label class="control-label pdfFontColor" id="lbl_coversheet_preparer_date">-</label>
                        </div>
                    </div>
                </div>

                <div style="border:1px solid #ccc; border-radius:5px; margin-top:15px; padding-bottom:15px;" class="col-md-4 box1">
                    <h5>Reviewer:</h5>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label pdfFontColor">Name:</label>
                        </div>
                        <div class="col-md-8">
                            <label class="control-label pdfFontColor" id="lbl_coversheet_reviewer_name">-</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label pdfFontColor">Title:</label>
                        </div>
                        <div class="col-md-8">
                            <label class="control-label pdfFontColor" id="lbl_coversheet_reviewer_title">-</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label pdfFontColor">Phone:</label>
                        </div>
                        <div class="col-md-8">
                            <label class="control-label pdfFontColor" id="lbl_coversheet_reviewer_phone">-</label>
                        </div>
                        <div class="col-md-5">
                            <label class="control-label pdfFontColor">Reviewed Date:</label>
                        </div>
                        <div class="col-md-7">
                            <label class="control-label pdfFontColor" id="lbl_coversheet_reviewer_date">-</label>
                        </div>
                    </div>
                </div>

                <div style="border:1px solid #ccc; border-radius:5px; margin-top:15px; padding-bottom:15px;" class="col-md-4 box1">
                    <h5>Mailer:</h5>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label pdfFontColor">Name:</label>
                        </div>
                        <div class="col-md-8">
                            <label class="control-label pdfFontColor" id="lbl_coversheet_mailer_name">-</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label pdfFontColor">Title:</label>
                        </div>
                        <div class="col-md-8">
                            <label class="control-label pdfFontColor" id="lbl_coversheet_mailer_title">-</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label pdfFontColor">Phone:</label>
                        </div>
                        <div class="col-md-8">
                            <label class="control-label pdfFontColor" id="lbl_coversheet_mailer_phone">-</label>
                        </div>
                        <div class="col-md-5">
                            <label class="control-label pdfFontColor">Mailed Date:</label>
                        </div>
                        <div class="col-md-7">
                            <label class="control-label pdfFontColor" id="lbl_coversheet_mailer_date">-</label>
                        </div>
                    </div>
                </div>


            </div>
        </div>
</form>









