@{
    ViewBag.Title = "Admin Page Tax Manager";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Plugins = new string[] {
        "JqxGrid",
        //"React"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/TaxManager/js/Admin.js"
        //"/Content/Shared/plugins/cleave/cleave.min.js"
    };
}


<section class="box">
    <div class="container col-md-12 " style="background-color:white;">  
        <div class="row">
            <header class="panel_header">
                <h2 class="title pull-left">Administration Panel</h2>
            </header>
            <ul class="nav nav-tabs left-aligned" role="tablist">
                @*Location*@
                <li role="presentation" class="active" id="tab1">
                    <a href="#menu1" role="tab" data-toggle="tab"><i class=""></i>   Geography Details</a>
                </li>
                @*Due Times*@
                <li role="presentation" id="tab2">
                    <a href="#menu2" role="tab" data-toggle="tab"><i class=""></i>   Due Details</a>
                </li>
            </ul>

            <div class="tab-content">
                @*Location*@
                <div role="tabpanel" class="tab-pane active row" id="menu1">
                    <div class="col-md-6" >@*style="border-bottom: 6px solid black; background-color: white"*@
                        <header class="panel_header">
                            <h2 class="title pull-left">States</h2>
                            <button type="button" id="btnAddNewState" class="btn btn-success top15 left15 bottom15 pull-right" style="margin-right:10px"><i class="fa fa-asterisk"></i> Add</button>
                            <button type="button" id="btnEditState" class="btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Edit</button>
                        </header>
                        
                        <div id="tbl_StateList"></div>
                    </div>

                    <div class="col-md-6"  >@*style="border-bottom: 6px solid black; background-color: white; " margin-top:10px;*@
                        <header class="panel_header">
                            <h2 class="title pull-left">City</h2>
                            <button type="button" id="btnAddNewCity" class="btnAddNewUser btn btn-success top15 left15 bottom15 pull-right" style="margin-right:10px"><i class="fa fa-asterisk"></i> Add</button>
                        <button type="button" id="btnEditCity" class="btnEditUser btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> Edit</button>
                        </header>
                        <div id="tbl_CityList" ></div>
                    </div>

@*                    <div class="col-md-6" style="border-bottom: 6px solid black; background-color: white; margin-top:10px;">
                        <header class="panel_header">
                            <h2 class="title pull-left">Borough</h2>
                        </header>
                        <button type="button" class="btnAddNewUser btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Add</button>
                        <button type="button" class="btnEditUser btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Edit</button>
                        <div id="tbl_BoroughList"></div>
                    </div>*@
                </div>

                @*Due Times*@
                <div role="tabpanel" class="tab-pane row" id="menu2">
                    <div class="col-md-6" >@*style="border-bottom: 6px solid black; background-color: white"*@
                        <header class="panel_header">
                            <h2 class="title pull-left">Due Months</h2>
                        </header>
                        <button type="button" class="btnAddNewUser btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Add</button>
                        <button type="button" class="btnEditUser btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Edit</button>
                        <div id="tbl_DueMonthList"></div>
                    </div>

                    <div class="col-md-6"  >@*style="border-bottom: 6px solid black; background-color: white; " margin-top:10px;*@
                        <header class="panel_header">
                            <h2 class="title pull-left">Due Days</h2>
                        </header>
                        <button type="button" class="btnAddNewUser btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Add</button>
                        <button type="button" class="btnEditUser btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Edit</button>
                        <div id="tbl_DueDayList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>