/*

    Template Author : Rodney Espinoza
    Author Email    : Rodney Espinoza
    
    
    *****************************************
    
    
    - Fonts
    - General CSS
    - Listings
    - Responsive CSS
    

*/

/*  Fonts  */
@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-regular';
   
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'p22_corinthia';
    src: url('../fonts/p22_corinthia.eot');
    src: url('../fonts/p22_corinthia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/p22_corinthia.woff') format('woff'),
         url('../fonts/p22_corinthia.ttf') format('truetype'),
         url('../fonts/p22_corinthia.svg#P22Corinthia') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*  General CSS  */

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}


/*  listings section  */
.listings{
    padding: 10px 0;
}

.listings ul.properties_list{
    list-style: none;
    overflow: hidden;
}

.listings ul.properties_list li{
    display: block;
    width: 29.90909090909091%;
    height: auto;
    position: relative;
    float: left;
    margin: 0 3.636363636363636% 3.636363636363636% 0;
}

.listings ul.properties_list li img.property_img{
    width: 100%;
    height: auto!important;
    vertical-align: top;
}


.listings ul.properties_list li .tool{
    position: absolute;
    /*top: 10px;
    left: 10px;*/
    padding: 15px 20px;
    background: #0065BB;
    color: #FFF;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;

    width: 100%;
}


.listings ul.properties_list li:nth-child(3n+0){
    margin-right: 0;
}



.listings ul li:hover .property_details{
    border: 1px solid #79a55c;
    background: white;
}

.listings ul li .property_details h1{
    color: #666464;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px!important;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 28px;
}

.listings ul li .property_details h1 a{
    text-decoration: none;
    color: #666464;
}

.listings ul li .property_details h2{
    color: #9d9d9d;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 26px;
    font-weight: normal;
}

.listings ul li .property_details .property_size{
    color: #676767;
}

.listings .more_listing{
    display: block;
    width: 100%;
    text-align: center;
    margin: 84px 0 22px 0;
}

.listings .more_listing_btn{
    text-decoration: none;
    padding: 20px 40px;
    border: 2px solid #bfd9f1;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    color: #afcbe6;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.listings .more_listing_btn:hover{
    color: #a0c3e5;
    border: 2px solid #a0c3e5;    
}

.generic {
          background: #fff;
          min-height: 301px;
          margin-bottom: 30px;
        }
        .half {

            background: #fff;
            min-height: 301px;
            margin-bottom: 30px;
        }
        .half2 {
          background: url(https://raw.githubusercontent.com/solodev/transparent-overlay/master/overlay-img-3.jpg) 0 0 no-repeat;
          min-height: 301px;
        }
        .full, .half, .half2 {
          background-size: cover;
          position: relative;
        }   

        .full:hover .overlay-effect, .half:hover .overlay-effect, .half2:hover .overlay-effect {
          opacity: 1;
          cursor: pointer;
        }

        .overlay-effect {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
          transition: .5s ease;
          background-color: #79a55c;
          overflow:hidden;
          z-index: 1001;
        }
        .full:hover .overlay-effect-denied, .half:hover .overlay-effect-denied, .half2:hover .overlay-effect-denied {
          opacity: 1;
          cursor: pointer;
        }
        .overlay-effect-denied {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
          transition: .5s ease;
          background-color: #8F8F92;
          overflow:hidden;
          z-index: 1;
        }

        .full a,
        .half a,
        .half2 a {
          color: #fff;
        }

        .full h3,
        .half h3,
        .half2 h3 {
          padding: 15px 30px;
        }


        .anchor{
            font-size: 18px;
            text-align: center;
            margin: 0 auto;
            width: 36%;
            color:white;
            /*border: 3px solid green;*/
            margin-top:38%;
            padding:300px;

        }
        .access{
            position: absolute;
            bottom:0;       
            /*margin-left: 50px;*/ 
            font-size: 13px;
            text-transform: uppercase;
            color: white;
            background: #59A214;
            width: 211px;
            padding: 8px 10px;
            position: absolute;
            /*left: 10px;
            bottom: 10px;*/
            cursor: pointer;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            z-index: 1;
            width: 100%
        }
        .descApp{
            padding: 65px 15px 35px 15px;
            font-size: 11px;


        }
        .access h2{
            color: #fff;
            padding-left: 17px;
            text-align:center
        }
        .denied{
            position: absolute;
            bottom:0;       
            /*margin-left: 50px;*/ 
            font-size: 13px;
            text-transform: uppercase;
            color: white;
            background: #8F8F92;
            width: 211px;
            padding: 8px 10px;
            position: absolute;
            /*left: 10px;
            bottom: 10px;*/
            cursor: pointer;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            z-index: 1;
            width: 100%
        }
        .denied h2{
            color: #fff;
            padding-left: 17px;
            text-align:center
        }
        .snapShot{
            padding-top: 65px
        }
        @media screen and (max-width: 768px) {
          .full, .half, .half2 {margin-bottom: 10px;}
        }
/*  responsive css */

@media (max-width:800px){
    .listings ul.properties_list li{
        width: 46.36363636363636%;
        margin: 0 7.272727272727273% 7.272727272727273% 0;
    }

    .listings ul.properties_list li:nth-child(3n+0){
        margin: 0 7.272727272727273% 7.272727272727273% 0;
    }

    .listings ul.properties_list li:nth-child(2n+0){
        margin-right: 0;
    }
}



@media (max-width:500px){
    .listings ul.properties_list li{
        width: 100%;
        margin-bottom: 60px!important;
    }

    .listings ul.properties_list li:last-child{
        margin-bottom: 0!important;
    }


    .listings ul.properties_list li:nth-child(3n+0),
    .listings ul.properties_list li:nth-child(2n+0){
        margin:0;
    }

    .listings .more_listing_btn{
        display: block;
        width: 100%; 
        padding-left: 0!important;
        padding-right: 0!important;
    }

}
.properties_list ul li:nth-child(n+3) {
    display:none;
}
.properties_list ul li {
    border: 1px solid #aaa;
}
#loadMore {
    cursor: pointer;
    color: #f00;
}