﻿@{
    ViewBag.Title = "Calendar Log";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/IncomeAndOther/css/style.css"
    };
    ViewBag.JSLinks = new string[] {

        "/Content/IncomeAndOther/js/CalendarFiling.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
        "/Content/Shared/plugins/jquery-validation/additional-methods.min.js"
    };
}

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Filing Calendar</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>

        <div class="content-body">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-tblRole" data-toggle="tab">
                        <i class="fa fa-star-o"></i> <span id="lblTblCalendarIncomplete">Incomplete</span>
                    </a>
                </li>
                <li>
                    <a href="#tab-tblRoleXPermit" data-toggle="tab">
                        <i class="fa fa-star-half-o"></i> <span id="lblTblCalendarPrepared">Prepared</span>
                    </a>
                </li>
                <li>
                    <a href="#tab-tblRoleXReport" data-toggle="tab">
                        <i class="fa fa-star"></i> <span id="lblTblCalendarComplete">Complete</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-tblRole">
                    <div id="tblCalendarIncomplete"></div>
                </div>
                <div class="tab-pane fade in" id="tab-tblRoleXPermit">
                    <div id="tblCalendarPrepared"></div>
                </div>
                <div class="tab-pane fade in" id="tab-tblRoleXReport">
                    <div id="tblCalendarComplete"></div>
                </div>
            </div>
        </div>
    </section>
</div>

