﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";

    ViewBag.JSLinks = new string[] {

        "/Content/IncomeAndOther/js/MassUpdate.js",
        "/Content/IncomeAndOther/js/Search.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
        "/Content/Shared/plugins/jquery-validation/additional-methods.min.js"
    };
}

<section class="box ">
    <header class="panel_header">
        <h2 class="title pull-left">Search Filings</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
            <a class="box_close fa fa-times"></a>
        </div>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    @*Entity*@
                    <label for="lblentity" class="control-label">
                        Entity:
                    </label>
                    <select class="form-control" id="ddlEntity"></select>
                </div>
                <div class="col-md-1">
                    @*LogID*@
                    <label for="lblLogID" class="control-label">
                        LogID:
                    </label>
                    <input class="form-control" type="text" id="txtLogID" />
                </div>
                <div class="col-md-3">
                    @*Function*@
                    <label for="lblfunction" class="control-label">
                        Function:
                    </label>
                    <select class="form-control" id="ddlFunction"></select>
                </div>
                <div class="col-md-2">
                    @*Frequency*@
                    <label for="lblfrequency" class="control-label">
                        Frequency:
                    </label>
                    <select class="form-control" id="ddlFrequency"></select>
                </div>
                <div class="col-md-2">
                    @*Calendar Type*@
                    <label for="lblcalendartype" class="control-label">
                        CalendarType:
                    </label>
                    <select class="form-control" id="ddlCalendarType"></select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    @*Reviewer*@
                    <label for="lblreviewer" class="control-label">
                        Reviewer:
                    </label>
                    <select class="form-control" id="ddlReviewer"></select>
                </div>
                <div class="col-md-2">
                    @*Preparer*@
                    <label for="lblpreparer" class="control-label">
                        Preparer:
                    </label>
                    <select class="form-control" id="ddlPreparer"></select>
                </div>
                <div class="col-md-2">
                    @*Due Month*@
                    <label for="lblduemonth" class="control-label">
                        Due Month:
                    </label>
                    <select class="form-control" id="ddlDueMonth"></select>
                </div>
                <div class="col-md-2">
                    @*Due Year*@
                    <label for="lbldueyear" class="control-label">
                        Due Year:
                    </label>
                    <select class="form-control" id="ddlDueYear"></select>
                </div>
                <div class="col-md-2">
                    @*Status*@
                    <label for="lblstatus" class="control-label">
                        Status:
                    </label>
                    <select class="form-control" id="ddlStatus"></select>
                </div>
                <div class="col-md-1">
                    <button type="button" class="form-control btn btn-primary pull-right" id="btnSearch" style="margin-top:28px;">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="form-control btn btn-success pull-right" id="btnLock" style="margin-top:28px;" disabled >
                        <span class="fa fa-lock"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div id="tblFilingSearch" style="margin-top:10px"></div>
                </div>
            </div>


            <div class="col-md-12" style="margin-top:10px;">
                <div class="col-md-12">
                    <div class="input-group primary">
                        <span class="input-group-addon">
                            <span class="arrow"></span>
                            <i class="fa fa-edit "></i>Update Information
                        </span>
                        <input type="text" class="form-control" id="txtlogID" disabled="disabled">

                    </div>

                    <div class="panel panel-default">

                        <div class="col-md-12">
                            <div class="col-md-4" style="margin-top:8px;">
                                @*New Filing Due Date*@
                                <div class="form-group">
                                    <label for="lblFilingDate" class="control-label">
                                        New Filing Due Date
                                    </label>
                                    <div>
                                        <div id="newDateInput"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top:8px;">
                               
                                @*<div class="form-group">
                                    <label for="lblNewReviewer" class="control-label">
                                        New Reviewer
                                    </label>
                                    <div>

                                        <select class="form-control" id="ddlNewReviewer"></select>
                                    </div>
                                </div>*@
                            </div>
                            <div class="col-md-4" style="margin-top:8px;">
                               
                                @*<div class="form-group">
                                    <label for="lblnewpreparer" class="control-label">
                                        New Preparer
                                    </label>
                                    <div>
                                        <select class="form-control" id="ddlNewPreparer"></select>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <button type="button" class="form-control btn btn-danger pull-right" id="btnDelete">Delete</button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="form-control btn btn-primary pull-right" id="btnUpdate">Update</button>
                            </div>

                            
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>