﻿

<form id="formModalCalendar">

    <div class="col-md-12">

        <div class="col-md-5">

            <div class="input-group primary">
                <span class="input-group-addon">
                    <span class="arrow"></span>
                    <i class="fa fa-money"></i> Filing - LogID
                </span>
                <input type="text" class="form-control" placeholder="Primary" value="@(Model["logID"])" id="txtlogID" placeholder="Log ID" disabled="disabled">
            </div>

            <div class="panel panel-default">
                <div class="form-horizontal">
                    <div class="col-md-12" style="margin: 15px;">
                        @*Filing Due Date*@
                        <div class="form-group">
                            <label for="lblFilingDate" class="col-sm-4 control-label">
                                Filing Due Date
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Due Date" value="@(Model["filingDueDate"])" id="txtfilingDueDate">
                            </div>
                        </div>

                        @*Account*@
                        <div class="form-group">
                            <label for="lblAccount" class="col-sm-4 control-label">
                                Accounts:
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control ui-spinner-input" id="spinner" value="@(Model["counts"])">
                            </div>
                        </div>

                        @*Item Status*@
                        <div class="form-group">
                            <label for="lblItemStatus" class="col-sm-4 control-label">
                                Item Status:
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblItemStatus">@(Model["statusDesc"])</span>
                                </div>
                            </div>
                        </div>

                        @*Function*@
                        <div class="form-group">
                            <label for="lblFunction" class="col-sm-4 control-label pull-left">
                                Function:
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblFunction">@(Model["function1"])</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 container">

            <div class="input-group primary">
                <span class="input-group-addon">
                    <span class="arrow"></span>
                    <i class="fa fa-institution"></i> Entity Name
                </span>
                <input type="text" class="form-control" placeholder="Primary" value="@(Model["entityName"])" id="txtentityName" placeholder="Entity Name" disabled="disabled">
            </div>


            <div class="panel panel-default">
                @*<input value="@(Model["function1"])" type="text" class="form-control" id="txtfunction" placeholder="Function" disabled="disabled">*@

                <div class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lblFrecuency" class="col-sm-4 control-label">
                                Frecuency:
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblFrecuency">@(Model["frequency"])</span>
                                </div>
                            </div>
                        </div><div class="form-group">
                            <label for="lblDueDate" class="col-sm-4 control-label">
                                DueDate:
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblDueDate">@(Model["dueDay"])</span>
                                </div>
                            </div>
                        </div><div class="form-group">
                            <label for="lblDueMonth" class="col-sm-4 control-label">
                                DueMonth:
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblDueMonth">@(Model["dueMonth"])</span>
                                </div>
                            </div>
                        </div><div class="form-group">
                            <label for="lblTTICode" class="col-sm-4 control-label">
                                TTI Code:
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblTTICode">@(Model["ttiCode"])</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lblState" class="col-sm-4 control-label">
                                State:
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblState">@(Model["state"])</span>
                                </div>
                            </div>
                        </div><div class="form-group">
                            <label for="lblEIN" class="col-sm-4 control-label">
                                EIN:
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblEIN">@(Model["EIN"])</span>
                                </div>
                            </div>
                        </div><div class="form-group">
                            <label for="lblBranch" class="col-sm-4 control-label">
                                Branch:
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblBranch">@(Model["branch"])</span>
                                </div>
                            </div>
                        </div><div class="form-group">
                            <label for="lblCity" class="col-sm-4 control-label">
                                City:
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblCity">@(Model["city"])</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
    <div class="col-md-12">

        <div class="col-md-5 container">

            <div class="input-group primary">
                <span class="input-group-addon">
                    <span class="arrow"></span>
                    <i class="fa fa-user"></i> Preparer - Reviewer
                </span>
                <input type="text" class="form-control" id="txtPrepRev" disabled="disabled">
            </div>



            <div class="panel panel-default">

                @*<input value="@(Model["function1"])" type="text" class="form-control" id="txtfunction" placeholder="Function" disabled="disabled">*@

                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lblPreparer" class="col-sm-4 control-label">
                                Preparer:
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblPreparer">@(Model["preparer"])</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lblPreparedDate" class="col-sm-4 control-label">
                                PreparedDate:
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblPreparedDate">@(Model["preparedDdate"])</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lblReviewer" class="col-sm-4 control-label">
                                Reviewer
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblReviewer">@(Model["reviewer"])</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lblReviewedDate" class="col-sm-4 control-label">
                                ReviewedDate
                            </label>
                            <div class="col-sm-8">
                                <div class="form-control no-border">
                                    <span id="lblReviewedDate">@(Model["reviewedDate"])</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        @* <select id="ddlFunction"></select>*@

        <div class="col-md-7 container">
            <div class="input-group primary">
                <span class="input-group-addon" style="text-align:left;">
                    <span class="arrow"></span>
                    <i class="fa fa-user"></i> Comments
                </span>
            </div>
            <div class="form-group required-field-block">
                <div class="col-md-12 input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                    <textarea rows="2" size="30" value="" class="form-control" placeholder="No comments..." disabled="disabled">@(Model["comments"])</textarea>
                    <div class="required-icon">
                        <div class="text">
                            <input type="text" class="form-control" id="txtNewComments" placeholder="Type your comment here...">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

