﻿

<form id="formModalCalendar">

    <div class="col-md-12">



        <div class="input-group primary">
            <span class="input-group-addon">
                <span class="arrow"></span>
                <i class="fa fa-money"></i> Function Type Maintenance
            </span>
            <input type="text" class="form-control" id="txtFunction" disabled="disabled">
        </div>

        <div class="panel panel-default">
            <div class="form-horizontal">
                <div class="col-md-12" style="margin: 15px;">
                    @*function*@
                    <div class="form-group">
                        <label for="lblfunction" class="col-sm-4 control-label">
                            Function
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Function Name" value="@(Model["function"])" id="txtfunction">
                        </div>
                    </div>

                    @*Status*@
                    <div class="form-group">
                        <label for="lblactive" class="col-sm-4 control-label">
                            Active:
                        </label>
                        <div class="col-sm-8">
                            @*<input type="text" class="form-control" id="txtActive" value="@(Model["active"])">*@
                            <div id='jqxcheckbox'</div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</form>

