﻿@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";

    ViewBag.JSLinks = new string[] {

        "/Content/IncomeAndOther/js/Reports.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
        "/Content/Shared/plugins/jquery-validation/additional-methods.min.js"
    };
}

<section class="box ">
    <header class="panel_header">
        <h2 class="title pull-left">Income and Other Reports</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
            <a class="box_close fa fa-times"></a>
        </div>
    </header>
    <div class="content-body">
        <div class="row">

            <div class="col-md-12">
                <div class="col-md-3">
                    <label for="lbldatefrom" class="control-label">
                        Date From:
                    </label>
                    <div id="dateInputFrom"></div>
                </div>
                <div class="col-md-3">
                    <label for="lbldateto" class="control-label">
                        Date To:
                    </label>
                    <div id="dateInputTo"></div>
                </div>
                <div class="col-md-3">
                    <label for="lblreporttype" class="control-label">
                        Report Type:
                    </label>
                    <select class="form-control" id="ddlReport"></select>
                </div>
                <div class="col-md-3">
                    <label for="lblcalendartype" class="control-label">
                        Calendar Type:
                    </label>
                    <select class="form-control" id="ddlCalendarType"></select>
                    <button type="button" class="form-control btn btn-primary pull-right" id="btnExportExcel" style="width:50%; margin-top: 10px;">Export to Excel</button>
                </div>
            </div>
        </div>



    </div>
</section>