﻿<div class="utility navbar">
    <div class="navbar-inner">
    </div>
    <div class="utility-shadow"></div>
</div>

<div class="page-topbar">
    <div class="logo-area">
        <img src="@(((string)Model["SubAppPath"]))/Content/Shared/images/global_header_logo.png" style="position: fixed;">
        <h3 style="color:white;padding-left: 88px;padding-top: 10px;">@(((string)Model["AppShortName"]))</h3>
    </div>
    <div class="quick-area">
        <div class="pull-left">
            <ul class="info-menu left-links list-inline list-unstyled">
                <li class="sidebar-toggle-wrap">
                    <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <li class="hidden-sm hidden-xs searchform showopacity">
                    <form action="ui-search.html" method="post" style="display:none;">
                        <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                            <input type="text" class="form-control animated fadeIn" placeholder="Search assessment by SOEID">
                        </div>
                        <input type="submit" value="">
                    </form>
                </li>
            </ul>
        </div>
        <div class="pull-right">
            <ul class="info-menu right-links list-inline list-unstyled">
                @*User section*@
                <li class="profile showopacity">
                    @*Avatar and name*@
                    <a href="#" data-toggle="dropdown" class="toggle">
                        <span class="avatarme img" avatar-size="30px" avatar-font="13px" avatar-top="13px" >@(((Dictionary<string,string>)Model["UserInfo"])["Name"])</span>
                        <span>@(((Dictionary<string,string>)Model["UserInfo"])["Name"]) [@(((Dictionary<string,string>)Model["UserInfo"])["SOEID"])] <i class="fa fa-angle-down"></i></span>
                    </a>
                    @*User menu*@
                    <ul class="dropdown-menu profile animated fadeIn">
                        @*<li>
                            <a href="#settings">
                                <i class="fa fa-wrench"></i> Settings
                            </a>
                        </li>
                        <li>
                            <a href="#profile">
                                <i class="fa fa-user"></i> Profile
                            </a>
                        </li>
                        <li>
                            <a href="#help">
                                <i class="fa fa-info"></i> Help
                            </a>
                        </li>*@
                        <li class="last user-config-items">
                            <a href="#" onclick="_logout()">
                                <i class="fa fa-lock"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>

                @*Support icon*@
                <li class="chat-toggle-wrapper" style="display:none;">
                    <a href="#" data-toggle="chatbar" class="toggle_chat">
                        <i class="fa fa-question-circle"></i>
                    </a>
                </li>
            </ul>
        </div>
    
        @*Enable Time Zone*@
        <div id="containerTimeZone" class="pull-right" style="cursor:pointer; margin-top: 12px;margin-right: 45px;display:none; ">
            <h1 id="timeZoneSummary" style="float: right;color: white;font-size: 15px;"></h1>
            <select id="selTimeZone" name="selTimeZone" class="form-control" ></select>
        </div>
    </div>
</div>
<script type="text/javascript">
    _setViewVar("SessionMessages", @Html.Raw(@Json.Encode(Session["Message"])));
    _setViewVar("UserInfo", @Html.Raw(@Json.Encode(Model["UserInfo"])));
    _setViewVar("ServerURL", @Html.Raw(@Json.Encode(Model["ServerURL"])));
    _setViewVar("AppKey", @Html.Raw(@Json.Encode(Model["AppKey"])));
    _setViewVar("Enviroment", @Html.Raw(@Json.Encode(Model["Enviroment"])));
    _setViewVar("SimulateUser", @Html.Raw(@Json.Encode(Model["SimulateUser"])));
    
    @{Session["Message"] = null;}
</script>