﻿@{
    ViewBag.Title = "Access Denied";
    ViewBag.IsToolError = true;
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/js/AccessDenied.js"
    };
}

<button class="btn btnCheckAccessAgain btn-success pull-right"><i class="fa fa-refresh"></i> Check Access Again</button>

<div class="col-xs-12">

    <h1 class="page_error_code text-primary" style="font-size: 50px;">
        Access Denied
        <i class="fa fa-lock" style="font-size: 50px;"></i>
    </h1>
    <h1 class="page_error_info">Oops! Sorry you don't have access to this page.</h1>

</div>

@if (Model.ContainsKey("ReportIssueURL") && !String.IsNullOrEmpty((string)Model["ReportIssueURL"]))
{
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-top: 20px;">
            <section class="box nobox marginBottom0">
                <div class="content-body">
                    <h2 style="text-align: center;">Frequently Asked Questions (FAQs)</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="r4_counter db_box">
                                <i class="pull-left fa fa-question-circle icon-md-help icon-md icon-rounded icon-primary"></i>
                                <div class="stats">
                                    <div class="guide-content">How to request access or role by Marketplace for this Tool?</div>
                                    <hr>

                                    <a class="btn btn-primary pull-right" href="@(((string)Model["RequestRoleURL"]))" target="_blank">View Document</a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="r4_counter db_box">
                                <i class="pull-left fa fa-question-circle icon-md-help icon-md icon-rounded icon-primary"></i>
                                <div class="stats">
                                    <div class="guide-content">
                                        How to report an issue in the tool?
                                    </div>
                                    <hr>
                                    <a class="btn btn-primary pull-right" href="@(((string)Model["ReportIssueURL"]))" target="_blank">View Document</a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End .row -->
                </div>
            </section>
        </div>
    </div>
}
