﻿@{
    ViewBag.Title = "Offline";
    ViewBag.IsToolError = true;
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="col-xs-12">

    <h1 class="page_error_code text-primary">Offline</h1>
    <h1 class="page_error_info">Oops! Website Is Temporarily Offline</h1>
</div>
