﻿@{
    ViewBag.Title = "Page Not Found";
    ViewBag.IsToolError = true;
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/js/PageNotFound.js"
    };
}

<div class="col-xs-12">
    <h4 class="page_error_code text-primary" style="font-size: 110px;">Page not found</h4>
    <h1 class="page_error_info">
        Oops! The page requested not found. Please review your URL.
        <br /><br />
        <a id="pageNotFoundUrl" style="font-size: 20px;" target="_blank" href="#"></a>
    </h1>
</div>
