@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/js/Reports.js"
    };
}
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Report List</h2>
        </header>

        <div class="content-body">
            <ul class="nav nav-tabs" id="tab-reports">
                <li class="active">
                    <a href="#tab-report-list" data-toggle="tab">
                        <i class="fa fa-table"></i> Report List
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="tab-reports-content">
                <div class="tab-pane fade in active" id="tab-report-list">
                    <div class="row">
                        <div class="col-md-12">
                            @*<h5>Set Reports</h5>*@
                            <p>Click in 'View Report' to open the report.</p>
                            <div class="well transparent" id="reportCategories"></div>
                        </div>      
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
