﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Simulate User";
    ViewBag.CSSLinks = new string[] {};
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/js/SimulateUser.js"
    };
}

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Simulate User</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    
                    <div class="form-group">
                        <label id="lblSelSimulateUser" for="selSimulateUser" class="col-md-12 control-label">User: </label>
                        <div class="col-md-12">
                            <div id="selSimulateUser"></div>
                            <button type="button" class="btnSimulateUser btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-user"></i> Simulate User </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>