@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Activity List";
    ViewBag.CSSLinks = new string[] {
        "/Content/ProcessControlTool/css/style.css",
        "/Content/Shared/plugins/fine-uploader/fine-uploader-new.css",
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/ProcessControlTool/js/PCTGlobal.js",
        "/Content/ProcessControlTool/js/AcitivityList.js"
    };
}

<!-- Fine Uploader Thumbnails template w/ customization
====================================================================== -->
<script type="text/template" id="qq-template-upload-activity-files">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Select activity files</div>
            </div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>

                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td width="5%">
                                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                            </td>
                            <td width="55%">
                                <span class="qq-upload-file-selector qq-upload-file"></span>
                                @*<input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">*@
                                <span class="qq-upload-size-selector qq-upload-size"></span>
                            </td>
                            <td width="30%">
                                <select class="selSharedFilesToUpload form-control"></select>
                            </td>
                            <td width="10%">
                                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel pull-right">Delete</button>
                                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry pull-right">Retry</button>
                                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete pull-right">Delete</button>
                                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>
<script type="text/template" id="qq-template-upload-additional-files">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Select additional files</div>
            </div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>

                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td width="5%">
                                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                            </td>
                            <td width="85%">
                                <span class="qq-upload-file-selector qq-upload-file"></span>
                                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                <span class="qq-upload-size-selector qq-upload-size"></span>
                            </td>
                            <td width="10%">
                                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel pull-right">Delete</button>
                                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry pull-right">Retry</button>
                                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete pull-right">Delete</button>
                                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

<input type="hidden" id="HFIDActivityDetail" value="@((string)Model["HFIDActivityDetail"])" />
<input type="hidden" id="HFUATDateTimeSLA" value="@((string)Model["HFUATDateTimeSLA"])" />
<input type="hidden" id="HFContactView" value="@((string)Model["HFContactView"])" />

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Activity List</h2>
        </header>
        <div class="content-body">
            <div class="row form-horizontal" style="width:100%; float: left;margin-top: 15px;">
                <div class="col-md-11">

                    <div class="col-md-6">
                        @*Sel Filter By*@
                        <div class="form-group">
                            <label for="selFilterBy" class="col-md-4 control-label">Filter By:</label>
                            <div class="col-md-8">
                                <select flagWasInit="0" class="form-control" id="selFilterBy">
                                    <option value="All">All</option>
                                    <option value="Day">Day</option>
                                    <option value="Month">Month</option>
                                    <option value="Quarter">Quarter</option>
                                    @*<option value="Yearly">Yearly</option>*@
                                </select>
                            </div>
                        </div>

                        @*Sel Frequency*@
                        <div class="form-group" style="display:none;">
                            <label for="selFrequency" class="col-md-4 control-label">Frequency:</label>
                            <div class="col-md-8">
                                <select class="form-control" id="selFrequency">
                                    <option value="All" selected="true">All</option>
                                    <option value="Daily">Daily</option>
                                    <option value="Weekly">Weekly</option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Quarterly">Quarterly</option>
                                    @*<option value="Yearly">Yearly</option>*@
                                </select>
                            </div>
                        </div>

                        @*Select Activity User*@
                        <div class="form-group fieldSelActivityUser">
                            <label id="lblSelActivityUser" for="selActivityUser" class="col-md-4 control-label">User: </label>
                            <div class="col-md-8">
                                <div id="selActivityUser"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        @*Filter By All - Sel Activity Start Date*@
                        <div class="form-group filterByAll fieldSelActivityStartDate">
                            <label class="col-md-4 control-label">From:</label>
                            <div class="col-md-8">
                                <input type="text" flagWasInit="0" class="form-control" id="activityStartDate" />
                            </div>
                        </div>

                        @*Filter By All - Sel Activity End Date*@
                        <div class="form-group filterByAll fieldSelActivityEndDate">
                            <label class="col-md-4 control-label">To:</label>
                            <div class="col-md-8">
                                <input type="text" flagWasInit="0" class="form-control" id="activityEndDate" />
                            </div>
                        </div>

                        @*Filter By Day - activityDate *@
                        <div class="form-group filterByDay">
                            <label class="col-md-4 control-label">Date:</label>
                            <div class="col-md-8">
                                <input type="text" flagWasInit="0" class="form-control" id="activityDate" />
                            </div>
                        </div>

                        @*Filter By Month - selMonth *@
                        <div class="form-group filterByMonth">
                            <label class="col-md-4 control-label">Month:</label>
                            <div class="col-md-8">
                                <select flagWasInit="0" class="form-control" id="selActivityMonth">
                                    <option value="2018-10">October 2018</option>
                                    <option value="2018-11" selected >November 2018</option>
                                    <option value="2018-12">December 2018</option>
                                    <option value="2019-01">January 2019</option>
                                </select>
                            </div>
                        </div>

                        @*Filter By Quarter - selActivityQuarter *@
                        <div class="form-group filterByQuarter">
                            <label class="col-md-4 control-label">Quarter:</label>
                            <div class="col-md-8">
                                <select flagWasInit="0" class="form-control" id="selActivityQuarter">
                                    <option value="2018-01">2018-Q1</option>
                                    <option value="2018-04">2018-Q2</option>
                                    <option value="2018-07">2018-Q3</option>
                                    <option value="2018-10" selected>2018-Q4</option>
                                </select>
                            </div>
                        </div>

                        @*Select Shared Files Status *@
                        <div class="form-group" style="display:none;">
                            <label for="selSharedFilesStatus" class="col-md-4 control-label">Files Status: </label>
                            <div class="col-md-8">
                                <select class="form-control" id="selSharedFilesStatus">
                                    <option value="All">All</option>
                                    <option value="Not Received">Not Received</option>
                                    <option value="Received">Received</option>
                                </select>
                            </div>
                        </div>

                        @*Select Checker Status *@
                        <div class="form-group" style="display:none;">
                            <label for="selCheckerStatus" class="col-md-4 control-label">Checker Status: </label>
                            <div class="col-md-8">
                                <select class="form-control" id="selCheckerStatus">
                                    <option value="All">All</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Rejected">Rejected</option>
                                </select>
                            </div>
                        </div>

                        @*Select SLA Status *@
                        <div class="form-group" style="display:none;">
                            <label for="selSLAStatus" class="col-md-4 control-label">SLA Status: </label>
                            <div class="col-md-8">
                                <select class="form-control" id="selSLAStatus">
                                    <option value="All">All</option>
                                    <option value="On Time">On Time</option>
                                    <option value="Late">Late</option>
                                    <option value="Completed On Time">Completed On Time</option>
                                    <option value="Completed Late">Completed Late</option>
                                </select>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li contactView="Maker">
                    <a href="#tab-maker-list" data-toggle="tab" aria-expanded="false">
                        <i class="fa fa-user-circle"></i> <span id="lblMakerSummary">Maker</span>
                    </a>
                </li>
                <li contactView="Checker">
                    <a href="#tab-checker-list" data-toggle="tab" aria-expanded="false">
                        <i class="fa fa-user-circle-o"></i> <span id="lblCheckerSummary">Checker</span>
                    </a>
                </li>
                <li contactView="Stakeholder">
                    <a href="#tab-stakeholder-list" data-toggle="tab" aria-expanded="false">
                        <i class="fa fa-user-o"></i> <span id="lblStakeholderSummary">Stakeholder</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in" id="tab-maker-list">

                    <button type="button" class="btnAddComment btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-comment"></i> Add Comment </button>
                    @*<button type="button" class="btnCopyLinkToClipboard btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-clipboard"></i> Copy Link </button>*@
                    <button type="button" class="btnUploadFiles btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-upload"></i> Upload Files</button>
                    @*<button type="button" class="btnDelete btn btn-danger top15 left15 bottom15 pull-right"><i class="fa fa-times-circle"></i> Delete Files </button>*@
                    @*<button type="button" class="btnHoliday btn btn-info top15 left15 bottom15 pull-left"><i class="fa fa-calendar"></i> Mark as Holiday </button>*@
                    <button type="button" class="btnProblem btn btn-info top15 left15 bottom15 pull-left"><i class="fa fa-bomb"></i> Mark as Problem </button>

                    <div id="tblMakerActivities" class="clearfix"></div>
                </div>

                <div class="tab-pane fade in" id="tab-checker-list">
                    @*When activity don't have checklist*@
                    <button type="button" class="btnAddComment btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-comment"></i> Add Comment </button>
                    <button type="button" style="display:none;" class="btnApprove btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-check-square-o"></i> Approve </button>
                    <button type="button" style="display:none;" class="btnReject btn btn-danger top15 left15 bottom15 pull-right"><i class="fa fa-times-circle"></i> Reject </button>
                    <button type="button" style="display:none;" class="btnReview btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-check-square-o"></i> Review Activity </button>
                    <button type="button" style="display:none;" class="btnCopyLinkToClipboard btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-clipboard"></i> Copy Link </button>
                    
                    <button type="button" class="btnSendEmailReminder btn btn-info top15 left15 bottom15 pull-left"><i class="fa fa-envelope"></i> Send Reminder </button>
                    <button type="button" class="btnSendEmailEscalation btn btn-info top15 left15 bottom15 pull-left"><i class="fa fa-envelope"></i> Send Escalation </button>
                    @*<button type="button" class="pull-left btnToggleSelectAll btn top15 bottom15" updateSelectTo="1"><i class="fa fa-square-o"></i> Select All </button>*@

                    <div id="tblCheckerActivities" class="clearfix"></div>
                </div>

                <div class="tab-pane fade in" id="tab-stakeholder-list">

                    <button type="button" class="btnAddComment btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-comment"></i> Add Comment </button>
                    <button type="button" class="btnDownloadFiles btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-cloud-download"></i> Download Files </button>

                    <div id="tblStakeholderActivities" class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
</div>