@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Manage Activities";
    ViewBag.CSSLinks = new string[] {
        "/Content/ProcessControlTool/css/style.css",
        "/Content/Shared/plugins/sheetjs/js-xlsx/css/dropfile.css",

        //PartialViewActivityForm CSS
        "/Content/Shared/plugins/fine-uploader/fine-uploader-new.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/moment/moment-recur.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/api.js",
        "/Content/ProcessControlTool/js/PCTGlobal.js",
        "/Content/ProcessControlTool/js/AdminActivity.js",

        //PartialViewActivityForm Javascripts
        "/Content/Shared/plugins/jquery-validation/jquery.validate.1.17.0.js",
        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js"
    };
}

<div class="row">
    <div class="col-md-12 selTeamContainer" id="selTeamContainer">
        @*Select Team*@
        <div class="form-group">
            <label class="col-md-2 col-md-offset-4 control-label">
                <i class="fa fa-angle-double-right"></i> Filter activities by
            </label>
            <div class="col-md-6">
                <select id="selTeam" name="selTeam" class="form-control">
                    <option>-- Select Team --</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12">

        <ul class="nav nav-tabs">
            <li class="active" id="tab-label-list-activity">
                <a href="#tab-activity-list" data-toggle="tab" aria-expanded="false">
                    <i class="fa fa-cog"></i> List
                </a>
            </li>
            <li class="" id="tab-label-activity" style="display:none;">
                <a href="#tab-activity-form" data-toggle="tab" aria-expanded="true">
                    <i class="fa fa-cog"></i> <span id="lblActivityForm">Form</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab-activity-list">
                <button type="button" class="btnNewActivity btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-plus-square"></i> New</button>
                <button type="button" class="btnEditActivity btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-pencil-square-o"></i> Edit</button>
                <button type="button" class="btnDeleteActivity btn btn-danger  top15 left15 bottom15 pull-right"><i class="fa fa-trash-o"></i> Delete</button>
                
                @*TODO: Add export to excel*@
                @*<button type="button" class="btnExportToExcel btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-file-excel-o"></i> Export</button>*@

                @*TODO: Add copy contacts*@
                @*<button type="button" class="btnToggleSelectAll btn top15 bottom15 pull-left" updateSelectTo="1" ><i class="fa fa-square-o"></i> Select All </button>*@
                @*<button type="button" class="btnCopyContacts btn btn-primary top15 left15 bottom15 pull-left"><i class="fa fa-clone"></i> Copy Contacts</button>*@
                <button type="button" class="btnCheckFrequency btn btn-primary top15 left15 bottom15 pull-left"><i class="fa fa-calendar"></i> Check Frequency</button>
                
                <div id="tblActivities" class="clearfix"></div>
            </div>
            <div class="tab-pane fade in" id="tab-activity-form">
                <div id="adminActivityContent"></div>
            </div>
        </div>
    </div>
</div>