@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Business Structure";
    ViewBag.CSSLinks = new string[] {
        "/Content/ProcessControlTool/css/style.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/jquery-validation/jquery.validate.1.17.0.js",
        "/Content/ProcessControlTool/js/PCTGlobal.js",
        "/Content/ProcessControlTool/js/AdminBusinessStructure.js"
    };
}

<div class="row">
    <div class="col-md-12 selGroupContainer">
        @*Select Group*@
        <div class="form-group">
            <label class="col-md-2 col-md-offset-4 control-label">
                <i class="fa fa-angle-double-right"></i> Business Group
            </label>
            <div class="col-md-6">
                <select id="selMSGroup" name="selLabel" class="form-control">
                    <option>-- Select Group --</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active" >
                <a href="#tab-team-list" data-toggle="tab" aria-expanded="false">
                    <i class="fa fa-cog"></i> List
                </a>
            </li>
            <li class="" id="tab-label-team" style="display:none;">
                <a href="#tab-team-form" data-toggle="tab" aria-expanded="true">
                    <i class="fa fa-cog"></i> <span id="lblTeamForActivitym">Form</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab-team-list">
                
                <button type="button" class="btnNewTeam btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-plus-square"></i> New</button>
                <button type="button" class="btnEditTeam btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-pencil-square-o"></i> Edit</button>
                <button type="button" class="btnDeleteTeam btn btn-danger  top15 left15 bottom15 pull-right"><i class="fa fa-trash-o"></i> Delete</button>
                
                <button type="button" style="display:none;" class="btnBusinessAdmin btn btn-primary top15 bottom15 pull-left"><i class="fa fa-pencil-square-o"></i> Business Admins</button>
                <button type="button" style="display:none;" class="btnFieldManager btn btn-primary top15 left15 bottom15 pull-left"><i class="fa fa-pencil-square-o"></i> Fields Manager</button>
                <button type="button" class="btnChecklistManager btn btn-primary top15 left15 bottom15 pull-left"><i class="fa fa-pencil-square-o"></i> Check List Manager</button>

                <div id="tblTeams" class="clearfix"></div>
            </div>
            <div class="tab-pane fade in" id="tab-team-form">
                <div id="adminTeamContent"></div>
            </div>
        </div>
    </div>
</div>