﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Frequency Manager";
    ViewBag.CSSLinks = new string[] {};
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/moment/moment-recur.js",
        "/Content/ProcessControlTool/js/PCTGlobal.js",
        "/Content/ProcessControlTool/js/FrequencyManager.js"
    };
}

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Frequencies</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    
                    <button type="button" class="btnDelete btn btn-danger  top15 left15 bottom15 pull-left"><i class="fa fa-trash-o"></i> Delete</button>

                    <button type="button" class="btnGenerateAll btn btn-primary top15 bottom15 pull-right"><i class="fa fa-search-plus"></i> Generate All</button>
                    <div style="width: 100px;float: right;padding-top: 15px;">
                        <input class="form-control" placeholder="E.g. 2018" id="txtYear">
                    </div>

                    <div id="tblFrequency"></div>
                </div>
            </div>
        </div>
    </section>
</div>