@{
    ViewBag.FilesVersion = Automation.Core.Class.GlobalUtil.GetFilesVersion();
    ViewBag.SubAppPath = Automation.Core.Class.GlobalUtil.GetSubAppPath();
}

@*CSS*@
@*<link rel="stylesheet" type="text/css" media="screen" href="@(ViewBag.SubAppPath)/Content/Shared/plugins/fine-uploader/fine-uploader-new.css?v=@(ViewBag.FilesVersion)">*@

@*Javascripts*@
@*<script type="text/javascript" src="@(ViewBag.SubAppPath)/Content/Shared/plugins/jquery-validation/jquery.validate.min.js?v=@(ViewBag.FilesVersion)"></script>
<script type="text/javascript" src="@(ViewBag.SubAppPath)/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js?v=@(ViewBag.FilesVersion)"></script>*@
<script type="text/javascript" src="@(ViewBag.SubAppPath)/Content/ProcessControlTool/js/PartialViewActivityForm.js?v=@(ViewBag.FilesVersion)"></script>

<!-- Fine Uploader Thumbnails template w/ customization
====================================================================== -->
<script type="text/template" id="qq-field-upload-template">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Select file</div>
            </div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                @*<button type="button" class="qq-btn" style="font-size: 12px;" onclick="setFileName($(this).parent().attr('qq-file-id'))">Set Name</button>*@
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

<div class="row">
    <div class="col-md-12">
        <form id="formActivity">
            <input type="hidden" id="HFIDTeam" value="@((string)Model["HFIDTeam"])" />
            <input type="hidden" id="HFIDActivity" value="@((string)Model["HFIDActivity"])" />
            <input type="hidden" id="HFAction" value="@((string)Model["HFAction"])" />

            <button type="button" class="btnSave btn btn-success left15 pull-right"><i class="fa fa-floppy-o"></i> Save</button>
            <button style="display:none;" type="button" class="btnActivitySettings btn btn-default btn-corner left15 pull-right"><i class="fa fa-cog"></i> Settings</button>
            <div class="form-horizontal">
                
                <h4>Activity Information</h4>
                <br>

                @* Module: Details*@
                @*---------------------------------------------*@
                <div class="module toggle-wrap">
                    <div class="mod-header">
                        <ul class="ops"></ul>
                        <h2 class="toggle-title"><i class="fa fa-th-large"></i> Details</h2>
                    </div>
                    <div class="mod-content">
                        @*Required Fields*@
                        <div class="row">
                            <div class="col-md-6">
                                @*Name*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-angle-double-right"></i> Name
                                    </label>
                                    <div class="col-md-6">
                                        <div class="form-control" placeholder="Add Activity Name..." contenteditable="true" id="txtName" name="txtName"></div>
                                    </div>
                                </div>

                                @*Frequency*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-angle-double-right"></i> Frequency
                                    </label>
                                    <div class="col-md-6">
                                        <div id="lblActivityFrequency" name="lblActivityFrequency" class="form-control" validatelement="true" style="word-break: break-word;"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-default btn-sm btnChangeFrequency">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </div>
                                </div>

                                @*Activity Team*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-angle-double-right"></i> <span id="lblSelActivityTeam">Activity Team:</span>
                                    </label>
                                    <div class="col-md-6">
                                        <select id="selActivityTeam" name="selActivityTeam" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*Checklist*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-angle-double-right"></i> Checker Checklist
                                    </label>
                                    <div class="col-md-6">
                                        <select id="selChecklist" name="selChecklist" class="form-control"></select>
                                    </div>
                                </div>

                                @*eDCFC Activity Mapping*@
                                <div id="containerEDCFCMapping"></div>

                                @*GOC*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-angle-double-right"></i> GOC
                                    </label>
                                    <div class="col-md-6">
                                        <div id="lblGOC" name="lblGOC" class="form-control" validatelement="true" style="word-break: break-word;"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        @*CProperty Fields*@
                        <div class="row" id="cfieldContainer"></div>
                    </div>
                </div>

                @* Module: Contacts*@
                @*---------------------------------------------*@
                <div class="module toggle-wrap">
                    <div class="mod-header">
                        <ul class="ops"></ul>
                        <h2 class="toggle-title"><i class="fa fa-users"></i> Contacts</h2>
                    </div>
                    <div class="mod-content">
                        @*Contact Fields*@
                        <div class="row">
                            <div class="col-md-6">
                                @*Makers*@
                                <div id="containerMakerContacts"></div>

                                @*Checker*@
                                <div id="containerCheckerContacts" ></div>
                            </div>
                            <div class="col-md-6">
                                @*Stakeholder*@
                                <div id="containerStakeholderContacts"></div>
                            </div>
                        </div>
                    </div>
                </div>

                @* Module: Share Drive Files*@
                @*---------------------------------------------*@
                <div class="module toggle-wrap">
                    <div class="mod-header">
                        <ul class="ops">
                            <button type="button" class="btn btn-success btn-sm btnAddFile " style="margin-right: 14px;">
                                <i class="fa fa-plus-square-o"></i>
                            </button>
                        </ul>
                        <h2 class="toggle-title"><i class="fa fa-files-o"></i> Share Drive Files</h2>
                    </div>
                    <div class="mod-content">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td width="20%">File Name</td>
                                    <td width="12%">File Ext</td>
                                    <td width="28%">Description</td>
                                    <td width="35%">Folder Structure</td>
                                    <td width="5%"></td>
                                    @*<td width="22%">Working File</td>
                                    <td width="11%">Is Required?</td>*@
                                </tr>
                            </thead>
                            <tbody class="containerRowsSharedFiles"></tbody>
                        </table>
                    
                        <label class="pull-right">
                            <b>Share Drive: </b>
                            <label id="lblShareDrivePath">...</label>
                        </label>
                    </div>

                </div>

                @* Module: Document links*@
                @*---------------------------------------------*@
                <div class="module toggle-wrap" style="display:none;">
                    <div class="mod-header">
                        <ul class="ops"></ul>
                        <h2 class="toggle-title"><i class="fa fa-link"></i> SOP / Documentation Links </h2>
                    </div>
                    <div class="mod-content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td width="25%">Name</td>
                                    <td width="35%">Description</td>
                                    <td width="40%">URL</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-control" placeholder="Add Name..." contenteditable="true"></div>
                                    </td>
                                    <td>
                                        <div class="form-control" placeholder="Add Description..." contenteditable="true"></div>
                                    </td>
                                    <td>
                                        <div class="form-control" placeholder="Add URL..." contenteditable="true"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                @* Module: COB Information *@
                @*---------------------------------------------*@
                <div class="module toggle-wrap" style="display:none;">
                    <div class="mod-header">
                        <ul class="ops"></ul>
                        <h2 class="toggle-title"><i class="fa fa-ambulance"></i> COB Information</h2>
                    </div>
                    <div class="mod-content">

                        @*Contact Fields*@
                        <div class="row">
                            <div class="col-md-6">
                                @*WAD Makers*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-angle-double-right"></i> WAD Maker
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default"> Select Users </button>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Click to select ..." aria-label="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*WAD Checker*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        <i class="fa fa-angle-double-right"></i> WAD Checker
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default"> Select Users </button>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Click to select ..." aria-label="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <button type="button" class="btnSave btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-floppy-o"></i> Save</button>
            </div>
            <div style="clear:both;"></div>
        </form>
    </div>
</div>