﻿

<form id="formModalPolice" style="padding:0px !important;">

    <div class="col-md-12">
        <!--SOEID-->
        <div class="col-md-1">
            <div class="form-group compactModal">
                <span class="label label-primary" style="font-size: 14px;"><i class="fa fa-group"></i>SOEID:</span>
            </div>
        </div>
        <div class="col-md-2" style="margin-left: 10px;">
            <div class="form-group compactModal">
                <label class="control-label" for="txt_componentId">@(Model["SOEID"])</label>
            </div>
        </div>

        <!--Full Name-->
        <div class="col-md-2">
            <div class="form-group compactModal">
                <span class="label label-primary"  style="font-size: 14px;"><i class="fa fa-caret-square-o-right"></i>Full Name:</span>
            </div>
        </div>

        <div class="col-md-4" style="margin-left: -48px;">
            <div class="form-group compactModal">
                <label class="control-label">@(Model["Name"])</label> 
            </div>
        </div>

        <!--Status-->
        <div class="col-md-1">
            <div class="form-group compactModal">
                <label class="control-label">Status:</label>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group compactModal">
                <label class="control-label">@(Model["Status"])</label>
            </div>
        </div>


    </div>



    <!--Approved Date-->
    <div class="col-md-4">
        <div class="form-group compactModal">
            <label class="control-label">Approved Date</label>
            <input type="text" class="form-control" id="txt_componentId" placeholder="Pending Approval" value="@(Model["ApprovedDate"])" disabled>

        </div>
    </div>

    <!--ApprovedBy-->
    <div class="col-md-4">
        <div class="form-group compactModal">
            <label class="control-label">Approved By</label>
            <input type="text" class="form-control" id="txt_componentId" placeholder="Pending Approval" value="@(Model["ApprovedBy"])" disabled>
        </div>
    </div>

    <!--Approval-->
    <div class="col-md-4">
        <ul class="list-group" style="margin-top:18px;">
            <li class="list-group-item" style="background-color:transparent !important; color:rgba(118, 118, 118, 1.0) !important; border-color: #e1e1e1;">
                Approve?
                <div class="material-switch pull-right">
                    <input id="chk_active" name="chk_active" type="checkbox" />
                    <label for="chk_active" id="labelactive" class="label-success"></label>
                </div>
            </li>
        </ul>
    </div>

    <!--EmailReference-->
    <div class="col-md-6">
        <div class="form-group compactModal">
            <label class="control-label">Email Reference</label>
            <input type="text" class="form-control" placeholder="Enter a email" id="txt_componentId" value="@(Model["EmailReference"])">
        </div>
    </div>


    <!--IQueryGroup-->
    <div class="col-md-6">
        <div class="form-group compactModal">
            <label class="control-label">IQuery Group</label>
            <input type="text" class="form-control" id="txt_componentId" placeholder="Enter a Iquery Group" value="@(Model["IQueryGroup"])">
        </div>
    </div>




</form>









