@{
    ViewBag.Title = "Police";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/SalesAndUse/css/style.css",
    };
    ViewBag.JSLinks = new string[] {
        "/Content/IQueryMetrics/js/Police.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
        "/Content/Shared/plugins/jquery-validation/additional-methods.min.js"
    };
}


<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">Police</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
            <a class="box_close fa fa-times"></a>
        </div>
    </header>
    <div class="content-body">
        <div id="tbl_Police"></div>
    </div>
</section>