@{
    ViewBag.Title = "EUC Home page";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="col-xs-12">
    <h2>Welcome to Global EUC Inventory!</h2>
</div>

<div class="col-xs-12 col-sm-6 col-lg-4 sort_panel ui-sortable">
    <section class="box primary">
        <header class="panel_header ui-sortable-handle">
            <h2 class="title pull-left">FRO Inventory</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
            </div>
        </header>
        <div class="content-body" style="display: block;">
            <div class="row">
                <div class="col-xs-12">
                    <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. Graphic design can be used for advertising, or just for entertainment intended for the mind.</p>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="col-xs-12 col-sm-6 col-lg-4 sort_panel ui-sortable">
    <section class="box success">
        <header class="panel_header ui-sortable-handle">
            <h2 class="title pull-left">HRSS Inventory</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. Graphic design can be used for advertising, or just for entertainment intended for the mind.</p>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="col-xs-12 col-sm-6 col-lg-4 sort_panel ui-sortable">
    <section class="box info">
        <header class="panel_header ui-sortable-handle">
            <h2 class="title pull-left">Finance Inventory</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. Graphic design can be used for advertising, or just for entertainment intended for the mind.</p>

                </div>
            </div>
        </div>
    </section>
</div>
