<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta http-equiv="cleartype" content="on">
<meta name="HandheldFriendly" content="True">
@{
    ViewBag.Title = "FRSS Solutions";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/AutomationFramework/css/responsiveMainApp.css",
        "/Content/AutomationFramework/css/resetMainApp.css"
    };

    ViewBag.JSLinks = new string[] {
        "/Content/AutomationFramework/js/mainPageApp.js",


    };
}
<style>

</style>
<h2>
    FRSS solutions
</h2>

<section class="listings">
    <div id="datalist" class="wrapper container">
        <div style="margin-bottom:50px">
            <label>Sort By:</label>
            <select id="selSort">
                <option value="">
                    
                </option>
                <option value="Access">
                    Access Granted
                </option>
                <option value="AZ">
                    A - Z
                </option>
                <option value="ZA">
                    Z - A
                </option>
            </select>
        </div>
        <ul id="appCatalog" class="properties_list">
            @* AAI
            <li>
                <div class="half">

                    <span class="tool" data-app="AAI">AAI</span>


                    <div id="AAI" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>


                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* AMSUtility
            <li>
                <div class="half">

                    <span class="tool" >AMSUtility</span>


                    <div id="AMSUtility" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>


                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* APT
            <li>
                <div class="half" >

                    <span class="tool" >APT</span>
                    <div id="APT" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div id="aptAccess" class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@

            @* CashFlow
            <li>
                <div class="half">

                    <span class="tool" >CashFlow</span>
                    <div id="CashFlow" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* CheckList
            <li>
                <div class="half">

                    <span class="tool" >CheckList</span>
                    <div id="CheckList" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* CLS
            <li>
                <div class="half">

                    <span class="tool" >CLS</span>
                    <div id="CLS" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* CMAT
            <li>
                <div class="half">

                    <span class="tool" >CMAT</span>
                    <div id="CMAT" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* CPR
            <li>
                <div class="half">

                    <span class="tool" >CPR</span>
                    <div id="CPR" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* eDCFCAsia
            <li>
                <div class="half" id="">

                    <span class="tool" >eDCFCAsia</span>
                    <div id="eDCFCAsia" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* eDCFCFRSS
            <li>
                <div class="half">

                    <span class="tool" >eDCFCFRSS</span>
                    <div id="eDCFCFRSS" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* EditChecks
            <li>
                <div class="half">

                    <span class="tool" >EditChecks</span>
                    <div id="EditChecks" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* EUCMT
            <li>
                <div class="half">

                    <span class="tool" >EUCMT</span>
                    <div id="EUCMT" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* FinanceCalendar
            <li>
                <div class="half">

                    <span class="tool" >FinanceCalendar</span>
                    <div id="FinanceCalendar" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* FixedAssets
            <li>
                <div class="half">

                    <span class="tool" >FixedAssets</span>
                    <div id="FixedAssets" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* FlashTool
            <li>
                <div class="half">

                    <span class="tool" >FlashTool</span>
                    <div id="FlashTool" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* FRGPO
            <li>
                <div class="half">

                    <span class="tool" >FRGPO</span>
                    <div id="FRGPO" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* CSSUniversity
            <li>
                <div class="half">

                    <span class="tool" >CSSUniversity</span>
                    <div id="CSSUniversity" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* HMT1
            <li>
                <div class="half">

                    <span class="tool" >HMT1</span>
                    <div id="HMT1" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* HMT2
            <li>
                <div class="half">

                    <span class="tool" >HMT2</span>
                    <div id="HMT2" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* IMT
            <li>
                <div class="half">

                    <span class="tool" >IMT</span>
                    <div id="IMT" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* IMT Maker Cheker
            <li>
                <div class="half">

                    <span class="tool" >IMT Maker Cheker</span>
                    <div id="IMTMakerCheker" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* IncomeAndOther
            <li>
                <div class="half">

                    <span class="tool">IncomeAndOther</span>
                    <div id="IncomeAndOther" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* PMTOOL
            <li>
                <div class="half">

                    <span class="tool">PMTOOL</span>
                    <div id="PMTOOL" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* PROMES
            <li>
                <div class="half">

                    <span class="tool" >PROMES</span>
                    <div id="PROMES" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* Qmemo
            <li>
                <div class="half">

                    <span class="tool" >Qmemo</span>
                    <div id="Qmemo" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </divid="Qmemo">
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* QTP
            <li>
                <div class="half">

                    <span class="tool">QTP</span>
                    <div id="QTP" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* SAU
            <li>
                <div class="half">

                    <span class="tool" >SAU</span>
                    <div id="SAU" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* SupportDocBSS
            <li>
                <div class="half">

                    <span class="tool" >SupportDocBSS</span>
                    <div id="SupportDocBSS" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* SupportDocCAA
            <li>
                <div class="half">

                    <span class="tool" >SupportDocCAA</span>
                    <div id="SupportDocCAA" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* SupportDocProdControl 
            <li>
                <div class="half">

                    <span class="tool">SupportDocProdControl</span>
                    <div id="SupportDocProdControl" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @*
            <li>
                <div class="half">

                    <span class="tool">SwitchBoardApp</span>
                    <div id="SwitchBoardApp" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* TGL
            <li>
                <div class="half">

                    <span class="tool" >TGL</span>
                    <div id="TGL" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>*@
            @* TheFirm
            <li>
                <div class="half">

                    <span class="tool" >TheFirm</span>
                    <div id="TheFirm" class="overlay-effect-denied">
                        <h1>
                            <p class="anchor" href="#">Get a CMP</p>
                        </h1>
                    </div>
                    <div class="denied">
                        <h2>Access Denied</h2>
                    </div>
                </div>
            </li>

            *@
        </ul>
            <div id="loadMore" class="more_listing">
                <a href="#" class="more_listing_btn">View More Listings</a>
            </div>
            <div id="loadLess" class="more_listing" style="display:none">
                <a href="#" class="more_listing_btn">View Less Listings</a>
            </div>
        
        
    </div>
</section>	<!--  end listing section  -->