﻿.jqx-rc-tl-blackberryOrange
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.jqx-rc-tr-blackberryOrange
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.jqx-rc-bl-blackberryOrange
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.jqx-rc-br-blackberryOrange
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*top rounded Corners*/
.jqx-rc-t-blackberryOrange
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
/*bottom rounded Corners*/
.jqx-rc-b-blackberryOrange
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*right rounded Corners*/
.jqx-rc-r-blackberryOrange
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*left rounded Corners*/
.jqx-rc-l-blackberryOrange
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*all rounded Corners*/
.jqx-rc-all-blackberryOrange
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.jqx-widget-blackberryOrange {
    font-size: 12px;
    font-family: Slate Pro, Slate, Helvetica, sans-serif;
    color: inherit;
}
.jqx-widget-content-blackberryOrange {
   font-family: Slate Pro, Slate, Helvetica, sans-serif;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0,0,0,0.2);
    font-size: 12px;
    color: #000;
 }

.jqx-widget-blackberryOrange {
    border-color: #f0ad4e;
}
.jqx-widget-header-blackberryOrange {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    font-size: 12px;
    font-family: Slate Pro, Slate, Helvetica, sans-serif;
    z-index: 0;
}
.jqx-grid-cell-blackberryOrange {
    font-size: 12px;
}
.jqx-button-blackberryOrange, .jqx-fill-state-normal-blackberryOrange, .jqx-fill-state-hover-blackberryOrange   {
    border-color: #CECACE;
    font-family: Slate Pro, Slate, Helvetica, sans-serif;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c6c3c6), color-stop(100%, #e7e7e7));
    background: -webkit-linear-gradient(#c6c3c6, #e7e7e7);
    background: -moz-linear-gradient(#c6c3c6, #e7e7e7);
    background: -o-linear-gradient(#c6c3c6, #e7e7e7);
    background: linear-gradient(#c6c3c6, #e7e7e7);
    font-size: 12px;
    color: #000;
}
.jqx-fill-state-pressed-blackberryOrange, .jqx-combobox-multi-item-blackberryOrange {
    background: rgba(240, 173, 78, 0.61);
    border-color: #5e5e5e;
    color: #fff;
    font-size: 12px;
    font-family: Slate Pro, Slate, Helvetica, sans-serif;
}
.jqx-grid-group-column-blackberryOrange {
    color: #fff;
    background: #f0ad4e;
    border-color: #f0ad4e;
}
.jqx-radiobutton-default-blackberryOrange {
   background: #e7e7e7; 
}
.jqx-button-blackberryOrange {
    border-width: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.jqx-widget-blackberryOrange .jqx-grid-column-menubutton-blackberryOrange, .jqx-grid-column-menubutton-blackberryOrange {
    background-color: transparent;
    border-color: #f0ad4e;
}

.jqx-calendar-row-header-blackberryOrange, .jqx-calendar-top-left-header-blackberryOrange {
    background-color: #f0f0f0;
    border: 0px solid rgba(0,0,0,0.2);
}

.jqx-calendar-column-header-blackberryOrange {
    background-color: #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #e9e9e9;
}

.jqx-scrollbar-state-normal-blackberryOrange {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.jqx-scrollbar-thumb-state-normal-blackberryOrange, .jqx-scrollbar-thumb-state-normal-horizontal-blackberryOrange {
    background: #9b9b9b;
    border-color: #b3b3b3;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.jqx-scrollbar-thumb-state-hover-blackberryOrange, .jqx-scrollbar-thumb-state-hover-horizontal-blackberryOrange {
    background: #e6e6e6;
    border-color: #b3b3b3;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.jqx-progressbar-blackberryOrange {
    background: #f7f7f7 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jqx-progressbar-value-blackberryOrange, .jqx-splitter-collapse-button-horizontal-blackberryOrange {
    background-color: #00aae7;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #00aae7, #00aae7);
}

.jqx-splitter-collapse-button-vertical-blackberryOrange, .jqx-progressbar-value-vertical-blackberryOrange {
    background-color: #00aae7;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, #00aae7, #00aae7);
}

.jqx-scrollbar-thumb-state-pressed-blackberryOrange, .jqx-splitter-splitbar-vertical-blackberryOrange, .jqx-splitter-splitbar-horizontal-blackberryOrange, .jqx-scrollbar-thumb-state-pressed-horizontal-blackberryOrange {
    background: #d9d9d9;
    border-color: #b3b3b3;
     box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.jqx-grid-column-sortdescbutton-blackberryOrange, jqx-grid-column-filterbutton-blackberryOrange, .jqx-grid-column-sortascbutton-blackberryOrange {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #cccccc;
}

.jqx-slider-rangebar-blackberryOrange {
    background: #cccccc;
}

.jqx-menu-vertical-blackberryOrange {
    background: #ffffff;
    filter: none;
}

.jqx-checkbox-check-checked-blackberryOrange {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC');
}
.jqx-checkbox-hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.jqx-combobox-content-blackberryOrange, .jqx-input-blackberryOrange {
}

.jqx-combobox-content-blackberryOrange {
    border-color: #cccccc;
    border-color: rgba(0,0,0,0.2);
}

.jqx-grid-bottomright-blackberryOrange, .jqx-panel-bottomright-blackberryOrange, .jqx-listbox-bottomright-blackberryOrange {
    background-color: #efefef;
}
.jqx-listitem-state-normal-touch-blackberryOrange {
    padding-top: 5px;
    padding-bottom: 5px;
}
.jqx-window-blackberryOrange, .jqx-tooltip-blackberryOrange {
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}

.jqx-docking-blackberryOrange .jqx-window-blackberryOrange {
    box-shadow: none;
}

.jqx-docking-panel-blackberryOrange .jqx-window-blackberryOrange {
    box-shadow: none;
}

.jqx-radiobutton-blackberryOrange {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background: none;
}

.jqx-radiobutton-blackberryOrange-blackberryOrange, .jqx-radiobutton-hover-blackberryOrange {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
}

.jqx-radiobutton-check-checked-blackberryOrange {
    filter: none;
    background: #666;
    background-repeat: no-repeat;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-radiobutton-check-indeterminate-blackberryOrange {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-radiobutton-check-indeterminate-disabled-blackberryOrange {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-slider-track-horizontal-blackberryOrange, .jqx-slider-track-vertical-blackberryOrange {
    border-color: #cccccc;
    background: #f0f0f0;
}

.jqx-slider-button-blackberryOrange {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-popup-blackberryOrange {
    border: 1px solid #ccc;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}
.jqx-grid-column-sortascbutton-blackberryOrange, .jqx-expander-arrow-bottom-blackberryOrange, .jqx-window-collapse-button-blackberryOrange, .jqx-menu-item-arrow-up-blackberryOrange, .jqx-menu-item-arrow-up-selected-blackberryOrange, .jqx-menu-item-arrow-top-up-blackberryOrange, .jqx-icon-arrow-up-blackberryOrange, .jqx-icon-arrow-up-hover-blackberryOrange, .jqx-icon-arrow-up-selected-blackberryOrange {
    background-image: url('images/icon-up.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-widget-blackberryOrange .jqx-grid-group-expand-blackberryOrange, .jqx-grid-group-expand-blackberryOrange, .jqx-grid-column-menubutton-blackberryOrange, .jqx-grid-column-sortdescbutton-blackberryOrange, .jqx-expander-arrow-top-blackberryOrange, .jqx-window-collapse-button-collapsed-blackberryOrange, .jqx-menu-item-arrow-down-blackberryOrange, .jqx-menu-item-arrow-down-selected-blackberryOrange, .jqx-menu-item-arrow-down-blackberryOrange, .jqx-icon-arrow-down-blackberryOrange, .jqx-icon-arrow-down-hover-blackberryOrange, .jqx-icon-arrow-down-selected-blackberryOrange {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-tabs-arrow-left-blackberryOrange, .jqx-menu-item-arrow-left-selected-blackberryOrange, .jqx-menu-item-arrow-top-left, .jqx-icon-arrow-left-blackberryOrange, .jqx-icon-arrow-down-left-blackberryOrange, .jqx-icon-arrow-left-selected-blackberryOrange {
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-widget-blackberryOrange .jqx-grid-group-collapse-blackberryOrange, .jqx-grid-group-collapse-blackberryOrange, .jqx-tabs-arrow-right-blackberryOrange, .jqx-menu-item-arrow-right-selected-blackberryOrange, .jqx-menu-item-arrow-top-right-blackberryOrange, .jqx-icon-arrow-right-blackberryOrange, .jqx-icon-arrow-right-hover-blackberryOrange, .jqx-icon-arrow-right-selected-blackberryOrange {
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-item-arrow-collapse-blackberryOrange {
    background-image: url('images/icon-right.png') !important;
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-item-arrow-collapse-rtl-blackberryOrange, .jqx-tree-item-arrow-collapse-hover-rtl-blackberryOrange {
    background-image: url(images/icon-left.png);
}

.jqx-menu-item-arrow-left-selected-blackberryOrange {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-menu-item-arrow-right-selected-blackberryOrange {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-input-button-content-blackberryOrange
{  
    font-size: 13px;
}
.jqx-input-button-header-blackberryOrange {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-group-cell {border-color: #ccc; border-color: rgba(0,0,0,0.2);}
.jqx-combobox-content-blackberryOrange, .jqx-input-blackberryOrange, .jqx-input-group-addon-blackberryOrange {
    border-color: #cccccc;
    border-color: rgba(0,0,0,0.2);
    color: #555555;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.jqx-combobox-content-blackberryOrange, .jqx-combobox-blackberryOrange, .jqx-combobox-state-normal-blackberryOrange {
    border-color: #cccccc;
    border-color: rgba(0,0,0,0.2);
}

.jqx-combobox-content-focus-blackberryOrange, .jqx-combobox-state-focus-blackberryOrange, .jqx-fill-state-focus-blackberryOrange,
.jqx-numberinput-focus-blackberryOrange {
    outline: none;
    border-color: #959595;
}

input[type="text"].jqx-input-blackberryOrange:-moz-placeholder, input[type="text"].jqx-widget-content-blackberryOrange:-moz-placeholder, input[type="textarea"].jqx-widget-content-blackberryOrange:-moz-placeholder, textarea.jqx-input-blackberryOrange:-moz-placeholder {
    color: #999999;
}

input[type="text"].jqx-input-blackberryOrange:-webkit-input-placeholder, input[type="text"].jqx-widget-content-blackberryOrange:-webkit-input-placeholder, input[type="textarea"].jqx-widget-content-blackberryOrange:-webkit-input-placeholder, textarea.jqx-input-blackberryOrange:-webkit-input-placeholder {
    color: #999999;
}

input[type="text"].jqx-input-blackberryOrange:-ms-input-placeholder, input[type="text"].jqx-widget-content-blackberryOrange:-ms-input-placeholder, input[type="textarea"].jqx-widget-content-blackberryOrange:-ms-input-placeholder, textarea.jqx-input-blackberryOrange:-ms-input-placeholder {
    color: #999999;
}

.jqx-slider-rangebar-blackberryOrange {
    border-color: #00aae7;
    background: #00aae7;
}
.jqx-tabs-blackberryOrange {
    border: 1px solid #1a1a1a;
}
.jqx-tabs-title-blackberryOrange {
    background: transparent;
    border-color: transparent;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -moz-border-bottom-left-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
}
.jqx-tabs-header-blackberryOrange, .jqx-tabs-arrow-background {
    background-color: #1a1a1a;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,rgba(255,255,255,0.18)),color-stop(1,rgba(255,255,255,0)));
    background-image: -moz-linear-gradient(top,rgba(255,255,255,0.18),rgba(255,255,255,0));
    background-image: linear-gradient(top,rgba(255,255,255,0.18),rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top,rgba(255,255,255,0.18),rgba(255,255,255,0));
    background-image: -o-linear-gradient(top,rgba(255,255,255,0.18),rgba(255,255,255,0));
    color: #fff;
    border-color: #000;
}
.jqx-tabs-title-selected-top-blackberryOrange, .jqx-tabs-selection-tracker-top-blackberryOrange {
    border-bottom: 0px solid transparent;
    border-top: 2px solid #057fe4;
    color: #fff;
    background: #3a3a3a;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f3f3f), color-stop(100%, #353535));
    background-image: -webkit-linear-gradient(top, #3f3f3f, #353535);
    background-image: -moz-linear-gradient(top, #3f3f3f, #353535);
    background-image: -o-linear-gradient(top, #3f3f3f, #353535);
    background-image: linear-gradient(top, #3f3f3f, #353535);
    box-shadow: 0 0px 5px #000;
    -webkit-box-shadow: 0 0px 5px #000;
    padding-top: 4px;
    padding-bottom: 4px;
}

.jqx-tabs-title-selected-bottom-blackberryOrange, .jqx-tabs-selection-tracker-bottom-blackberryOrange {
    border-top: 2px solid #057fe4;
    color: #fff;
    margin-top: 0px;
    background: #3a3a3a;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f3f3f), color-stop(100%, #353535));
    background-image: -webkit-linear-gradient(top, #3f3f3f, #353535);
    background-image: -moz-linear-gradient(top, #3f3f3f, #353535);
    background-image: -o-linear-gradient(top, #3f3f3f, #353535);
    background-image: linear-gradient(top, #3f3f3f, #353535);
    box-shadow: 0 0px 5px #000;
    -webkit-box-shadow: 0 0px 5px #000;
    padding-top: 4px;
    padding-bottom: 4px;
}
.jqx-tabs-title-hover-top-blackberryOrange, .jqx-tabs-title-hover-bottom-blackberryOrange, .jqx-tabs-header-blackberryOrange
{
    color: #fff;
}
.jqx-expander-arrow-expanded-blackberryOrange, .jqx-icon-arrow-up-selected-blackberryOrange{background-image:url('images/icon-up-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-icon-arrow-down-selected-blackberryOrange{background-image:url('images/icon-down-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-icon-arrow-left-selected-blackberryOrange{background-image:url('images/icon-left-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-icon-arrow-right-selected-blackberryOrange{background-image:url('images/icon-right-white.png');background-repeat:no-repeat; background-position:center}
.jqx-grid-column-sortdescbutton-blackberryOrange, jqx-grid-column-filterbutton-blackberryOrange, .jqx-grid-column-sortascbutton-blackberryOrange{ background-color:transparent;  border-style:solid;  border-width:0px 0px 0px 0px;  border-color:#f0ad4e}

.jqx-menu-item-arrow-right-selected-blackberryOrange{background-image:url(images/icon-right-white.png); background-position:100% 50%; background-repeat:no-repeat}
.jqx-menu-item-arrow-down-selected-blackberryOrange{background-image:url(images/icon-down-white.png); background-position:100% 50%; background-repeat:no-repeat}
.jqx-menu-item-arrow-up-selected-blackberryOrange{background-image:url(images/icon-up-white.png);background-position:100% 50%; background-repeat:no-repeat}
.jqx-menu-item-arrow-left-selected-blackberryOrange{background-image:url(images/icon-left-white.png); background-position:0 50%; background-repeat:no-repeat}

.jqx-button-blackberryOrange .jqx-icon-arrow-left-blackberryOrange {
    background-image:url('images/icon-left.png');
}
.jqx-button-blackberryOrange .jqx-icon-arrow-right-blackberryOrange {
    background-image:url('images/icon-right.png');
}
.jqx-listmenu-item-blackberryOrange.jqx-fill-state-normal-blackberryOrange .jqx-icon-arrow-left-blackberryOrange {
    background-image:url('images/icon-left.png');
}
.jqx-listmenu-item-blackberryOrange.jqx-fill-state-normal-blackberryOrange .jqx-icon-arrow-right-blackberryOrange {
    background-image:url('images/icon-right.png');
}
.jqx-listmenu-item-blackberryOrange.jqx-fill-state-pressed-blackberryOrange .jqx-icon-arrow-left-blackberryOrange {
    background-image:url('images/icon-left-white.png');
}
.jqx-listmenu-item-blackberryOrange.jqx-fill-state-pressed-blackberryOrange .jqx-icon-arrow-right-blackberryOrange {
    background-image:url('images/icon-right-white.png');
}
.jqx-listmenu-header-label-blackberryOrange {
    font-size: 12px;
    margin-left: -5px;
}
.jqx-listmenu-item-label-blackberryOrange {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.jqx-listmenu-item-blackberryOrange a:link, .jqx-listmenu-item-blackberryOrange a:visited {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.jqx-listmenu-item-blackberryOrange {
    padding: 0px;
}
.jqx-listmenu-separator-blackberryOrange {
    font-size: 12px; 
    font-family: Slate Pro, Slate, Helvetica, sans-serif;
}

.jqx-grid-column-sortascbutton-blackberryOrange, .jqx-window-collapse-button-blackberryOrange, .jqx-menu-item-arrow-up-selected-blackberryOrange, .jqx-menu-item-arrow-top-up-blackberryOrange, .jqx-icon-arrow-up-selected-blackberryOrange{background-image:url('images/icon-up-white.png');background-repeat:no-repeat;background-position:center}
.jqx-grid-column-menubutton-blackberryOrange, .jqx-grid-column-sortdescbutton-blackberryOrange, .jqx-window-collapse-button-collapsed-blackberryOrange, .jqx-menu-item-arrow-down-selected-blackberryOrange, .jqx-menu-item-arrow-down-blackberryOrange, .jqx-icon-arrow-down-selected-blackberryOrange{background-image:url('images/icon-down-white.png');background-repeat:no-repeat;background-position:center}
.jqx-tabs-arrow-left-blackberryOrange, .jqx-menu-item-arrow-left-selected-blackberryOrange, .jqx-icon-arrow-left-blackberryOrange, .jqx-menu-item-arrow-top-left-blackberryOrange{background-image:url('images/icon-left-white.png');background-repeat:no-repeat;background-position:center}
.jqx-tabs-arrow-right-blackberryOrange, .jqx-menu-item-arrow-right-selected-blackberryOrange, .jqx-menu-item-arrow-top-right-blackberryOrange, .jqx-icon-arrow-right-blackberryOrange, .jqx-icon-arrow-right-hover-blackberryOrange, .jqx-icon-arrow-right-selected-blackberryOrange{background-image:url('images/icon-right-white.png');background-repeat:no-repeat;background-position:center}
.jqx-window-close-button-blackberryOrange, .jqx-icon-close-blackberryOrange, .jqx-tabs-close-button-blackberryOrange, .jqx-tabs-close-button-hover-blackberryOrange, .jqx-tabs-close-button-selected-blackberryOrange{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center}
.jqx-button-blackberryOrange {
   padding: 10px 7px;
}
input[type=text].jqx-input-blackberryOrange, input[type=password].jqx-input-blackberryOrange{
   font-size: 12px; 
    font-family: Slate Pro, Slate, Helvetica, sans-serif;
}

.jqx-group-button-normal-blackberryOrange{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
     -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.jqx-progressbar-text-blackberryOrange {
    font-size: 12px;
}
.jqx-slider-button-blackberryOrange
{
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    padding: 4px !important;
}
.jqx-slider-slider-blackberryOrange {
    width: 25px;
    height: 25px;
    margin-top: -10px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.jqx-slider-button-blackberryOrange.jqx-fill-state-pressed-blackberryOrange .jqx-icon-arrow-right-blackberryOrange {
      background-image: url('images/icon-right-white.png');
}
.jqx-slider-button-blackberryOrange.jqx-fill-state-pressed-blackberryOrange .jqx-icon-arrow-left-blackberryOrange {
      background-image: url('images/icon-left-white.png');
}
.jqx-slider-button-blackberryOrange.jqx-fill-state-pressed-blackberryOrange .jqx-icon-arrow-up-blackberryOrange {
      background-image: url('images/icon-up-white.png');
}
.jqx-slider-button-blackberryOrange.jqx-fill-state-pressed-blackberryOrange .jqx-icon-arrow-down-blackberryOrange {
      background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-blackberryOrange.jqx-grid-cell-selected-blackberryOrange>.jqx-grid-group-expand-blackberryOrange,
.jqx-grid-cell-blackberryOrange.jqx-grid-cell-hover-blackberryOrange>.jqx-grid-group-expand-blackberryOrange {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-blackberryOrange.jqx-grid-cell-selected-blackberryOrange>.jqx-grid-group-collapse-blackberryOrange,
.jqx-grid-cell-blackberryOrange.jqx-grid-cell-hover-blackberryOrange>.jqx-grid-group-collapse-blackberryOrange {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-blackberryOrange.jqx-grid-cell-selected-blackberryOrange>.jqx-grid-group-collapse-rtl-blackberryOrange,
.jqx-grid-cell-blackberryOrange.jqx-grid-cell-hover-blackberryOrange>.jqx-grid-group-collapse-rtl-blackberryOrange {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-blackberryOrange.jqx-grid-cell-selected-blackberryOrange>.jqx-grid-group-expand-rtl-blackberryOrange,
.jqx-grid-cell-blackberryOrange.jqx-grid-cell-hover-blackberryOrange>.jqx-grid-group-expand-rtl-blackberryOrange {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-grid-expand-button-blackberryOrange, .jqx-tree-grid-collapse-button-blackberryOrange {
    margin-top: 0px;
}
.jqx-tree-grid-checkbox-blackberryOrange {
    margin-top: 1px;
}
.jqx-icon-arrow-first-selected-blackberryOrange
{
    background-image: url('images/icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-selected-blackberryOrange
{
    background-image: url('images/icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-button-blackberryOrange .jqx-icon-arrow-left-selected-blackberryOrange, .jqx-icon-arrow-left-selected-blackberryOrange
{
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-button-blackberryOrange .jqx-icon-arrow-right-selected-blackberryOrange, .jqx-icon-arrow-right-selected-blackberryOrange
{
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
 .jqx-icon-calendar-pressed-blackberryOrange {
    background-image: url('images/icon-calendar-white.png');
}
 .jqx-icon-time-pressed-blackberryOrange {
    background-image: url('images/icon-time-white.png');
}
 .jqx-file-upload-blackberryOrange .jqx-icon-arrow-up-blackberryOrange {
  background-image: url('images/icon-up-white.png');
}
.jqx-file-upload-file-name-blackberryOrange{padding:3px;}
.jqx-file-upload-file-row-blackberryOrange{ height: 40px;}
.jqx-layout-blackberryOrange
{
    background-color: #f0ad4e;
}
.jqx-layout-pseudo-window-pin-icon-blackberryOrange
{
    background-image: url("images/pin-white.png");
}
.jqx-layout-pseudo-window-pinned-icon-blackberryOrange
{
    background-image: url("images/pinned-white.png");
}