﻿@{
    ViewBag.Title = "BSS Adjustment";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css",
        "/Content/Shared/plugins/MDB/css/mdb.css",
        "/Content/Shared/plugins/MDB/css/style.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css"
    };
    ViewBag.Plugins = new string[] {
        //"JqxGrid",
        //"React"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
                "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
                                "/Content/BCL/js/GlobalCF.js",
                "/Content/BCL/js/BSSAdjustment.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"

    };
}
<input type="hidden" id="hfType" value="@((string)Model["Type"])" />
<input type="hidden" id="hfMaker" value="@((string)Model["Aprover"])" />
<input type="hidden" id="hfApprover" value="@((string)Model["Maker"])" />
<section class="box ">
    <div class="content-body" style="font-size:large;">
        <fieldset>
            <legend>
                STEP 1 Insert the Meta Data
            </legend>
            <table id="tblMetaData1" class="display dataTable" style="width: 100%;">
                <tbody>
                    <tr role="row">
                        <td width="40%">Adjustment Description & Purpose: Make sure to clarify and expand the adjustment description, include as much details possible including but not limited to impact and nature of adjustment</td>
                        <td>
                            <input id="txtAdjutstmetn" type="text" style="width:100%;" />
                        </td>
                    </tr>
                    <tr>
                        <td width="40%">Adjustment ID</td>
                        <td>
                            <input id="txtAdjustmentID" type="text" style="width:100%;" />
                        </td>
                    </tr>
                    <tr>
                        <td width="40%">Adjustment Contact</td>
                        <td>
                            <input id="txtAdjustmentContact" type="text" style="width:100%;" />
                        </td>
                    </tr>
                    <tr>
                        <td width="40%">Reason code</td>
                        <td>
                            <input id="txtReasonCode" type="text" style="width:100%;" data-bind="visible: visibleChecker " />
                            <select name="ctl00$ContentPlaceHolder1$gridMetaData2$ctl03$ddl" id="ctl00_ContentPlaceHolder1_gridMetaData2_ctl03_ddl" data-bind="visible: visibleMaker">
                                <option value="DAISSUE">DAISSUE</option>
                                <option value="CCB-ALL">CCB-ALL</option>
                                <option value="LEDADJS">LEDADJS</option>
                                <option value="RECLASS">RECLASS</option>
                                <option value="DQGLKEY">DQGLKEY</option>
                                <option value="NEWSRCF">NEWSRCF</option>
                                <option value="REC-ADJ">REC-ADJ</option>
                                <option value="DQLANDG">DQLANDG</option>
                                <option value="DQTARGT">DQTARGT</option>
                                <option value="DQ-GFRN">DQ-GFRN</option>
                                <option value="DQGFCID">DQGFCID</option>
                                <option value="DQSECID">DQSECID</option>
                                <option value="DQMATDT">DQMATDT</option>
                                <option value="DQOTHER">DQOTHER</option>
                                <option value="B3-ADJS">B3-ADJS</option>
                                <option value="DRACORR">DRACORR</option>
                                <option value="DQNA-LC">DQNA-LC</option>
                                <option value="JOINRULES">JOINRULES</option>
                                <option value="GOC-MS">GOC-MS</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="40%">MTC/MQC</td>
                        <td>
                            <input id="txtMTC" type="text" style="width:100%;" maxlength="30" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <br />
        <fieldset>
            <legend>
                Step 2 Copy the path
            </legend>
            <table id="tblPath" class="display dataTable" style="width: 100%;" data-bind="visible: visibleMaker">
                <tbody>
                    <tr role="row">
                        <td width="40%">Path Name</td>
                        <td>
                            <input type="text" id="txtPath" style="width:100%;" />
                        </td>
                        <td>
                            <i class="fa fa-plus-square" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;" onclick="AddPath()">
                                Add Path
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="tblAddedPath" class="display dataTable" style="width: 100%;" data-bind="visible: visibleMaker">
                <thead>
                    <tr role="row">
                        <th tabindex="0" rowspan="1" colspan="1" style="width: 70%;">Path List</th>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody data-bind="foreach: pathAdded">
                    <tr role="row" class="odd">
                        <td data-bind="text: Path"></td>
                        <td>
                            <i class="fa fa-trash-o" style="font-size:x-large;
                                    color:#DF4949;margin-left: 0%; cursor:pointer;"
                               data-bind="click: $root.pathDelete;">
                                Delete Path
                            </i>
                        </td>
                    </tr>

                </tbody>
            </table>
            <table id="tblAddedPathChecker" class="display dataTable" style="width: 100%;" data-bind="visible: visibleChecker">
                <thead>
                    <tr role="row">
                        <th tabindex="0" rowspan="1" colspan="1" style="width: 100%;">Path List</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: pathAdded">
                    <tr role="row" class="odd">
                        <td data-bind="text: Path"></td>
                    </tr>

                </tbody>
            </table>
        </fieldset>
        <br />
        <fieldset>
            <legend>Step 3 Select all the options needed</legend>
            <table class="display dataTable" width="100%">
                <tbody>
                    <tr>
                        <th scope="col">CHECK DETAILS/DESCRIPTION</th>
                        <th scope="col">Maker attestation</th>
                        <th scope="col" data-bind="visible: visibleChecker ">Checker attestation</th>
                        <th scope="col">Reasons, justifications, comments</th>
                        <th scope="col" data-bind="visible: visibleChecker ">Last Comment Maker</th>
                    </tr>
                    <tr>
                        <td align="left" style="width:400px;"><b>DOA Adjustment Approval</b> Check if the request or MTC ID is approved by the valid approver or valid requestor (as applicable)</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <input id="txtStep1" type="text" readonly="readonly" data-bind="visible: visibleChecker " />
                            <center  data-bind="visible: visibleMaker " >
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_Maker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:50px;"  data-bind="visible: visibleChecker ">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$Checker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_Checker"  >
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center >
                                <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_StepId" value="245">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_MakerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_MakerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_LastCommentChecker">

                            </center>
                        </td>
                        <td align="left" style="width:100px;"  data-bind="visible: visibleChecker ">&nbsp; <input id="desctxtStep1" type="text" readonly="readonly" /> </td>
                    </tr>
                    <tr>
                        <td align="left" style="width:400px;"><b>Adjustment Upload</b> Check if the approved MTC ID is consistent with between request and uploaded adjustment template</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <input id="txtStep2" type="text" readonly="readonly" data-bind="visible: visibleChecker " />
                            <center data-bind="visible: visibleMaker ">
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_Maker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:50px;"  data-bind="visible: visibleChecker ">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$Checker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_Checker"  >
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_StepId" value="246">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_MakerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_MakerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_LastCommentChecker">

                            </center>
                        </td>
                        <td align="left" style="width:100px;" data-bind="visible: visibleChecker ">&nbsp;<input id="desctxtStep2" type="text" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td align="left" style="width:400px;"><b>Adjustment Upload</b> Compare the Request Form details vs Actual uploaded adjustment template </td>
                        <td align="left" valign="middle" style="width:50px;">
                            <input id="txtStep3" type="text" readonly="readonly" data-bind="visible: visibleChecker " />
                            <center data-bind="visible: visibleMaker ">
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_Maker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:50px;"  data-bind="visible: visibleChecker ">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$Checker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_Checker"  >
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_StepId" value="247">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_MakerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_MakerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_LastCommentChecker">

                            </center>
                        </td>
                        <td align="left" style="width:100px;"  data-bind="visible: visibleChecker ">&nbsp;<input id="desctxtStep3" type="text" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td align="left" style="width:400px;"><b>Adjustment Upload</b> Verify if the adjustment is loaded as month-end</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <input id="txtStep4" type="text" readonly="readonly" data-bind="visible: visibleChecker " />
                            <center data-bind="visible: visibleMaker ">
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_Maker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:50px;"  data-bind="visible: visibleChecker ">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$Checker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_Checker"  >
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_StepId" value="248">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_MakerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_MakerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_LastCommentChecker">

                            </center>
                        </td>
                        <td align="left" style="width:100px;"  data-bind="visible: visibleChecker ">&nbsp;<input id="desctxtStep4" type="text" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td align="left" style="width:400px;"><b>Adjustment Upload</b> Verify if the adjustment is replicated daily (as applicable)</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <input id="txtStep5" type="text" readonly="readonly" data-bind="visible: visibleChecker " />
                            <center data-bind="visible: visibleMaker ">
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_Maker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>
                                    <option value="6">Not Applicable</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:50px;"  data-bind="visible: visibleChecker ">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$Checker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_Checker"  >
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>
                                    <option value="6">Not Applicable</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_StepId" value="249">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_MakerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_MakerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_LastCommentChecker">

                            </center>
                        </td>
                        <td align="left" style="width:100px;"  data-bind="visible: visibleChecker ">&nbsp;<input id="desctxtStep5" type="text" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td align="left" style="width:400px;"><b>Adjustment Upload</b> Verify that mandatory attributes and standard defaults applied (if necessary, based on rules of the road) are populated correctly.</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <input id="txtStep6" type="text" readonly="readonly" data-bind="visible: visibleChecker " />
                            <center data-bind="visible: visibleMaker ">
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_Maker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:50px;"  data-bind="visible: visibleChecker ">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$Checker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_Checker"  >
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_StepId" value="250">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_MakerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_MakerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_LastCommentChecker">

                            </center>
                        </td>
                        <td align="left" style="width:100px;"  data-bind="visible: visibleChecker ">&nbsp;<input id="desctxtStep6" type="text" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td align="left" style="width:400px;"><b>Adjustment Confirmation</b> Close the ticket in the SharePoint to confirm adjustment execution completion in the system, once approved.</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <input id="txtStep7" type="text" readonly="readonly" data-bind="visible: visibleChecker " />
                            <center data-bind="visible: visibleMaker ">
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_Maker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:50px;"  data-bind="visible: visibleChecker ">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$Checker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_Checker"  >
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_StepId" value="251">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_MakerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_MakerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_LastCommentChecker">

                            </center>
                        </td>
                        <td align="left" style="width:100px;"  data-bind="visible: visibleChecker ">&nbsp;<input id="desctxtStep7" type="text" readonly="readonly" /></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <br />
        <center data-bind="visible: visibleMaker">
            <i id="sendRequest" class="fa fa-plus-square" style="font-size:x-large; color:#334D5C; cursor:pointer;" onclick="SendRequest()">
                Send Request
            </i>
        </center>
        <center data-bind="visible: visibleChecker ">
            <i id="sendRequest" class="fa fa-plus-square" style="font-size:x-large; color:#334D5C; cursor:pointer;" onclick="SendRequestChecker()">
                Approve Request
            </i>
            <i id="sendRequest" class="fa fa-plus-square" style="font-size:x-large; color:#FF0000; cursor:pointer;" onclick="RejectRequest()">
                Reject Request
            </i>
        </center>

    </div>
</section>