﻿@{
    ViewBag.Title = "Genesis Optima Adjustment";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css",
        "/Content/Shared/plugins/MDB/css/mdb.css",
        "/Content/Shared/plugins/MDB/css/style.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css"
    };
    ViewBag.Plugins = new string[] {
        //"JqxGrid",
        //"React"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
                "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
                                "/Content/BCL/js/GlobalCF.js",
                "/Content/BCL/js/GenesisOptimaAdjustment.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"

    };
}
<input type="hidden" id="hfType" value="@((string)Model["Type"])" />
<input type="hidden" id="hfMaker" value="@((string)Model["Aprover"])" />
<input type="hidden" id="hfApprover" value="@((string)Model["Maker"])" />
<section class="box ">
    <div class="content-body" style="font-size:large;">
        <fieldset>
            <legend>
                STEP 1 Insert the Meta Data 
            </legend>
            <table id="tblMetaData1" class="display dataTable" style="width: 100%;">
                <tbody>
                    <tr role="row">
                        <td width="40%">Adjustment Description & Purpose: Make sure to clarify and expand the adjustment description, include as much details possible including but not limited to impact and nature of adjustment</td>
                        <td>
                            <input id="txtAdjutstmetn" type="text" style="width:100%;"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="40%">Adjustment ID</td>
                        <td>
                            <input id="txtAdjustmentID" type="text"  style="width:100%;"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="40%">Adjustment Contact</td>
                        <td>
                            <input id="txtAdjustmentContact" type="text"  style="width:100%;"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="40%">Reason code</td>
                        <td>
                            <input id="txtReasonCode" type="text" style="width:100%;"  data-bind="visible: visibleChecker "/>
                            <select  name="ctl00$ContentPlaceHolder1$gridMetaData2$ctl03$ddl" id="ctl00_ContentPlaceHolder1_gridMetaData2_ctl03_ddl"  data-bind="visible: visibleMaker">
                                <option value="DAISSUE">DAISSUE</option>
                                <option value="CCB-ALL">CCB-ALL</option>
                                <option value="LEDADJS">LEDADJS</option>
                                <option value="RECLASS">RECLASS</option>
                                <option value="DQGLKEY">DQGLKEY</option>
                                <option value="NEWSRCF">NEWSRCF</option>
                                <option value="REC-ADJ">REC-ADJ</option>
                                <option value="DQLANDG">DQLANDG</option>
                                <option value="DQTARGT">DQTARGT</option>
                                <option value="DQ-GFRN">DQ-GFRN</option>
                                <option value="DQGFCID">DQGFCID</option>
                                <option value="DQSECID">DQSECID</option>
                                <option value="DQMATDT">DQMATDT</option>
                                <option value="DQOTHER">DQOTHER</option>
                                <option value="B3-ADJS">B3-ADJS</option>
                                <option value="DRACORR">DRACORR</option>
                                <option value="DQNA-LC">DQNA-LC</option>
                                <option value="JOINRULES">JOINRULES</option>
                                <option value="GOC-MS">GOC-MS</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="40%">MTC/MQC</td>
                        <td>
                            <input id="txtMTC" type="text"  style="width:100%;" maxlength="30" />
                        </td>
                    </tr> 
                </tbody>
            </table>
        </fieldset>
        <br />
        <fieldset>
            <legend>
                Step 2 Copy the path
            </legend>
            <table id="tblPath" class="display dataTable" style="width: 100%;"   data-bind="visible: visibleMaker">
                <tbody>
                    <tr role="row">
                        <td width="40%">Path Name</td>
                        <td>
                            <input type="text" id="txtPath" style="width:100%;" />
                        </td>
                        <td>
                            <i class="fa fa-plus-square" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;" onclick="AddPath()">
                                Add Path
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="tblAddedPath" class="display dataTable" style="width: 100%;"  data-bind="visible: visibleMaker">
                <thead>
                    <tr role="row">
                        <th tabindex="0" rowspan="1" colspan="1" style="width: 70%;">Path List</th>
                    </tr>
                    <tr  >

                    </tr>
                </thead>
                <tbody data-bind="foreach: pathAdded">
                    <tr role="row" class="odd">
                        <td data-bind="text: Path"></td>
                        <td  >
                            <i class="fa fa-trash-o" style="font-size:x-large;
                                    color:#DF4949;margin-left: 0%; cursor:pointer;"
                               data-bind="click: $root.pathDelete;"> Delete Path
                            </i>
                        </td>
                    </tr>

                </tbody>
                </table>
            <table id="tblAddedPathChecker" class="display dataTable" style="width: 100%;" data-bind="visible: visibleChecker">
                <thead>
                    <tr role="row">
                        <th tabindex="0" rowspan="1" colspan="1" style="width: 100%;">Path List</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: pathAdded">
                    <tr role="row" class="odd">
                        <td data-bind="text: Path"></td>
                    </tr>

                </tbody>
            </table>
        </fieldset>
        <br />
        <fieldset  data-bind="visible: visibleMaker">
            <legend>Step 3 Select all the options needed</legend>
            <table  class="display dataTable" width="100%">
			<tbody><tr >
				<th scope="col">CHECK DETAILS/DESCRIPTION</th><th scope="col">Maker attestation</th><th scope="col">Reasons, justifications, comments</th>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Documentation</b>:Populate all fields on the Summary tab, to provide overview on nature of adjustment.</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_StepId" value="145">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl02$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl02_MakerStepFilled" value="False">

                                                                </center>
                                                            </td>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Documentation</b>:Input the correct MTC ID/MQC assigned for the adjustment.</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_StepId" value="146">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl03$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl03_MakerStepFilled" value="False">
                                                                    
                                                                </center>
                                                            </td>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Documentation</b>:Ensure Supporting Documentation: Adjustment Request Email (Adjustment details/request)</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="6">Not Applicable</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_StepId" value="147">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl04$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl04_MakerStepFilled" value="False">
                                                                    
                                                                </center>
                                                            </td>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Documentation</b>:Ensure Supporting Documentation: Approver (per the Adjustment Approval Matrix) and Other Supporting Documentation</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="6">Not Applicable</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_StepId" value="148">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl05$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl05_MakerStepFilled" value="False">
                                                                    
                                                                </center>
                                                            </td>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Documentation</b>:Ensure Supporting Documentation: For Optima only, Late Approval Email Signoff from Global Risk Leads (if applicable)</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="6">Not Applicable</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_StepId" value="149">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl06$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl06_MakerStepFilled" value="False">
                                                                    
                                                                </center>
                                                            </td>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Processing</b>:For Optima, download Enrichment Warnings (if applicable) and asses if these warnings will not impact overall integrity of the adjustment. (i.e. warnings on missing or invalid attributes necessary for RWA computation of the exposure)</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="6">Not Applicable</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_StepId" value="150">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_MakerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_LastCommentMaker">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl07$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl07_LastCommentChecker">
                                                                    
                                                                </center>
                                                            </td>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Processing</b>:For Optima, download Enriched Attributes and assess whether all records and balances loaded have been successfully enriched, unless expected</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="6">Not Applicable</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_StepId" value="151">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_MakerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_LastCommentMaker">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl08$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl08_LastCommentChecker">
                                                                    
                                                                </center>
                                                            </td>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Upload</b>:Match the uploaded transactions and balances with the expected adjustment.</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl09$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl09_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl09$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl09_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl09$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl09_StepId" value="152">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl09$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl09_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl09$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl09_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl09$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl09_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl09$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl09_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl09$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl09_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl09$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl09_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl09$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl09_MakerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl09$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl09_LastCommentMaker">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl09$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl09_LastCommentChecker">
                                                                    
                                                                </center>
                                                            </td>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Upload</b>:Upload relevant transactions with proper attributes as per details provided/confirmed by Approver (per the Adjustment Approval Matrix)</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl10$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl10_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl10$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl10_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl10$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl10_StepId" value="153">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl10$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl10_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl10$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl10_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl10$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl10_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl10$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl10_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl10$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl10_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl10$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl10_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl10$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl10_MakerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl10$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl10_LastCommentMaker">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl10$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl10_LastCommentChecker">
                                                                    
                                                                </center>
                                                            </td>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Upload</b>:Populate all critical/mandatory CDEs. (Refer to adjustment Rules of the Road)</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl11$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl11_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="6">Not Applicable</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl11$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl11_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl11$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl11_StepId" value="154">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl11$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl11_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl11$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl11_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl11$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl11_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl11$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl11_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl11$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl11_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl11$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl11_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl11$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl11_MakerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl11$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl11_LastCommentMaker">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl11$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl11_LastCommentChecker">
                                                                    
                                                                </center>
                                                            </td>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Upload</b>:For  Data Quality, conduct validation on whether adjustment will not impact net balance per BU_FDL, unless expected.</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl12$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl12_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="6">Not Applicable</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl12$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl12_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl12$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl12_StepId" value="155">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl12$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl12_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl12$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl12_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl12$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl12_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl12$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl12_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl12$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl12_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl12$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl12_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl12$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl12_MakerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl12$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl12_LastCommentMaker">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl12$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl12_LastCommentChecker">
                                                                    
                                                                </center>
                                                            </td>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Upload</b>:For GL Reconciliation, conduct validation whether adjustment will clear/reduce breaks per BU_FDL. Provide commentary if residuals are expected.</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl13$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl13_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="6">Not Applicable</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl13$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl13_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl13$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl13_StepId" value="156">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl13$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl13_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl13$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl13_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl13$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl13_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl13$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl13_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl13$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl13_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl13$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl13_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl13$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl13_MakerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl13$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl13_LastCommentMaker">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl13$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl13_LastCommentChecker">
                                                                    
                                                                </center>
                                                            </td>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Approval</b>:Verify if approval mail attached is from a valid Approver, based on current Adjustment Approval Matrix.</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl14$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl14_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="6">Not Applicable</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl14$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl14_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl14$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl14_StepId" value="157">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl14$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl14_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl14$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl14_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl14$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl14_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl14$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl14_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl14$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl14_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl14$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl14_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl14$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl14_MakerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl14$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl14_LastCommentMaker">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl14$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl14_LastCommentChecker">
                                                                    
                                                                </center>
                                                            </td>
			</tr><tr >
				<td align="left" style="width:400px;"><b>Adjustment Linkage</b>:Check consistency of IMR tagging. Check if the IMR attached to the MTC is not yet closed or cancelled based on the monthly metrics and update tagging as needed.</td><td align="left" valign="middle" style="width:50px;">
                                                                <center>
                                                                    <select name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl15$Maker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl15_Maker">
					<option selected="selected" value="0">Pending for approval/validation</option>
					<option value="6">Not Applicable</option>
					<option value="7">Completed</option>

				</select>
                                                                </center>
                                                            </td><td align="left" valign="middle" style="width:300px;">
                                                                <center>
                                                                    <textarea name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl15$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl15_commentConSheet" style="height:70px;width:290px;"></textarea>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl15$StepId" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl15_StepId" value="158">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl15$Comments" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl15_Comments">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl15$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl15_CheckerStatus" value="Not Applicable">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl15$MakerStatus" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl15_MakerStatus" value="Pending for approval/validation">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl15$CommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl15_CommentChecker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl15$CommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl15_CommentMaker" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl15$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl15_CheckerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl15$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl15_MakerStepFilled" value="False">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl15$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl15_LastCommentMaker">
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$gridControlSheet$ctl15$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridControlSheet_ctl15_LastCommentChecker">
                                                                    
                                                                </center>
                                                            </td>
			</tr>
		</tbody></table>
        </fieldset>
        <br />
        <fieldset  data-bind="visible: visibleChecker ">
            <legend>Step 3 Select all the options needed</legend>
            <table   class="display dataTable"  width="100%">
                <tbody>
                    <tr >
                        <th scope="col">CHECK DETAILS/DESCRIPTION</th>
                        <th scope="col">Checker attestation</th>
                        <th scope="col">Reasons, justifications, comments</th>

                    </tr>
                    <tr >
                        <td align="left" style="width:400px;"><b>Adjustment Documentation</b>: Ensure that correct MTC ID/MQC has been assigned for the adjustment.</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl02$Checker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl02_Checker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl02$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl02_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl02$StepId" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl02_StepId" value="159">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl02$Comments" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl02_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl02$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl02_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl02$MakerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl02_MakerStatus" value="Not Applicable">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl02$CommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl02_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl02$CommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl02_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl02$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl02_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl02$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl02_MakerStepFilled" value="True">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl02$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl02_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl02$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl02_LastCommentChecker">
                            </center>
                        </td>
      
                    </tr>
                    <tr >
                        <td align="left" style="width:400px;"><b>Adjustment Documentation</b>: Ensure Supporting Documentation: Adjustment Request Email (Adjustment details/request)</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl03$Checker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl03_Checker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="6">Not Applicable</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl03$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl03_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl03$StepId" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl03_StepId" value="160">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl03$Comments" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl03_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl03$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl03_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl03$MakerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl03_MakerStatus" value="Not Applicable">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl03$CommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl03_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl03$CommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl03_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl03$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl03_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl03$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl03_MakerStepFilled" value="True">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl03$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl03_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl03$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl03_LastCommentChecker">
                            </center>
                        </td>
                  
                    </tr>
                    <tr >
                        <td align="left" style="width:400px;"><b>Adjustment Documentation</b>: Ensure Supporting Documentation: Approver (per the Adjustment Approval Matrix) and Other Supporting Documentation</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl04$Checker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl04_Checker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="6">Not Applicable</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl04$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl04_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl04$StepId" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl04_StepId" value="161">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl04$Comments" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl04_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl04$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl04_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl04$MakerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl04_MakerStatus" value="Not Applicable">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl04$CommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl04_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl04$CommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl04_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl04$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl04_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl04$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl04_MakerStepFilled" value="True">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl04$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl04_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl04$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl04_LastCommentChecker">
                            </center>
                        </td>
             
                    </tr>
                    <tr >
                        <td align="left" style="width:400px;"><b>Adjustment Documentation</b>: Ensure Supporting Documentation: For Optima only, Late Approval Email Signoff from Global Risk Leads (if applicable)</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl05$Checker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl05_Checker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="6">Not Applicable</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl05$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl05_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl05$StepId" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl05_StepId" value="162">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl05$Comments" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl05_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl05$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl05_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl05$MakerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl05_MakerStatus" value="Not Applicable">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl05$CommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl05_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl05$CommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl05_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl05$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl05_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl05$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl05_MakerStepFilled" value="True">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl05$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl05_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl05$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl05_LastCommentChecker">
                            </center>
                        </td>
                    
                    </tr>
                    <tr >
                        <td align="left" style="width:400px;"><b>Adjustment Upload</b>: Ensure relevant transactions and proper attributes are uploaded as per details provided by source/requestor</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl06$Checker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl06_Checker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl06$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl06_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl06$StepId" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl06_StepId" value="163">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl06$Comments" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl06_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl06$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl06_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl06$MakerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl06_MakerStatus" value="Not Applicable">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl06$CommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl06_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl06$CommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl06_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl06$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl06_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl06$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl06_MakerStepFilled" value="True">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl06$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl06_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl06$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl06_LastCommentChecker">
                            </center>
                        </td>
                     
                    </tr>
                    <tr >
                        <td align="left" style="width:400px;"><b>Adjustment Upload</b>: For Data Quality, ensure that all CDEs adjusted are as expected.</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl07$Checker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl07_Checker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl07$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl07_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl07$StepId" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl07_StepId" value="164">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl07$Comments" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl07_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl07$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl07_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl07$MakerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl07_MakerStatus" value="Not Applicable">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl07$CommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl07_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl07$CommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl07_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl07$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl07_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl07$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl07_MakerStepFilled" value="True">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl07$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl07_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl07$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl07_LastCommentChecker">
                            </center>
                        </td>
                      
                    </tr>
                    <tr >
                        <td align="left" style="width:400px;"><b>Adjustment Upload</b>: For Data Quality, ensure net balance per BU_FDL does not change unless expected.</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl08$Checker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl08_Checker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl08$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl08_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl08$StepId" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl08_StepId" value="165">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl08$Comments" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl08_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl08$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl08_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl08$MakerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl08_MakerStatus" value="Not Applicable">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl08$CommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl08_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl08$CommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl08_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl08$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl08_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl08$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl08_MakerStepFilled" value="True">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl08$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl08_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl08$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl08_LastCommentChecker">
                            </center>
                        </td>
                    
                    </tr>
                    <tr >
                        <td align="left" style="width:400px;"><b>Adjustment Upload</b>: For Reconciliation adjustments, ensure breaks per BU_FDL will be cleared/reduced, unless expected. Provide commentary if residuals are expected. </td>
                        <td align="left" valign="middle" style="width:50px;">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl09$Checker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl09_Checker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl09$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl09_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl09$StepId" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl09_StepId" value="166">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl09$Comments" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl09_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl09$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl09_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl09$MakerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl09_MakerStatus" value="Not Applicable">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl09$CommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl09_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl09$CommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl09_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl09$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl09_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl09$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl09_MakerStepFilled" value="True">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl09$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl09_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl09$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl09_LastCommentChecker">
                            </center>
                        </td>
                   
                    </tr>
                    <tr >
                        <td align="left" style="width:400px;"><b>Adjustment Approval</b>: Verify if approval mail attached is from a valid Approver, based on current Adjustment Approval Matrix.</td>
                        <td align="left" valign="middle" style="width:50px;">
                            <center>
                                <select name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl10$Checker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl10_Checker">
                                    <option selected="selected" value="0">Pending for approval/validation</option>
                                    <option value="6">Not Applicable</option>
                                    <option value="7">Completed</option>

                                </select>
                            </center>
                        </td>
                        <td align="left" valign="middle" style="width:300px;">
                            <center>
                                <textarea name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl10$commentConSheet" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl10_commentConSheet" style="height:70px;width:290px;"></textarea>
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl10$StepId" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl10_StepId" value="167">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl10$Comments" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl10_Comments">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl10$CheckerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl10_CheckerStatus" value="Pending for approval/validation">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl10$MakerStatus" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl10_MakerStatus" value="Not Applicable">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl10$CommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl10_CommentChecker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl10$CommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl10_CommentMaker" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl10$CheckerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl10_CheckerStepFilled" value="False">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl10$MakerStepFilled" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl10_MakerStepFilled" value="True">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl10$LastCommentMaker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl10_LastCommentMaker">
                                <input type="hidden" name="ctl00$ContentPlaceHolder1$gridEnrichment$ctl10$LastCommentChecker" id="ctl00_ContentPlaceHolder1_gridEnrichment_ctl10_LastCommentChecker">
                            </center>
                        </td>
                        
                 
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <br />
        <center  data-bind="visible: visibleMaker">
            <i  id="sendRequest" class="fa fa-plus-square" style="font-size:x-large; color:#334D5C; cursor:pointer;" onclick="SendRequest()">
                Send Request
            </i>
        </center>
        <center data-bind="visible: visibleChecker ">
            <i id="sendRequest" class="fa fa-plus-square" style="font-size:x-large; color:#334D5C; cursor:pointer;" onclick="SendRequestChecker()">
                Approve Request
            </i>
            <i id="sendRequest" class="fa fa-plus-square" style="font-size:x-large; color:#FF0000; cursor:pointer;" onclick="RejectRequest()">
                Reject Request
            </i>
        </center>

</div>
</section>