﻿@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css",
        "/Content/Shared/plugins/MDB/css/mdb.css",
        "/Content/Shared/plugins/MDB/css/style.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css"
    };
    ViewBag.Plugins = new string[] {
        //"JqxGrid",
        //"React"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
                "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
                                "/Content/BCL/js/GlobalCF.js",
                "/Content/BCL/js/History.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"

    };
}
<section class="box ">
    <div class="content-body" style="font-size:large;">

        <h1>Request History</h1>

        <table class="table table-striped table-bordered table-hover table-condensed" style="width:100%; overflow-y:scroll;" data-bind='kogrid: gridPendingToApprove '> </table>
        <script id="divMetaData" type="text/html">
  
            <div data-bind="html: Metadata"></div>

        </script>
        <script id="divAction" type="text/html">
            <i class="fa fa-check-circle" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;"
               data-bind="event:{ click: function(item){ ReviewRequest(item); } }, style: { color: RequestStatus == 'Pending for approval/validation' ? '#334D5C' : 'gray' }">Change Approver</i>
            <br />
            <i class="fa fa-check-circle" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;"
               data-bind="event:{ click: function(item){ ChangePath(item); } }, style: { color: RequestStatus == 'Pending for approval/validation' ? '#334D5C' : 'gray' }">Change Path</i>
            <br />
            <i class="fa fa-check-circle" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;"
               data-bind="event:{ click: function(item){ CancelProject(item); } }, style: { color: RequestStatus == 'Pending for approval/validation' ? '#334D5C' : 'gray' }">Cancel Project</i>
            <br />
            <i class="fa fa-check-circle" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;"
               data-bind="event:{ click: function(item){ View(item); } }">View</i>
           
        </script>
    </div>

    @*Change Approver*@
    <div class="modal fade" id="changeApprover" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 80%;">
            <div class="modal-content">
                <div class="modal-body">
                    <fieldset>
                        <legend>Add new approver</legend>

                        <table id="tblAddFile" class="display dataTable" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Approver List</th>
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select data-bind="options: Approver, optionsCaption: 'Choose the Approver...',
                                                        optionsValue: function (item) { return item.SOEID; },
                                                        optionsText: function (item) { return item.UserName; }, value: ApproverSelected,
                                                        valueUpdate: 'change'"
                                                id="cbApprover" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary"  data-dismiss="modal" onclick="changeApprover()">Change Approver</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @*Change Path*@
    <div class="modal fade" id="changepath" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 80%;">
            <div class="modal-content">
                <div class="modal-body">
                    <fieldset>
                        <legend>Add Key</legend>

                        <table id="tblAddFile" class="display dataTable" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">New Path</th>
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" id="txtNewPath" style="width:100%;"  />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary"  data-dismiss="modal" onclick="addNewPath()">Add new path</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @*View Form*@
    <div class="modal fade" id="viewForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 80%;">
            <div class="modal-content">
                <div class="modal-body">
                    <fieldset>
                        <legend>MetaData</legend>
                        <table id="tblMetadata" class="display dataTable" style="width: 100%;" >
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 30%;">MetaData</th>
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 70%;">Value</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: gridMetaData">
                                <tr role="row" class="odd">
                                    <td data-bind="text: Name"></td>
                                    <td data-bind="text: Value"></td>
                                </tr>

                            </tbody>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>Path</legend>
                        <table id="tblMetadata" class="display dataTable" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 100%;">Path</th>
                 
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: gridPath">
                                <tr role="row" class="odd">
                                    <td data-bind="text: Path"></td>
     
                                </tr>

                            </tbody>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>Attestation</legend>
                        <table class="table table-striped table-bordered table-hover table-condensed" style="width:100%; overflow-y:scroll;" data-bind='kogrid: gridAttestation1 '> </table>
                        <script id="divAttestation" type="text/html">

                            <div data-bind="html: StepName"></div>

                        </script>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
