@{
    ViewBag.Title = "Home Page BCL";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css",
        "/Content/Shared/plugins/MDB/css/mdb.css",
        "/Content/Shared/plugins/MDB/css/style.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css"
    };
    ViewBag.Plugins = new string[] {
        //"JqxGrid",
        //"React"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
                "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
                "/Content/BCL/js/GlobalCF.js",
                "/Content/BCL/js/Home.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"

    };
}

<section class="box ">
    <div class="content-body" style="font-size:large;">

        <h1>Create a new Request</h1>
        <table id="tblNewRequest" class="display dataTable" style="width: 100%;">
            <thead>
                <tr role="row">
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Project</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Approver</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Requestor</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;" data-bind="visible: visibleButton "></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select data-bind="options: Project, optionsCaption: 'Choose the Project...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.Name; }, value: ProjectSelected,
                                                        valueUpdate: 'change'"
                                id="cbProject" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                    </td>
                    <td>
                        <select data-bind="options: Approver, optionsCaption: 'Choose the Approver...',
                                                        optionsValue: function (item) { return item.SOEID; },
                                                        optionsText: function (item) { return item.UserName; }, value: ApproverSelected,
                                                        valueUpdate: 'change'"
                                id="cbApprover" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                    </td>
                    <td>
                        <select data-bind="options: Requestor, optionsCaption: 'Choose the Requestor...',
                                                        optionsValue: function (item) { return item.SOEID; },
                                                        optionsText: function (item) { return item.UserName; }, value: RequestorSelected,
                                                        valueUpdate: 'change'"
                                id="cbRequestor" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                    </td>
                    <td data-bind="visible: visibleButton ">
                        <i class="fa fa-plus-square" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;" onclick="AddRequest()">
                            Add Request
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>      
                                   

 

    </div>
</section>


