﻿@{
    ViewBag.Title = "Pending To Approve";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css",
        "/Content/Shared/plugins/MDB/css/mdb.css",
        "/Content/Shared/plugins/MDB/css/style.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css"
    };
    ViewBag.Plugins = new string[] {
        //"JqxGrid",
        //"React"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
                "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
                "/Content/BCL/js/GlobalCF.js",
                "/Content/BCL/js/PendingToApprove.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"
    };
}
<section class="box ">
    <div class="content-body" style="font-size:large;">

        <h1>Pending to approve</h1>
        
        <table class="table table-striped table-bordered table-hover table-condensed" style="width:90%;" data-bind='kogrid: gridPendingToApprove '> </table>
        <script id="divAction" type="text/html">
            <i class="fa fa-check-circle" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;"
               data-bind="event:{ click: function(item){ ReviewRequest(item); } }">Review</i>

        </script>
        <script id="divMetaData" type="text/html">

            <div data-bind="html: Metadata"></div>

        </script>


    </div>
</section>
