﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "HMT2";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/fonts/font-awesome/css/font-awesome.css",
        "/Content/Shared/plugins/uikit/css/uikit.min.css",
        "/Content/Shared/plugins/uikit/css/uikit.min.css",
        "/Content/HMT2/css/style.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/HMT2/js/Dashboard.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
    };
}

<div class="col-lg-12">
    <section class="box ">
        <div class="content-body">
            <div class="row" style="margin-top:35px;margin-bottom:50px;">
                <div class="col-sm-12">
                    <div class="col-sm-1" style="margin-top:5px;">
                        <label class="control-label pull-right">Products L8</label>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control selectpicker select" id="drop_Products" style="text-align:center"></select>
                    </div>
                    <div class="col-sm-1" style="margin-top:5px;">
                        <label class="control-label pull-right">Products L9</label>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control selectpicker select" id="drop_Products9" style="text-align:center"></select>
                    </div>
                    <div class="col-sm-1" style="margin-top:5px;">
                        <label class="control-label pull-right">Centers</label>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control selectpicker select" id="drop_Centers" style="text-align:center"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <center>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10" style="margin-left:-50px">
                        <table class="table"  id="tblDasboard">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col" style="width: 2%">
                                        <center>
                                            <span class="btn btn-md btn-outline btn-success box-num">JAN</span>
                                        </center>
                                    </th>
                                    <th scope="col" style="width: 2%">
                                        <center>
                                            <span class="btn btn-md btn-outline btn-primary box-num">FEB</span>
                                        </center>
                                    </th>
                                    <th scope="col" style="width: 2%">
                                        <center>
                                            <span class="btn btn-md btn-outline btn-success box-num">MAR</span>
                                        </center>
                                    </th>
                                    <th scope="col" style="width: 2%">
                                        <center>
                                            <span class="btn btn-md btn-outline btn-primary box-num">APR</span>
                                        </center>
                                    </th>
                                    <th scope="col" style="width: 2%">
                                        <center>
                                            <span class="btn btn-md btn-outline btn-success box-num">MAY</span>
                                        </center>
                                    </th>
                                    <th scope="col" style="width: 2%">
                                        <center>
                                            <span class="btn btn-md btn-outline btn-primary box-num">JUN</span>
                                        </center>
                                    </th>
                                    <th scope="col" style="width: 2%">
                                        <center>
                                            <span class="btn btn-md btn-outline btn-success box-num">JUL</span>
                                        </center>
                                    </th>
                                    <th scope="col" style="width: 2%">
                                        <center>
                                            <span class="btn btn-md btn-outline btn-primary box-num">AUG</span>
                                        </center>
                                    </th>
                                    <th scope="col" style="width: 2%">
                                        <center>
                                            <span class="btn btn-md btn-outline btn-success box-num">SEP</span>
                                        </center>
                                    </th>
                                    <th scope="col" style="width: 2%">
                                        <center>
                                            <span class="btn btn-md btn-outline btn-primary box-num">OCT</span>
                                        </center>
                                    </th>
                                    <th scope="col" style="width: 2%">
                                        <center>
                                            <span class="btn btn-md btn-outline btn-success box-num">NOV</span>
                                        </center>
                                    </th>
                                    <th scope="col" style="width: 2%">
                                        <center>
                                            <span class="btn btn-md btn-outline btn-primary box-num">DEC</span>
                                        </center>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="Dashbody"></tbody>
                        </table>
                    </div>
                    <div class="col-lg-1"></div>
                </center>
             </div>

            <div class="row">
                <div class="<div class="btn-group btn-group-justified">
                        <a type="button" class="btn btn-warning btn-lg col-md-4" id="DemandDetails">
                            <i class="fa fa-cloud-upload" style="margin-right: 10px;"></i>
                            Current Demand:
                        </a>
                        <a type="button" class="btn btn-success btn-lg col-md-4" id="ActualDetails">
                            <i class="fa fa-file-excel-o" style="margin-right: 10px;"></i>
                            Open Sits by Center:
                        </a>
                        <a type="button" class="btn btn-purple btn-lg col-md-4" id="GAPDetails">
                            <i class="fa fa-cloud-upload" style="margin-right: 10px;"></i>
                            End Year Difference:
                        </a>
                </div>
                
            </div>
        </div>
    </section>
</div>
