﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "HMT2";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/fonts/font-awesome/css/font-awesome.css",
        "/Content/HMT2/css/styles/jqx.blackberry.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryGreen.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryOrange.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryRed.css" ,
        "/Content/Shared/plugins/sheetjs/js-xlsx/css/dropfile.css",
        "/Content/Shared/plugins/uikit/css/uikit.min.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/HMT2/js/EmployeeUpdate.js",
        "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxwindow.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/api.js",

    };
}

<div class="col-lg-12">
    <section class="box ">
        <div class="content-body">
            <div class="row" style="margin-top:10px;">


                <button type="button" class="btn btn-primary btn-icon bottom15 right15" id="btnUpdateEmployee"><i class="fa fa-file-excel-o"></i> &nbsp; <span>Update Employee</span></button>

                <div id="tblEmployeeUpdate"></div>
            </div>
        </div>
    </section>
</div>
