﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "HMT2";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/fonts/font-awesome/css/font-awesome.css",
        "/Content/Shared/plugins/uikit/css/uikit.min.css",
        "/Content/HMT2/css/startmin.css" ,
        "/Content/HMT2/css/styles/jqx.blackberry.css",
        "/Content/HMT2/css/styles/jqx.blackberryGreen.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryOrange.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryRed.css"  ,
        "/Content/HMT2/css/jquery.multiselect.css" ,
        "/Content/HMT2/css/jquery.multiselect.filter.css"
    };
    ViewBag.JSLinks = new string[] {

            "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcore.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxexpander.js",
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdraw.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxchart.core.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.export.js",
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbuttons.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxscrollbar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxlistbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownlist.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxmenu.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcheckbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxpanel.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcombobox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxradiobutton.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgauge.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbargauge.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxnumberinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxwindow.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtabs.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtooltip.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxribbon.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdatetimeinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcalendar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtooltip.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/globalization/globalize.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbuttons.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxscrollbar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxmenu.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxlistbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownbutton.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownlist.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxNotification.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdragdrop.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                "/Content/HMT2/js/MatchData.js",
                "/Content/HMT2/js/Job.js"


    };
}
<div class="col-lg-12">
    <section class="box ">
        <div class="content-body">
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6 centered">
                    <div id="lblToHide">
                        <h3><b>Step 1</b> Select one GOC</h3>
                    </div>
                    <div id="cbGOC"></div>
                </div>
                <div class="col-sm-3">
                </div>
                <br />
                <br />
                <br />
                <table id="divToView" style="width:100%;">
                    <tr style="width:100%;">
                        <td style="width:18%; vertical-align:top;">
                            <h3><b>Step 2</b> Expand data to review</h3>
                            <div id='jqxExpanderReq'>
                                <div>
                                    View Employees Requisition
                                </div>
                                <div>
                                    <div id="gridRequisition"></div>
                                </div>
                            </div>
                            <br />
                            <div id='jqxExpanderDriver'>
                                <div>
                                    View Driver
                                </div>
                                <div>
                                    <div id="gridDriver"></div>
                                </div>
                            </div>
                            <br />
                            <div id='jqxExpanderMOU'>
                                <div>
                                    View MOU
                                </div>
                                <div>
                                    <div id="gridMOU"></div>
                                </div>
                            </div>
                            <br />
                            <div id='jqxExpanderNonMOU'>
                                <div>
                                    View NonMOU
                                </div>
                                <div>
                                    <div id="gridNonMOU"></div>
                                </div>
                            </div>
                            <br />
                            <div id='jqxExpanderCenter'>
                                <div>
                                    View Center
                                </div>
                                <div>
                                    <div id="gridCenter"></div>
                                </div>
                            </div>

                        </td>
                        <td  style="width:2%;">
                        </td>
                        <td  style="width:80%;  vertical-align:top;">
                            <div style="height: 50%;">
                                <h3><b>Step 3</b> Drag data to the grid *Role Name and dates double click to modify.</h3>
                                <div id="gridPrincipal"></div>
                                <center>
                          <br />
                          <button type="button" class="btn btn-info btn-lg" onclick="BTNaddNewRole()">Add Role</button>
                          <button type="button" class="btn btn-success btn-lg" onclick="MatchDataFunction()">Match Data</button>
                      </center>
                            </div>


                        </td>
                    </tr>
                </table>

            </div>
            <div id="popUpAddRole">
                <div>
                    <label id="lblLiveStageReq" style="font-size: x-large;">Add new roles</label>
                </div>
                <div style="overflow: hidden; height: 100%;">
                    <div style="width: 100%;">
                        <table class="table table-striped table-hover table-bordered table-condensed table-list-search" style="width: 100%;">
                            <tr style="width: 100%;">
                                <td style="width: 50%;">
                                    <table class="table table-striped table-hover table-bordered table-condensed table-list-search" width="100%">
                                        <tbody>
                                            <tr style="width: 100%;">
                                                <td class="mou-label" style="width: 20%">Name  </td>
                                                <td style="width: 30%">
                                                    <input id="txtNameAR" type="text" maxlength="255" style="width: 100%;" />
                                                </td>
                                                <td class="mou-label" style="width: 20%">GOC   </td>
                                                <td style="width: 30%">
                                                    <input id="jqxGocAR" />
                                                    @* <a id="A1" class="btn btn-small btn-success" onclick="loadGocData()"><i class="fa fa-check"></i></a>*@
                                                </td>
                                            </tr>
                                            <tr style="width: 100%;">
                                                <td class="mou-label" style="width: 20%">MS LVL 09  </td>
                                                <td style="width: 30%">
                                                    <input id="txtMSLVL09AR" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                                </td>
                                                <td class="mou-label" style="width: 20%">MGD Geography   </td>
                                                <td style="width: 30%">
                                                    <input id="txtGeographyAR" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                                </td>
                                            </tr>
                                            <tr style="width: 100%;">
                                                <td class="mou-label" style="width: 20%">MGD Region  </td>
                                                <td style="width: 30%">
                                                    <input id="txtRegionAR" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                                </td>
                                                <td class="mou-label" style="width: 20%">Center   </td>
                                                <td style="width: 30%">
                                                    <div id="cbPhysicalLocationAR"></div>
                                                </td>
                                            </tr>
                                            <tr style="width: 100%;">
                                                <td class="mou-label" style="width: 20%">LVID  </td>
                                                <td style="width: 30%">
                                                    <input id="txtLVIDAR" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                                </td>
                                                <td class="mou-label" style="width: 20%">Charge Out Profile   </td>
                                                <td style="width: 30%">
                                                    <input id="txtChargeOutAR" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                                </td>
                                            </tr>

                                            <tr style="width: 100%;">
                                                <td class="mou-label" style="width: 20%">Direct Staft   </td>
                                                <td style="width: 30%">
                                                    <div id="cbDirectStaftAR"></div>
                                                </td>
                                                <td class="mou-label" style="width: 20%">FTeable   </td>
                                                <td style="width: 30%">
                                                    <div id="cbFteableAR"></div>
                                                </td>
                                            </tr>
                                            <tr style="width: 100%;">
                                                <td class="mou-label" style="width: 20%">Status  </td>
                                                <td style="width: 30%">
                                                    <input id="txtStatusAR" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                                </td>
                                                <td class="mou-label" style="width: 20%">
                                                    <table>
                                                        <tr>
                                                            <td>Total Roles to add
                                                            </td>
                                                            <td>
                                                                <div style='margin-top: 3px;' id='TotalRoles'></div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="width: 30%">
                                                    <a id="A1AR" class="btn btn-small btn-success" onclick="AddNewRoleInput()"><i class="fa fa-check"></i>Add New Role</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
    </section>
</div>
