﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "HMT2";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/fonts/font-awesome/css/font-awesome.css",
        "/Content/HMT2/js/MyDataReport/Scripts/pivottable/nrecopivottableext.css",
        "/Content/HMT2/js/MyDataReport/Scripts/pivottable/pivot.css" 
    };
    ViewBag.JSLinks = new string[] {
        "/Content/HMT2/js/MyDataReport.js",
        //"/Content/HMT2/js/MyDataReport/Scripts/jquery.ui.touch-punch.min.js" ,
        //"/Content/HMT2/js/MyDataReport/Scripts/jquery-ui-1.9.2.custom.min.js" ,
        "/Content/HMT2/js/MyDataReport/Scripts/pivottable/pivot.min.js" ,
        "/Content/HMT2/js/MyDataReport/Scripts/pivottable/nrecopivottableext.js" ,
        "/Content/HMT2/js/MyDataReport/Scripts/pivottable/gchart_renderers.min.js",
        "/Content/HMT2/js/MyDataReport/Scripts/pivottable/export_renderers.min.js",
        "/Content/HMT2/js/MyDataReport/sampledata.js" 
    };
}

<div class="col-lg-12">
    <section class="box ">
        <div class="content-body">
            <div class="row">
                <div class="col50">
                    <div id="samplePivotTable3" style=" width:97%;">
                    </div>
                </div> 
            </div> 
        </div>
    </section>
</div> 
