﻿@{
    
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "HMT2";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/fonts/font-awesome/css/font-awesome.css",
        "/Content/Shared/plugins/uikit/css/uikit.min.css",
        "/Content/HMT2/css/style.css",
        "/Content/Shared/plugins/sheetjs/js-xlsx/css/dropfile.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/HMT2/js/Outlook.js",
        "/Content/Shared/plugins/jquery-validation/jquery.validate.min.js",
        "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxwindow.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"
    };
}

<div class="col-lg-12">
    <section class="box ">
        <div class="content-body">
            <div class="row" style="margin-top:35px;margin-bottom:15px;">
                <div class="col-sm-12">
                    <div class="col-sm-1">
                        <label class="control-label pull-right">Center</label>
                    </div>
                    
                    <div class="col-sm-4">
                        <select class="form-control selectpicker select" id="drop_Center" style="text-align:center"></select>
                    </div>
                    <div class="col-sm-5" id="js-xlsx-plugin" hidden="hidden"></div>
                    <button type="button" class="btn btn-purple btn-icon bottom15 right15 pull-right" id="btnUploadMonth"><i class="fa fa-cloud-upload"></i> &nbsp; <span>Close Month</span></button>
                </div>
            </div>
            <div class="row ">
                    <div id="tblGridOutlook">
                    </div>
            </div>
    </section>
</div>
