﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "HMT2";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/fonts/font-awesome/css/font-awesome.css",
                "/Content/HMT2/css/styles/jqx.blackberry.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryGreen.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryOrange.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryRed.css" ,
        "/Content/Shared/plugins/sheetjs/js-xlsx/css/dropfile.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/HMT2/js/Plan.js",
        "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxwindow.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"
    };
}

<div class="col-lg-12">
    <section class="box ">
        @* <header class="panel_header">
            <h2 class="title pull-left"></h2>
            <div class="actions panel_actions pull-right">
            </div>
        </header>*@
        <div class="content-body">
            <table class="table table-striped table-hover table-bordered table-condensed table-list-search" width="100%">
                <thead>
                    <tr>
                        <th colspan="2">Upload Template
                        </th>
                    </tr>
                </thead>
                <tr style="width: 100%;">
                    <td style="width: 50%;">
                        <table class="table table-striped table-hover table-bordered table-condensed table-list-search" width="100%">
                            <tbody>
                                <tr style="width: 100%;">
                                    <td class="mou-label" style="width: 50%">Template version
                                        <div id="jqxVersion">
                                            <div style="border-color: transparent;" id="jqxgridVersion">
                                            </div>
                                        </div>
                                    </td>                                    
                                    <td style="width: 50%">
                                        <a href="@(((string)Model["SubAppPath"]))/Content/HMT2/uploads/TemplatePlan.xlsx">TemplatePlan.xlsx</a>
                                    </td>
                                </tr>
                                <tr style="width: 100%;">
                                    <td class="mou-label" style="width: 50%">
                                        <input type="button" value="View version" id='viewSelectedVersion' onclick="viewSelected()" />
                                    </td>
                                    <td style="width: 50%">
                                        <input type="button" value="Use for this month" id='useSelectedVersion' onclick="useForThisMonth()" />
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td  style="width: 50%;">
                        <table class="table table-striped table-hover table-bordered table-condensed table-list-search" width="100%">
                            <tbody>
                                <tr>
                                    <td style="width: 25%">
                                        <div id="js-xlsx-plugin"></div>
                                        @* <input type="file" name="xlfile" id="xlf" style="width: 260px" />
                                        <input id="Path" runat="server" type="hidden" />*@
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>

            <div id='window'>
                <div>
                    Plan File
                </div>
                <div>
                    <div id="jqxGridLastFile"></div>
                </div>
            </div>


        </div>
    </section>
</div>
