﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "HMT2";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/fonts/font-awesome/css/font-awesome.css",
        "/Content/HMT2/css/styles/jqx.blackberry.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryGreen.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryOrange.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryRed.css" ,
        "/Content/Shared/plugins/sheetjs/js-xlsx/css/dropfile.css",
        "/Content/Shared/plugins/uikit/css/uikit.min.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/HMT2/js/Productivity.js",
        "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxwindow.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
        "/Content/Shared/plugins/sheetjs/js-xlsx/api.js",

    };
}

<div class="col-lg-12">
    <section class="box ">
        <div class="content-body">
            <div class="row" style="margin-top:10px;">
                <div class="btn-group btn-group-justified">
                    
                    <a type="button" class="btn btn-warning btn-sm" id="btnUpload">
                        <i class="fa fa-cloud-upload" style="margin-right: 10px;"></i>
                        Upload
                    </a>
                    <a type="button" class="btn btn-success btn-sm" id="btnDownload">
                        <i class="fa fa-file-excel-o" style="margin-right: 10px;"></i>
                        Download Upload Template
                    </a>
                    <a type="button" class="btn btn-purple btn-sm" id="btnDownloadView">
                        <i class="fa fa-cloud-upload" style="margin-right: 10px;"></i>
                        Download Current View
                    </a>
                </div>

                <div class="col-sm-12 pull-left" id="js-xlsx-plugin" hidden="hidden" style="margin-top: 10px"></div>

                <div class="col-lg-2" style="margin-top:12px; margin-bottom:10px;">      
                    <label class="control-label pull-right">Upload History</label>
                </div>

                <div class="col-lg-10" style="margin-top:10px; margin-bottom:10px;">
                    <div id="jqxWidget_FileID">
                        <div id="jqxdropdownbutton_Productivity_HistoryID">
                            <div style="border-color: transparent;" id="tbldropProdHistID"></div>
                        </div>
                    </div>
                </div>

                <div id="tblProductivity"></div>
            </div>
        </div>
    </section>
</div>
