﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "HMT2";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/fonts/font-awesome/css/font-awesome.css",
        "/Content/HMT2/css/startmin.css" ,
        "/Content/HMT2/css/styles/jqx.blackberry.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryGreen.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryOrange.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryRed.css" 
    };
    ViewBag.JSLinks = new string[] {

            "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcore.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxexpander.js",
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdraw.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxchart.core.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.export.js",
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbuttons.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxscrollbar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxlistbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownlist.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxmenu.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcheckbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxpanel.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcombobox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxradiobutton.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgauge.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbargauge.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxnumberinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxwindow.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtabs.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtooltip.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxribbon.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdatetimeinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcalendar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtooltip.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/globalization/globalize.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbuttons.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxscrollbar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxmenu.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxlistbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownbutton.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownlist.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxNotification.js" ,
                "/Content/HMT2/js/Requisition.js"


    };
}
<div class="col-lg-12">
    <section class="box ">
        <div class="content-body">
            <ul class="well well-small pager wizard">
                                <li class="next" onclick="AddNewReq()"><a class="btn btn-success" style="background-color: #5cb85c; width: 150px;">Add New</a></li>
                                <li class="next" onclick="uploadTaleo()"> <a href="@(((string)Model["SubAppPath"]))/HMT2/Taleo" style="background-color: #5cb85c; width: 150px;">Upload Taleo</a></li>
             </ul>
             <div id='jqxExpanderListReq'>
                        <div>
                            <label id="titleMileston">Requisiton List</label>
                        </div>
                        <div>
                            <br />
                            <div id="jqxGridReq"></div>
                            
                        </div>
            </div>
            <div id="reqAdmin">

                            <table class="table table-striped table-hover table-bordered table-condensed table-list-search" style="width:100%;">
                                <thead>
                                    <tr style="height:70px;">
                                        <th colspan="2" class="row align-top"><h3><label id="lblReq"></label></h3>
                                        </th>
                                    </tr>
                                </thead>
                                <tr style="width: 100%;">
                                    <td style="width: 50%;">
                                        <table class="table table-striped table-hover table-bordered table-condensed table-list-search" width="100%">
                                            <tbody>
                                                <tr style="width: 100%;">
                                                    <td class="mou-label" style="width: 20%">Title</td>
                                                    <td style="width: 30%">
                                                        <input id="txtTitle" type="text" maxlength="255" style="width:100%;"/>
                                                    </td>
                                                    <td class="mou-label" style="width: 20%">Status</td>
                                                    <td style="width: 30%">
                                                        <div id="cbStatus"></div>
                                                    </td>
                                                </tr>
                                                <tr style="width: 100%;">
                                                    <td class="mou-label" style="width: 20%"># Positions</td>
                                                    <td style="width: 30%">
                                                        <input id="position" />
                                                    </td>
                                                    <td class="mou-label" style="width: 20%">Req Date</td>
                                                    <td style="width: 30%">
                                                        <div id="dateReq"></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="width: 100%;">
                                    <td style="width: 50%;">
                                         <h3>Taleo Information</h3>
                                        <div id="gridTaleo"></div>
                                    </td>
                                </tr> 
                                <tr style="width: 100%;">
                                    <td style="width: 50%;">
                                                        <table style="width: 100%">
                                                            <tr style="width: 100%">
                                                                <td style="width: 75%;">
                                                                    <h3> Role Affected </h3>
                                                                </td>
                                                                <td style="width: 25%";>
                                                                    <a id="A2" class="btn btn-small btn-success" onclick="openPopUpRole()"><i class="fa fa-check"></i>Select roles affected</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <div id="jqxRoleList"></div>
                                     </td>
                                </tr>
                            </table>
            </div>
        </div>
        <div id="popUpRoles">
            <div><label id="lblLiveStage" style="font-size:x-large;">Select roles</label></div>
                <div style="overflow: hidden; height:100%;">
                <div style="width:100%;">
                <div id="jqxGridSelectRole"></div>
                    <ul class="well well-small pager wizard">
                </ul>
                </div>
            </div>
        </div>
    </section>
</div>
