﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "HMT2";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/fonts/font-awesome/css/font-awesome.css",
        "/Content/Shared/plugins/uikit/css/uikit.min.css",
        "/Content/HMT2/css/startmin.css" ,
        "/Content/HMT2/css/styles/jqx.blackberry.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryGreen.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryOrange.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryRed.css" ,
        "/Content/Shared/plugins/sheetjs/js-xlsx/css/dropfile.css"
    };
    ViewBag.JSLinks = new string[] {
        
        "/Content/HMT2/js/Role.js",
            "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcore.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxexpander.js",
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdraw.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxchart.core.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.export.js",
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbuttons.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxscrollbar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxlistbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownlist.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxmenu.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcheckbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxpanel.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcombobox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxradiobutton.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgauge.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbargauge.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxnumberinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxwindow.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtabs.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtooltip.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxribbon.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdatetimeinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcalendar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtooltip.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/globalization/globalize.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbuttons.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxscrollbar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxmenu.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxlistbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownbutton.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownlist.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxNotification.js" ,
                "/Content/HMT2/js/Job.js",


                 
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxwindow.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"
    };
}

@*<div class="col-lg-12">
    <section class="box">
        <div class="col-lg-6">
            <div id="js-xlsx-plugin"></div>
        </div>
    </section>
</div>*@

<div class="col-lg-12">
    

    <section class="box">
        @* <header class="panel_header">
            <h2 class="title pull-left"></h2>
            <div class="actions panel_actions pull-right">
            </div>
        </header>*@

        <input type="hidden" id="HFRoleID" value="@((string)Model["RoleID"])" />

        <div class="content-body">
            <div>
                <div style="margin-top: 30px;">
                        <button type="button" class="btn btn-primary btn-icon bottom15 right15" onclick="downloadExcel()"><i class="fa fa-file-excel-o"></i> &nbsp; <span>Download</span></button>
                        <button type="button" class="btn btn-purple btn-icon bottom15 right15" onclick="uploadPanel()"><i class="fa fa-cloud-upload"></i> &nbsp; <span>Upload File</span></button>
                        <button type="button" class="btn btn-danger btn-icon bottom15 right15" onclick="deleteRole()"><i class="fa fa-cloud-upload"></i> &nbsp; <span>Delete Role</span></button>
                    <div class="col-sm-5 pull-right" id="js-xlsx-plugin2" hidden="hidden"></div>
                </div>
                <div id="jqxGridRoles2">
                </div>
                <div id="jqxGridRoles">
                </div>
                <div class="col-sm-5 pull-right" id="js-xlsx-plugin3" hidden="hidden"></div>             
                

                <div id="columnsSelect">
                    <div>
                        <label id="lblLiveStage2" style="font-size: x-large;">
                            <label id="lblSelect">Select the columns </label>
                        </label>
                    </div>
                    <div style="overflow: auto; height: 100%;">
                        <div style="float: left;" id="jqxlistbox"></div>
                    </div>
                </div>

                <div id="roleInfoDiv">
                    <div>
                        <label id="lblLiveStage" style="font-size: x-large;">
                            <label id="lblReq">Role </label>
                        </label>
                    </div>
                    <div style="overflow: auto; height: 100%;">

                        <table class="table table-striped table-hover table-bordered table-condensed table-list-search" style="width: 100%;">
                            <tr style="width: 100%;">
                                <td style="width: 50%;">
                                    <table class="table table-striped table-hover table-bordered table-condensed table-list-search" width="100%">
                                        <tbody>
                                            <tr style="width: 100%;">
                                                <td class="mou-label" style="width: 20%">Name  </td>
                                                <td style="width: 30%">
                                                    <input id="txtName" type="text" maxlength="255" style="width: 100%;" />
                                                </td>
                                                <td class="mou-label" style="width: 20%">GOC   </td>
                                                <td style="width: 30%">
                                                    <input id="jqxGoc" />
                                                    @*<a id="A1" class="btn btn-small btn-success" onclick="loadGocData()"><i class="fa fa-check"></i></a>*@
                                                </td>
                                            </tr>
                                            <tr style="width: 100%;">
                                                <td class="mou-label" style="width: 20%">MS LVL 09  </td>
                                                <td style="width: 30%">
                                                    <input id="txtMSLVL09" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                                </td>
                                                <td class="mou-label" style="width: 20%">MGD Geography   </td>
                                                <td style="width: 30%">
                                                    <input id="txtGeography" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                                </td>
                                            </tr>
                                            <tr style="width: 100%;">
                                                <td class="mou-label" style="width: 20%">MGD Region  </td>
                                                <td style="width: 30%">
                                                    <input id="txtRegion" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                                </td>
                                                <td class="mou-label" style="width: 20%">Center   </td>
                                                <td style="width: 30%">
                                                    <div id="cbPhysicalLocation"></div>
                                                </td>
                                            </tr>
                                            <tr style="width: 100%;">
                                                <td class="mou-label" style="width: 20%">LVID  </td>
                                                <td style="width: 30%">
                                                    <input id="txtLVID" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                                </td>
                                                <td class="mou-label" style="width: 20%">Charge Out Profile   </td>
                                                <td style="width: 30%">
                                                    <input id="txtChargeOut" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                                </td>
                                            </tr>

                                            <tr style="width: 100%;">
                                                <td class="mou-label" style="width: 20%">Direct Staft   </td>
                                                <td style="width: 30%">
                                                    <div id="cbDirectStaft"></div>
                                                </td>
                                                <td class="mou-label" style="width: 20%">FTeable   </td>
                                                <td style="width: 30%">
                                                    <div id="cbFteable"></div>
                                                </td>
                                            </tr>
                                            <tr style="width: 100%;">
                                                <td class="mou-label" style="width: 20%">Status  </td>
                                                <td style="width: 30%">
                                                    <input id="txtStatus" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                                </td>
                                                <td class="mou-label" style="width: 20%"></td>
                                                <td style="width: 30%">
                                                    <a id="A1" class="btn btn-small btn-success" onclick="saveNewGOC()"><i class="fa fa-check"></i>Save Changes</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="width: 100%;">
                                <td style="width: 50%;">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-10 col-lg-10">
                                            <h3>Actual MOU/NON MOU  Information</h3>
                                        </div>
                                        <div class="col-xs-4 col-md-4 col-lg-2 pull-right">
                                            <a id="A1" class="btn btn-small btn-primary" onclick="LinkNewMOUNM()" style="width: 180px;"><i class="fa fa-link"></i>Link MOU/NON MOU</a>
                                        </div>
                                    </div>
                                    <div id="gridInfo"></div>
                                    <table class="table table-striped table-hover table-bordered table-condensed table-list-search" width="100%">
                                        <tbody>
                                            <tr style="width: 100%;">
                                                <td class="mou-label" style="width: 17%">Posible Start Date  </td>
                                                <td style="width: 17%">
                                                    <div id='posibleStart'></div>
                                                </td>
                                                <td class="mou-label" style="width: 17%">Posible End Date 
                                                    <input id="IsEndDate" type="checkbox" value="Have end date" onchange="viewDisableCB()" />
                                                </td>
                                                <td style="width: 17%">
                                                    <div id='posibleEnd'></div>
                                                </td>
                                                <td style="width: 30%">
                                                    <a id="A1" class="btn btn-small btn-success" onclick="saveChangeTypeDates()"><i class="fa fa-check"></i>Save Changes</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="width: 100%;">
                                <td style="width: 50%;">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-10 col-lg-10">
                                            <h3>MOU/NON MOU Role History</h3>
                                        </div>
                                    </div>
                                    <div id="gridHistoryMOU"></div>
                                </td>
                            </tr>
                            <tr style="width: 100%;">
                                <td style="width: 50%;">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-10 col-lg-10">
                                            <h3>Requisition History</h3>
                                        </div>
                                        <div class="col-xs-4 col-md-4 col-lg-2 pull-right">
                                            <a id="A1" class="btn btn-small btn-primary" onclick="LinkageRoleWithPopUp()" style="width: 180px;"><i class="fa fa-link"></i>Link Requisition</a>
                                        </div>
                                    </div>
                                    <div id="gridTaleo"></div>
                                </td>
                            </tr>
                            <tr style="width: 100%;">
                                <td style="width: 50%;">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-10 col-lg-10">
                                            <h3>Employee History</h3>
                                        </div>
                                        <div class="col-xs-4 col-md-4 col-lg-2 pull-right">
                                            <a id="A1" class="btn btn-small btn-primary" onclick="LinkageRoleWithEmployee()" style="width: 180px;"><i class="fa fa-link"></i>Link Employee</a>
                                        </div>
                                    </div>

                                    <div id="gridEmployee"></div>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>


                <div id="AddRoleByGoc">
                    <table class="table table-striped table-hover table-bordered table-condensed table-list-search" style="width: 100%;">
                        <thead>
                            <tr style="height: 70px;">
                                <th colspan="2" class="row align-top">
                                    <div class="col-xs-12 col-md-10 col-lg-10">
                                        <h3>
                                            <label>Add new roles </label>
                                        </h3>
                                    </div>
                                    <div class="col-xs-4 col-md-4 col-lg-2 pull-right">
                                        <label class="fa fa-close pull-right" style="padding-top: 8px; font-size: 26px; color: #337ab7; margin-left: 10px; cursor: pointer;" onclick="closeViewRoleAR()" />
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tr style="width: 100%;">
                            <td style="width: 50%;">
                                <table class="table table-striped table-hover table-bordered table-condensed table-list-search" width="100%">
                                    <tbody>
                                        <tr style="width: 100%;">
                                            <td class="mou-label" style="width: 20%">Name  </td>
                                            <td style="width: 30%">
                                                <input id="txtNameAR" type="text" maxlength="255" style="width: 100%;" />
                                            </td>
                                            <td class="mou-label" style="width: 20%">GOC   </td>
                                            <td style="width: 30%">
                                                <input id="jqxGocAR" />
                                                @* <a id="A1" class="btn btn-small btn-success" onclick="loadGocData()"><i class="fa fa-check"></i></a>*@
                                            </td>
                                        </tr>
                                        <tr style="width: 100%;">
                                            <td class="mou-label" style="width: 20%">MS LVL 09  </td>
                                            <td style="width: 30%">
                                                <input id="txtMSLVL09AR" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                            </td>
                                            <td class="mou-label" style="width: 20%">MGD Geography   </td>
                                            <td style="width: 30%">
                                                <input id="txtGeographyAR" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                            </td>
                                        </tr>
                                        <tr style="width: 100%;">
                                            <td class="mou-label" style="width: 20%">MGD Region  </td>
                                            <td style="width: 30%">
                                                <input id="txtRegionAR" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                            </td>
                                            <td class="mou-label" style="width: 20%">Center   </td>
                                            <td style="width: 30%">
                                                <div id="cbPhysicalLocationAR"></div>
                                            </td>
                                        </tr>
                                        <tr style="width: 100%;">
                                            <td class="mou-label" style="width: 20%">LVID  </td>
                                            <td style="width: 30%">
                                                <input id="txtLVIDAR" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                            </td>
                                            <td class="mou-label" style="width: 20%">Charge Out Profile   </td>
                                            <td style="width: 30%">
                                                <input id="txtChargeOutAR" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                            </td>
                                        </tr>

                                        <tr style="width: 100%;">
                                            <td class="mou-label" style="width: 20%">Direct Staft   </td>
                                            <td style="width: 30%">
                                                <div id="cbDirectStaftAR"></div>
                                            </td>
                                            <td class="mou-label" style="width: 20%">FTeable   </td>
                                            <td style="width: 30%">
                                                <div id="cbFteableAR"></div>
                                            </td>
                                        </tr>
                                        <tr style="width: 100%;">
                                            <td class="mou-label" style="width: 20%">Status  </td>
                                            <td style="width: 30%">
                                                <input id="txtStatusAR" type="text" maxlength="255" style="width: 100%;" disabled="disabled" />
                                            </td>
                                            <td class="mou-label" style="width: 20%">
                                                <table>
                                                    <tr>
                                                        <td>Total Roles to add
                                                        </td>
                                                        <td>
                                                            <div style='margin-top: 3px;' id='TotalRoles'></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width: 30%">
                                                <a id="A1AR" class="btn btn-small btn-success" onclick="AddNewRoleInput()"><i class="fa fa-check"></i>Add New Role</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="popUpMOUNMList">
                <div>
                    <label id="lblLiveStage" style="font-size: x-large;">Select One MOU/NON MOU </label>
                </div>
                <div style="overflow: hidden; height: 100%;">
                    <div style="width: 100%;">
                        <div id="jqxGridListMOUNM"></div>

                    </div>
                </div>
            </div>
            <div id="popUpRequisition">
                <div>
                    <label id="lblLiveStageReq" style="font-size: x-large;">Select One Requisition </label>
                </div>
                <div style="overflow: hidden; height: 100%;">
                    <div style="width: 100%;">
                        <div id="jqxGridListRequisition"></div>

                    </div>
                </div>
            </div>
        </div>
</div>
