﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "HMT2";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/fonts/font-awesome/css/font-awesome.css",
        "/Content/HMT2/css/startmin.css" ,
        "/Content/HMT2/css/styles/jqx.blackberry.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryGreen.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryOrange.css" ,
        "/Content/HMT2/css/styles/jqx.blackberryRed.css" 
    };
    ViewBag.JSLinks = new string[] {
                "/Content/HMT2/js/Tracker.js",
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcore.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxexpander.js",
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdraw.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxchart.core.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.export.js",
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbuttons.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxscrollbar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxlistbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownlist.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxmenu.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcheckbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxpanel.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcombobox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxradiobutton.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxgauge.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbargauge.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxnumberinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxwindow.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtabs.js" ,

                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtooltip.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxribbon.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdatetimeinput.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxcalendar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtooltip.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/globalization/globalize.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdata.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxbuttons.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxscrollbar.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxmenu.js" ,

                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxlistbox.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownbutton.js" ,

                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxdropdownlist.js" ,
                "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxNotification.js" ,
    };
}

<div class="col-lg-12">
    <section class="box ">
        @* <header class="panel_header">
            <h2 class="title pull-left"></h2>
            <div class="actions panel_actions pull-right">
            </div>
        </header>*@
        <div class="content-body">
            <div id='jqxTabs'>
            <ul>
                <li style="margin-left: 30px;">MOU Tracker</li>
                <li>Non MOU Tracker</li>
                <li>HC Tracker</li>
            </ul>
            <div>
                1
            </div>
            <div>
                2
            </div>
            <div>
                3
            </div>    
        </div>   



        </div>

    </section>
</div>
