﻿/*Fix Drop Down z-index issue*/
.select2-dropdown {
    z-index: 1051;
}

.ProgressHolder {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
}

.testEvent {
    border-color: #4caf50;
    border-width: 1px;
    border-style: double;
}

@media all and (min-width:0px) and (max-width: 430px) {
    .containerLblRecover {
        margin-top: 0px !important;
    }

    .containerCountEDCFCActivities{
        margin-bottom: 20px !important;
    }

    .icheck-label {
        display: initial !important;
        line-height: 32px !important;
    }
}

@media all and (min-width:0px) and (max-width: 670px) {
    /*Hide wizard labels*/
    .form-wizard li a span {
        display: none !important;
    }

    /*Remove margin from form*/
    #formRecoverFilters {
        margin-top: 0px !important;
    }
}