﻿.jqx-rc-tl-blackberryRed
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.jqx-rc-tr-blackberryRed
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.jqx-rc-bl-blackberryRed
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.jqx-rc-br-blackberryRed
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*top rounded Corners*/
.jqx-rc-t-blackberryRed
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
/*bottom rounded Corners*/
.jqx-rc-b-blackberryRed
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*right rounded Corners*/
.jqx-rc-r-blackberryRed
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*left rounded Corners*/
.jqx-rc-l-blackberryRed
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*all rounded Corners*/
.jqx-rc-all-blackberryRed
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.jqx-widget-blackberryRed {
    font-size: 12px;
    font-family: Slate Pro, Slate, Helvetica, sans-serif;
    color: inherit;
}
.jqx-widget-content-blackberryRed {
   font-family: Slate Pro, Slate, Helvetica, sans-serif;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0,0,0,0.2);
    font-size: 12px;
    color: #000;
 }

.jqx-widget-blackberryRed {
    border-color: #d9534f;
}
.jqx-widget-header-blackberryRed {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    font-size: 12px;
    font-family: Slate Pro, Slate, Helvetica, sans-serif;
    z-index: 0;
}
.jqx-grid-cell-blackberryRed {
    font-size: 12px;
}
.jqx-button-blackberryRed, .jqx-fill-state-normal-blackberryRed, .jqx-fill-state-hover-blackberryRed   {
    border-color: #CECACE;
    font-family: Slate Pro, Slate, Helvetica, sans-serif;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c6c3c6), color-stop(100%, #e7e7e7));
    background: -webkit-linear-gradient(#c6c3c6, #e7e7e7);
    background: -moz-linear-gradient(#c6c3c6, #e7e7e7);
    background: -o-linear-gradient(#c6c3c6, #e7e7e7);
    background: linear-gradient(#c6c3c6, #e7e7e7);
    font-size: 12px;
    color: #000;
}
.jqx-fill-state-pressed-blackberryRed, .jqx-combobox-multi-item-blackberryRed {
    background: rgba(217, 83, 79, 0.44);
    border-color: #5e5e5e;
    color: #fff;
    font-size: 12px;
    font-family: Slate Pro, Slate, Helvetica, sans-serif;
}
.jqx-grid-group-column-blackberryRed {
    color: #fff;
    background: #d9534f;
    border-color: #d9534f;
}
.jqx-radiobutton-default-blackberryRed {
   background: #e7e7e7; 
}
.jqx-button-blackberryRed {
    border-width: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.jqx-widget-blackberryRed .jqx-grid-column-menubutton-blackberryRed, .jqx-grid-column-menubutton-blackberryRed {
    background-color: transparent;
    border-color: #d9534f;
}

.jqx-calendar-row-header-blackberryRed, .jqx-calendar-top-left-header-blackberryRed {
    background-color: #f0f0f0;
    border: 0px solid rgba(0,0,0,0.2);
}

.jqx-calendar-column-header-blackberryRed {
    background-color: #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #e9e9e9;
}

.jqx-scrollbar-state-normal-blackberryRed {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.jqx-scrollbar-thumb-state-normal-blackberryRed, .jqx-scrollbar-thumb-state-normal-horizontal-blackberryRed {
    background: #9b9b9b;
    border-color: #b3b3b3;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.jqx-scrollbar-thumb-state-hover-blackberryRed, .jqx-scrollbar-thumb-state-hover-horizontal-blackberryRed {
    background: #e6e6e6;
    border-color: #b3b3b3;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.jqx-progressbar-blackberryRed {
    background: #f7f7f7 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jqx-progressbar-value-blackberryRed, .jqx-splitter-collapse-button-horizontal-blackberryRed {
    background-color: #00aae7;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #00aae7, #00aae7);
}

.jqx-splitter-collapse-button-vertical-blackberryRed, .jqx-progressbar-value-vertical-blackberryRed {
    background-color: #00aae7;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, #00aae7, #00aae7);
}

.jqx-scrollbar-thumb-state-pressed-blackberryRed, .jqx-splitter-splitbar-vertical-blackberryRed, .jqx-splitter-splitbar-horizontal-blackberryRed, .jqx-scrollbar-thumb-state-pressed-horizontal-blackberryRed {
    background: #d9d9d9;
    border-color: #b3b3b3;
     box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.jqx-grid-column-sortdescbutton-blackberryRed, jqx-grid-column-filterbutton-blackberryRed, .jqx-grid-column-sortascbutton-blackberryRed {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #cccccc;
}

.jqx-slider-rangebar-blackberryRed {
    background: #cccccc;
}

.jqx-menu-vertical-blackberryRed {
    background: #ffffff;
    filter: none;
}

.jqx-checkbox-check-checked-blackberryRed {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC');
}
.jqx-checkbox-hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.jqx-combobox-content-blackberryRed, .jqx-input-blackberryRed {
}

.jqx-combobox-content-blackberryRed {
    border-color: #cccccc;
    border-color: rgba(0,0,0,0.2);
}

.jqx-grid-bottomright-blackberryRed, .jqx-panel-bottomright-blackberryRed, .jqx-listbox-bottomright-blackberryRed {
    background-color: #efefef;
}
.jqx-listitem-state-normal-touch-blackberryRed {
    padding-top: 5px;
    padding-bottom: 5px;
}
.jqx-window-blackberryRed, .jqx-tooltip-blackberryRed {
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}

.jqx-docking-blackberryRed .jqx-window-blackberryRed {
    box-shadow: none;
}

.jqx-docking-panel-blackberryRed .jqx-window-blackberryRed {
    box-shadow: none;
}

.jqx-radiobutton-blackberryRed {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background: none;
}

.jqx-radiobutton-blackberryRed-blackberryRed, .jqx-radiobutton-hover-blackberryRed {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
}

.jqx-radiobutton-check-checked-blackberryRed {
    filter: none;
    background: #666;
    background-repeat: no-repeat;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-radiobutton-check-indeterminate-blackberryRed {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-radiobutton-check-indeterminate-disabled-blackberryRed {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-slider-track-horizontal-blackberryRed, .jqx-slider-track-vertical-blackberryRed {
    border-color: #cccccc;
    background: #f0f0f0;
}

.jqx-slider-button-blackberryRed {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-popup-blackberryRed {
    border: 1px solid #ccc;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}
.jqx-grid-column-sortascbutton-blackberryRed, .jqx-expander-arrow-bottom-blackberryRed, .jqx-window-collapse-button-blackberryRed, .jqx-menu-item-arrow-up-blackberryRed, .jqx-menu-item-arrow-up-selected-blackberryRed, .jqx-menu-item-arrow-top-up-blackberryRed, .jqx-icon-arrow-up-blackberryRed, .jqx-icon-arrow-up-hover-blackberryRed, .jqx-icon-arrow-up-selected-blackberryRed {
    background-image: url('images/icon-up.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-widget-blackberryRed .jqx-grid-group-expand-blackberryRed, .jqx-grid-group-expand-blackberryRed, .jqx-grid-column-menubutton-blackberryRed, .jqx-grid-column-sortdescbutton-blackberryRed, .jqx-expander-arrow-top-blackberryRed, .jqx-window-collapse-button-collapsed-blackberryRed, .jqx-menu-item-arrow-down-blackberryRed, .jqx-menu-item-arrow-down-selected-blackberryRed, .jqx-menu-item-arrow-down-blackberryRed, .jqx-icon-arrow-down-blackberryRed, .jqx-icon-arrow-down-hover-blackberryRed, .jqx-icon-arrow-down-selected-blackberryRed {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-tabs-arrow-left-blackberryRed, .jqx-menu-item-arrow-left-selected-blackberryRed, .jqx-menu-item-arrow-top-left, .jqx-icon-arrow-left-blackberryRed, .jqx-icon-arrow-down-left-blackberryRed, .jqx-icon-arrow-left-selected-blackberryRed {
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-widget-blackberryRed .jqx-grid-group-collapse-blackberryRed, .jqx-grid-group-collapse-blackberryRed, .jqx-tabs-arrow-right-blackberryRed, .jqx-menu-item-arrow-right-selected-blackberryRed, .jqx-menu-item-arrow-top-right-blackberryRed, .jqx-icon-arrow-right-blackberryRed, .jqx-icon-arrow-right-hover-blackberryRed, .jqx-icon-arrow-right-selected-blackberryRed {
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-item-arrow-collapse-blackberryRed {
    background-image: url('images/icon-right.png') !important;
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-item-arrow-collapse-rtl-blackberryRed, .jqx-tree-item-arrow-collapse-hover-rtl-blackberryRed {
    background-image: url(images/icon-left.png);
}

.jqx-menu-item-arrow-left-selected-blackberryRed {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-menu-item-arrow-right-selected-blackberryRed {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-input-button-content-blackberryRed
{  
    font-size: 13px;
}
.jqx-input-button-header-blackberryRed {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-group-cell {border-color: #ccc; border-color: rgba(0,0,0,0.2);}
.jqx-combobox-content-blackberryRed, .jqx-input-blackberryRed, .jqx-input-group-addon-blackberryRed {
    border-color: #cccccc;
    border-color: rgba(0,0,0,0.2);
    color: #555555;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.jqx-combobox-content-blackberryRed, .jqx-combobox-blackberryRed, .jqx-combobox-state-normal-blackberryRed {
    border-color: #cccccc;
    border-color: rgba(0,0,0,0.2);
}

.jqx-combobox-content-focus-blackberryRed, .jqx-combobox-state-focus-blackberryRed, .jqx-fill-state-focus-blackberryRed,
.jqx-numberinput-focus-blackberryRed {
    outline: none;
    border-color: #959595;
}

input[type="text"].jqx-input-blackberryRed:-moz-placeholder, input[type="text"].jqx-widget-content-blackberryRed:-moz-placeholder, input[type="textarea"].jqx-widget-content-blackberryRed:-moz-placeholder, textarea.jqx-input-blackberryRed:-moz-placeholder {
    color: #999999;
}

input[type="text"].jqx-input-blackberryRed:-webkit-input-placeholder, input[type="text"].jqx-widget-content-blackberryRed:-webkit-input-placeholder, input[type="textarea"].jqx-widget-content-blackberryRed:-webkit-input-placeholder, textarea.jqx-input-blackberryRed:-webkit-input-placeholder {
    color: #999999;
}

input[type="text"].jqx-input-blackberryRed:-ms-input-placeholder, input[type="text"].jqx-widget-content-blackberryRed:-ms-input-placeholder, input[type="textarea"].jqx-widget-content-blackberryRed:-ms-input-placeholder, textarea.jqx-input-blackberryRed:-ms-input-placeholder {
    color: #999999;
}

.jqx-slider-rangebar-blackberryRed {
    border-color: #00aae7;
    background: #00aae7;
}
.jqx-tabs-blackberryRed {
    border: 1px solid #1a1a1a;
}
.jqx-tabs-title-blackberryRed {
    background: transparent;
    border-color: transparent;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -moz-border-bottom-left-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
}
.jqx-tabs-header-blackberryRed, .jqx-tabs-arrow-background {
    background-color: #1a1a1a;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,rgba(255,255,255,0.18)),color-stop(1,rgba(255,255,255,0)));
    background-image: -moz-linear-gradient(top,rgba(255,255,255,0.18),rgba(255,255,255,0));
    background-image: linear-gradient(top,rgba(255,255,255,0.18),rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top,rgba(255,255,255,0.18),rgba(255,255,255,0));
    background-image: -o-linear-gradient(top,rgba(255,255,255,0.18),rgba(255,255,255,0));
    color: #fff;
    border-color: #000;
}
.jqx-tabs-title-selected-top-blackberryRed, .jqx-tabs-selection-tracker-top-blackberryRed {
    border-bottom: 0px solid transparent;
    border-top: 2px solid #057fe4;
    color: #fff;
    background: #3a3a3a;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f3f3f), color-stop(100%, #353535));
    background-image: -webkit-linear-gradient(top, #3f3f3f, #353535);
    background-image: -moz-linear-gradient(top, #3f3f3f, #353535);
    background-image: -o-linear-gradient(top, #3f3f3f, #353535);
    background-image: linear-gradient(top, #3f3f3f, #353535);
    box-shadow: 0 0px 5px #000;
    -webkit-box-shadow: 0 0px 5px #000;
    padding-top: 4px;
    padding-bottom: 4px;
}

.jqx-tabs-title-selected-bottom-blackberryRed, .jqx-tabs-selection-tracker-bottom-blackberryRed {
    border-top: 2px solid #057fe4;
    color: #fff;
    margin-top: 0px;
    background: #3a3a3a;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f3f3f), color-stop(100%, #353535));
    background-image: -webkit-linear-gradient(top, #3f3f3f, #353535);
    background-image: -moz-linear-gradient(top, #3f3f3f, #353535);
    background-image: -o-linear-gradient(top, #3f3f3f, #353535);
    background-image: linear-gradient(top, #3f3f3f, #353535);
    box-shadow: 0 0px 5px #000;
    -webkit-box-shadow: 0 0px 5px #000;
    padding-top: 4px;
    padding-bottom: 4px;
}
.jqx-tabs-title-hover-top-blackberryRed, .jqx-tabs-title-hover-bottom-blackberryRed, .jqx-tabs-header-blackberryRed
{
    color: #fff;
}
.jqx-expander-arrow-expanded-blackberryRed, .jqx-icon-arrow-up-selected-blackberryRed{background-image:url('images/icon-up-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-icon-arrow-down-selected-blackberryRed{background-image:url('images/icon-down-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-icon-arrow-left-selected-blackberryRed{background-image:url('images/icon-left-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-icon-arrow-right-selected-blackberryRed{background-image:url('images/icon-right-white.png');background-repeat:no-repeat; background-position:center}
.jqx-grid-column-sortdescbutton-blackberryRed, jqx-grid-column-filterbutton-blackberryRed, .jqx-grid-column-sortascbutton-blackberryRed{ background-color:transparent;  border-style:solid;  border-width:0px 0px 0px 0px;  border-color:#d9534f}

.jqx-menu-item-arrow-right-selected-blackberryRed{background-image:url(images/icon-right-white.png); background-position:100% 50%; background-repeat:no-repeat}
.jqx-menu-item-arrow-down-selected-blackberryRed{background-image:url(images/icon-down-white.png); background-position:100% 50%; background-repeat:no-repeat}
.jqx-menu-item-arrow-up-selected-blackberryRed{background-image:url(images/icon-up-white.png);background-position:100% 50%; background-repeat:no-repeat}
.jqx-menu-item-arrow-left-selected-blackberryRed{background-image:url(images/icon-left-white.png); background-position:0 50%; background-repeat:no-repeat}

.jqx-button-blackberryRed .jqx-icon-arrow-left-blackberryRed {
    background-image:url('images/icon-left.png');
}
.jqx-button-blackberryRed .jqx-icon-arrow-right-blackberryRed {
    background-image:url('images/icon-right.png');
}
.jqx-listmenu-item-blackberryRed.jqx-fill-state-normal-blackberryRed .jqx-icon-arrow-left-blackberryRed {
    background-image:url('images/icon-left.png');
}
.jqx-listmenu-item-blackberryRed.jqx-fill-state-normal-blackberryRed .jqx-icon-arrow-right-blackberryRed {
    background-image:url('images/icon-right.png');
}
.jqx-listmenu-item-blackberryRed.jqx-fill-state-pressed-blackberryRed .jqx-icon-arrow-left-blackberryRed {
    background-image:url('images/icon-left-white.png');
}
.jqx-listmenu-item-blackberryRed.jqx-fill-state-pressed-blackberryRed .jqx-icon-arrow-right-blackberryRed {
    background-image:url('images/icon-right-white.png');
}
.jqx-listmenu-header-label-blackberryRed {
    font-size: 12px;
    margin-left: -5px;
}
.jqx-listmenu-item-label-blackberryRed {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.jqx-listmenu-item-blackberryRed a:link, .jqx-listmenu-item-blackberryRed a:visited {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.jqx-listmenu-item-blackberryRed {
    padding: 0px;
}
.jqx-listmenu-separator-blackberryRed {
    font-size: 12px; 
    font-family: Slate Pro, Slate, Helvetica, sans-serif;
}

.jqx-grid-column-sortascbutton-blackberryRed, .jqx-window-collapse-button-blackberryRed, .jqx-menu-item-arrow-up-selected-blackberryRed, .jqx-menu-item-arrow-top-up-blackberryRed, .jqx-icon-arrow-up-selected-blackberryRed{background-image:url('images/icon-up-white.png');background-repeat:no-repeat;background-position:center}
.jqx-grid-column-menubutton-blackberryRed, .jqx-grid-column-sortdescbutton-blackberryRed, .jqx-window-collapse-button-collapsed-blackberryRed, .jqx-menu-item-arrow-down-selected-blackberryRed, .jqx-menu-item-arrow-down-blackberryRed, .jqx-icon-arrow-down-selected-blackberryRed{background-image:url('images/icon-down-white.png');background-repeat:no-repeat;background-position:center}
.jqx-tabs-arrow-left-blackberryRed, .jqx-menu-item-arrow-left-selected-blackberryRed, .jqx-icon-arrow-left-blackberryRed, .jqx-menu-item-arrow-top-left-blackberryRed{background-image:url('images/icon-left-white.png');background-repeat:no-repeat;background-position:center}
.jqx-tabs-arrow-right-blackberryRed, .jqx-menu-item-arrow-right-selected-blackberryRed, .jqx-menu-item-arrow-top-right-blackberryRed, .jqx-icon-arrow-right-blackberryRed, .jqx-icon-arrow-right-hover-blackberryRed, .jqx-icon-arrow-right-selected-blackberryRed{background-image:url('images/icon-right-white.png');background-repeat:no-repeat;background-position:center}
.jqx-window-close-button-blackberryRed, .jqx-icon-close-blackberryRed, .jqx-tabs-close-button-blackberryRed, .jqx-tabs-close-button-hover-blackberryRed, .jqx-tabs-close-button-selected-blackberryRed{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center}
.jqx-button-blackberryRed {
   padding: 10px 7px;
}
input[type=text].jqx-input-blackberryRed, input[type=password].jqx-input-blackberryRed{
   font-size: 12px; 
    font-family: Slate Pro, Slate, Helvetica, sans-serif;
}

.jqx-group-button-normal-blackberryRed{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
     -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.jqx-progressbar-text-blackberryRed {
    font-size: 12px;
}
.jqx-slider-button-blackberryRed
{
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    padding: 4px !important;
}
.jqx-slider-slider-blackberryRed {
    width: 25px;
    height: 25px;
    margin-top: -10px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.jqx-slider-button-blackberryRed.jqx-fill-state-pressed-blackberryRed .jqx-icon-arrow-right-blackberryRed {
      background-image: url('images/icon-right-white.png');
}
.jqx-slider-button-blackberryRed.jqx-fill-state-pressed-blackberryRed .jqx-icon-arrow-left-blackberryRed {
      background-image: url('images/icon-left-white.png');
}
.jqx-slider-button-blackberryRed.jqx-fill-state-pressed-blackberryRed .jqx-icon-arrow-up-blackberryRed {
      background-image: url('images/icon-up-white.png');
}
.jqx-slider-button-blackberryRed.jqx-fill-state-pressed-blackberryRed .jqx-icon-arrow-down-blackberryRed {
      background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-blackberryRed.jqx-grid-cell-selected-blackberryRed>.jqx-grid-group-expand-blackberryRed,
.jqx-grid-cell-blackberryRed.jqx-grid-cell-hover-blackberryRed>.jqx-grid-group-expand-blackberryRed {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-blackberryRed.jqx-grid-cell-selected-blackberryRed>.jqx-grid-group-collapse-blackberryRed,
.jqx-grid-cell-blackberryRed.jqx-grid-cell-hover-blackberryRed>.jqx-grid-group-collapse-blackberryRed {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-blackberryRed.jqx-grid-cell-selected-blackberryRed>.jqx-grid-group-collapse-rtl-blackberryRed,
.jqx-grid-cell-blackberryRed.jqx-grid-cell-hover-blackberryRed>.jqx-grid-group-collapse-rtl-blackberryRed {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-blackberryRed.jqx-grid-cell-selected-blackberryRed>.jqx-grid-group-expand-rtl-blackberryRed,
.jqx-grid-cell-blackberryRed.jqx-grid-cell-hover-blackberryRed>.jqx-grid-group-expand-rtl-blackberryRed {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-grid-expand-button-blackberryRed, .jqx-tree-grid-collapse-button-blackberryRed {
    margin-top: 0px;
}
.jqx-tree-grid-checkbox-blackberryRed {
    margin-top: 1px;
}
.jqx-icon-arrow-first-selected-blackberryRed
{
    background-image: url('images/icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-selected-blackberryRed
{
    background-image: url('images/icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-button-blackberryRed .jqx-icon-arrow-left-selected-blackberryRed, .jqx-icon-arrow-left-selected-blackberryRed
{
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-button-blackberryRed .jqx-icon-arrow-right-selected-blackberryRed, .jqx-icon-arrow-right-selected-blackberryRed
{
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
 .jqx-icon-calendar-pressed-blackberryRed {
    background-image: url('images/icon-calendar-white.png');
}
 .jqx-icon-time-pressed-blackberryRed {
    background-image: url('images/icon-time-white.png');
}
 .jqx-file-upload-blackberryRed .jqx-icon-arrow-up-blackberryRed {
  background-image: url('images/icon-up-white.png');
}
.jqx-file-upload-file-name-blackberryRed{padding:3px;}
.jqx-file-upload-file-row-blackberryRed{ height: 40px;}
.jqx-layout-blackberryRed
{
    background-color: #d9534f;
}
.jqx-layout-pseudo-window-pin-icon-blackberryRed
{
    background-image: url("images/pin-white.png");
}
.jqx-layout-pseudo-window-pinned-icon-blackberryRed
{
    background-image: url("images/pinned-white.png");
}