﻿
.sorted {
	background-color: #F0F9FF !important;
}
.sort-none {
	background: url("../Content/images/sort_both.png") no-repeat center right;
}
.sort-asc {
	background: url("../Content/images/sort_asc.png") no-repeat center right;
}
.sort-desc {
	background: url("../Content/images/sort_desc.png") no-repeat center right;
}

/* customize form-control further */
.small {
	padding: 4px 0.5em !important;
	height: 2em !important;
}
.inline {
	display:inline !important;
}
