.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.utility
{
    margin-bottom: 0;
    position: fixed;
    width: 100%;

    /*ZINDEXFIX:
      Elements over black line header:
      - JQXGrid columns (Max z-index: 80)
      - Left Menu (Max z-index: 1) */
    z-index: 80;
}

.navbar
{
    overflow: visible;
    border: 0;
}

.utility .navbar-inner
{
    min-height: 22px;
    height: 22px;
    border-radius: 0;
    border: 0;
    text-transform: uppercase;
    font-size: 11px;
    background: #000;
    background-image: url(../images/Header_Span.gif);
    background-position: 0 0;
    padding: 0 20px;
}

.navbar-inner
{
    background-repeat: repeat-x;
    background-position: 0 26px;
    background-color: #004786;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.1);
    filter: none;
    border-width: 0;
}

.navbar .nav.pull-right
{
    float: right;
    margin-right: 0;
}

.navbar-inner > ul.util
{
    margin-top: 2px;
}

.navbar .nav
{
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0;
}

.utility ul
{
    height: 11px;
}

.nav
{
    list-style: none;
}

.navbar .nav > li
{
    float: left;
}

.utility .nav > li > a
{
    line-height: 20px;
    color: #FFF;
    font-weight: 400;
    text-shadow: none;
    padding: 0 0 0 10px;
}

.navbar .nav > li > a
{
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    font-size: 14px;
    line-height: 18px;
    float: none;
}

.nav > li > a
{
    display: block;
}

.navbar-inner:after
{
    clear: both;
}

.utility-shadow
{
    height: 0;
    width: 100%;
    margin: 0 -1px;
}

.utility:after, #citi-header:before
{
    clear: both;
    display: block;
    content: '';
}

.alert pre 
{
    color: #555555;
}

.Progress
{
	left: 51%;
	position: absolute;
	top: 50%;
	z-index: 100002;
}
.ProgressHolder
{
	background-color: #333;
	bottom: 0;
	left: 0;
	filter: alpha(opacity=90);
	opacity: 0.90;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100003;
}
.divLoading
{
	text-align: center;
	left: 40%;
	position: absolute;
	right: 40%;
	top: 40%;
}
.divLoadingText h4
{
	font-weight:300 !important;
	padding: 15px;
    color: white !important;
    opacity: 1;
}
.notRequired *{
    /*font-style: italic !important;*/
    /*text-decoration: line-through  !important;*/
    /*background-color: #e8e5e5;*/
    color: #999898;
}
.notRequired td .badge {
    background-color: #9e9e9e;
}

.notRequired td input {
    background-color: #eee;
    opacity: 1;
    cursor: not-allowed;
}

.spinner {
  margin: 20px auto;
  width: 60px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: white;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.logo-area {
    background: url(../images/header_background.png);
    background-size: 1px 40px;
    background-repeat: repeat-x;
}

/*.page-topbar .logo-area {
    background-image: url(../images/global_header_logo.png);
    background-repeat: no-repeat;
    background-position: 10px top;
}*/

/*.page-topbar.sidebar_shift .logo-area {*/
    /*background-image: url('../images/logo-folded.png');*/
    /*background-image: url(../images/global_header_logo.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: right top;*/
    /*background-position: right top;*/
/*}*/

.page-topbar {
    background: url(../images/header_background.png);
    background-size: 1px 40px;
    background-repeat: repeat-x;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}