﻿
.pdfMain {
    background-color: #004786;
    font-size: 20px;
    color: white;
    padding: 10px;
}

.pdfSubTitle {
    background-color: #f3f3f3;
    font-size: 15px;
    color: black;
    padding: 7px;
    font-weight: bold;
}

.pdfSubSubTitle {
    background-color: #b7cef5;
    font-size: 12px;
    color: black;
    padding: 5px;
    font-weight: bold;
}

.globalprocess {
    font-size: 45px;
    font-weight: bold;
    padding-top: 30px;
    display: block;
}

.globalprocessLabel {
    font-size: 15px;
    display: block;
}