﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css",
        "/Content/Shared/plugins/MDB/css/mdb.css",
        "/Content/Shared/plugins/MDB/css/style.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css",
        "/Content/Shared/plugins/EnjoyHint/enjoyhint.css",
        "/Content/Shared/plugins/EnjoyHint/jquery.enjoyhint.css"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
                "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
                "/Content/Shared/plugins/EnjoyHint/kinetic.js",
                "/Content/Shared/plugins/EnjoyHint/enjoyhint.js",
                "/Content/Shared/plugins/EnjoyHint/jquery.enjoyhint.js",
                "/Content/CF/js/GlobalCF.js",
                "/Content/CF/js/AddKeyAccount.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"

    };
}
<div class="col-lg-12">
    <section class="box ">
        <input type="hidden" id="hfAccount" value="@((string)Model["Account"])" />
        <div class="content-body col-sm-6" style="font-size:large;">
            <div class="row">
                <span style="margin-left:5px; font-size:x-large; font-style:normal;">Add keys to account <span data-bind="text: CFAccount"></span> </span>
                <i class="fa fa-arrow-circle-o-left" style="font-size:x-large; color:#334D5C;margin-left: 0%; margin-top:5px; cursor:pointer;" data-toggle="modal" onclick="goBack()">
                    Go back
                </i>
                <i id="btnTourGuide" class="fa fa-caret-square-o-right" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;" onclick="tourguide()">
                    Tour Guide
                </i>
            </div>
            <div class="row">
                <hr />
                <i id="btnAddNewKey" class="fa fa-plus-square" style="font-size:x-large; color:#334D5C;margin-left: 0%; margin-top:5px; cursor:pointer;" data-toggle="modal" data-target="#AddKey">
                    Add new
                </i>
            </div>
            <div class="row">
                <hr />
                List Keys
                <table id="listKeys" class="table table-striped table-bordered table-hover table-condensed" data-bind='kogrid: gridKeysList'> </table>
                <script id="divActions" type="text/html">
                <div class="row">
                        <i class="fa fa-key" style="font-size:medium; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;"
                           data-bind=" event:{ click:  function(item){ UpdateKeyModel(item); } }; ">Edit</i>
                </div>
                <div class="row">
                    <i id="btnAddClause" class="fa fa-plus-square" style="font-size:medium; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;"
                           data-bind=" event:{ click:  function(item){ AddWhere(item); } }; ">Clause</i>
                 </div>
                 <div class="row">
                        <i class="fa fa-trash" style="font-size:medium; color:#DF4949;margin-left: 5%; margin-top:10px; cursor:pointer;"
                           data-bind="event:{ click: function(item){ DeleteKey(item); } }">Delete</i>
                 </div>

                </script>
                <script id="divBtnKey" type="text/html">
                    <button id="btnSelectKey" type="button" class="btn" style="font-size:small; background-color:#334D5C; color:white; text-align: left; width:130px;"  data-bind="event:{ click:  function(item){ addValueFromGrid(item); } }">
                    <span data-bind="text: Mask + ' ' + VarcharInKey"></span>
                    </button>
                </script>

            </div>
            
        </div>


        <div class="content-body col-sm-6" style="font-size:large;">
            @*Build conditional Key*@
            <div class="row">
                <fieldset>
                    <legend>Add Conditional key 
                        <button class="btn pull-right" type="button" data-toggle="collapse" data-target="#divConditionalKey" aria-expanded="false" aria-controls="divConditionalKey" style="background-color:#334D5C; color:white;">
                            <span class="fa fa-plus-square"></span>
                        </button>
                    </legend>
                    <div class="collapse" id="divConditionalKey">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tbody>
                                <tr>
                                    <td width="55%">
                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(6,'(')">(</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(6, ')')">)</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(6, '+')">+</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(6, '-')">-</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(6, '/')">/</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(6, '*')">*</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(6, '>')">></button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(6, '<')"><</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(6, '=')">=</button>
                                    </td>
                                    <td width="20%">
                                        <input type="number" id="txtNum6" class="btn" style="font-size:small;background-color:white;" />
                                    </td>
                                    <td width="5%">
                                        <button type="button" class="btn" style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunctionNumberValue(6)">ADD</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tbody>
                                <tr>
                                    <td width="15%">
                                        <span style="font-size:x-large;">
                                        Mask name
                                        </span>
                                    </td>
                                    <td width="85%">
                                        <input type="text" id="txtMask" class="btn" style="font-size:small;background-color:white; width: 100%; text-align: left;" data-bind="textInput: keyMask; "  />
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td width="25%">
                                        <span style="font-size:x-large;"><input type="checkbox" class="btn" style="width:30px; height:30px; background-color:#334D5C; color:white;" data-bind="checked: cbCondi" />
                                        Condition
                                        </span>
                                    </td>
                                    <td width="65%">
                                        <input id="txtRuleCondi" readonly="readonly" class="btn" type="text" style="font-size:small;width:100%; background-color:white;text-align: left;" data-bind="textInput: getValue6;" />
                                    </td>
                                    <td width="10%">
                                        <button type="button" class="btn " style="font-size:small; background-color:#DF4949; color:white;" onclick="removeKeyFunction(6)">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="25%">
                                        <span style="font-size:x-large;">
                                            <input type="checkbox" class="btn" style="width:30px; height:30px; background-color:#334D5C; color:white;" data-bind="checked: cbCondiResult" />
                                            Result
                                        </span>
                                    </td>
                                    <td width="65%">
                                        <input id="txtRuleCondiResult" readonly="readonly" class="btn" type="text" style="font-size:small;width:100%; background-color:white;text-align: left;" data-bind="textInput: getValue7; " />
                                    </td>
                                    <td width="10%">
                                        <button type="button" class="btn " style="font-size:small; background-color:#DF4949; color:white;" onclick="removeKeyFunction(7)" data-bind="visible:!updateConditional()">Delete</button>
                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="AddKeyConditional()" data-bind="visible:!updateConditional()">Add</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="updateKeyDataConditional()" data-bind="visible:updateConditional">Update</button>
                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="cancelUpdate()" data-bind="visible:updateConditional">Cancel</button>
                                        

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
            @*Build your Key*@
            <div class="row">
                <hr />
                <fieldset>
                    <legend>Build your key
                        <button class="btn pull-right" type="button" data-toggle="collapse" data-target="#divBuildKey" aria-expanded="false" aria-controls="divBuildKey" style="background-color:#334D5C; color:white;">
                            <span class="fa fa-plus-square"></span>
                        </button>
                    </legend>
                    <div class="collapse" id="divBuildKey">
                        <button id="BTNsavebuildyoukey" type="button" class="btn " style="font-size:large; background-color:#334D5C; color:white;" onclick="saveIndDataBase()">Save All Keys</button>
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tbody>
                                <tr>
                                    <td>
                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(1, '(')">(</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(1, ')')">)</button>

                                        <button id="btnPluss" type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(1, '+')">+</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(1, '-')">-</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(1, '/')">/</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(1, '*')">*</button>
                                    </td>
                                    <td>
                                        <input type="number" id="txtNum1" class="btn" style="font-size:small;background-color:white;" />
                                        <button type="button" class="btn" style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunctionNumberValue(1)">ADD</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tbody>
                                <tr>
                                    <td width="5%">
                                        <span style="font-size:x-large;"><input type="checkbox" class="btn" style="width:30px; height:30px; background-color:#334D5C; color:white;" data-bind="checked: cbM3" />M3</span>
                                    </td>

                                    <td width="85%">
                                        <input id="txtRuleM3" readonly="readonly" class="btn" type="text" style="font-size:x-large;width:100%; background-color:white;text-align: left;" data-bind="textInput: getValue3; attr:{title:toolTip3}" />
                                    </td>
                                    <td width="10%">
                                        <button type="button" class="btn " style="font-size:small; background-color:#DF4949; color:white;" onclick="removeKeyFunction(3)">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%">
                                        <span style="font-size:x-large;"><input type="checkbox" class="btn" style="width:30px; height:30px; background-color:#334D5C; color:white;" data-bind="checked: cbM2" />M2</span>
                                    </td>
                                    <td width="85%">
                                        <input id="txtRuleM2" readonly="readonly" class="btn" type="text" style="font-size:x-large;width:100%; background-color:white;text-align: left;" data-bind="textInput: getValue2; attr:{title:toolTip2}" />
                                    </td>
                                    <td width="10%">
                                        <button type="button" class="btn " style="font-size:small; background-color:#DF4949; color:white;" onclick="removeKeyFunction(2)">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%">
                                        <span style="font-size:x-large;"><input type="checkbox" class="btn" style="width:30px; height:30px; background-color:#334D5C; color:white;" data-bind="checked: cbM1" />M1</span>
                                    </td>

                                    <td width="85%">
                                        <input id="txtRuleM1" readonly="readonly" class="btn" type="text" style="font-size:x-large;width:100%; background-color:white;text-align: left;" data-bind="textInput: getValue1; attr:{title:toolTip1}" />
                                    </td>
                                    <td width="10%">
                                        <button type="button" class="btn " style="font-size:small; background-color:#DF4949; color:white;" onclick="removeKeyFunction(1)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
            @*Build Final Key*@
            <div class="row">
                <hr />
                <fieldset>
                    <legend>Build Final Balance
                        <button id="btnExpandFinalBalance" class="btn pull-right" type="button" data-toggle="collapse" data-target="#divBuildFinalBalance" aria-expanded="false" aria-controls="divBuildFinalBalance" style="background-color:#334D5C; color:white;">
                            <span class="fa fa-plus-square"></span>
                        </button>
                    </legend>
                    <div class="collapse" id="divBuildFinalBalance">
                        <button id="btnSaveMappedKey" type="button" class="btn " style="font-size:large; background-color:#334D5C; color:white;" onclick="saveIndDataBase()">Save All Keys</button>
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tbody>
                                <tr>
                                    <td>
                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(4, '(')">(</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(4, ')')">)</button>

                                        <button id="btnSUMPLUSS" type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(4, '+')">+</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(4, '-')">-</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(4, '/')">/</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(4, '*')">*</button>

                                        <button id="btnM1" type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(4, 'M1')">M1</button>

                                        <button id="btnM2" type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(4, 'M2')">M2</button>

                                        <button id="btnM3" type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(4, 'M3')">M3</button>
                                    </td>
                                    <td>
                                        <input id="txtNum4" type="number" class="btn" style="font-size:x-small;background-color:white;" />
                                        <button type="button" class="btn" style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunctionNumberValue(4)">ADD</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tbody>
                                <tr>
                                    <td width="90%">
                                        <input id="txtRuleFinal" readonly="readonly" class="btn" type="text" style="font-size:x-large;width:100%; background-color:white;text-align: left;" data-bind="textInput: getValue4" />
                                    </td>
                                    <td width="10%">
                                        <button type="button" class="btn " style="font-size:small; background-color:#DF4949; color:white;" onclick="removeKeyFunction(4)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
            @*Conditional Final Balance*@
            <div class="row">
                <hr />
                <fieldset>
                    <legend>Add Conditional Rule
                        <button class="btn pull-right" type="button" data-toggle="collapse" data-target="#divCondiFinalBalnce" aria-expanded="false" aria-controls="divCondiFinalBalnce" style="background-color:#334D5C; color:white;">
                            <span class="fa fa-plus-square"></span>
                        </button>
                    </legend>
                    <div class="collapse" id="divCondiFinalBalnce">
                        <button type="button" class="btn " style="font-size:large; background-color:#334D5C; color:white;" onclick="saveIndDataBase()">Save All Keys</button>
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tbody>
                                <tr>
                                    <td>
                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(5,'(')">(</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(5, ')')">)</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(5, '+')">+</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(5, '-')">-</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(5, '/')">/</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(5, '*')">*</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(5, '>')">></button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(5, '<')"><</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(5, '=')">=</button>

                                        <button type="button" class="btn " style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunction(5, 'Value')">Value</button>
                                    </td>
                                    <td>
                                        <input id="txtNum5" type="number" class="btn" style="font-size:x-large;background-color:white;" />
                                        <button type="button" class="btn" style="font-size:small; background-color:#334D5C; color:white;" onclick="addKeyFunctionNumberValue(5)">ADD</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tbody>
                                <tr>
                                    <td width="90%">
                                        <input id="txtRuleConditional" readonly="readonly" class="btn" type="text" style="font-size:large;width:100%; background-color:white;text-align: left;" data-bind="textInput: getValue5" />
                                    </td>
                                    <td width="10%">
                                        <button type="button" class="btn " style="font-size:small; background-color:#DF4949; color:white;" onclick="removeKeyFunction(5)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>


            @*Add New Key*@
            <div class="modal fade" id="AddKey" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  style="z-index: 100; margin-top: -5%; ">
                <div class="modal-dialog" role="document" style="width: 80%;">
                    <div class="modal-content">
                        <div class="modal-body">
                            <fieldset>
                                <legend>Add Key</legend>

                                <table id="tblAddFile" class="display dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">CFAccount</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Mask</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">File</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Action on Column</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Column Name</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Action On Value</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" id="txtAccount" style="width:100%; " readonly="readonly" data-bind="value: viewModel.Account()[0]['CFAccount'] " />
                                            </td>
                                            <td>
                                                <input id="txtmask" type="text" style="width:100%; " data-bind="value: txtMask " />
                                            </td>
                                            <td>
                                                <select data-bind="options: FileList, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.Name; }, value: FileListSelect,
                                                        valueUpdate: 'change'"
                                                        id="filechooose" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                            </td>
                                            <td>
                                                <select data-bind="options: ActionOnColumn, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.Action; }, value: ActionOnColumnSelect,
                                                        valueUpdate: 'change'"
                                                        id="cbaction" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                            </td>
                                            <td>
                                                <select data-bind="options: ColumnSelected, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.ColumnName; }, value: ColumnSelect,
                                                        valueUpdate: 'change'"
                                                        id="cbColumn" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                            </td>
                                            <td>
                                                <select data-bind="options: ActionOnResult, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.Action; }, value: ActionOnResultSelect,
                                                        valueUpdate: 'change'"
                                                        id="actionOnColumn" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                            </td>
                                            <td>
                                                <button id="btnNewaddKey" type="button" class="btn btn-primary" data-bind="click: AddKey">Add Key</button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>

                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            @*Add New Where Clause*@
            <div class="modal fade" id="AddWhereClause" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  style="z-index: 100; margin-top: -5%; ">
                <div class="modal-dialog" role="document" style="width: 80%;">
                    <div class="modal-content">
                        <div class="modal-body">
                            <fieldset>
                                <legend>Clause data</legend>

                                <table id="tblAddFile" class="display dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">File</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Action on Column</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Column Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" style="width:100%; " readonly="readonly" data-bind="value: whereName " />
                                            </td>
                                            <td>
                                                <input type="text" style="width:100%; " readonly="readonly" data-bind="value: whereActionColumn " />
                                            </td>
                                            <td>
                                                <input type="text" style="width:100%; " readonly="readonly" data-bind="value: whereColumnName " />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <legend>Add where</legend>
                                <table id="tblWhere" class="display dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Column</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Type where</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Clause</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select data-bind="options: AllColumnList, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.ColumnName; }, value: AllColumnListSelected,
                                                        valueUpdate: 'change'"
                                                        id="columnWhere" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                            </td>
                                            <td>
                                                <select data-bind="options: TypeActionBaseColumn, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.ActionName; }, value: TypeActionBaseColumnSelected,
                                                        valueUpdate: 'change'"
                                                        id="TypeWhere" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                            </td>
                                            <td>
                                                <input id="txtClauseWhere" type="text" style="width:100%; " data-bind="value: txtClause " />
                                            </td>
                                            <td>
                                                <button id="addNewClause" type="button" class="btn btn-primary" data-bind="click: AddClause">Add Clause</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <table id="tableClause" class="table table-striped table-bordered table-hover table-condensed" data-bind='kogrid: gridWhereList'> </table>
                                <script id="divActionsList" type="text/html">
                                    <i id="btnDeleteClause" class="fa fa-trash" style="font-size:x-large; color:#DF4949;margin-left: 5%; margin-top:10px; cursor:pointer;"
                                       data-bind="event:{ click: function(item){ DeleteWhere(item); } }">Delete</i>
                                </script>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button id="closeClauseData" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        @*Edit Key*@
        <div class="modal fade" id="UpdateKeyDiv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document" style="width: 80%;">
                <div class="modal-content">
                    <div class="modal-body">
                        <fieldset>
                            <legend>Add Key</legend>

                            <table id="tblAddFile" class="display dataTable" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">CFAccount</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Mask</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">File</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Action on Column</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Column Name</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Action On Value</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" id="txtAccount" style="width:100%; " readonly="readonly" data-bind="value: viewModel.Account()[0]['CFAccount'] " />
                                        </td>
                                        <td>
                                            <input type="text" style="width:100%; " data-bind="value: txtUpdateMask " />
                                        </td>
                                        <td>
                                            <input type="text" style="width:100%; " data-bind="value: txtUpdateFile "  readonly="readonly" />
                                        </td>
                                        <td>
                                            <select data-bind="options: ActionOnColumn, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.Action; }, value: ActionOnColumnSelect,
                                                        valueUpdate: 'change'"
                                                    id="colOrderSelect" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                        </td>
                                        <td>
                                            <select data-bind="options: AllColumnList, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.ColumnName; }, value: AllColumnListSelected,
                                                        valueUpdate: 'change'"
                                                    id="colOrderSelect" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                        </td>
                                        <td>
                                            <select data-bind="options: ActionOnResult, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.Action; }, value: ActionOnResultSelect,
                                                        valueUpdate: 'change'"
                                                    id="colOrderSelect" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" onclick="updateKeyNotConditional()">Update Key</button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

</section>
</div>
