﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css",
        "/Content/Shared/plugins/MDB/css/mdb.css",
        "/Content/Shared/plugins/MDB/css/style.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
                "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
                "/Content/CF/js/GlobalCF.js",
                "/Content/CF/js/EditCheck.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"

    };
}
<div class="col-lg-12">
    <section class="box ">
        <div class="content-body" style="font-size:large;">
            <div class="row" style="margin-left:5px; margin-right:5px;">
                <div class="row">
                    <span style="margin-left:5px;">Select the options</span>
                </div>
                <div class="row">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <td>
                                    Region
                                </td>
                                <td>
                                    Quater
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select data-bind="options: Region, optionsCaption: 'Choose one Region...',
                        optionsValue: function (item) { return item.ID; },
                        optionsText: function (item) { return item.Region; }, value: regionSelect,
                        valueUpdate: 'change'"
                                            id="cbRegion" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                                <td>
                                    <select data-bind="options: cbQuater, optionsCaption: 'Choose Quater...',
                                                    optionsValue: function (item) { return item.ID; },
                                                    optionsText: function (item) { return item.Quater + ' ' + item.Year  }, value: QuaterSelected,
                                                    valueUpdate: 'change'"
                                            id="cbQuater" name="File" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="row" data-bind="visible: BUDIVvisible">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <td>
                                    BU
                                </td>
                                
                                <td>
                                    Actions
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div id="cbBU"></div>
                                </td>
                                
                                <td>
                                    <span><i class="fa fa-play-circle" onclick="runEditCheck()" style="font-size:x-large; color:#A1D044;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Run EditCheck"> Run the edit check</i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="row" data-bind="visible: FilterResultVisible">
                    <span style="margin-left:5px;">Filters</span>
                        <table id="tblFilter" class="table table-striped table-bordered table-hover table-condensed" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Account</th>
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Check ID</th>
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Operator</th>
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Validation</th>
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Type</th>
                                    <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div id="cbAccount"></div>
                                    </td>
                                    <td>
                                        <div id="cbCheckID"></div>
                                    </td>
                                    <td>
                                        <div id="cbOperator"></div>
                                    </td>
                                    <td>
                                        <div id="cbValidation"></div>
                                    </td>
                                    <td>
                                        <div id="cbEditQuality"></div>
                                    </td>
                                    <td>
                                        <span><i class="fa fa-play-circle" onclick="filterEditCheck()" style="font-size:x-large; color:#334D5C;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Filter"></i></span>
                                        <span><i class="fa fa-eraser" onclick="Clear()" style="font-size:x-large; color:#DF4949;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Clear"></i></span>
                                        @*<span><i class="fa fa-file-excel-o" onclick="Download()" style="font-size:x-large; color:#A1D044;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Download"></i></span>
                                        <span><i class="fa fa-cloud-upload" style="font-size:x-large; color:#A1D044;margin-left: 5%; cursor:pointer;" data-toggle="modal" data-target="#CablePopUp"></i></span>*@
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <div class="row" data-bind="visible: FilterResultVisible">
                    <span style="margin-left:5px;">Results</span>
                    Total results found <span data-bind="text: TotalFind" Right></span>
                    <table id="EditCheckTwoSource" class="display dataTable" style="width: 99%; ">
                        <thead>
                            <tr role="row">
                                <th rowspan="1" tabindex="0" colspan="1" >Actions</th>
                                <th rowspan="1" tabindex="0" colspan="1" >BU</th>
                                <th rowspan="1" tabindex="0" colspan="1" >Check ID</th>
                                <th rowspan="1" tabindex="0" colspan="1" >Description</th>
                                <th rowspan="1" tabindex="0" colspan="1" width="10%" style="background-color:#8B8B8B;color:white;">Left</th>
                                <th rowspan="1" tabindex="0" colspan="1" >Operator</th>
                                <th rowspan="1" tabindex="0" colspan="1" width="10%" style="background-color:#8B8B8B;color:white;">Right</th>
                                <th rowspan="1" tabindex="0" colspan="1">Dollar Tol Amt</th>
                                <th rowspan="1" tabindex="0" colspan="1">Dollar Tol Per</th>
                                <th rowspan="1" tabindex="0" colspan="1">Variance</th>
                                <th rowspan="1" tabindex="0" colspan="1">Validation</th>
                                </tr>
                        </thead>
                        <tbody data-bind="foreach: EditCheck">
                            <tr role="row" class="odd">
                                <td>
                                    <div class="row">
                                        <div class="btn-group " role="group">
                                            <a href="#" class="parents js-view-parents" data-bind="attr: { id: 'grid' + ID  } " data-toggle="tooltip" data-placement="top" title="Details">
                                                <i class="fa fa-plus-square" style="color:#334D5C; margin-left: 25px; font-size:x-large; "></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td data-bind="text: BU" style="background-color:white; "></td>
                                <td data-bind="text: CheckID" style="background-color:white; "></td>
                                <td data-bind="text: Description" style="overflow: auto;white-space:nowrap;max-width: 50px;"></td>
                                <td data-bind="text: LeftTotal" style="background-color:#334D5C; color:white; "></td>
                                <td data-bind="text: Operator" style="background-color:white; "></td>
                                <td data-bind="text: RightTotal" style="background-color:#334D5C; color:white; "></td>
                                <td data-bind="text: DollarTolPer" style="background-color:white; "></td>
                                <td data-bind="text: Operator" style="background-color:white; "></td>
                                <td data-bind="text: variance" style="background-color:#EFC94C;"></td>
                                <td data-bind="text: Validation == 1 ? 'Pass' : 'Fail'; style: { backgroundcolor: Validation == 0 ? '#DF4949' : '#A1D044' }" style="background-color:white; "></td>
                            </tr>
                            @*class="even"*@
                        </tbody>
                    </table>
                </div>

            </div>
            <div>

            </div>
            <div id="dvjson"></div>
        </div>
    </section>
</div>