@{
    ViewBag.Title = "Home Page CF";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Plugins = new string[] {
        //"JqxGrid",
        //"React"
    };
    ViewBag.JSLinks = new string[] {
        //"/Content/CF/js/Home.js",
        //"/Content/Shared/plugins/cleave/cleave.min.js"
    };
}


<div class="row">
    <div class="col-md-6 col-sm-1 col-xs-10">
        <h2>Cash Flow Tool</h2>
    </div>
</div>
<div class="col-lg-12">
    <section class="box ">
        <div class="content-body" style="font-size:large;">
            Welcome
            <br />
            <br />
            Please go to the menu and select the cashflow you want to run.

            <br />
            <br />
            For any issue with our applications please create an incident and follow the How to create an incident  iquery guide at <a href="https://collaborate.citi.net/docs/DOC-486256">https://collaborate.citi.net/docs/DOC-486256</a>
        </div>
    </section>
</div>