﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css",
        "/Content/Shared/plugins/MDB/css/mdb.css",
        "/Content/Shared/plugins/MDB/css/style.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
                "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
                "/Content/CF/js/GlobalCF.js",
                "/Content/CF/js/ManualUpload.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"

    };
}
<div class="col-lg-12">
    <section class="box ">
        <div class="content-body" style="font-size:large;">
            <div class="row" style="margin-left:5px; margin-right:5px;">
                <div class="row">
                    <span style="margin-left:5px;">Select the options</span>
                </div>
                <div class="row">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <td>
                                    Region
                                </td>
                                <td>
                                    Quater
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select data-bind="options: Region, optionsCaption: 'Choose one Region...',
                        optionsValue: function (item) { return item.ID; },
                        optionsText: function (item) { return item.Region; }, value: regionSelect,
                        valueUpdate: 'change'"
                                            id="cbRegion" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                                <td>
                                    <select data-bind="options: cbQuater, optionsCaption: 'Choose Quater...',
                                                    optionsValue: function (item) { return item.ID; },
                                                    optionsText: function (item) { return item.Quater + ' ' + item.Year  }, value: QuaterSelected,
                                                    valueUpdate: 'change'"
                                            id="cbQuater" name="File" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
            <div class="row" data-bind="visible: viewAddAccount " style="margin-left:5px; margin-right:5px;">
                <div class="row">
                    <span style="margin-left:5px;">Filter</span>
                </div>
                <div class="row">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <td>
                                    BU
                                </td>
                                <td>
                                    Country
                                </td>
                                <td>
                                    Account Type
                                </td>
                                <td>
                                    CF Account
                                </td>
                                <td>
                                    Actions
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select data-bind="options: comboboxBU, optionsCaption: 'Choose...',
                                            optionsValue: function (item) { return item.BU; },
                                            optionsText: function (item) { return item.BU; }, value: comboboxBUSelected,
                                            valueUpdate: 'change'"
                                            id="cbRegion" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                                <td>
                                    <select data-bind="options: comboboxCountry, optionsCaption: 'Choose...',
                                            optionsValue: function (item) { return item.ID; },
                                            optionsText: function (item) { return item.Country; }, value: comboboxCountrySelected,
                                            valueUpdate: 'change'"
                                            id="cbRegion" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                                <td>
                                    <select data-bind="options: comboboxTypeSelected, optionsCaption: 'Choose...',
                                            optionsValue: function (item) { return item.ID; },
                                            optionsText: function (item) { return item.Name; }, value: comboboxTypeSelected,
                                            valueUpdate: 'change'"
                                            id="cbRegion" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                                <td>
                                    <select data-bind="options: comboboxCFAccountSelected, optionsCaption: 'Choose...',
                                            optionsValue: function (item) { return item.ID; },
                                            optionsText: function (item) { return item.CFAccount; }, value: comboboxCFAccountSelected,
                                            valueUpdate: 'change'"
                                            id="cbRegion" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                                <td>
                                    <i class="fa fa-play-circle" style="font-size:x-large; color:#334D5C;cursor:pointer;" onclick="filterMasterTable()">
                                        Filter
                                    </i>
                                    <i class="fa fa-eraser" onclick="clearMasterTable()" style="font-size:x-large; color:#DF4949; cursor:pointer;">
                                        Clear
                                    </i>
                                    <i class="fa fa-file-excel-o" style="font-size:x-large; color:#A1D044;cursor:pointer;" onclick="downloadData()">
                                        Download Template
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" data-bind="visible: viewAddAccount " style="margin-left:5px; margin-right:5px;">
                <div class="row">
                    <span style="margin-left:5px;">Upload Template</span>
                </div>
                <div class="row">
                    <table style="border-color: dimgray;border-style: dashed;" width="50%">
                        <tr width="50%">
                            <td width="50%">
                                <div id="js-xlsx-plugin"></div>
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>
            <div class="row" data-bind="visible: viewAddAccount " style="margin-left:5px; margin-right:5px;">
                <div>
                    <div data-bind="visible: viewAddAccount " style="overflow-y:scroll; width:100%;">
              
                            <table class="table table-striped table-bordered table-hover table-condensed" data-bind='kogrid: gridMasterTable '> </table>
                            <script id="divCurrent" type="text/html">
                                <input type="number" class="numberDecimal" readonly="readonly" placeholder="0.00" step="any" data-bind="value: CurrentQuater.toFixed(8)" />
                            </script>
               
                </div>
            </div>
        </div>
        <div id="dvjson"></div>
        </div>
    </section>
</div>
