﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css",
        "/Content/Shared/plugins/MDB/css/mdb.css",
        "/Content/Shared/plugins/MDB/css/style.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css",
        "/Content/Shared/plugins/EnjoyHint/enjoyhint.css",
        "/Content/Shared/plugins/EnjoyHint/jquery.enjoyhint.css"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
                "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/api.js",

                "/Content/Shared/plugins/EnjoyHint/kinetic.js",
                "/Content/Shared/plugins/EnjoyHint/enjoyhint.js",
                "/Content/Shared/plugins/EnjoyHint/jquery.enjoyhint.js",
                "/Content/CF/js/GlobalCF.js",
                "/Content/CF/js/MappingKeys.js",
    };
}
<div id="contentPage" class="col-lg-12">
    <input type="hidden" id="hfRegion" value="@((string)Model["Region"])" />
    <input type="hidden" id="hfYear" value="@((string)Model["Year"])" />
    <input type="hidden" id="hfQuater" value="@((string)Model["Month"])" />

    <section class="box ">
        <div class="content-body" style="font-size:large;">
            <div class="row" style="margin-left:5px; margin-right:5px;">
                <div class="row">
                    <span style="margin-left:5px;">Select the options</span>
                </div>
                <div class="row">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <td>
                                    Region
                                </td>
                                <td>
                                    Quater
                                </td>
                                <td data-bind="visible: viewAddAccount ">

                                </td>
                                <td data-bind="visible: viewAddAccount "></td>
                                <td>
                                    
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select data-bind="options: Region, optionsCaption: 'Choose one Region...',
                        optionsValue: function (item) { return item.ID; },
                        optionsText: function (item) { return item.Region; }, value: regionSelect,
                        valueUpdate: 'change'"
                                            id="cbRegion" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                                <td>
                                    <select data-bind="options: cbQuater, optionsCaption: 'Choose Quater...',
                                                    optionsValue: function (item) { return item.ID; },
                                                    optionsText: function (item) { return item.Quater + ' ' + item.Year  }, value: QuaterSelected,
                                                    valueUpdate: 'change'"
                                            id="cbQuater" name="File" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                                <td data-bind="visible: viewAddAccount ">
                                    <span data-bind="visible: viewAddAccount ">
                                        <i id="btnAddAccount" class="fa fa-plus-square" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;" data-toggle="modal" data-target="#AccountPopUp">
                                            Add Account
                                        </i>
                                    </span>
                                </td>
                                <td data-bind="visible: viewAddAccount ">
                                    <span data-bind="visible: viewAddAccount ">
                                        <i id="btnDownloadMappedData" class="fa fa-excel" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;" onclick="downloadMappingData()">
                                            Download Mapping 
                                        </i>
                                    </span>
                                </td>
                                <td>
                                    <i id="btnTourGuide" class="fa fa-caret-square-o-right" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;" onclick="tourguide()">
                                        Tour Guide
                                    </i>
                                </td>
                            </tr>
                        
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered table-hover table-condensed"  data-bind="visible: viewAddAccount ">
                        <tbody>
                            <tr>
                                <td>
                                    <span>
                                        <i id="btnCloneMapping" class="fa fa-copy" style="font-size:x-large; color:#334D5C;  cursor:pointer;" data-toggle="modal" data-target="#CloneMapping">
                                            Clone Mapping
                                        </i>
                                    </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered table-hover table-condensed" data-bind="visible: viewAddAccount ">
                        <tbody>
                            <tr>
                                <td width="50%">
                                    <span>
                                        <i id="btnDownloadKeysValues" class="fa fa-copy" style="font-size:x-large; color:#334D5C;  cursor:pointer;" onclick="downloadKeysData()" >
                                            Download Conditions values
                                        </i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row" data-bind="visible: viewAddAccount " style="margin-left:5px; margin-right:5px;">
                        <div class="row">
                            <span style="margin-left:5px;">Upload Template</span>
                        </div>
                        <div class="row">
                            <table style="border-color: dimgray;border-style: dashed;" width="50%">
                                <tr width="50%">
                                    <td width="50%">
                                        <div id="js-xlsx-plugin"></div>
                                    </td>
                                </tr>
                            </table>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-bind="visible: viewAddAccount">
                <hr />
                Account List
                <br />
                <table id="tblMappedKeys" class="table table-striped table-bordered table-hover table-condensed" data-bind='kogrid: gridAccountList'> </table>
                <script id="divActions" type="text/html">
                    <i id="btnDelimit" class="fa fa-square-o" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;"
                       data-bind="event:{ click: function(item){ DelimitBU(item); } }">Delimit BU</i>
                    <i id="btnAddKey" class="fa fa-key" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;" 
                       data-bind="event:{ click: function(item){ AddKey(item); } }">Add keys</i>
                    <i id="bntDelete" class="fa fa-trash" style="font-size:x-large; color:#DF4949;margin-left: 5%; margin-top:10px; cursor:pointer;"
                       data-bind="event:{ click: function(item){ DeleteKey(item); } }">Delete keys</i>
                </script>
            </div>
            <div class="modal fade" id="AccountPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 100; margin-top: -5%; ">
                <div class="modal-dialog" role="document" style="width: 80%;">
                    <div class="modal-content">
                        <div class="modal-body">
                            <fieldset>
                                <legend>Add Account </legend>

                                <table id="tblAddAccount" class="display dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Account Name</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Description</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Account Category</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Have country division</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"  data-bind="visible: showColumnCountry">Country</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" id="txtName" style="width:100%;" data-bind="value: AccountName" />
                                            </td>
                                            <td>
                                                <input type="text" id="txtDescription" style="width:100%;" data-bind="value: AccountDescription" />
                                            </td>
                                            <td>
                                                <select data-bind="options: ListTypeAccount, optionsCaption: 'Choose a type...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.Name; }, value: ListTypeAccountSelect,
                                                        valueUpdate: 'change'"
                                                        id="cbColumnTpye" name="cbColumnTpye" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                            </td>
                                            <td>
                                                <input id="cbIsCountry" type="checkbox" data-bind="checked: showColumnCountry" style="width: 25px;
                                                    height: 25px; color:#334D5C;" /> 
                                            </td>
                                            <td data-bind="visible: showColumnCountry">
                                                <select data-bind="options: countryList, optionsCaption: 'Choose a type...',
                                                        optionsValue: function (item) { return item.Country; },
                                                        optionsText: function (item) { return item.Country; }, value: countrySelect,
                                                        valueUpdate: 'change'"
                                                        id="cbColumnTpye" name="cbColumnTpye" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                            </td>
                                            <td>
                                                <button id="btnAddAccountPopUp" type="button" class="btn btn-primary" onclick="addAccount()">Add Account</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </fieldset>
                        </div>
                        

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="CFAccountBU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  style="z-index: 100; margin-top: -5%; ">
                    <div class="modal-dialog" role="document" style="width: 60%;">
                        <div class="modal-content">
                            <div class="modal-body">
                                <fieldset>
                                    <legend>Delimit BU for CF Account <span  data-bind="text: CFAccountSelected"></span></legend>
                                    <button id="saveBUchanges" type="button" class="btn btn-primary" onclick="saveBUExist()">Save changes</button>
                                    <span>Check All <input id="cbCheckAllBU" type="checkbox" data-bind="checked: checkAllBU " onchange="fntCheckAllBU()" style="width: 25px;height: 25px;" /></span>
                                    <table id="tblBUaLL" class="table table-striped table-bordered table-hover table-condensed" data-bind='kogrid: gridDelimitedBU'> </table>
                                    <script id="tplCb" type="text/html">
                                        <input type="checkbox" data-bind="checked: value" style="width: 25px;height: 25px;" />
                                    </script>
                                </fieldset>
                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="modal fade" id="CloneMapping" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  style="z-index: 100; margin-top: -5%; ">
                <div class="modal-dialog" role="document" style="width: 70%;">
                    <div class="modal-content">
                        <div class="modal-body">
                            <fieldset>
                                <legend>Clone Mapping</legend>
                                <div class="row">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                
                                                <td>
                                                    Quater
                                                </td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                <td>
                                                    <select data-bind="options: cbQuater, optionsCaption: 'Choose Quater...',
                                                    optionsValue: function (item) { return item.ID; },
                                                    optionsText: function (item) { return item.Quater + ' ' + item.Year  }, value: CloneQuaterSelected,
                                                    valueUpdate: 'change'"
                                                            id="cbQuaterClone" name="File" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                                </td>
                                                <td>
                                                     <button id="btnCloneSelection" type="button" class="btn btn-primary" data-bind="visible: CloneviewAddAccount " onclick="CloneSelection()">Clone selection</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <span>Check All <input type="checkbox" data-bind="checked: cloneCheckAll; visible: CloneviewAddAccount " onchange="fntCheckAllCopyMapping()" style="width: 25px;height: 25px;" /></span>
                                
                                <table id="tblCloneMapping" class="table table-striped table-bordered table-hover table-condensed" data-bind='kogrid: gridCloneMapping; visible: CloneviewAddAccount '> </table>
                                <script id="tplCbClone" type="text/html">
                                    <input type="checkbox" data-bind="checked: value" style="width: 25px;height: 25px;" />
                                </script>
                            </fieldset>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
</div>
