﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css",
        "/Content/Shared/plugins/MDB/css/mdb.css",
        "/Content/Shared/plugins/MDB/css/style.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css",
        "/Content/Shared/plugins/EnjoyHint/enjoyhint.css",
        "/Content/Shared/plugins/EnjoyHint/jquery.enjoyhint.css"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
                "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
                "/Content/Shared/plugins/JqueryMask/jquery.mask.js",
                "/Content/Shared/plugins/EnjoyHint/kinetic.js",
                "/Content/Shared/plugins/EnjoyHint/enjoyhint.js",
                "/Content/Shared/plugins/EnjoyHint/jquery.enjoyhint.js",
                "/Content/CF/js/GlobalCF.js",
                "/Content/CF/js/MasterTable.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                "/Content/Shared/plugins/JsonToExcel/excelexportjs.js"
    };
}
<style>
    .ProgressHolder {
        margin-top: 20px !important;
        background-color: #333;
        bottom: 0;
        left: 0;
        filter: alpha(opacity=90);
        opacity: 0.90;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999999999999999;
    }
</style>
<div class="col-lg-12">
    <input type="hidden" id="hfRegion" value="@((string)Model["Region"])" />
    <input type="hidden" id="hfYear" value="@((string)Model["Year"])" />
    <input type="hidden" id="hfQuater" value="@((string)Model["Month"])" />
    <section class="box ">
        <div class="content-body" style="font-size:large;">
            <div class="row" style="margin-left:5px; margin-right:5px;">
                <div class="row">
                    <span style="margin-left:5px;">Select the options</span>
                </div>
                <div class="row">
                    <table class="table table-striped table-bordered table-hover table-condensed" id="tblstart">
                        <thead>
                            <tr>
                                <td>
                                    Region
                                </td>
                                <td>
                                    Quarter
                                </td>
                                <td>
                                    How to use
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td  >
                                    <select data-bind="options: Region, optionsCaption: 'Choose one Region...',
                        optionsValue: function (item) { return item.ID; },
                        optionsText: function (item) { return item.Region; }, value: regionSelect,
                        valueUpdate: 'change'"
                                            id="cbRegion" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                                <td  >
                                    <select data-bind="options: cbQuater, optionsCaption: 'Choose Quater...',
                                                    optionsValue: function (item) { return item.ID; },
                                                    optionsText: function (item) { return item.Quater + ' ' + item.Year  }, value: QuaterSelected,
                                                    valueUpdate: 'change'"
                                            id="cbQuater" name="File" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                                <td>
                                    <i id="btnTourGuide" class="fa fa-caret-square-o-right" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;" onclick="tourguide()">
                                        Tour Guide
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                           

                </div>
            </div>
            <div class="row"  data-bind="visible: viewAddAccount "  style="margin-left:5px; margin-right:5px;">
                <div class="row">
                    <span style="margin-left:5px;">Filter | To re-run the mapping please select the afected BU</span>
                </div>
                <div class="row">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <td>
                                    BU
                                </td>
                                <td>
                                    Country
                                </td>
                                <td>
                                    Account Type
                                </td>
                                <td>
                                   CF Account 
                                </td>
                                <td>
                                    Value
                                </td>
                                <td>
                                    Actions
                                </td>
                                
                            </tr>
                        </thead> 
                        <tbody>
                            <tr id="trFilterOption">
                                <td>
                                    @*<select data-bind="options: comboboxBU, optionsCaption: 'Choose...',
                                            optionsValue: function (item) { return item.BU; },
                                            optionsText: function (item) { return item.BU; }, value: comboboxBUSelected,
                                            valueUpdate: 'change'"
                                            id="cbFil" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>*@
                                    <div id="cbBU"></div>
                                </td>
                                <td>
                                    @*<select data-bind="options: comboboxCountry, optionsCaption: 'Choose...',
                                            optionsValue: function (item) { return item.ID; },
                                            optionsText: function (item) { return item.Country; }, value: comboboxCountrySelected,
                                            valueUpdate: 'change'"
                                            id="cbRegion" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>*@
                                    <div id="cbCountry"></div>
                                </td>
                                <td>
                                    @*<select data-bind="options: comboboxTypeSelected, optionsCaption: 'Choose...',
                                            optionsValue: function (item) { return item.ID; },
                                            optionsText: function (item) { return item.Name; }, value: comboboxTypeSelected,
                                            valueUpdate: 'change'"
                                            id="cbRegion" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>*@
                                    <div id="cbAccountType"></div>
                                </td>
                                <td>
                                    @*<select data-bind="options: comboboxCFAccountSelected, optionsCaption: 'Choose...',
                                            optionsValue: function (item) { return item.ID; },
                                            optionsText: function (item) { return item.CFAccount; }, value: comboboxCFAccountSelected,
                                            valueUpdate: 'change'"
                                            id="cbRegion" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>*@
                                    <div id="cbAccount"></div>
                                </td>
                                <td>
                                   <select data-bind="options: comboboxValueSel, optionsCaption: 'Choose...',
                                            optionsValue: function (item) { return item.id; },
                                            optionsText: function (item) { return item.value; }, value: comboboxValueSelected,
                                            valueUpdate: 'change'"
                                            id="cbValueSelect" name="cbValue" class="form-control m-bot15" style="margin: 0px 0;width: 100px;"></select>
                                    @*<div id="cbValue"></div>*@
                                </td>
                                <td>
                                    <i id="btnFilterValues" class="fa fa-play-circle" style="font-size:x-large; color:#334D5C;cursor:pointer;" onclick="filterMasterTable()"  >
                                        Filter
                                    </i>
                                    <i id="btnClearFilter" class="fa fa-eraser" onclick="clearMasterTable()" style="font-size:x-large; color:#DF4949; cursor:pointer;"  >
                                        Clear
                                    </i>
                                    <i id="btnRunData" class="fa fa-play" style="font-size:x-large; color:#334D5C; cursor:pointer;" onclick="runMapping()" >
                                        Run
                                    </i>
                                    <i id="btnExcel" class="fa fa-file-excel-o" style="font-size:x-large; color:#A1D044;cursor:pointer;" onclick="downloadData()" >
                                        Download
                                    </i>
                                    <i class="fa fa-cloud-upload" style="font-size:x-large; color:#A1D044;cursor:pointer;" onclick="uploadCable()" >
                                        Cable
                                    </i>
                                    <i class="fa fa-cloud-upload" style="font-size:x-large; color:#A1D044;cursor:pointer;" onclick="downloadTXT()">
                                        TXT Download
                                    </i>
                                    @*<asp:Button ID="btn_Download" runat="server" style="vertical-align:top ; padding:2px; width: 150px; float: left;  cursor:pointer;"
                                                Text="Download Text File" OnClick="btn_Download_Click" />*@
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row"  data-bind="visible: viewAddAccount "  style="margin-left:5px; margin-right:5px;">
                <div>
                    <div data-bind="visible: viewAddAccount " style="overflow-y:scroll; width:100%;">
                        <input id="cbShowMonthDivision"   type="checkbox" data-bind="checked: showMonthDivision" style="font-size:x-large;color:#334D5C;" /> <label  for="cbShowMonthDivision" style="font-size:x-large;color:#334D5C;">View Month Division</label>
                        <table id="gridPrincipal"  class="table table-striped table-bordered table-hover table-condensed" data-bind='kogrid: gridMasterTable '> </table>
                        <script id="divLAST" type="text/html">
                            <input type="number" class="numberDecimal" readonly="readonly" placeholder="0.00" step="any" data-bind="value: PastQuater.toFixed(8)" />
                        </script>
                        <script id="divM1" type="text/html">
                            <input type="number" class="numberDecimal" readonly="readonly" placeholder="0.00" step="any" data-bind="value: M1.toFixed(8)" />
                        </script>
                        <script id="divM2" type="text/html">
                            <input type="number" class="numberDecimal" readonly="readonly" placeholder="0.00" step="any" data-bind="value: M2.toFixed(8)" />
                        </script>
                        <script id="divM3" type="text/html">
                            <input type="number" rclass="numberDecimal" eadonly="readonly" placeholder="0.00" step="any" data-bind="value: M3.toFixed(8)" />
                        </script>
                        <script id="divCurrent" type="text/html">
                            <input type="number" class="numberDecimal" readonly="readonly" placeholder="0.00" step="any" data-bind="value: (CurrentQuater + ManualUpdate).toFixed(8)" />
                        </script>
                        <script id="divVariance" type="text/html">
                            <input type="number" class="numberDecimal" readonly="readonly" placeholder="0.00" step="any" data-bind="value: ((CurrentQuater + ManualUpdate) - PastQuater).toFixed(8)" />
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div id="dvjson"></div>
    </section>
</div>
