﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css",
        "/Content/Shared/plugins/MDB/css/mdb.css",
        "/Content/Shared/plugins/MDB/css/style.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
                "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
                "/Content/CF/js/GlobalCF.js",
                "/Content/CF/js/RegionFileAdmin.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                
    };
}
<div class="col-lg-12">
    <section class="box ">
        <div class="content-body" style="font-size:large;">
            <div class="row">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <td>
                                Region
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select data-bind="options: Region, optionsCaption: 'Choose one Region...',
                        optionsValue: function (item) { return item.ID; },
                        optionsText: function (item) { return item.Region; }, value: regionSelect,
                        valueUpdate: 'change'"
                                        id="Region" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>
                            </td>
                            @*<td style="">
                                <span>
                                    <i class="fa fa-plus-square" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;" data-toggle="modal" data-target="#RegionPopUp">
                                        Add Region
                                    </i>
                                </span>
                                <span id="divRegion">
                                    <i class="fa fa-trash" style="font-size:x-large; color:#DF4949;margin-left: 5%; margin-top:10px; cursor:pointer;" onclick="deleteRegion()">
                                        Delete Region
                                    </i>
                                </span>
                            </td>*@
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" id="CountryDiv">
                <div class="row">
                    <hr />
                    <span style="margin-left:5px;">Country</span>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-4">
                    <select data-bind="options: Country, optionsCaption: 'Choose a country...',
                        optionsValue: function (item) { return item.Country; },
                        optionsText: function (item) { return item.Country; }, value: countrySelect,
                        valueUpdate: 'change'"
                            id="Country" name="Country" class="form-control m-bot15" style="margin: 10px 0;"></select>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-2">
                    <span>
                        <i class="fa fa-plus-square" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;" data-toggle="modal" data-target="#CountryPopUp">
                            Add Country
                        </i>
                    </span>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-2" id="addBUDiv">
                    <span>
                        <i class="fa fa-plus-square" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;" data-toggle="modal" data-target="#BUPopUp">
                            Add BU
                        </i>
                    </span>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-2" id="deleteCountryDiv">
                    <span>
                        <i class="fa fa-trash" style="font-size:x-large; color:#DF4949;margin-left: 5%; margin-top:10px; cursor:pointer;" onclick="DeleteCountry()">
                            Delete Country
                        </i>
                    </span>
                </div>
                
            </div>
            <div class="row" id="BUListDiv">
                <div class="row">
                <hr />  
                <span style="margin-left:5px;">BU List</span>
                </div>
                <div class="col-md-6 " >
                    <table class="table table-striped table-bordered table-hover table-condensed" data-bind='kogrid: gridViewBU' width="40%"> </table>
                    <script id="actionBUS" type="text/html">
                        <i class="fa fa-trash-o" style="font-size:x-large;
                                    color:#DF4949; cursor:pointer;"
                           data-bind="event:{ click: function(item){ CountryBUSelectedDelete(item); } }">
                        </i>
                    </script>
                </div>
                @*<table id="CountryBUtable" class="display dataTable" style="width: 30%;">
                    <thead>
                        <tr role="row">
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 50%;">BU</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 50%;">Actions</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: CountryBU">
                        <tr role="row" class="odd">
                            <td data-bind="text: BU" style="font-size: 26px; "></td>
                            <td style="background-color:white;color: white;font-size: 16px; ">
                                <span>
                                <i class="fa fa-trash-o" style="font-size:x-large; 
                                    color:#DF4949;margin-left: 5%; cursor:pointer;"
                                   data-bind="click: $root.CountryBUSelectedDelete;">
                                    </i></span> 
                            </td>
                        </tr>
                    </tbody>
                </table>*@
            </div>
            <div class="row" id="FileDiv">
                <div class="row">
                    <hr /> 
                    <span style="margin-left:5px;">File List</span>
                    <i class="fa fa-file" style="font-size:x-large; color:#334D5C;margin-left: 5%; margin-top:10px; cursor:pointer;" data-toggle="modal" data-target="#FilePopUp">
                        Add File
                    </i>
                </div>
                <br />
                <table id="Filetable" class="display dataTable" style="width: 80%;">
                    <thead>
                        <tr role="row">
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 50%;">File</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Country</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">BU</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Month/Year</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Quater</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Actions</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: FileRegion">
                        <tr role="row" class="odd">
                            <td data-bind="text: Name" style="font-size: 26px; "></td>
                            <td>
                                    <input type="checkbox" class="form-check-input" data-bind="checked: AskCountry" style="
                                                    width: 25px;
                                                    height: 25px;">
                            </td>
                            <td><input type="checkbox" class="form-check-input" data-bind="checked: AskBU"  style="
                                                    width: 25px;
                                                    height: 25px;"></td>
                            <td><input type="checkbox" class="form-check-input" data-bind="checked: AskMonthYear"  style="
                                                    width: 25px;
                                                    height: 25px;"></td>
                            <td><input type="checkbox" class="form-check-input" data-bind="checked: AskQuater"  style="
                                                    width: 25px;
                                                    height: 25px;"></td>
                            <td style="background-color:white;color: white;font-size: 16px; ">
                                <span>
                                    <i class="fa fa-save" title="Save default Columns" style="font-size:x-large;
                                        color:#A1D044;margin-left: 5%; cursor:pointer;"
                                       data-bind="click: $root.FileSaveDefaultColumns;">
                                    </i>
                                    <i class="fa fa-columns" title="Add columns" style="font-size:x-large; 
                                    color:#334D5C;margin-left: 5%; cursor:pointer;" data-toggle="modal"  data-target="#ColumnFilePopUp"
                                       data-bind="click: $root.FileAddColumns;">
                                    </i>
                                    <i class="fa fa-trash-o" title="Delete File" style="font-size:x-large;
                                    color:#DF4949;margin-left: 5%; cursor:pointer;" data-bind="click: $root.FileDelete;"> </i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" id="EditCheckDiv">
                <div class="row">
                    <hr />
                    <span style="margin-left:5px;">Edit Check Mapping</span>
                        Select the file and columns of the FDL file for edit checks
                </div>
                <br />
                <table id="Filetable" class="display dataTable" style="width: 80%;">
                    <thead>
                        <tr role="row">
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 50%;">File</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">FDL Column</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Description Column</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Ice Code Column</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Month Column</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Value Column</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd">
                            <td>
                                <select  data-bind="options: FileRegion, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.Name; }, value: FileECSelect,
                                                        valueUpdate: 'change'"
                                        id="cbECFile" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                            </td>
                            <td>
                                <select data-bind="options: ColumnsEC, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.ColumnName; }, value: SelectedFDL,
                                                        valueUpdate: 'change'"
                                        id="cbECFDL" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                            </td>
                            <td>
                                <select data-bind="options: ColumnsEC, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.ColumnName; }, value: SelectedFDLDesc,
                                                        valueUpdate: 'change'"
                                        id="cbECDesc" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                            </td>
                            <td>
                                <select data-bind="options: ColumnsEC, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.ColumnName; }, value: SelectedIceCod,
                                                        valueUpdate: 'change'"
                                        id="cbECIceCode" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                            </td>
                            <td>
                                <select data-bind="options: ColumnsEC, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.ColumnName; }, value: SelectedMonth,
                                                        valueUpdate: 'change'"
                                        id="cbECMonth" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                            </td>
                            <td>
                                <select data-bind="options: ColumnsEC, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.ColumnName; }, value: SelectedValue,
                                                        valueUpdate: 'change'"
                                        id="cbECValue" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                            </td>
                            <td>
                                <i class="fa fa-save" title="Save default Columns" style="font-size:x-large;
                                        color:#A1D044;margin-left: 5%; cursor:pointer;"
                                   onclick="insertEditCheckFile()">
                                </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>




            @*Add Columns*@
            <div class="modal fade" id="ColumnFilePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="width: 80%;">
                    <div class="modal-content">
                        <div class="modal-body">
                            <fieldset>
                                <legend>Add Column File</legend>
                                <table id="tblAddColumnFile" class="display dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Column Name</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Type</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Order</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Is Table</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Is Table Name</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Action</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Function</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" id="txtNameColumn" style="width:100%;" />
                                            </td>
                                            <td>
                                                <select data-bind="options: TypeColumn, optionsCaption: 'Choose a type...',
                                                        optionsValue: function (item) { return item.ID; },
                                                        optionsText: function (item) { return item.Name; }, value: columnTypeSelect,
                                                        valueUpdate: 'change'"
                                                        id="cbColumnTpye" name="cbColumnTpye" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                            </td>
                                            <td>
                                                <select data-bind="options: ColumnOrder, optionsCaption: 'Choose the order...',
                                                        optionsValue: function (item) { return item.ColOrder; },
                                                        optionsText: function (item) { return item.NameTemp; }, value: colOrderSelect,
                                                        valueUpdate: 'change'"
                                                        id="colOrderSelect" name="colOrderSelect" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                            </td>
                                            <td>
                                                <input type="checkbox" id="cbUseOtherTable" style="
                                                    width: 25px;
                                                    height: 25px;
                                                ">
                                            </td>
                                            <td>
                                                <input type="text" id="txtIsTableName" style="width:100%;" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" onclick="addColumnToFile()" >Add Column</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" onclick="createTable()" data-bind="visible: ShowCreate">Create Table</button>
                                                <button type="button" class="btn btn-warning" onclick="updateTable()" data-bind="visible: ShowUpdate">Update Table</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </fieldset>
                           
                            <fieldset>
                                <legend>Column List</legend>
                                    <div class="row">
                                        <input id="cbEditOrder" type="checkbox" data-bind="checked: showOrderEdit"  style="font-size:x-large;color:#334D5C;"/> <label for="cbShowEditOrder"  style="font-size:x-large;color:#334D5C;">Edit Grid</label>
                                        <i class="fa fa-save" title="Save changes" style="font-size:x-large;color:#A1D044;cursor:pointer;" >Save Changes</i>
                                    </div>
                                    
                                    <table class="table table-striped table-bordered table-hover table-condensed" data-bind='kogrid: gridViewModel'> </table>
                                    <script id="tempColumnOrder" type="text/html">
                                        <select  data-bind="options: viewModel.AllColumnOrder, optionsValue: function (item) { return item.Order; },
                                                        optionsText: function (item) { return item.Order; }, value: Order,
                                                        event:{ change: function(item){} }">               
                                        </select>
                                    </script>
                                    <script id="tplCb" type="text/html">
                                        <input type="checkbox" data-bind="checked: value" readonly="readonly" disabled="disabled"   style="width: 25px;height: 25px;"/>
                                    </script>
                                    <script id="headerOrder" type="text/html">
                                        @*<button type="button" data-bind="event: { click: function() { } }, clickBubble: false">Save</button>*@
                                    </script>
                                    <script id="tempColumnName" type="text/html">
                                        <input type="text" data-bind="value: ColumnName"  />
                                    </script>
                                    <script id="divActions"  type="text/html">
                                        <i class="fa fa-trash" style="font-size:x-large; color:#DF4949;margin-left: 5%; margin-top:10px; cursor:pointer;"
                                             data-bind="event:{ click: function(item){ deleteColumnInFile(item); } }"
                                           ></i>
                                    </script>

                                    @*<button data-bind='click: addItem'>
                                        Add item
                                    </button>*@
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            @*Add New File*@
            <div class="modal fade" id="FilePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="width: 80%;">
                    <div class="modal-content">
                        <div class="modal-body">
                            <fieldset>
                                <legend>Add File</legend>

                                <table id="tblAddFile" class="display dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Name</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Use Country</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Use BU</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Use Month/Year</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Use Quater</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" id="txtNameFile" style="width:100%;" />
                                            </td>
                                            <td>
                                                <input type="checkbox" id="cbUseCountry" style="
                                                    width: 25px;
                                                    height: 25px;
                                                ">
                                            </td>
                                            <td>
                                                <input type="checkbox" id="cbUseBU" style="
                                                    width: 25px;
                                                    height: 25px;
                                                ">
                                            </td>
                                            <td>
                                                <input type="checkbox" id="cbUseMonthYear" style="
                                                    width: 25px;
                                                    height: 25px;
                                                ">
                                            </td>
                                            <td>
                                                <input type="checkbox" id="cbUseQuater" style="
                                                    width: 25px;
                                                    height: 25px;
                                                ">
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" onclick="addRegionFile()" data-dismiss="modal">Add File</button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>

                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            @*Add New BU*@
            <div class="modal fade" id="AddColumnsPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="width: 80%;">
                    <div class="modal-content">
                        <div class="modal-body">
                            
                            <fieldset>
                                <legend>Add Column </legend>

                                <table id="tblAddColumn" class="display dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Name</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Type</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">IsTable</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" id="txtColumn" style="width:100%;" />
                                            </td>
                                            <td>
                                                <input type="text" id="" style="width:100%;" />
                                                <i class="fa fa-plus-square" title="Add Type Name" style="font-size:x-large;
                                                    color:#DF4949;margin-left: 5%; cursor:pointer;"
                                                                   data-bind="click: $root.FileDelete;">
                                                </i>
                                            </td>
                                            <td>
                                                <input type="checkbox" id="txtIsTable"/>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" onclick="addColumn()" data-dismiss="modal">Add Column</button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                <table id="tblColumns" class="display dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Column</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Type</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">IsTable</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                               
                                            </td>
                                            <td>
                                               
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            @*Add New BU*@
            <div class="modal fade" id="BUPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="width: 80%;">
                    <div class="modal-content">
                        <div class="modal-body">
                            <fieldset>
                                <legend>Add Country BU </legend>

                                <table id="tblAddBU" class="display dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Value</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" id="txtCountrybu" style="width:100%;" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" onclick="addCountryBU()" data-dismiss="modal">Add Country BU</button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>

                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            @*Add New Country*@
            <div class="modal fade" id="CountryPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="width: 80%;">
                    <div class="modal-content">
                        <div class="modal-body">
                            <fieldset>
                                <legend>Add Country </legend>

                                <table id="tblAddCountry" class="display dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Value</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" id="txtCountry" style="width:100%;" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" onclick="addCountry()" data-dismiss="modal">Add Country</button>
                                            </td>
                                          
                                        </tr>
                                    </tbody>
                                </table>

                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            @*Add New Region*@
            <div class="modal fade" id="RegionPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="width: 80%;">
                    <div class="modal-content">
                        <div class="modal-body">
                            <fieldset>
                                <legend>Add Region </legend>

                                <table id="tblAddCable" class="display dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Value</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" id="txtRegion" style="width:100%;" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" onclick="addRegion()"  data-dismiss="modal">Add Region</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
