﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css",
        "/Content/Shared/plugins/MDB/css/mdb.css",
        "/Content/Shared/plugins/MDB/css/style.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
                "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
                "/Content/CF/js/GlobalCF.js",
                "/Content/CF/js/ReviewReport.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"

    };
}
<div class="col-lg-12">
    <section class="box ">
        <div class="content-body" style="font-size:large;">
            <div class="row" style="margin-left:5px; margin-right:5px;">
                <div class="row">
                    <span style="margin-left:5px;">Select the options</span>
                </div>
                <div class="row">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <td>
                                    Region
                                </td>
                                <td>
                                    Quater
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select data-bind="options: Region, optionsCaption: 'Choose one Region...',
                        optionsValue: function (item) { return item.ID; },
                        optionsText: function (item) { return item.Region; }, value: regionSelect,
                        valueUpdate: 'change'"
                                            id="cbRegion" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                                <td>
                                    <select data-bind="options: cbQuater, optionsCaption: 'Choose Quater...',
                                                    optionsValue: function (item) { return item.ID; },
                                                    optionsText: function (item) { return item.Quater + ' ' + item.Year  }, value: QuaterSelected,
                                                    valueUpdate: 'change'"
                                            id="cbQuater" name="File" class="form-control m-bot15" style="margin: 10px 0;"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="row" data-bind="visible: BUDIVvisible">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <td>
                                    BU
                                </td>

                                <td>
                                    Actions
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div id="cbBU"></div>
                                </td>
                                <td>
                                    <span><i class="fa fa-play-circle" onclick="runEditCheckFromSave()" style="font-size:x-large; color:#A1D044;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Run EditCheck"> Run the edit check</i></span>
                         
                                    <span><i class="fa fa-file-excel-o" onclick="downloadData()" style="font-size:x-large; color:#004786;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Run EditCheck"> Download</i></span>
            
                                    <span><i class="fa fa-cloud" onclick="SaveManualInputs()" style="font-size:x-large; color:#A1D044;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Run EditCheck"> Save Manual Amount</i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                @*<div class="row" data-bind="visible: FilterResultVisible">
                    <span style="margin-left:5px;">Filters</span>
                    <table id="tblFilter" class="table table-striped table-bordered table-hover table-condensed" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Account</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Check ID</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Operator</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Validation</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Type</th>
                                <th tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div id="cbAccount"></div>
                                </td>
                                <td>
                                    <div id="cbCheckID"></div>
                                </td>
                                <td>
                                    <div id="cbOperator"></div>
                                </td>
                                <td>
                                    <div id="cbValidation"></div>
                                </td>
                                <td>
                                    <div id="cbEditQuality"></div>
                                </td>
                                <td>
                                    <span><i class="fa fa-play-circle" onclick="filterEditCheck()" style="font-size:x-large; color:#334D5C;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Filter"></i></span>
                                    <span><i class="fa fa-eraser" onclick="Clear()" style="font-size:x-large; color:#DF4949;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Clear"></i></span>
                                    @*<span><i class="fa fa-file-excel-o" onclick="Download()" style="font-size:x-large; color:#A1D044;margin-left: 5%; cursor:pointer;" data-toggle="tooltip" title="Download"></i></span>
                                        <span><i class="fa fa-cloud-upload" style="font-size:x-large; color:#A1D044;margin-left: 5%; cursor:pointer;" data-toggle="modal" data-target="#CablePopUp"></i></span>*@
                                @*</td>
                            </tr>
                        </tbody>
                    </table>
                </div>*@
                <div class="row" data-bind="visible: FilterResultVisible">
                    <span style="margin-left:5px;">Results</span>
                    Total results found <span data-bind="text: TotalFind" Right></span>
                    <table id="EditCheckTwoSource" class="display dataTable" style="width: 99%; ">
                        <thead>
                            <tr role="row">
                                <th rowspan="1" tabindex="0" colspan="1">Check ID</th>
                                <th rowspan="1" tabindex="0" colspan="1">BU</th>
                                <th rowspan="1" tabindex="0" colspan="1">Product</th>
                                <th rowspan="1" tabindex="0" colspan="1">Type</th>
                                <th rowspan="1" tabindex="0" colspan="1">Account</th>
                                <th rowspan="1" tabindex="0" colspan="1">Description</th>
                                <th rowspan="1" tabindex="0" colspan="1">Sign</th>
                                <th rowspan="1" tabindex="0" colspan="1">Amount</th>
                                <th rowspan="1" tabindex="0" colspan="1">Amount Manual</th>
                                <th rowspan="1" tabindex="0" colspan="1">EC Status</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: EditCheck">
                            <tr role="row"  data-bind="style: { backgroundColor : Type()  === 'Variance' ? '#8080802e' : 'white' }">
                                <td data-bind="text: Check_ID"></td>
                                <td data-bind="text: BU" ></td>
                                <td data-bind="text: Product" ></td>
                                <td data-bind="text: Type" ></td>
                                <td data-bind="text: Account"></td>
                                <td data-bind="text: Description" ></td>
                                <td data-bind="text: Sign" ></td>
                                <td data-bind="text: Amount_CF_Tool"></td>
                                <td>
                                    <!-- ko if: Type() === 'CF Balance' -->
                                    <input type="number" data-bind="value: Amount_Manual" onchange="onManualChange($(this))"/>
                                    <!-- /ko -->
                                </td>
                                <td data-bind="style: { color: EC_Status()  == 'Fail' ? 'red' : 'Green' }"><span data-bind="text: EC_Status"></span></td>
                            </tr>
                            @*class="even"*@
                        </tbody>
                    </table>
                </div>

            </div>
            <div>

            </div>
            <div id="dvjson"></div>
        </div>
    </section>
</div>