﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        "/Content/EC/css/startmin.css" ,
        "/Content/EC/css/jquery.multiselect.css" ,
        "/Content/EC/css/jquery.multiselect.filter.css",
        "/Content/Shared/plugins/MDB/css/mdb.css",
        "/Content/Shared/plugins/MDB/css/style.css",
        "/Content/Shared/plugins/KnockOut/Content/kogrid.css"
    };
    ViewBag.JSLinks = new string[] {
                "/Content/Shared/plugins/KnockOut/knockout-3.4.2.js",
                "/Content/Shared/plugins/KnockOut/knockout.mapping.js",
                "/Content/Shared/plugins/KnockOut/KOGridBinding.js",
                "/Content/CF/js/GlobalCF.js",
                "/Content/CF/js/UploadFile.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.js",
                "/Content/Shared/plugins/MultiSelect/jquery.multiselect.filter.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/shim.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/jszip.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/xlsx.js",
                "/Content/Shared/plugins/sheetjs/js-xlsx/api.js"

    };
}


<div class="col-lg-12">
    <section class="box ">
        <div class="content-body" style="font-size:large;">
 
            <div class="row">
                <div class="row">
                    <span style="margin-left:5px;">Select Region</span>
                </div>
                <div class="col-md-6 col-sm-3 col-xs-10">
                    <select data-bind="options: Region, optionsCaption: 'Choose one Region...',
                        optionsValue: function (item) { return item.ID; },
                        optionsText: function (item) { return item.Region; }, value: regionSelect,
                        valueUpdate: 'change'"
                            id="Region" name="Region" class="form-control m-bot15" style="margin: 10px 0;"></select>
                </div>
            </div>

            <div class="row" id="DivCbFile">
                <hr />
                <div class="row">
                    <span style="margin-left:5px;">Select file to upload</span>
                </div>
                <div class="col-md-6 col-sm-3 col-xs-10">
                    <select data-bind="options: FileRegion, optionsCaption: 'Choose one File...',
                        optionsValue: function (item) { return item.Name; },
                        optionsText: function (item) { return item.Name }, value: fileSelected,
                        valueUpdate: 'change'"
                            id="File" name="File" class="form-control m-bot15" style="margin: 10px 0;"></select>
                </div>
            </div>
            <div class="row" id="DivCbDropDown">
                <hr />
                <div class="row">
                    <span style="margin-left:5px;">Fill the dropdown</span>
                </div>
                <div class="row" >
                    <div class="col-md-3 col-sm-3 col-xs-10" data-bind="visible: AskCountry">
                       Country
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-10" data-bind="visible: AskBU">
                       BU
                    </div>
                    
                    <div class="col-md-3 col-sm-3 col-xs-10" data-bind="visible: AskMonthYear">
                        Month/Year
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-10" data-bind="visible: AskQuater">
                        Quater
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-10"  data-bind="visible: AskCountry">
                        <select data-bind="options: cbCountry, optionsCaption: 'Choose Country...',
                        optionsValue: function (item) { return item.Country; },
                        optionsText: function (item) { return item.Country }, value: CountrySelected,
                        valueUpdate: 'change'"
                                id="File" name="File" class="form-control m-bot15" style="margin: 10px 0;"></select>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-10"  data-bind="visible: AskBU">
                        <select data-bind="options: cbBU, optionsCaption: 'Choose BU...',
                        optionsValue: function (item) { return item.BU; },
                        optionsText: function (item) { return item.BU }, value: BUSelected,
                        valueUpdate: 'change'"
                                id="File" name="File" class="form-control m-bot15" style="margin: 10px 0;"></select>
                    </div>
                    
                    <div class="col-md-3 col-sm-3 col-xs-10"  data-bind="visible: AskMonthYear">
                        <select data-bind="options: cbMonthYear, optionsCaption: 'Choose Month Year...',
                        optionsValue: function (item) { return item.MonthYear; },
                        optionsText: function (item) { return item.MonthYear }, value: MonthYearSelected,
                        valueUpdate: 'change'"
                                id="File" name="File" class="form-control m-bot15" style="margin: 10px 0;"></select>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-10" data-bind="visible: AskQuater">
                        <select data-bind="options: cbQuater, optionsCaption: 'Choose Quater...',
                        optionsValue: function (item) { return item.ID; },
                        optionsText: function (item) { return item.Quater + ' ' + item.Year }, value: QuaterSelected,
                        valueUpdate: 'change'"
                                id="File" name="File" class="form-control m-bot15" style="margin: 10px 0;"></select>
                    </div>
                </div>
            </div>
            <div class="row" id="DivCheckBox">
                <table>
                    <thead>
                        <tr>
                            <td>

                            </td>
                            <td>
                                Select if apply |
                            </td>
                            <td>
                                Select the column
                            </td>
                        </tr>
                    </thead>
                    <tr  data-bind="visible: AskBU">
                        <td style="margin-left:10px;">
                            <b>Have multiple BU header on excel</b>
                        </td>
                        <td style="margin-left:10px;">
                            <center>
                            <input type="checkbox" id="MultipleBU" style="height: 30px;    width: 30px;"   onclick="viewUpload()"/>
                            </center>
                        </td>
                        <td>
                            <select id="buMultipleColumn" style="height: 30px;width: 47px;">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                                <option value="H">H</option>
                                <option value="I">I</option>
                                <option value="J">J</option>
                                <option value="K">K</option>
                                <option value="L">L</option>
                                <option value="M">M</option>
                                <option value="N">N</option>
                                <option value="O">O</option>
                                <option value="P">P</option>
                                <option value="Q">Q</option>
                                <option value="R">R</option>
                                <option value="S">S</option>
                                <option value="T">T</option>
                                <option value="U">U</option>
                                <option value="V">V</option>
                                <option value="W">W</option>
                                <option value="X">X</option>
                                <option value="Y">Y</option>
                                <option value="Z">Z</option>
                            </select>
                        </td>
                    </tr>
                    @*<tr  data-bind="visible: AskCountry">
                        <td style="margin-left:10px;">
                            <b>Have multiple Country header on excel</b>
                        </td>
                        <td style="margin-left:10px;">
                            <center>
                                <input type="checkbox" id="MultipleCountry" style="height: 30px;    width: 30px;"  onclick="viewUpload()" />
                            </center>
                        </td>
                        <td>
                            <select id="buMultipleCountry"  style="height: 30px;width: 47px;">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                                <option value="H">H</option>
                                <option value="I">I</option>
                                <option value="J">J</option>
                                <option value="K">K</option>
                                <option value="L">L</option>
                                <option value="M">M</option>
                                <option value="N">N</option>
                                <option value="O">O</option>
                                <option value="P">P</option>
                                <option value="Q">Q</option>
                                <option value="R">R</option>
                                <option value="S">S</option>
                                <option value="T">T</option>
                                <option value="U">U</option>
                                <option value="V">V</option>
                                <option value="W">W</option>
                                <option value="X">X</option>
                                <option value="Y">Y</option>
                                <option value="Z">Z</option>
                            </select>
                        </td>
                    </tr>
                    <tr  data-bind="visible: AskMonthYear">
                        <td style="margin-left:10px;">
                            <b>Have multiple Month Year header on excel</b>
                        </td>
                        <td style="margin-left:10px;">
                            <center>
                                <input type="checkbox" id="MultipleMonthYear" style="height: 30px;    width: 30px;"  onclick="viewUpload()" />
                            </center>
                        </td>
                        <td>
                            <select id="buMonthYear" style="height: 30px;width: 47px;">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                                <option value="H">H</option>
                                <option value="I">I</option>
                                <option value="J">J</option>
                                <option value="K">K</option>
                                <option value="L">L</option>
                                <option value="M">M</option>
                                <option value="N">N</option>
                                <option value="O">O</option>
                                <option value="P">P</option>
                                <option value="Q">Q</option>
                                <option value="R">R</option>
                                <option value="S">S</option>
                                <option value="T">T</option>
                                <option value="U">U</option>
                                <option value="V">V</option>
                                <option value="W">W</option>
                                <option value="X">X</option>
                                <option value="Y">Y</option>
                                <option value="Z">Z</option>
                            </select>
                        </td>
                    </tr>
                     <tr  data-bind="visible: AskQuater">  
                        <td style="margin-left:10px;">
                            <b>Have Multiple Quater header on excel</b>
                        </td>
                         <td style="margin-left:10px;">
                             <center>
                                 <input type="checkbox" id="MultipleQuater" style="height: 30px;    width: 30px;"     onclick="viewUpload()"/>
                             </center>
                         </td>
                         <td>
                             <select id="buMultipleQuater" style="height: 30px;width: 47px;">
                                 <option value="A">A</option>
                                 <option value="B">B</option>
                                 <option value="C">C</option>
                                 <option value="D">D</option>
                                 <option value="E">E</option>
                                 <option value="F">F</option>
                                 <option value="G">G</option>
                                 <option value="H">H</option>
                                 <option value="I">I</option>
                                 <option value="J">J</option>
                                 <option value="K">K</option>
                                 <option value="L">L</option>
                                 <option value="M">M</option>
                                 <option value="N">N</option>
                                 <option value="O">O</option>
                                 <option value="P">P</option>
                                 <option value="Q">Q</option>
                                 <option value="R">R</option>
                                 <option value="S">S</option>
                                 <option value="T">T</option>
                                 <option value="U">U</option>
                                 <option value="V">V</option>
                                 <option value="W">W</option>
                                 <option value="X">X</option>
                                 <option value="Y">Y</option>
                                 <option value="Z">Z</option>
                             </select>
                         </td>
                    </tr>*@
                </table>
            
            </div>

                <div class="row" data-bind="visible: ViewUpload">
                    <hr />

                    <hr />
                    <table style="border-color: dimgray;border-style: dashed;" width="50%">
                        <tr width="50%">
                            <td width="50%">
                                <div id="js-xlsx-plugin"></div>
                            </td>
                        </tr>
                    </table>

                    <a href="" style="font-size:x-large; color:blue;">Download Template</a>
                </div>
                <div class="row" id="DivShowLog">
                    <hr />
                    Log uploads by BU
                    <br />
                    <table class="table table-striped table-bordered table-hover table-condensed" data-bind='kogrid: gridLogModel'> </table>
                    <hr />
                    Log Files
                    <br />
                    <table class="table table-striped table-bordered table-hover table-condensed" data-bind='kogrid: gridLogModelByFile'> </table>
                </div>

        </div>
</section>
</div>
