﻿@{
    ViewBag.FilesVersion = Automation.Core.Class.GlobalUtil.GetFilesVersion();
    ViewBag.SubAppPath = Automation.Core.Class.GlobalUtil.GetSubAppPath();
}
<script type="text/javascript" src="@(ViewBag.SubAppPath)/Content/Configuration/_DBTable.js?v=@(ViewBag.FilesVersion)"></script>
<script type="text/javascript">
    _DBTableLoad({
        "TableName": "@((string)Model["TableName"])",
        "ColumnKey": "@((string)Model["ColumnKey"])",
        "IDElementContent": "@((string)Model["IDElementContent"])",
        "HasIdentity": "@((string)Model["HasIdentity"])"
    });
</script>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
                    
        <!--Table Name-->
        <div class="form-group has-success col-xs-4">
            <label class="form-label">Table Name</label>
            <span class="desc"></span>
            <div class="controls">
                <input type="text" class="form-control txtTableName" value="@((string)Model["TableName"])" name="txtTableName" aria-required="true" aria-invalid="false">
                <span class="error">
                    <label class="txtPrefix-error error" for="txtTableName"></label>
                </span>
            </div>
        </div>

        <!--Column Key-->
        <div class="form-group has-success col-xs-4">
            <label class="form-label">Column Key</label>
            <span class="desc"></span>
            <div class="controls">
                <input type="text" class="form-control txtColumnKey" value="@((string)Model["ColumnKey"])" name="txtColumnKey" aria-required="true" aria-invalid="false">
                <span class="error">
                    <label class="txtPrefix-error error" for="txtColumnKey"></label>
                </span>
            </div>
        </div>

        <!--Tables for Roles, Permits and ERRS--> 
        <div class="form-group col-xs-4 iCheck-is-identity-content"> 
            <label class="form-label" for="field-7">Has Identity Key?</label> 
            <span class="desc"></span> 
            <div class="controls"> 
                <input value="Yes" type="radio" name="iCheck-is-identity-@((string)Model["TableName"])" class="rbtBDTypeTable skin-square-green" checked /> 
                <label class="iradio-label form-label hover" for="rbtBDTypeTable" style="margin-right: 25px;">Yes </label> 
                            
                <input value="No" type="radio" name="iCheck-is-identity-@((string)Model["TableName"])" class="rbtBDTypeProc skin-square-green" > 
                <label class="iradio-label form-label hover" for="rbtBDTypeProc" style="margin-right: 25px;">No </label> 
            </div> 
        </div> 

    </div> 

    <div class="col-xs-12">
        <button type="button" class="btnSaveDBTable btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-save"></i> Save</button>
        <button type="button" class="btnLoadDBTable btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Reload Table</button>
        <button type="button" class="btnAddNewRowDBTable btn btn-primary top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Add</button>
        <button type="button" class="btnDeleteDBTable btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-remove"></i> Delete</button>
    </div>

    <div class="tblDBTable"></div>
</div>
