﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Admin DB table";
    ViewBag.CSSLinks = new string[] {};
    ViewBag.JSLinks = new string[] {
        "/Content/Configuration/AdminDBTable.js"
    };
}
<script type="text/javascript">
    _setViewVar("TableName", "@((string)Model["TableName"])");
    _setViewVar("ColumnKey", "@((string)Model["ColumnKey"])");
</script>
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Data Base Table Administration</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body" id="content-db-table">
            
        </div>
    </section>
</div>
