﻿@{
    ViewBag.FrameworkVersion = Automation.Core.Class.GlobalUtil.GetAssemblyVersion();
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Database config";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/plugins/uikit/css/uikit.min.css",
        "/Content/Shared/plugins/uikit/css/components/nestable.min.css",
        "/Content/Shared/plugins/codemirrow/lib/codemirror.css",
        "/Content/Shared/plugins/codemirrow/theme/xq-light.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/uikit/js/uikit.min.js",
        "/Content/Shared/plugins/uikit/js/components/nestable.min.js",
        
        "/Content/Shared/plugins/codemirrow/lib/codemirror.js",
        "/Content/Shared/plugins/codemirrow/mode/sql/sql.js",
        
        "/Content/Configuration/DataBase.js"
    };
}

<div class="col-lg-12" >
    <section class="box nobox ">
        <div class="content-body">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#db-info" data-toggle="tab" aria-expanded="true">
                                <i class="fa fa-cog"></i> Server information
                            </a>
                        </li>
                        <li class="" id="tab-label-initial-config" >
                            <a href="#tab-pane-initial-config" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-cog"></i> Initial Configuration
                            </a>
                        </li>
                        <li class="" id="tab-label-db-structure" style="display:none;">
                            <a href="#tab-pane-db-structure" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-cog"></i> Create Database Structure 
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="db-info">
                            
                            @*Review tables button*@
                            <button type="button" id="btnReviewLocalDBStructure" class="btn btn-success btn-icon bottom15 right15 pull-right">
                                <i class="fa fa-pencil-square-o"></i> &nbsp; <span>Review database</span>
                            </button>

                            <button type="button" id="btnReviewGlobalDBStructure" class="btn btn-danger btn-icon bottom15 right15 pull-right">
                                <i class="fa fa-pencil-square-o"></i> &nbsp; <span>Review global structure</span>
                            </button>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @*Server Information*@
                                <table class="table">
                                    <tr>
                                        <td style="width:20%;">Application CSID</td>
                                        <td style="width:80%;" id="lblAppCSID">@((string)Model["applicationCSID"])</td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%;">Application Name</td>
                                        <td style="width:80%;" id="lblAppName">@((string)Model["applicationName"])</td>
                                    </tr>
                                    <tr>
                                        <td>DB User</td>
                                        <td id="lblDBUser">@(((Dictionary<string,string>)Model["objBDInfo"])["ColumnUser"])</td>
                                    </tr>
                                    <tr>
                                        <td>DB Name</td>
                                        <td id="lblDBName">@(((Dictionary<string,string>)Model["objBDInfo"])["ColumnDB"])</td>
                                    </tr>
                                    <tr>
                                        <td>DB Server Name</td>
                                        <td id="lblDBServer">@(((Dictionary<string,string>)Model["objBDInfo"])["ColumnServer"])</td>
                                    </tr>
                                    <tr>
                                        <td>Connection String</td>
                                        <td id="lblConnString">@(((Dictionary<string,string>)Model["objIISInfo"])["ConnectionString"])</td>
                                    </tr>

                                    @if (((Dictionary<string,string>)Model["EntitiesInfo"]).Count > 0) {

                                        <td>Entities</td>
                                        <td id="lblEntities" style="word-break: break-all;">
                                        @foreach (var item in ((Dictionary<string, string>)Model["EntitiesInfo"]))
                                        {
                                            <b>@item.Key:</b> @item.Value
                                        }
                                        </td>
                                    }
                                    <tr>
                                        <td>Local IIS IP</td>
                                        <td id="lblIISIP">@(((Dictionary<string,string>)Model["objIISInfo"])["LocalIP"])</td>
                                    </tr>
                                    <tr>
                                        <td>Remote IP</td>
                                        <td id="lblRemoteIP">@(((Dictionary<string,string>)Model["objIISInfo"])["RemoteIP"])</td>
                                    </tr>
                                    <tr>
                                        <td>Windows Identity</td>
                                        <td id="lblWindowsIdentity">@(((Dictionary<string,string>)Model["objIISInfo"])["WindowsIdentity"])</td>
                                    </tr>
                                    <tr>
                                        <td>CMD whoami</td>
                                        <td id="CMDWhoami">@(((Dictionary<string,string>)Model["objIISInfo"])["CMDWhoami"])</td>
                                    </tr>
                                    <tr>
                                        <td>Machine Name</td>
                                        <td id="lblMachineName">@(((Dictionary<string,string>)Model["objIISInfo"])["MachineName"])</td>
                                    </tr>
                                    <tr>
                                        <td>Root URL</td>
                                        <td id="lblBaseUrl">@(((Dictionary<string,string>)Model["objIISInfo"])["URLBase"])</td>
                                    </tr>
                                    <tr>
                                        <td>Report Server Url</td>
                                        <td id="lblServerUrl">@(((Dictionary<string,string>)Model["objIISInfo"])["ReportServerUrl"])</td>
                                    </tr>
                                    <tr>
                                        <td>Framework Version</td>
                                        <td id="lblFrameworkVersion">@(ViewBag.FrameworkVersion)</td>
                                    </tr>
                                    <tr>
                                        <td>Tables prefix</td>
                                        <td id="txtTablesPrefix"></td>
                                    </tr>
                                    <tr>
                                        <td>Procedures prefix</td>
                                        <td id="txtProceduresPrefix"></td>
                                    </tr>
                                    <tr>
                                        <td>Functions prefix</td>
                                        <td id="txtFunctionsPrefix"></td>
                                    </tr>
                                    <tr>
                                        <td>View Request</td>
                                        <td id="lblPrintRequest">
                                            <a href="DataBase/GetRequestInfo?pappKey=AutomationFramework" target="_blank"> Click here </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>View Hosting Enviroment Settings</td>
                                        <td id="lblPrintHostingEnviroment">
                                            <a href="DataBase/GetHostingEnviromentInfo?pappKey=AutomationFramework" target="_blank"> Click here </a>
                                        </td>
                                    </tr>
                                </table>
                                @*TODO: Connect with Automation*@
                                <div class="row" style="display:none;">
                                    <div class="col-md-6">
                                        @*Tables for Roles, Permits and ERRS*@
                                        <div class="form-group">
                                            <label class="form-label" >Where the tables for ERRS, users, roles and permits will store</label>
                                            <div class="controls">
                                                <input id="rbtLocalBDConfig" type="radio" name="typeBDConfig" class="skin-square-green" checked="checked" value="Default" >
                                                <label class="iradio-label form-label hover" for="rbtLocalBDConfig">Use local BD Config</label>

                                                <input id="rbtAutomationConfig" type="radio" name="typeBDConfig" class="skin-square-green" value="Automation">
                                                <label class="iradio-label form-label hover" for="rbtAutomationConfig">Use Automation</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @*Include Initial Data in Inserts*@
                                        <div class="form-group">
                                            <label class="form-label" >Generate Initial Configuration Data in Inserts</label>
                                            <div class="controls">
                                                <input id="rbtIncludeInitialDataYes" type="radio" name="chkIncludeData" class="skin-square-green" checked="checked" value="1" >
                                                <label class="iradio-label form-label hover" for="rbtIncludeInitialDataYes">Yes</label>

                                                <input id="rbtIncludeInitialDataNo" type="radio" name="chkIncludeData" class="skin-square-green" value="0">
                                                <label class="iradio-label form-label hover" for="rbtIncludeInitialDataNo">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="clear:both;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-initial-config">
                            <div class="col-xs-12">
                                <div class="row">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab-permit" data-toggle="tab">
                                                <i class="fa fa-table"></i> Permits
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab-tblReports" data-toggle="tab">
                                                <i class="fa fa-table"></i> Reports
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab-tblRoles" data-toggle="tab">
                                                <i class="fa fa-table"></i> Roles
                                            </a>
                                        </li>
                                        <li onclick="objTablInitialConfig.objTabUsers.loadTableUsers()">
                                            <a href="#tab-tblUsers" data-toggle="tab">
                                                <i class="fa fa-table"></i> Users
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">

                                        @*Tab Permits*@
                                        <div class="tab-pane fade in active" id="tab-permit">
                                            <div id="content-list-permits"></div>

                                            @*<div class="col-xs-12">
                                                <button type="button" class="btnAddNewPermit btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Add</button>
                                                <button type="button" class="btnLoadPermitDB btn btn-primary top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Load from DB</button>
                                                <button type="button" class="btnInsertPermitDB btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Insert in DB</button>
                                            </div>
                                            <div class="col-xs-12">
                                                <ul class="uk-nestable" data-uk-nestable="{maxDepth:3}" id="list-permits"></ul>
                                            </div>
                                            <div style="clear:both;"></div>*@
                                        </div>

                                        @*Tab Reports*@
                                        <div class="tab-pane fade in" id="tab-tblReports">
                                            <div id="content-list-reports"></div>

                                            @*<div class="col-xs-12">
                                                <button type="button" class="btnAddNewReport btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Add</button>
                                                <button type="button" class="btnLoadReportDB btn btn-primary top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Load from DB</button>
                                                <button type="button" class="btnInsertReportDB btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Insert in DB</button>
                                            </div>
                                            <div class="col-xs-12">
                                                <ul class="uk-nestable" data-uk-nestable="{maxDepth:1}" id="list-reports"></ul>
                                            </div>
                                            <div style="clear:both;"></div>*@
                                        </div>

                                        @*Tab Roles*@
                                        <div class="tab-pane fade in" id="tab-tblRoles">
                                            <ul class="nav nav-tabs transparent right-aligned">
                                                <li>
                                                    <a href="#tab-rolesxreports" data-toggle="tab">
                                                        <i class="fa fa-table"></i> Add Reports to Role
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#tab-rolesxpermits" data-toggle="tab">
                                                        <i class="fa fa-table"></i> Add Permits to Role
                                                    </a>
                                                </li>
                                                <li class="active">
                                                    <a href="#tab-roles" data-toggle="tab">
                                                        <i class="fa fa-table"></i> Roles List
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="tab-roles">
                                                    <button type="button" class="btnAddNewRole btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Add</button>
                                                    <button type="button" class="btnLoadRoleDB btn btn-primary top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Load from DB</button>
                                                    <button type="button" class="btnInsertRoleDB btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Insert in DB</button>
                                                    <button type="button" class="btnDeleteRole btn btn-danger  top15 left15 bottom15 pull-right" ><i class="fa fa-remove"></i> Delete</button>
                                                    
                                                    <div id="tblRole"></div>

                                                    <div style="clear:both;"></div>
                                                </div>
                                                <div class="tab-pane fade in " id="tab-rolesxpermits">
                                                    <button type="button" class="btnLoadRoleXPermitsDB btn btn-primary top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Load from DB</button>
                                                    <button type="button" class="btnCleanRoleXPermitsDB btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Clean Local Data</button>
                                                    
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h3>Select Role</h3>
                                                            <p>Please select the role to grand access.</p>

                                                            <div class="form-group">
                                                                <select id="selRoleOfPermits"></select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="pull-left">
                                                                <h3>Set Permits</h3>
                                                                <p>Please check the permits that you need to map to the selected role.</p>
                                                            </div>
                                                            <div style="text-align: center; padding-right: 55px;" class="pull-right">
                                                                Check all <br />
                                                                <input type="checkbox" class="skin-square-green checkAllRoleXPermits">
                                                            </div>
                                                            <div style="clear:both;"></div>

                                                            <div class="well transparent" id="permitCategories"></div>

                                                            <button type="button" id="btnSaveRoleXPermits" class="btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-save"></i> Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade in " id="tab-rolesxreports">
                                                    <button type="button" class="btnLoadRoleXReportsDB btn btn-primary top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Load from DB</button>
                                                    <button type="button" class="btnCleanRoleXReportsDB btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Clean Local Data</button>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h3>Select Role</h3>
                                                            <p>Please select the role to grand access.</p>

                                                            <div class="form-group">
                                                                <select id="selRoleOfReports"></select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="pull-left">
                                                                <h3>Set Reports</h3>
                                                                <p>Please check the reports that you need to map to the selected role.</p>
                                                            </div>
                                                            <div style="text-align: center; padding-right: 55px;" class="pull-right">
                                                                Check all <br />
                                                                <input type="checkbox" class="skin-square-green checkAllRoleXReports">
                                                            </div>
                                                            <div style="clear:both;"></div>

                                                            <div class="well transparent" id="reportCategories"></div>

                                                            <button type="button" id="btnSaveRoleXReports" class="btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-save"></i> Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        @*Tab Users*@
                                        <div class="tab-pane fade in" id="tab-tblUsers">
                                            <ul class="nav nav-tabs transparent right-aligned">
                                                <li>
                                                    <a href="#tab-usersxroles" data-toggle="tab">
                                                        <i class="fa fa-table"></i> Add Roles to User
                                                    </a>
                                                </li>
                                                <li class="active" onclick="objTablInitialConfig.objTabUsers.loadTableUsers()">
                                                    <a href="#tab-users" data-toggle="tab">
                                                        <i class="fa fa-table"></i> Users List
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="tab-users">
                                                    <button type="button" class="btnAddNewUser btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Add</button>
                                                    <button type="button" class="btnLoadUserDB btn btn-primary top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Load from DB</button>
                                                    <button type="button" class="btnInsertUserDB btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Insert in DB</button>
                                                    <button type="button" class="btnDeleteUser btn btn-danger  top15 left15 bottom15 pull-right" ><i class="fa fa-remove"></i> Delete</button>
                                                    
                                                    <div id="tblUser"></div>

                                                    <div style="clear:both;"></div>
                                                </div>
                                                <div class="tab-pane fade in " id="tab-usersxroles">
                                                    <button type="button" class="btnLoadUserXRolesDB btn btn-primary top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Load from DB</button>
                                                    <button type="button" class="btnCleanUserXRolesDB btn btn-danger top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Clean Local Data</button>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h3>Select User</h3>
                                                            <p>Please select the user to grand access.</p>

                                                            <div class="form-group">
                                                                <select id="selUserOfRoles"></select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="pull-left">
                                                                <h3>Set Roles</h3>
                                                                <p>Please check the roles that you need to map to the selected user.</p>
                                                            </div>
                                                            <div style="text-align: center; padding-right: 55px;" class="pull-right">
                                                                Check all <br />
                                                                <input type="checkbox" class="skin-square-green checkAllUserXRoles">
                                                            </div>
                                                            <div style="clear:both;"></div>

                                                            <div class="well transparent" id="roleCategories"></div>

                                                            <button type="button" id="btnSaveUserXRoles" class="btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-save"></i> Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-db-structure" style="display:none;">
                            <div class="col-xs-12 search_data">
                                <div class="row">
                                    <pre>SQL Query variables: :P_DATABASE, :P_OBJECT_NAME, :P_(ObjectKey), :P_APPLICATION_NAME, :P_SHORT_APP_NAME, :P_DATA_INSERT_PERMITS</pre>
                                    <div id="btnContentDBStructure">
                                        <button id="btnDeleteObjects" type="button" class="btn btn-danger bottom15 " ><i class="fa fa-asterisk"></i> Run Delete all</button>
                                        <button id="btnCreateMissingObjects" type="button" class="btn btn-info bottom15 " ><i class="fa fa-asterisk"></i> Run Create all</button>
                                        <a href="@Url.Action("Index", "DataBaseJqxGrid")" target="_blank" id="btnEditBDJSon" type="button" class="btn btn-primary bottom15 " ><i class="fa fa-asterisk"></i> View DB Json Settings</a>
                                        <button id="btnSaveDBStructure" type="button" class="btn btn-success bottom15 " ><i class="fa fa-save"></i> Save</button>
                                    </div>
                                    <ul id="tab-labels" class="nav nav-tabs vertical col-xs-3 col-md-2 left-aligned">
                                    </ul>

                                    <div id="tab-content-bd" class="tab-content vertical col-xs-9 col-md-10 left-aligned">
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
