﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Database config";
    ViewBag.CSSLinks = new string[0] {};
    ViewBag.JSLinks = new string[1] {
        "/Content/Configuration/DataBaseJqxGrid.js"
    };
}
<script type="text/javascript">
    _setViewVar("pType", "@(Model["pType"])");
</script>
<div class="col-lg-12" >
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Data Base configuration</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    
                    <button id="btnSaveDBStructure" type="button" class="btn btn-success left15 bottom15 pull-right" ><i class="fa fa-save"></i> Save</button>
                    <button id="btnLoadDBStructureTable" type="button" class="btn btn-info left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Reload Table</button>
                    <button id="btnAddDBStructure" type="button" class="btn btn-primary left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Add</button>
                    <button id="btnDeleteBDStructure" type="button" class="btn btn-danger left15 bottom15 pull-right" ><i class="fa fa-remove"></i> Delete</button>

                    <div id="tblDBStructure"></div>
                </div>
            </div>
        </div>
    </section>
</div>