﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Admin DB Global Vars";
    ViewBag.CSSLinks = new string[] { };
    ViewBag.JSLinks = new string[] {
        "/Content/Configuration/DBGlobalVars.js"
    };
}
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Database Global Variables</h2>
        </header>

        <div class="content-body">
            <div id="content-tblGlobalVars"></div>
        </div>
    </section>
</div>
