﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "DL Manager";
    ViewBag.CSSLinks = new string[] {};
    ViewBag.JSLinks = new string[] {
        "/Content/Configuration/DLManager.js"
    };
}

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">DL Manager</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    
                    <button type="button" class="btnDelete btn btn-danger  top15 left15 bottom15 pull-left"><i class="fa fa-trash-o"></i> Delete</button>
                    
                    <div class="btn-group top15 left15 bottom15 pull-right">
                        <button type="button" class="btn btn-primary">Actions</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" id="SAMAccountACInfo"><i class="fa fa-chain"></i> Get AC Info by CN - SAMAccountName (Input)</a></li>
                            <li><a href="#" id="ACUsersBySAMAccountNameInput"><i class="fa fa-chain"></i> Get AC Users by CN - SAMAccountName (Input)</a></li>
                            <li><a href="#" id="ACUsersByDLInput"><i class="fa fa-chain"></i> Get AC Users by DL (Input)</a></li>
                            <li><a href="#" id="ACUsersByDL"><i class="fa fa-chain"></i> Get AC Users by DL (Selected Row)</a></li>
                            <li><a href="#" id="ACGroupsBySOEID"><i class="fa fa-chain"></i> Get AC Groups by SOEID Directory Entry (Input)</a></li>
                            <li><a href="#" id="ACGroupsBySOEIDAM"><i class="fa fa-chain"></i> Get AC Groups by SOEID Account Managed (Input)</a></li>
                            <li><a href="#" id="EmailACInfo"><i class="fa fa-chain"></i> Get Email Active Directory Info</a></li>
                            
                            <li><a href="#" id="ACSyncAll"><i class="fa fa-chain"></i> Sync with Active Directory (All)</a></li>
                            <li><a href="#" id="ACSyncSelected"><i class="fa fa-chain"></i> Sync with Active Directory (Selected Row)</a></li>
                            <li><a href="#" id="ACSyncSelectedForce"><i class="fa fa-chain"></i> Sync with Active Directory (Selected Row FORCE Ignore ACWhenChanged)</a></li>

                            <li><a href="#" id="ACWhenChangedAll">Check AC When Changed (All)</a></li>
                            <li><a href="#" id="ACWhenChangedSelected">Check AC When Changed (Selected)</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btnViewContacts btn btn-primary top15 left15 bottom15 pull-right"><i class="fa fa-search-plus"></i> View Contacts</button>
                    <button type="button" class="btnAdd btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-plus-square"></i> Add</button>

                    <div style="width: 50%;float: right;padding-top: 15px;">
                        <input class="form-control" placeholder="E.g. *GUA Treasury <gua.tres@imcla.lac.nsroot.net>" id="txtDL">
                    </div>

                    <div id="tblDLs"></div>
                </div>
            </div>
        </div>
    </section>
</div>