﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Admin Permits";
    ViewBag.CSSLinks = new string[] {
        "/Content/Shared/plugins/uikit/css/uikit.min.css",
        "/Content/Shared/plugins/uikit/css/components/nestable.min.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/uikit/js/uikit.min.js",
        "/Content/Shared/plugins/uikit/js/components/nestable.min.js",
        "/Content/Configuration/Permits.js"
    };
}
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left"><i class="fa fa-table"></i> Administration</h2>
        </header>

        <div class="content-body">
            <div id="content-list-permits"></div>
        </div>
    </section>
</div>
