﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Admin Reports";
    ViewBag.CSSLinks = new string[] { };
    ViewBag.JSLinks = new string[] {
        "/Content/Configuration/Reports2.js"
    };
}
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Reports administration</h2>
        </header>

        <div class="content-body">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btnSave btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btnAddNew btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> Add</button>
                    <button type="button" class="btnReload btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-asterisk"></i> Reload Table</button>
                    <button type="button" class="btnDelete btn btn-danger top15 left15 bottom15 pull-right"><i class="fa fa-remove"></i> Delete</button>
                </div>
                <div class="col-md-12">
                    <div id="tblReports"></div>
                </div>
            </div>
        </div>
    </section>
</div>
