﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Admin Roles";
    ViewBag.CSSLinks = new string[] {};
    ViewBag.JSLinks = new string[] {
        "/Content/Configuration/Roles.js"
    };
}
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Administration</h2>
        </header>

        <div class="content-body">
            <ul class="nav nav-tabs transparent right-aligned">
                <li>
                    <a href="#tab-rolesxreports" data-toggle="tab">
                        <i class="fa fa-table"></i> Add Reports to Role
                    </a>
                </li>
                <li>
                    <a href="#tab-rolesxpermits" data-toggle="tab">
                        <i class="fa fa-table"></i> Add Permits to Role
                    </a>
                </li>
                <li class="active">
                    <a href="#tab-roles" data-toggle="tab">
                        <i class="fa fa-table"></i> Roles List
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-roles">
                    <button type="button" class="btnAddNewRole btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Add</button>
                    <button type="button" class="btnEditRole btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Edit</button>
                    <button type="button" class="btnDeleteRole btn btn-danger  top15 left15 bottom15 pull-right" ><i class="fa fa-remove"></i> Delete</button>
                                                    
                    <div id="tblRole"></div>

                    <div style="clear:both;"></div>
                </div>
                <div class="tab-pane fade in " id="tab-rolesxpermits">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btnSaveRoleXPermits btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-save"></i> Save Changes</button>
                            
                            <h3>Select Role</h3>
                            <p>Please select the role to grand access.</p>

                            <div class="form-group">
                                <select id="selRoleOfPermits"></select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            
                            <div class="pull-left">
                                <h3>Set Permits</h3>
                                <p>Please check the permits that you need to map to the selected role.</p>
                            </div>
                            <div style="text-align: center; padding-right: 55px;" class="pull-right">
                                Check all <br />
                                <input type="checkbox" class="skin-square-green checkAllRoleXPermits">
                            </div>
                            <div style="clear:both;"></div>

                            <div class="well transparent" id="permitCategories"></div>

                            <button type="button" class="btn btnSaveRoleXPermits btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-save"></i> Save Changes</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in " id="tab-rolesxreports">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btnSaveRoleXReports btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-save"></i> Save Changes</button>
                            
                            <h3>Select Role</h3>
                            <p>Please select the role to grand access.</p>

                            <div class="form-group">
                                <select id="selRoleOfReports"></select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            
                            <div class="pull-left">
                                <h3>Set Reports</h3>
                                <p>Please check the reports that you need to map to the selected role.</p>
                            </div>
                            <div style="text-align: center; padding-right: 55px;" class="pull-right">
                                Check all <br />
                                <input type="checkbox" class="skin-square-green checkAllRoleXReports">
                            </div>
                            <div style="clear:both;"></div>

                            <div class="well transparent" id="reportCategories"></div>

                            <button type="button" class="btn btnSaveRoleXReports btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-save"></i> Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
