﻿@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Admin Users";
    ViewBag.CSSLinks = new string[] {};
    ViewBag.JSLinks = new string[] {
        "/Content/Configuration/Users.js"
    };
}
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Administration</h2>
        </header>

        <div class="content-body">
            <button type="button" class="btnAddNewUser btn btn-success top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Add</button>
            <button type="button" class="btnEditUser btn btn-info top15 left15 bottom15 pull-right" ><i class="fa fa-asterisk"></i> Edit</button>
            <button type="button" class="btnDeleteUser btn btn-danger  top15 left15 bottom15 pull-right" ><i class="fa fa-remove"></i> Delete</button>
                                                    
            <div id="tblUser"></div>
            
            <div style="clear:both;"></div>
        </div>
    </section>
</div>
