﻿a {
    color: #000000;
}

    a:hover {
        text-decoration: none;
        color: #000000;
    }

.tag-switch li {
    float: left;
    text-align: center;
}

.tag-switch {
    border-bottom: 3px solid rgb(0, 125, 197);
}

    .tag-switch li a {
        line-height: 25px;
    }

    .tag-switch .active a {
        background-color: rgb(0, 125, 197) !important;
        color: #fff;
    }

    .tag-switch li a:hover {
        background: rgb(0, 176, 237);
        color: white;
    }

    .tag-switch li:last-child ul {
        margin-top: 10px;
    }

    .tag-switch li:last-child a {
        font-size: 12px;
        padding: 2px 5px;
        background: none;
        color: #000000;
    }

    .tag-switch li:last-child ul .active a {
        background: rgb(76, 175, 80) !important;
        color: #fff;
    }

    .tag-switch li:last-child ul a {
        background: white !important;
    }
/*.second-level-menu {
background-color:#fff;

}*/

.tab-content {
    padding: 10px;
}




.badge {
    background-color: #c3c0c1 !important;
    border-right: 5px !important;
    margin: 5px !important;
}




.compactModal {
    margin-bottom: 0px !important;
}









.checkbox {
    padding-left: 20px;
}

    .checkbox label {
        display: inline-block;
        position: relative;
        padding-left: 5px;
        margin-top: -2px;
    }

        .checkbox label::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            margin-left: -20px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            background-color: #fff;
            -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        }

        .checkbox label::after {
            display: inline-block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            top: 0;
            margin-left: -20px;
            padding-left: 3px;
            padding-top: 0px;
            font-size: 11px;
            color: #555555;
            margin-top: -2px;
        }



    .checkbox input[type="checkbox"] {
        opacity: 0;
    }

        .checkbox input[type="checkbox"]:focus + label::before {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        .checkbox input[type="checkbox"]:checked + label::after {
            font-family: 'FontAwesome';
            content: "\f00c";
        }

        .checkbox input[type="checkbox"]:disabled + label {
            opacity: 0.65;
        }

            .checkbox input[type="checkbox"]:disabled + label::before {
                background-color: #eeeeee;
                cursor: not-allowed;
            }

    .checkbox.checkbox-circle label::before {
        border-radius: 50%;
    }

    .checkbox.checkbox-inline {
        margin-top: 0;
    }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: rgb(76, 175, 80);
    border-color: rgb(76, 175, 80);
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}



.select2-container {
    z-index: 0 !important;
}

.compactInput {
    padding-right: 0px !important;
    font-size: 14px !important;
}

.compactInput2 {
    padding-right: 0px !important;
    font-size: 11px !important;
}


.compactInputPayment {
    padding-right: 0px !important;
    font-size: 12px !important;
}

.inlineButtons {
    padding-left: 11px !important;
}

.nopaddingCols {
    padding-left:2px !important;
    padding-right:2px !important;
    height: 35px !important;
}

.nopaddingColsComments {
    padding-left:2px !important;
    padding-right:2px !important;
}

.labelsCenter {
 
    text-align:center !important;
}





/*.well{
    max-width: 500px;
    margin: 0 auto;
    position: fixed;
    top: 10px;
}*/
.popover{
    max-width: 1000px; 
    padding-bottom: 25px;
}


.filingdashmodal {
    
    display:none;
    /*position:fixed;*/
    padding:15px;
    border-radius:5px;
    background:white;
    box-shadow:1px 1px 3px rgba(0,0,0,.7);
}

.filingdhashmodalclose {
    position:absolute;
    top:1px;
    right:10px;
    padding:5px;
    color:black;
    font-size:24px;
}

.filingdhashmodalimageciti {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 5px;
    right: 50px;
    padding: 5px;
}

.modalAutoCenter {
  
    top: 1px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
}

.modalAutoCenterAnnual {
  
    top: 1px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
}


.box1 {border:2px solid #283593;}
.box1 h5 {background:#283593;color:white;padding:10px;}
.box1 h7 {background:#283593;color:white;padding:10px;}
.box1 p {color:#333;padding:10px;}
.box1 {
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
}


.pdfFontColor  {
    color:black !important;
}

.spanPadd {
   margin-right: 15px;
}

.turnToBold {
    font-weight:bold;
}
