@{
    ViewBag.Title = "Flash Actual";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.JSLinks = new string[] {
        "/Content/FlashTool/js/FlashBussinesMonthAndDate.js",
        "/Content/FlashTool/js/FlashCurrentActual.js"
    };
}
<style>
    .ProgressHolder {
        background-color: #333;
        bottom: 0;
        left: 0;
        filter: alpha(opacity=90);
        opacity: 1.90;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100003;
    }
</style>
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">After Flash Control:</h2>
            <h2 id="nameOfSegment" class="title pull-left"></h2>
            @*<button type="button" class="btnConnectedAs btn btn-info top15 left15 bottom15 pull-right"><i class="glyphicon glyphicon-user"></i> Connected As (LAC\frocrvsccver)</button>*@
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12">
                        <button id="exportToExcel" name="button" value="cancel" class="btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-file-excel-o"></i> Export to excel </button>
                        <button id="editComment" type="button" class="btnApprove btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-check-square-o"></i> Edit Comment </button>
                        <button id="SaveMonitoring" type="button" class="btnApprove btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-check-square-o"></i> Save </button>
                    </div>
                    <div id="ActualsMonitoring"></div>
                </div>
            </div>
        </div>
    </section>
</div>