@{
    ViewBag.Title = "Flash Bridge";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.JSLinks = new string[] {
        "/Content/FlashTool/js/FlashBussinesMonthAndDate.js",
        "/Content/FlashTool/js/FlashBridge.js"
        
    };
}
<style>

    .center {
        margin: auto;
        width: 89%;
        padding: 10px;
    }
    .ProgressHolder {
        background-color: #333;
        bottom: 0;
        left: 0;
        filter: alpha(opacity=90);
        opacity: 1.90;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100003;
    }
    .share-bar  {
     display:none !important;
    }
</style>
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 id="nameOfSegment" class="title pull-left"></h2>
            @*<button type="button" class="btnConnectedAs btn btn-info top15 left15 bottom15 pull-right"><i class="glyphicon glyphicon-user"></i> Connected As (LAC\frocrvsccver)</button>*@
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="tblFileTableOneTimers" style="height:100%; width:60%">
                    </div>
                </div>
                
                <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <br /><br />
                    <div id="tblFileTable">
                    </div>       
                    <div class="btn-group">
                        <button id="addrowbutton" class="btn btn-primary" value="Add New Row"><i class="fa fa-check-square-o"></i> add New Row</button>
                    </div>    
                    <div class="btn-group pull-right">
                        <div class="pull-right">
                            <button id="delete" name="button" value="cancel" class="btn btn-danger"><i class="fa fa-check-square-o"></i> Delete </button>
                        </div>
                        <div class="pull-right">
                            <button id="SaveBridge" name="button" value="cancel" class="btn btn-success"><i class="fa fa-check-square-o"></i> Save </button>
                        </div>

                    </div>
                    
                </div>
            </div>
            <br />
            <div class="row" >
                <div class="col-sm-3 bg-success">
                    <div>Prior Actual </div>
                    <div id="totalPriorActual"></div>
                </div>
                <div class="col-sm-3 bg-warning">
                    <div id="month"></div>
                    <div class="FlashTotal"></div>
                </div>
                <div class="col-sm-3 bg-muted">
                    <div>Prior One Timers</div>
                    <div id="priorOneTimmers"></div>             
                </div>
                <div class="col-sm-3 bg-info">
                    <div id="ExpectedActualMonth"></div>
                    <div class="FlashExpectedTotal"></div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12 bg-muted">
                    <div>Balance Check</div>
                        <div class="BalanceCheck"></div>
                </div>
            </div>
        </div>
    </section>
</div>