@{
    ViewBag.Title = "Flash Bridge Consolidate";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.JSLinks = new string[] {
        "/Content/FlashTool/js/FlashBussinesMonthAndDate.js",
        "/Content/FlashTool/js/FlashBridgeConsolidate.js"
    };
}
<style>
    .ProgressHolder {
        background-color: #333;
        bottom: 0;
        left: 0;
        filter: alpha(opacity=90);
        opacity: 1.90;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100003;
    }
</style>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Flash Bridge Consolidate</h2>
            @*<button type="button" class="btnConnectedAs btn btn-info top15 left15 bottom15 pull-right"><i class="glyphicon glyphicon-user"></i> Connected As (LAC\frocrvsccver)</button>*@
        </header>
        <div class="content-body">

             <div id="exTab2" class="container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#1" data-toggle="tab">CTI Summary</a>
                    </li>
                    <li>
                        <a href="#2" data-toggle="tab">Flash Bridge to Normalized</a>
                    </li>
                </ul>

                <div class="tab-content ">
                    <div class="tab-pane active" id="1">
                        <div class="row">
                            <button id="showModalAddComment" type="button" class="btnApprove btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-check-square-o"></i> Comment </button>
                            <button id="generateConsolidate" type="button" class="btnApprove btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-check-square-o"></i> Generate Consolidated </button>
                            <button id="exportConsolidated" type="button" class="btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-file-excel-o"></i> Export Report</button>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="CTISummary"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="2">
                        <button id="FlashBridge" type="button" class="btnApprove btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-check-square-o"></i> Flash Bridge to Normalized </button>
                        <button id="exportflashBridge" type="button" class="btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-file-excel-o"></i> Export Report</button>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div id="FlashBridge"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="3">
                        <h3>add clearfix to tab-content (see the css)</h3>
                    </div>
                </div>
            </div>

    </section>
</div>