@{
    ViewBag.Title = "Full Reports";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";

    ViewBag.JSLinks = new string[] {
       
        "/Content/FlashTool/js/FlashFullReport.js",
    };
}

    <div class="col-lg-12">

        <section class="box ">
            <div class="container">
                <br />
                <!-- Nav tabs -->

                <h4>Download Full Mappings to excel</h4>
                <select id="fullMapping" class="required form-control">
                    <option value="">-- Select --</option>
                    <!--<option value="COA">COA</option>-->
                    <option value="GDW">GDW</option>
                    <option value="ELR">ELR</option>
                    <option value="APSCustomer">APS Customer</option>
                    <option value="APSService">APS Service</option>
                    <option value="Pearl">Pearl Actuals</option>
                    <option value="PEARLMonitoring">Pearl Monitoring</option>
                    <option value="BAW">Baw Report</option>
                </select>
                <button class="btn btn-warning pull-right" id="fullMappingToExcel">Download</button>
                <br />

                <br />
            </div>
        </section>
    </div>

