@{
    ViewBag.Title = "Flash Feed Filter";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
    };
    ViewBag.JSLinks = new string[] {
        "/Content/FlashTool/js/FlashCategory.js"

    };
}
<style>
    .center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
</style>
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Segments</h2>
            @*<button type="button" class="btnConnectedAs btn btn-info top15 left15 bottom15 pull-right"><i class="glyphicon glyphicon-user"></i> Connected As (LAC\frocrvsccver)</button>*@
        </header>

        <div class="content-body">
            <div class="center">
                <div id="flashCategory" style="margin-left:550px"></div>
                <a id="sendBridgeParameter">
                    <button type="button" id="bridgeBtn" class="btnCustomize btn btn-primary top15 left15 bottom15 pull-right"><i class="fa fa-file-o"></i> Bridge</button>
                </a>
                <a id="sendParameter">
                    <button type="button" id="flashbtn" class="btnDelete btn btn-info top15 left15 bottom15 pull-right">
                        <i class="fa fa-external-link"></i>
                        Flash
                    </button>
                </a>
            </div>

        </div>
       
    </section>
       
    </div>
</div>