@{
    ViewBag.Title = "Flash Segments";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
    };
    ViewBag.JSLinks = new string[] {
        "/Content/FlashTool/js/FlashListSegments.js"

    };
}

<style>
    .center {
        margin: 3%;
        width: 70%;
        padding: 10px;
    }
    .ProgressHolder {
        background-color: #333;
        bottom: 0;
        left: 0;
        filter: alpha(opacity=90);
        opacity: 1.90;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100003;
    }
</style>
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">List Flash Segments</h2>
            @*<button type="button" class="btnConnectedAs btn btn-info top15 left15 bottom15 pull-right"><i class="glyphicon glyphicon-user"></i> Connected As (LAC\frocrvsccver)</button>*@
        </header>
        <div class="content-body">
                        
            <div class="center">
                
                <label>For Edit please select the row and them edit btn</label>
                <div id="flashEditSegmentsGrid"></div>
                <a id="sendParameter"><button type="button" class="btnEdit btn btn-info " style="margin-left: 430px;"><i class="fa fa-asterisk"></i> Edit</button></a>
                <button type="button" class="btnDelete btn btn-danger "><i class="fa fa-remove"></i> Delete</button>
            </div>
            
            <br /><br /><br />
        </div>
    </section>
</div>