@{
    ViewBag.Title = "Delete Raw Data";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {

    };
    ViewBag.JSLinks = new string[] {
        "/Content/FlashTool/js/FlashBussinesMonthAndDate.js",
        "/Content/FlashTool/js/FlashDeleteData.js"
    };
}
<style>
    body {
		font-family: 'Varela Round', sans-serif;
	}
	.modal-confirm {		
		color: #636363;
		width: 400px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
        text-align: center;
		font-size: 14px;
	}
	.modal-confirm .modal-header {
		border-bottom: none;   
        position: relative;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -2px;
	}
	.modal-confirm .modal-body {
		color: #999;
	}
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;		
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
	.modal-confirm .modal-footer a {
		color: #999;
	}		
	.modal-confirm .icon-box {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
		border: 3px solid #f15e5e;
	}
	.modal-confirm .icon-box i {
		color: #f15e5e;
		font-size: 46px;
		display: inline-block;
		margin-top: 13px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		min-width: 120px;
        border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
		outline: none !important;
    }
	.modal-confirm .btn-info {
        background: #c1c1c1;
    }
    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
	.trigger-btn {
		display: inline-block;
	}

    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }    	.modal-confirm-success {		
		color: #636363;
		width: 325px;
	}
	.modal-confirm-success .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
	}
	.modal-confirm-success .modal-header {
		border-bottom: none;   
        position: relative;
	}
	.modal-confirm-success h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -15px;
	}
	.modal-confirm-success .form-control, .modal-confirm .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-confirm-success .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}	
	.modal-confirm-success .modal-footer {
		border: none;
		text-align: center;
		border-radius: 5px;
		font-size: 13px;
	}	
	.modal-confirm-success .icon-box-success {
		color: #fff;		
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -70px;
		width: 95px;
		height: 95px;
		border-radius: 50%;
		z-index: 9;
		background: #82ce34;
		padding: 15px;
		text-align: center;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
	.modal-confirm-success .icon-box-success i {
		font-size: 58px;
		position: relative;
		top: 3px;
	}
	.modal-confirm.modal-dialog {
		margin-top: 80px;
	}
    .modal-confirm-success .btn-success{
        color: #fff;
        border-radius: 4px;
		background: #82ce34;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
        border: none;
    }
	.modal-confirm-success .btn-success:hover, .modal-confirm .btn-success:focus {
		background: #6fb32b;
		outline: none;
	}
	.trigger-success-btn {
		display: inline-block;
		margin: 100px auto;
	}
</style>
<div class="col-lg-12">
    <section class="box ">
       
        <div class="container">
            <br />
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#deleteSetUp" aria-controls="SetUp" role="tab" data-toggle="tab">Delete Set up</a></li>
                <li role="presentation"><a href="#deleteDaily" aria-controls="Daily" role="tab" data-toggle="tab">Delete Daily</a></li>
                <li role="presentation"><a href="#deleteElr" aria-controls="ExpenseMapping" role="tab" data-toggle="tab">Delete P2P ELR</a></li>
                <li role="presentation"><a href="#deletePearlActuals" aria-controls="downloadMappins" role="tab" data-toggle="tab">Delete Pearl Actuals</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="deleteSetUp">   
                    <!-- Button HTML (to Trigger Modal) -->
                    <button href="#myModal" type="button" class="btn btn-info trigger-btn" data-toggle="modal" data-id="setup">Delete Setup data</button>

                </div>
                <div role="tabpanel" class="tab-pane fade" id="deleteDaily">
                    <!-- Button HTML (to Trigger Modal) -->
                    <button href="#myModal" type="button" class="btn btn-info trigger-btn" data-toggle="modal" data-id="daily">Delete daily data</button>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="deleteElr">
                   <p>Select the date to delete the records asociated</p>
                    <select id="sel_user" class="form-control">
                        <option value="0" >- Select -</option>
                    </select>
                    <!-- Button HTML (to Trigger Modal) -->
                    <button href="#myModal" type="button" class="btn btn-info trigger-btn" data-toggle="modal" data-id="elr">Delete P2P ELR data</button>

                </div>
                <div role="tabpanel" class="tab-pane fade" id="deletePearlActuals">
                    <p>Select the date to delete the records asociated</p>
                    <select id="pearlActualsDates" class="form-control">
                        <option value="0">- Select -</option>
                    </select>
                    <button href="#myModal" type="button" class="btn btn-info trigger-btn" data-toggle="modal" data-id="actuals">Delete Pearl Actuals data</button>
    
                </div>
               
            </div>
            <br />
            <a id="btnSuccess" href="#myModalSuccess" class="trigger-success-btn" data-toggle="modal"></a>
        </div>
    </section>
</div>
  <!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">X</i>
                </div>
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <button type="button" id="deleteData" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <input type="hidden" type="text" name="deleteId" id="deleteId" value="" />
            </div>
        </div>
    </div>
</div><!-- Modal HTML -->
<div id="myModalSuccess" class="modal fade">
    <div class="modal-dialog modal-confirm-success">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box-success">
                    <i class="material-icons">!</i>
                </div>
                <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Your data has been deleted.</p>
            </div>
            <div class="modal-footer">
                <button class="btn-success btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>    
    