@{
    ViewBag.Title = "Flash Detail";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
    };
    ViewBag.JSLinks = new string[] {
        "/Content/FlashTool/js/FlashBussinesMonthAndDate.js",
        "/Content/FlashTool/js/FlashCategoryDetail.js",
        "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxwindow.js",
        "/Content/Shared/plugins/jqxgrid/v4.3.0/jqxtooltip.js",
    };
}
<style>
    .center {
        margin: auto;
        width: 89%;
        padding: 10px;
    }
    .ProgressHolder {
        background-color: #333;
        bottom: 0;
        left: 0;
        filter: alpha(opacity=90);
        opacity: 1.90;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100003;
    }
    /*#main { width: 500px; float: left; }*/
    /*#sidebar { width: 190px; float: right; }*/
</style>

<div id="wrapper">
    <div class="col-lg-12">
        <section class="box ">
           


            <header class="panel_header">
                <h2 id="nameOfSegment" class="title pull-left"></h2>
                @*<button type="button" class="btnConnectedAs btn btn-info top15 left15 bottom15 pull-right"><i class="glyphicon glyphicon-user"></i> Connected As (LAC\frocrvsccver)</button>*@
            </header>
            <div class="content-body">
                <div class="col-md-12">
                    <a id="goToBridge">
                        <button type="button" class="btnApprove btn btn-primary top15 left15 bottom15 pull-right"><i class="fa fa-edit"></i> Bridge </button>
                    </a>
                        <!-- Example single danger button -->
                        <div class="btn-group top15 left15 bottom15 pull-right">
                            <button type="button" class="btn btn-info dropdown-toggle " data-toggle="dropdown" aria-expanded="false">Export <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="getExcelViewSegment" href="#"><i class="fa fa-file-excel-o"></i> Download flash view </a></li>
                                <li><a id="gocList" href="#"><i class="fa fa-download"></i> Goc's</a></li>
                                <li><a id="getPriorActual" href="#"><i class="fa fa-download"></i> Prior Actual</a></li>
                                <li><a id="ELR" href="#"><i class="fa fa-download"></i> Elr</a></li>
                                <li><a id="currentGDW" href="#"><i class="fa fa-download"></i> Current Month Gdw</a></li>
                                <li><a id="processFTE" href="#"><i class="fa fa-download"></i> Prev FTE'S</a></li>
                            </ul>
                        </div>
                        <button id="editComment" type="button" class="btnApprove btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-check-square-o"></i> Edit Comment </button>
                        <button id="SaveFlash" type="button" class="btnApprove btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-check-square-o"></i> Save </button>.


</div>
                <div id="Grid"></div>
                <br />
                <h5>FTE COUNT</h5>
                <div class="col-md-6">
                    <h5 class="bg-info">Previous Month</h5>
                    <div id="showDiff"></div>
                    <div id="FtePrevGrid"></div>
                </div>
                <div class="col-md-6">
                    <h5 class="bg-success">Current Month</h5>
                    <div id="FteGrid"></div>
                </div>
                <div style="height:300px"></div>

            </div>

        </section>

    </div>
</div>

