@{
    ViewBag.Title = "Flash Custom Segments Names ";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
    };
    ViewBag.JSLinks = new string[] {
        "/Content/FlashTool/js/FlashCustomSegmentsNames.js"

    };
}
<style>
    #column{list-style-type:none}
    #lSearch {
        background-image: url('../../Content/FlashTool/img/searchicon.png');
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    #chklist {
        /* Remove default list styling */
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #chklist li a {
        border: 1px solid #ddd; /* Add a border to all links */
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6; /* Grey background color */
        padding: 12px; /* Add some padding */
        text-decoration: none; /* Remove default text underline */
        font-size: 18px; /* Increase the font-size */
        color: black; /* Add a black text color */
        display: block; /* Make it into a block element to fill the whole list */
    }

    #chklist li label:hover:not(.header) {
        background-color: #eee; /* Add a hover effect to all links, except for headers */
    }
    .ProgressHolder {
        background-color: #333;
        bottom: 0;
        left: 0;
        filter: alpha(opacity=90);
        opacity: 1.90;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100003;
    }
</style>
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Set new flash segments names</h2>
            @*<button type="button" class="btnConnectedAs btn btn-info top15 left15 bottom15 pull-right"><i class="glyphicon glyphicon-user"></i> Connected As (LAC\frocrvsccver)</button>*@
        </header>
        <div class="content-body">
            <div class="row justify-content-md-center">
                <!-- star input text to set the custom name -->
                <div class="col col-lg-2">
                    <Label>Name for segments:</Label><br />
                    <input id="newSegmentName" placeholder="Set The Name" type="text" name="setSegmentName" class="form-control">
                </div>
                <!-- end input text to set the custom name -->
                <!-- star save btn to save the custom name -->
                <div class="col-md-auto">
                    <Label>Save you segments:</Label><br />
                    <button type="button" id="saveSegmentName" class="btnCustomize btn btn-primary "><i class="fa fa-unlink"></i> Customize Segment</button>
                </div>
                <!-- end save btn to save the custom name -->
                <br />
                <!-- star hide div with segment info -->
                <div id="showSegments" >
                    <div class="col-md-auto">
                        <div class="col-md-12">
                            <div class="dropdown">
                                <div class="btn-group">
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="levelSegmentSelected" href="#">Select level <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" data-value="1">1</a></li>
                                        <li><a href="#" data-value="2">2</a></li>
                                        <li><a href="#" data-value="3">3</a></li>
                                        <li><a href="#" data-value="4">4</a></li>
                                        <li><a href="#" data-value="5">5</a></li>
                                        <li><a href="#" data-value="6">6</a></li>
                                        <li><a href="#" data-value="7">7</a></li>
                                        <li><a href="#" data-value="8">8</a></li>
                                        <li><a href="#" data-value="9">9</a></li>
                                    </ul>
                                </div>
                                <ul id="LevelId" class="dropdown-menu" aria-labelledby="dropdownMenu1"></ul>
                            </div>
                            <div id="chklist" style="display:none;">
                                <input type="text" id="lSearch" placeholder="Search for names..">
                                <input type="hidden" id="txtName" />
                                <div><ul id="column"></ul></div>
                            </div>
                            <div id="chklist1" style="display:none;">
                                <input type="text" id="lSearch" placeholder="Search for names..">
                                <input type="hidden" id="txtName" />
                                <div><ul id="column"></ul></div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <br />
                    
                </div>
                <!-- end hide div with segment info -->
                <button type="button" id="saveSelectedSegments" class="btnCustomize btn btn-danger top15 left15 bottom15 pull-right"><i class="fa fa-save"></i> Add</button>   
            </div>
            
        </div>
    </section>
</div>