﻿@{
    ViewBag.Title = "FP&A";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.JSLinks = new string[] {
        "/Content/FlashTool/js/FlashBussinesMonthAndDate.js",
        "/Content/FlashTool/js/FlashFpa.js"
    };
}
<meta http-equiv="content-type" content="text/plain; charset=UTF-8" />
<style>
    .green {
        color: black\9;
        background-color: #b6ff00\9;
    }

    .yellow {
        color: black\9;
        background-color: yellow\9;
    }

    .red {
        color: black\9;
        background-color: #e83636\9;
    }

    .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
        color: black;
        background-color: #b6ff00;
    }

    .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
        color: black;
        background-color: yellow;
    }

    .red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
        color: black;
        background-color: #e83636;
    }
    .ProgressHolder {
        background-color: #333;
        bottom: 0;
        left: 0;
        filter: alpha(opacity=90);
        opacity: 1.90;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100003;
    }
</style>




<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left" id="nameOfSegment" ></h2>
            
        </header>
        <div class="content-body">
            <div class="btn-group pull-left">
             
            </div>  
            <div class="col-md-12">
                <button id="showModalAddComment" type="button" class="btnApprove btn btn-primary top15 left15 bottom15 pull-right"><i class="fa fa-check-square-o"></i>  Comment </button>
                <button id="saveFPAData" type="button" class="btnApprove btn btn-success top15 left15 bottom15 pull-right"><i class="fa fa-check-square-o"></i>Save </button>
                <button id="exportToExcel" name="button" value="cancel" class="btn btn-info top15 left15 bottom15 pull-right"><i class="fa fa-file-excel-o"></i> Export to excel </button>

            </div>

            <div id="GridFPA"></div>
        </div>

        <div id="log"></div>

    </section>
