@{
    ViewBag.Title = "Home page FlashTool";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {

        "/Content/Shared/plugins/intro/css/introjs-rtl.css",
        "/Content/Shared/plugins/intro/css/introjs.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/FlashTool/js/Home.js",
        "/Content/Shared/plugins/intro/js/intro.js"
    };
}

<h2>FlashTool Home</h2>
<a id="showMe" class="btn btn-large btn-success" href="javascript:void(0);" onclick="javascript:introJs().start();">Show me how to use</a>