@{
    ViewBag.Title = "Template Status";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.CSSLinks = new string[] {
        //"/Content/plugins/dropzone/dropzone.css"
        //"/Content/plugins/dropzone/dropzone-admin.css"
        "/Content/Shared/plugins/fine-uploader/fine-uploader-new.css"
    };
    ViewBag.JSLinks = new string[] {
        "/Content/FlashTool/js/FlashBussinesMonthAndDate.js",
        "/Content/Shared/plugins/fine-uploader/jquery.fine-uploader.js",
        "/Content/FlashTool/js/TemplateStatus.js",
    };
}
<style>
    .ProgressHolder {
        background-color: #333;
        bottom: 0;
        left: 0;
        filter: alpha(opacity=90);
        opacity: 1.90;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100003;
    }
</style>
<!-- Fine Uploader Thumbnails template w/ customization
====================================================================== -->
<script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Select files</div>
            </div>
            <button type="button" id="trigger-upload" class="btn btn-primary">
                <i class="fa fa-cloud-upload"></i> Upload
            </button>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <select class="selTypeFile required">
                    <option value="">-- Select --</option>
                    @*<option value="COA">COA (Set Up)</option>*@
                    <option value="COACUST">COA Custom (Set Up)</option>
                    <option value="DSMT">DSMT (Set Up)</option>
                    <option value="GDW">FTE (GDW Set Up)</option>
                    <option value="SOW">SOW (GDW Set Up)</option>
                    @*<option value="PEARL">PEARL (Set Up)</option>*@
                    <option value="ELR">P2p ELR (Daily)</option>
                    <option value="APSCUSTOMER">APS Customer (Daily)</option>
                    <option value="APSSERVICE">APS Service (Daily)</option>
                    <option value="PearlActuals">Pearl Actuals</option>
                    <option value="PearlMonitoring">Pearl Monitoring</option>
                    <option value="BAW">Baw Report</option>
                    <option value="ExpenseCodeMapping">Expense Code Mapping</option>

                </select>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

<div class="col-lg-12">

    <section class="box ">
        
        <br/>
        <div class="content-body">
           
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="fine-uploader-manual-trigger"></div>
                </div>
            </div>
            <br />           
        </div>

    </section>
    <section class="box ">
        
        <div class="container">
            <br/>
            <div id="processedDate" class="nav nav-pills">
            </div>
            <br />
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">

                <li role="presentation" class="active"><a href="#SetUp" aria-controls="SetUp" role="tab" data-toggle="tab">Set up</a></li>
                <li role="presentation"><a href="#Daily" aria-controls="Daily" role="tab" data-toggle="tab">Daily</a></li>
                <li role="presentation"><a href="#ExpenseMapping" aria-controls="ExpenseMapping" role="tab" data-toggle="tab">Code Expense Mapping</a></li>
                <li role="presentation"><a href="#downloadMappins" aria-controls="downloadMappins" role="tab" data-toggle="tab">Download Mappings</a></li>
                <li><a id="newTab" href="@Url.Action("FlashFullReports")" target="_blank">Download Full Mappings</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="SetUp">
                    <div id="tblFileTable">

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Daily">
                    <div id="tblDailyFeed">

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="ExpenseMapping">
                    <div id="lastUpdate"></div>
                    <button class="btn btn-info" id="downloadGocList">Download MappingList</button>
                    <button class="btn btn-warning" id="downloadTemplate">Download Template</button>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="downloadMappins">
                    <h4>Download Mappings to excel</h4>
                    <select id="Mappings" class="required form-control" >
                        <option value="">-- Select --</option>
                        <!--<option value="COA">COA</option>-->
                        <option value="GDW">GDW</option>
                        <option value="ELR">ELR</option>
                        <option value="APS">APS</option>
                        <option value="PearlActuals">Pearl Actuals</option>
                        <option value="BAW">Baw Report</option>
                    </select>
                    <button class="btn btn-warning pull-right" id="excel">Download</button>
                    <br /><hr />
                    <h4>Download Raw Data DSMT</h4>
                    <button class="btn btn-warning pull-left" id="getDsmt">Download DSMT</button>
                    <br /><br />
                </div>
               
            </div>
            <br />
        </div>
    </section>
</div>